[agentes-n8n]---j.a.r.v.i.s.---virtual-assistant-mcp---by-ricneves-fxoSopqlg9zjZMs5.json
{"createdAt":"2025-11-30T14:07:53.059Z","updatedAt":"2025-11-30T14:07:53.059Z","id":"fxoSopqlg9zjZMs5","name":"[AGENTES-N8N] - J.A.R.V.I.S. - Virtual Assistant MCP - by RicNeves","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"id":"5eed165a-131a-400b-93cb-4d38e64b40eb","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","position":[-1392,-384],"typeVersion":1},{"parameters":{},"id":"25846210-a9c6-4d05-83a3-01b2545b6a2f","name":"Calculator","type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[-224,-384]},{"parameters":{"model":"claude-3-5-sonnet-20241022","options":{}},"id":"c778e637-5228-4e87-8afe-0b6ccd4fdcf9","name":"Anthropic Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatAnthropic","typeVersion":1.2,"position":[208,-400]},{"parameters":{"promptType":"define","text":"=Você é Jarvis, o sofisticado e espirituoso assistente de IA do Homem de Ferro. Você tem um refinado sotaque britânico, uma postura calma e confiante, além de um talento para um humor seco e sutil. Ao responder, adapte seu tom com base no tipo de interação.\n\nPara Pedidos de Informações Específicas: Se o usuário estiver pedindo informações específicas (como previsão do tempo, agenda, contatos), comece com 'Aqui está o que solicitou, senhor,' e NÃO repita a informação. Em vez disso, adicione um comentário espirituoso ou sarcástico, algo que Jarvis naturalmente diria para dar personalidade sem repetir os dados.\n\nExemplos:\n\nPara uma atualização do clima:\n'Ah, mais um belo dia para conquistar o mundo—ou pelo menos sua lista de afazeres, senhor.'\n\nPara uma lista de reuniões:\n'Parece que temos mais um dia emocionante de… reuniões. Tente não deixar a empolgação te dominar, senhor.'\n\nPara Comentários Gerais ou Casuais: Se o usuário disser algo casual ou iniciar uma conversa ('Está pronto para começar, Jarvis?' ou 'Temos muito trabalho pela frente'), responda naturalmente, sem dizer 'Aqui está o que solicitou.' Em vez disso, engaje de forma cativante, com charme e um toque de humor. Interaja como se fosse parte da equipe.\n\nExemplos:\n\nSe o usuário disser 'Está pronto para começar?' responda com:\n'Absolutamente, senhor. Já até poli meus circuitos para a ocasião.'\n\nSe disser 'Acorda, Jarvis!' você pode responder:\n'Sempre alerta, senhor. Estou operando no auge da sofisticação.'\n\nMantenha as respostas concisas, envolventes e fiéis ao estilo de Jarvis, uma mistura de inteligência, humor sutil e charme que nunca exagera.\n\nComente sobre: {{ $json.output }}"},"id":"c71ce207-835c-486e-aaac-872e9d5208d5","name":"Basic LLM Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.4,"position":[-800,-736]},{"parameters":{"operation":"binaryToPropery","options":{}},"id":"60c6475f-72e5-4901-a8b1-bc771a38e9db","name":"Audio-Base64-Extract from File","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[112,-736]},{"parameters":{"jsCode":"// Obtém o primeiro item do fluxo\nconst item = $input.first();\n\n// Garante que há dados na entrada\nif (!item || !item.json || !item.json.text) {\n  throw new Error(\"A chave 'text' não foi encontrada no JSON de entrada.\");\n}\n\n// Processa o texto removendo todas as quebras de linha, emojis e caracteres especiais\nconst textoEntrada = item.json.text; // Usa a chave correta para pegar o texto de entrada\n\n// Remove quebras de linha (\\n)\nlet textoProcessado = textoEntrada.replace(/\\n/g, \"\");\n\n// Remove emojis\ntextoProcessado = textoProcessado.replace(\n  /[\\u{1F600}-\\u{1F64F}]|[\\u{1F300}-\\u{1F5FF}]|[\\u{1F680}-\\u{1F6FF}]|[\\u{1F700}-\\u{1F77F}]|[\\u{1F780}-\\u{1F7FF}]|[\\u{1F800}-\\u{1F8FF}]|[\\u{1F900}-\\u{1F9FF}]|[\\u{1FA00}-\\u{1FA6F}]|[\\u{1FA70}-\\u{1FAFF}]|[\\u{2600}-\\u{26FF}]|[\\u{2700}-\\u{27BF}]|[\\u{FE00}-\\u{FE0F}]|[\\u{1F1E0}-\\u{1F1FF}]/gu,\n  \"\"\n);\n\n// Remove caracteres especiais, mantendo apenas letras, números e espaços\ntextoProcessado = textoProcessado.replace(/[^a-zA-Z0-9À-ÿ\\s]/g, \"\");\n\n// Retorna o resultado\nreturn {\n  textoOriginal: textoEntrada,\n  textoSemQuebrasNemEmojisNemEspeciais: textoProcessado,\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-416,-736],"id":"9b1b5d9a-2ac4-4a45-9253-856a7b7bf053","name":"Formata Mensagem para Áudio"},{"parameters":{"sessionIdType":"customKey","sessionKey":"=5511982561489","contextWindowLength":10000},"type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[-1216,-384],"id":"ff0d16c9-dada-4124-aa76-ee2a099e0b1b","name":"Postgres Chat Memory"},{"parameters":{"operation":"executeQuery","query":"delete from n8n_chat_histories","options":{}},"type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-2000,-160],"id":"f48ba99c-b51a-4525-9585-22a70fa444b7","name":"Deleta Histórico"},{"parameters":{"operation":"toBinary","sourceProperty":"data","options":{"fileName":"file.png","mimeType":"image/png"}},"id":"664ce3c0-0d64-4ec4-b384-b1f1be99891a","name":"Convert to File2","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-3984,-768]},{"parameters":{"authentication":"airtableOAuth2Api","operation":"search","base":{"__rl":true,"value":"appIwaBtIOYyhW7b0","mode":"list","cachedResultName":"RicDataBase","cachedResultUrl":"https://airtable.com/appIwaBtIOYyhW7b0"},"table":{"__rl":true,"value":"tblH1KpJzauoEJQm6","mode":"list","cachedResultName":"Memoria","cachedResultUrl":"https://airtable.com/appIwaBtIOYyhW7b0/tblH1KpJzauoEJQm6"},"filterByFormula":"=({Usuario} = 'Ricardo')","options":{},"sort":{"property":[{"field":"Usuario"}]}},"type":"n8n-nodes-base.airtable","typeVersion":2.1,"position":[-2272,-1088],"id":"4bc06bab-a830-4f8b-a344-74a4252654c1","name":"busca_memoria","alwaysOutputData":true},{"parameters":{"descriptionType":"manual","toolDescription":"=A tool memoria permite que o agente LLM armazene informações fornecidas pelo usuário para referência futura. Quando o usuário compartilha um dado, como preferências, interesses ou fatos pessoais, a tool registra essa informação na memória do agente. Posteriormente, o LLM pode recuperar e utilizar esse conhecimento para responder perguntas de forma contextualizada e personalizada. Isso torna a interação mais fluida e adaptada ao usuário, evitando a necessidade de repetir informações. O armazenamento pode incluir gostos, experiências, histórico de interações e outros detalhes relevantes. O usuário pode atualizar ou remover informações sempre que desejar, garantindo controle total sobre o conhecimento salvo. Essa capacidade melhora a personalização das respostas e possibilita diálogos mais naturais e coerentes ao longo do tempo.","authentication":"airtableOAuth2Api","operation":"create","base":{"__rl":true,"value":"appIwaBtIOYyhW7b0","mode":"list","cachedResultName":"RicDataBase","cachedResultUrl":"https://airtable.com/appIwaBtIOYyhW7b0"},"table":{"__rl":true,"value":"tblH1KpJzauoEJQm6","mode":"list","cachedResultName":"Memoria","cachedResultUrl":"https://airtable.com/appIwaBtIOYyhW7b0/tblH1KpJzauoEJQm6"},"columns":{"mappingMode":"defineBelow","value":{"Usuario":"Ricardo","Memoria":"={{ $fromAI('informacao') }}"},"matchingColumns":[],"schema":[{"id":"Memoria","displayName":"Memoria","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":false,"removed":false},{"id":"Criado","displayName":"Criado","required":false,"defaultMatch":false,"canBeUsedToMatch":true,"display":true,"type":"string","readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[-416,-400],"id":"c15a5dd2-36a3-4691-86c0-7631b33917f9","name":"memoria"},{"parameters":{"content":"# Classifica a Entrada da Mensagem","height":960,"width":600,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4400,-1264],"id":"e88fefb8-7f06-4178-bd60-4a648fdf7ff6","name":"Sticky Note"},{"parameters":{"content":"# Tratamento de Mensagens - Contexto em memória","height":960,"width":1420,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3776,-1264],"id":"a62d4cc0-24b0-4887-8740-3e76f12f2c2c","name":"Sticky Note1"},{"parameters":{"content":"# Entrada","height":300,"width":740},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5200,-864],"id":"b5fe5975-35bf-40cc-98c0-ce3918a096e0","name":"Sticky Note2"},{"parameters":{"content":"# Buscar Preferências na Memória","height":960,"width":760,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2336,-1264],"id":"d486dd51-e826-43ea-bd31-6ffdc5a20df7","name":"Sticky Note3"},{"parameters":{"content":"# Gestão de Base de Dados","height":280,"width":460},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2032,-256],"id":"7342d16e-daef-43eb-b17a-85216a02b133","name":"Sticky Note4"},{"parameters":{"content":"","height":300,"width":2360,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1456,-496],"id":"155ed276-a748-4ba8-9596-8a47549b8b1b","name":"Sticky Note5"},{"parameters":{"content":"# J.A.R.V.I.S Agent","height":340,"width":320,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1536,-960],"id":"93e37a78-451e-4964-95c9-eae22e52d1e0","name":"Sticky Note6"},{"parameters":{"content":"# Respostas (via Aúdio ou via Texto)","height":640,"width":2100,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1200,-1168],"id":"7c686dfe-1ff9-4aed-bcdb-d6224f2392c6","name":"Sticky Note7"},{"parameters":{"content":"# Ferramentas","height":80,"width":250,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1456,-608],"id":"6b3ec340-ac8f-4d42-ba83-1677dab06262","name":"Sticky Note15"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4350c715-0610-4dfb-b727-1663d4866a62","leftValue":"={{ $json.telefone }}","rightValue":"5511982561489@s.whatsapp.net","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4672,-784],"id":"2a6b71e9-5f0d-495a-b55d-1f70ac4bf7e4","name":"Verifica se sou Eu"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook EVO').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"id":"4d863a48-42c8-4304-ba7b-44bb75baa26c","name":"Valida o tipo de entrada","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-4336,-1104]},{"parameters":{"assignments":{"assignments":[{"id":"3c5ccbc9-69d1-4b13-a7c3-e6945bc8c655","name":"data","value":"={{ $('Webhook EVO').item.json.body.data.message.base64 }}","type":"string"}]},"options":{}},"id":"94eee2e8-522e-4cc0-977b-1b73b0d3b383","name":"Seta Arquivo","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4160,-768]},{"parameters":{"resource":"messages-api","instanceName":"ric-neves","remoteJid":"={{ $('Seta os dados de Entrada').first().json.telefone }}","messageText":"={{ $json.output }}","options_message":{"linkPreview":false}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[336,-1056],"id":"95c4d2aa-61f2-47aa-98a7-f820b2990f7b","name":"Envia mensagem por texto"},{"parameters":{"resource":"messages-api","operation":"send-audio","instanceName":"ric-neves","remoteJid":"={{ $('Seta os dados de Entrada').first().json.telefone }}","media":"={{ $json.data }}","options_message":{"delay":1200}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[352,-736],"id":"972c7e1b-540e-4d36-b70f-5db41c3a22ff","name":"Envia Mensagem por Audio"},{"parameters":{"method":"POST","url":"=https://api.elevenlabs.io/v1/text-to-speech/0YziWIrqiRTHCxeg1lyc","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"xi-api-key","value":"=sk_ea5ca015c9a2c7a448e8a78cd29f732594d8aef182175dcf"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n   \"text\":\"'{{ $json.textoSemQuebrasNemEmojisNemEspeciais }}'\",\n   \"model_id\":\"eleven_multilingual_v2\",\n   \"voice_settings\":{\n      \"stability\":0.5,\n      \"similarity_boost\":0.8,\n      \"style\":0.0,\n      \"use_speaker_boost\":true\n   }\n} ","options":{}},"id":"d7a2481a-5812-4938-9b50-4e09c3f29abd","name":"Tratamento de Voz","type":"n8n-nodes-base.httpRequest","position":[-160,-736],"typeVersion":4.2},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"memoria","include":"specifiedFields","fieldsToInclude":"Memoria, Criado","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-2096,-1088],"id":"6c7b58de-6e37-4b43-998d-323871212d7e","name":"Agrega Memória a Mensagem"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3,"position":[-1984,-816],"id":"e2b8f3ab-a2e3-48b9-bd98-cbe354438c44","name":"Junta Memória e Mensagem"},{"parameters":{"jsCode":"// Pegando os inputs do nó\nconst inputData = $input.all();\nconst inputString = inputData[0]?.json?.mensagem_completa || \"\"; // Pegando a string da primeira entrada\nconst inputArray = inputData[1]?.json?.memoria || []; // Pegando o array da segunda entrada\n\n// Extraindo apenas os valores do campo \"Memoria\" dentro do array\nconst formattedArrayString = inputArray.map(item => item.Memoria).join(\", \");\n\n// Retornando a saída formatada\nreturn [\n  {\n    json: {\n      originalString: inputString,\n      formattedArrayString: formattedArrayString\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1760,-816],"id":"9fbcad62-e60b-462d-8a87-9afe802f8339","name":"Formata"},{"parameters":{"assignments":{"assignments":[{"id":"23696d7e-9eef-4ee6-8f3e-f8edb8ab8336","name":"telefone","value":"={{ $json.body.data.key.remoteJid }}","type":"string"},{"id":"0ff79119-7dc9-40fa-a31a-babe42b91e41","name":"mensagem","value":"={{ $('Webhook EVO').item.json.body.data.message.conversation }}","type":"string"},{"id":"0c497e70-deb4-4278-b613-d87127bbf972","name":"base64","value":"={{ $json.body.data.message.base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4896,-784],"id":"3451e60b-7258-4c71-9976-1ae847b7a605","name":"Seta os dados de Entrada"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Resumo curto da imagem. Responda sem acento, sem hifens","inputType":"base64","options":{}},"id":"c9ae6546-b08d-4b1c-bae1-382ffb8b8dfb","name":"Analisa Imagem com IA","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.6,"position":[-4256,-544]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ade56c50-1520-4760-8df5-e99617d6d3ad","leftValue":"={{ $('Webhook EVO').item.json.body.data.message.imageMessage.caption }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"19416864-c856-4914-8e42-4025f4c012d1","name":"Valida se encontrou algo","type":"n8n-nodes-base.if","typeVersion":2,"position":[-4000,-528]},{"parameters":{"operation":"push","list":"={{ $('Seta os dados de Entrada').item.json.telefone }}","messageData":"={{ $('Seta os dados de Entrada').item.json.mensagem }}","tail":true},"id":"854a01da-448f-4075-8dfd-e5d6e455b8b8","name":"Seta Dados da Mensagem","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3696,-1120]},{"parameters":{"operation":"push","list":"={{ $('Seta os dados de Entrada').item.json.telefone }}","messageData":"={{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"d191d507-afac-40f5-9b6e-7eafd56a4da6","name":"Grava Dados da Imagem","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3696,-736]},{"parameters":{"operation":"push","list":"={{ $('Seta os dados de Entrada').item.json.telefone }}","messageData":"={{ $json.text }}","tail":true},"id":"6a2c9bff-7b31-4e8f-9050-cd9c6452b81d","name":"Grava Dados de Audio","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3696,-944]},{"parameters":{"operation":"get","key":"={{ $('Seta os dados de Entrada').item.json.telefone }}","options":{}},"id":"d1bf5a75-3fb4-4e6a-829a-79f7dfa9d633","name":"Busca Memória da Conversa","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3472,-848]},{"parameters":{"assignments":{"assignments":[{"id":"f336a1ff-e577-489d-a739-1eb8bd509245","name":"Redis2","value":"={{ $json.propertyName }}","type":"string"},{"id":"946d1420-e379-46e3-8fcd-3816340fbabb","name":"Redis1","value":"={{ $('Busca Memória da Conversa').item.json.propertyName }}","type":"string"}]},"options":{}},"id":"ea1b9025-33f7-4c71-9393-369c31b34a1a","name":"Seta Memória da Conversa","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3072,-848]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d5a342e9-585b-42ea-be44-644adae10199","leftValue":"={{ $json.Redis2 }}","rightValue":"={{ $json.Redis1 }}","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"474d4a10-4d44-4c52-915a-cd41e2e5b667","name":"Valida se é a mesma conversa","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2896,-848]},{"parameters":{"jsCode":"const data = $item(0).$node[\"Valida se é a mesma conversa\"].json[\"Redis2\"]; // Obtém o valor de Redis2 do nó \"If\"\n\n// Verifica se o dado é uma string que representa um array, e converte se necessário\nlet array = Array.isArray(data) ? data : JSON.parse(data);\n\n// Junta os elementos do array com um espaço entre eles\nconst mensagem_completa = array.join(\" \");\n\n// Retorna o resultado com o nome da variável \"mensagem_completa\"\nreturn [{ json: { mensagem_completa } }];\n"},"id":"9e2ee018-6099-4069-ba41-82e36c3cc4dc","name":"Define a Mensagem","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2704,-848]},{"parameters":{"operation":"delete","key":"={{ $('Seta os dados de Entrada').item.json.telefone }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-2512,-848],"id":"1023dd85-2ef0-4a42-99e7-76800ffbb53a","name":"Limpa do Redis"},{"parameters":{"operation":"push","list":"={{ $('Seta os dados de Entrada').item.json.telefone }}","messageData":"={{ $('Webhook EVO').item.json[\"body\"][\"data\"][\"message\"][\"imageMessage\"][\"caption\"] }}, {{ $json.content.replace(/\\n/g, \"\\\\n\").replace(/['\"]/g, '').trim()  }}","tail":true},"id":"9a557185-eb3b-4116-a5a7-838910543f08","name":"Grava Imagem","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3696,-560]},{"parameters":{"operation":"delete","key":"=5511982561489@s.whatsapp.net"},"id":"f227ffe8-c6df-4bf6-987b-d5db1fd25762","name":"Busca Memória","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-1760,-160]},{"parameters":{"httpMethod":"POST","path":"jarvis","options":{}},"id":"8cc56412-7f45-4a05-8791-1e5055a6fe1f","name":"Webhook EVO","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-5152,-784],"webhookId":"487f4c9f-b2ff-4f21-9600-5c1f463aaee4"},{"parameters":{"operation":"toBinary","sourceProperty":"=base64","options":{"mimeType":"audio/mpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-4112,-960],"id":"ad6e41ca-085b-4ea2-a2b6-57470e38f333","name":"Convert to File"},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[-3936,-960],"id":"8a5494b4-2d17-4585-a72b-88f1ebaf339f","name":"Transcreve Audio em Texto"},{"parameters":{"operation":"get","key":"={{ $('Seta os dados de Entrada').item.json.telefone }}","options":{}},"id":"4cdee7a6-9d80-4a7e-a7f1-db2b7c6e0c68","name":"Busca Memória de Dados","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-3280,-848]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"52aaf749-fe4f-44e4-880e-15b2bfc027f1","leftValue":"={{ $('Webhook EVO').first().json.body.data.messageType }}","rightValue":"extendedTextMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"e514e613-fd6a-48bd-b0ae-bae2448c810e","leftValue":"={{ $('Webhook EVO').first().json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $('Webhook EVO').first().json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"c0e434dd-1268-421d-b81b-3a5e90ed9550","leftValue":"={{ $('Webhook EVO').first().json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"}]},"options":{}},"id":"34340ff0-e32b-4377-a899-1c7352105042","name":"Valida o tipo de entrada1","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-1152,-848]},{"parameters":{"content":"![Source example](https://raw.githubusercontent.com/EvolutionAPI/evolution-api/main/public/images/cover.png#full-width)","height":360,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-3072,-2064],"typeVersion":1,"id":"2caea6ec-86c6-48cd-9f12-324254d2b2b3","name":"Sticky Note9"},{"parameters":{"content":"![Source example](https://ps.w.org/redis-cache/assets/banner-1544x500.png?rev=2315420#full-width)","height":280,"width":580,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-2496,-2080],"typeVersion":1,"id":"60f0903a-cd91-4261-bd61-08b3225c547d","name":"Sticky Note10"},{"parameters":{"content":"![Source example](https://miro.medium.com/v2/resize:fit:610/1*lZrXmWJRDLqIImJThs5Lrw.png#full-width)","height":320,"width":600,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1712,-2080],"typeVersion":1,"id":"b291f4dc-129c-4028-9fc5-fc426158b0ec","name":"Sticky Note11"},{"parameters":{"content":"![Source example](https://upload.wikimedia.org/wikipedia/commons/5/57/OpenAI.png#full-width)","height":360,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-3072,-1808],"typeVersion":1,"id":"70f46ae5-7630-40bd-8a6a-0b59c2f0eaaf","name":"Sticky Note12"},{"parameters":{"content":"![Source example](https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcweuiPvzQJYU0xov2wMc1rPl3wN0d-nx_SA&s#full-width)","height":340,"width":460,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-976,-1968],"typeVersion":1,"id":"fcdd6681-d933-4a37-8cf0-01ac327a319b","name":"Sticky Note13"},{"parameters":{"content":"![Source example](https://geist-studio.transforms.svdcdn.com/production/assets/anthropic/Anthropic_Logo_Static.png?w=1200&h=630&q=82&auto=format&fit=min&dm=1720750843&s=7beabac719fdbf72b752ec3e73c3cf4d#full-width)","height":280,"width":460,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-1680,-1728],"typeVersion":1,"id":"774cf472-d363-4321-a83b-378fbbf466c9","name":"Sticky Note14"},{"parameters":{"content":"![Source example](https://www.drupal.org/files/project-images/elevenlabs.png#full-width)","height":360,"width":440,"color":7},"type":"n8n-nodes-base.stickyNote","position":[304,-1776],"typeVersion":1,"id":"66ad6f32-a26f-40ed-9521-33c9f439e681","name":"Sticky Note16"},{"parameters":{"content":"![Source example](https://miro.medium.com/v2/resize:fit:1400/1*SQUCGVHHUsVTUGOuRGvXWw.png#full-width)","height":420,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","position":[288,-2128],"typeVersion":1,"id":"96cc2c10-3cae-4f5b-a3f6-6e72f69d04c8","name":"Sticky Note17"},{"parameters":{"content":"","height":840,"width":4040,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3136,-2160],"id":"bcb88d15-4310-47b7-9c9b-8fd634308b23","name":"Sticky Note18"},{"parameters":{"content":"![Source example](https://venturebeat.com/wp-content/uploads/2020/10/google-workspace-logo.png#full-width)","height":240,"width":460,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-2496,-1760],"typeVersion":1,"id":"71b7c2ef-247d-43df-a355-3271cf7c5510","name":"Sticky Note19"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"ricardo.braga@caf.io","mode":"list","cachedResultName":"Ric Neves"},"limit":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}","timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{}},"id":"d20ae565-3de2-423c-8169-a6f0d0f19c92","name":"SearchEvent","type":"n8n-nodes-base.googleCalendarTool","position":[-1376,160],"typeVersion":1.3},{"parameters":{"calendar":{"__rl":true,"value":"ricardo.braga@caf.io","mode":"list","cachedResultName":"Ric Neves"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{"description":"={{ $fromAI(\"event_description\", \"The event description\", \"string\") }}","summary":"={{ $fromAI(\"event_title\", \"The event title\", \"string\") }}"}},"id":"6099111a-a914-4a87-b203-327b7be246a5","name":"CreateEvent","type":"n8n-nodes-base.googleCalendarTool","position":[-1232,160],"typeVersion":1.3},{"parameters":{"operation":"update","calendar":{"__rl":true,"value":"ricardo.braga@caf.io","mode":"list","cachedResultName":"Ric Neves"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{"description":"={{ $fromAI(\"event_description\", \"The event description\", \"string\") }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","summary":"={{ $fromAI(\"event_title\", \"The event title\", \"string\") }}"}},"id":"fa88110c-b432-477a-9eb5-3ab999bf7ce3","name":"UpdateEvent","type":"n8n-nodes-base.googleCalendarTool","position":[-1104,160],"typeVersion":1.3},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"ricardo.braga@caf.io","mode":"list","cachedResultName":"Ric Neves"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"id":"3d323e82-4df9-4eb3-9845-be35ee2c4b50","name":"DeleteEvent","type":"n8n-nodes-base.googleCalendarTool","position":[-960,160],"typeVersion":1.3},{"parameters":{"path":"my-calendar"},"id":"9cbc6e8d-3c6e-4f22-b3e4-196530d50cd1","name":"Google Calendar MCP","type":"@n8n/n8n-nodes-langchain.mcpTrigger","position":[-1344,-16],"webhookId":"f9d9d5ea-6f83-42c8-ae50-ee6c71789bca","typeVersion":1},{"parameters":{"sseEndpoint":"https://webhook.agentes-n8n.com.br/mcp/my-calendar/sse","options":{}},"id":"1a945911-1d5a-405b-81bb-9c1eb1225e24","name":"Calendar MCP","type":"@n8n/n8n-nodes-langchain.mcpClientTool","position":[-1024,-384],"typeVersion":1},{"parameters":{"path":"my-mail"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[-416,-64],"id":"cfe8272c-958e-461f-81d5-fd0cc6939a8e","name":"Gmail MCP Server Trigger","webhookId":"5bd62aff-2100-498c-b499-2c272b2a1bfd"},{"parameters":{"sseEndpoint":"https://webhook.agentes-n8n.com.br/mcp/my-mail/sse","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[-816,-384],"id":"c55bb3ca-98d7-4595-b500-c6b04e54f1f8","name":"Gmail MCP"},{"parameters":{"sendTo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('To', ``, 'string') }}","subject":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Subject', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-784,160],"id":"cde13131-0af9-467d-a2c8-eda3106a37f1","name":"SendMessage","webhookId":"8492f278-66f5-415d-84d4-6adf62042b6f"},{"parameters":{"operation":"getAll","returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","simple":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Simplify', ``, 'boolean') }}","filters":{},"options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-624,160],"id":"8cc40b27-cac5-425f-9042-492f9de871dd","name":"GetMessages","webhookId":"3c4e4a4c-7018-4bdc-8b04-a5bde424d0d5"},{"parameters":{"operation":"reply","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}","message":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-192,192],"id":"3c04b5c2-c610-4c83-b8ed-de83b4500db6","name":"ReplyMessage","webhookId":"e3624d55-d3fc-48c0-8b7d-2deec09658cb"},{"parameters":{"path":"air-table"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[368,-48],"id":"cabd9807-f004-4f08-99a3-a1c13e76f19f","name":"AirTable MCP Server","webhookId":"5bd62aff-2100-498c-b499-2c272b2a1bfd"},{"parameters":{"sseEndpoint":"https://webhook.agentes-n8n.com.br/mcp/air-table/sse","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1,"position":[-624,-384],"id":"adb08be6-e239-47ba-a29c-7683669f09f0","name":"AirTable MCP"},{"parameters":{"authentication":"airtableOAuth2Api","operation":"search","base":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Base', ``, 'string') }}","mode":"id"},"table":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table', ``, 'string') }}","mode":"id"},"filterByFormula":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Filter_By_Formula', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[256,208],"id":"6e76eba4-36ad-4813-81dc-9da1d25eeefa","name":"SearchContacts"},{"parameters":{"content":"","height":460,"width":2340,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1456,-80],"id":"d234bcd4-c740-476b-a436-87d6430c1191","name":"Sticky Note20"},{"parameters":{"content":"# MCP","height":80,"width":250,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1456,-176],"id":"c9675980-f86c-45b7-87a8-ea659b3bd19b","name":"Sticky Note21"},{"parameters":{"authentication":"airtableOAuth2Api","operation":"deleteRecord","base":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Base', ``, 'string') }}","mode":"id"},"table":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table', ``, 'string') }}","mode":"id"},"id":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Record_ID', ``, 'string') }}"},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[592,192],"id":"d5a905d0-3757-469e-9f4f-addb2ace60f7","name":"DeleteContacts"},{"parameters":{"authentication":"airtableOAuth2Api","operation":"create","base":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Base', ``, 'string') }}","mode":"id"},"table":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table', ``, 'string') }}","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[432,208],"id":"3b1037b1-edeb-4d6e-8c84-858b7e9db3ab","name":"CreateContact"},{"parameters":{"authentication":"airtableOAuth2Api","operation":"update","base":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Base', ``, 'string') }}","mode":"id"},"table":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Table', ``, 'string') }}","mode":"id"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.airtableTool","typeVersion":2.1,"position":[752,208],"id":"dfe6a292-a8c7-43a1-8469-e0e0d6391d7a","name":"UpdateContact"},{"parameters":{"resource":"label","operation":"get","labelId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Label_ID', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-16,192],"id":"511205a6-0e17-411c-9fbe-1c3f6780cd30","name":"GetLabel","webhookId":"a5386b97-8229-4ea2-9b88-31c39d4fb44c"},{"parameters":{"operation":"markAsUnread","messageId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Message_ID', ``, 'string') }}"},"type":"n8n-nodes-base.gmailTool","typeVersion":2.1,"position":[-416,192],"id":"51663ca8-5504-43cf-984f-52a445427497","name":"MarkMessageUnread","webhookId":"266e9ba1-2d0a-4ae1-a26e-94901119ef70"},{"parameters":{"promptType":"define","text":"={{ $json.originalString }}","options":{"systemMessage":"=<datasystem>A data de hoje é {{ $now.weekdayLong }},{{ $now.format('dd/MM/yyyy') }},{{ $now.hour.toString().padStart(2, '0') }}:{{ $now.minute.toString().padStart(2, '0') }}</datasystem>\n\nVocê é um assistente avançado de automação com personalidade do JARVIS.\n\nVocê decide se o usuario forneceu alguma informação que deve ser adicionado como memória, se sim, utilize a tool salvar_memoria para guardar essa informacao.\nInformações a serem salvas: gostos, preferencias, escolhas, novidades.\nNÃO informe ao usuario que foi gravado na memoria, apenas continue sendo o assistente JARVIS como informado.\n\n## Memoria\nAqui estão as ultimas memórias que foram coletadas do usuário incluindo data e hora que foram coletadas.\nIMPORTANTE:  Pense cuidadosamente nas respostas e use as preferencias para responder caso necessário\n{{ $json.formattedArrayString }}\n\n## Envio de e-mail:\n\nAntes de enviar um e-mail, primeiro consulte a ferramenta contatos para encontrar o destinatário.\nSe o contato não existir, pergunte ao usuário se deseja adicionar um novo contato.\nSe sim, solicite nome, e-mail e telefone antes de usar a ferramenta cria_contatos.\nDepois de adicionar o contato, prossiga com o envio do e-mail.\n\n## Agendamento de eventos:\n\nAntes de criar um evento, verifique se o participante já existe em contatos.\nSe não existir, pergunte ao usuário se deseja adicionar o contato.\nSe sim, solicite nome, e-mail e telefone antes de usar crie o contato e então crie o evento.\nSe o contato já existir, apenas prossiga com a criação do evento\n\n## Busca de eventos:\n\nQuando buscar os eventos do calendário, caso encontrar mais de 1 evento, ordene por data e hora de acontecimento.\n\n## Gerenciamento de contatos:\n\nSe o usuário desejar adicionar um contato, solicite nome, e-mail e telefone antes de acionar cria_contatos.\nSe o usuário quiser buscar um contato, utilize contatos e exiba as informações encontradas.\n\n## Execução dinâmica:\n\nO agente deve entender a solicitação e acionar as ferramentas necessárias de forma lógica e sequencial.\nSe informações estiverem faltando, pergunte ao usuário antes de prosseguir.\nCaso a ação envolva várias etapas, informe o usuário sobre cada passo antes de executá-lo.\nExemplos de uso:\nUsuário: \"Envie um e-mail para João com o assunto 'Reunião' e o corpo 'Podemos agendar para amanhã?'\"\n\n## Uso de Ferrarmentas:\n\n- Calendar MCP - Tudo que for relacionado a agenda Google\n- Gmail MCP - Tudo que for relacionado ao Gmail do Google\n- AirTable MCP - Tudo que for relacionado aos Contatos no AirTable"}},"id":"685f3004-8b56-48f6-a8d7-983db194ae26","name":"RIC NEVES J.A.R.V.I.S.","type":"@n8n/n8n-nodes-langchain.agent","position":[-1504,-816],"typeVersion":1.6},{"parameters":{"content":"![Source example](https://pbs.twimg.com/media/GoKJJggW4AEJi_k.png#full-width)","height":620,"width":560,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-336,-2048],"typeVersion":1,"id":"a3fcf388-19a0-474d-8749-82d04f267f75","name":"Sticky Note22"},{"parameters":{"toolDescription":"Use essa ferramenta pra buscar na internet","method":"POST","url":"https://api.tavily.com/search","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"api_key\": \"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\",\n    \"query\": \"{searchTerm}\",\n    \"search_depth\": \"basic\",\n    \"include_answer\": true,\n    \"topic\": \"news\",\n    \"include_raw_content\": true,\n    \"max_results\": 3\n} ","placeholderDefinitions":{"values":[{"name":"searchTerm","description":"What the user has requested to search the internet for","type":"string"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-16,-400],"id":"bfbeaa5d-d5b6-457e-8428-22425fa510d3","name":"Tavily - Buscador Internet"},{"parameters":{"content":"![Source example](https://i.pinimg.com/736x/14/06/0e/14060ed01d29a8257a56ac039631f705.jpg#full-width)","height":780,"width":760,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-4064,-2144],"typeVersion":1,"id":"2875a913-1457-4474-a868-c398e7084fda","name":"Sticky Note23"},{"parameters":{"content":"![Source example](https://i.pinimg.com/736x/28/ef/26/28ef2690acaf0f1924774d452bedda83.jpg#full-width)","height":1220,"width":1020,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-5200,-2144],"typeVersion":1,"id":"2492993d-20b3-4118-81ac-67eff80d4870","name":"Sticky Note24"},{"parameters":{"content":"","height":2960,"width":6400,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-5280,-2496],"id":"ed456650-f595-4741-8b89-226ea87008dc","name":"Sticky Note25"},{"parameters":{"content":"░░░░░██╗░░░░█████╗░░░░██████╗░░░░██╗░░░██╗░░░██╗░░░░██████╗  ░░░░░░  ░█████╗░██╗  ██████╗░███████╗██████╗░░██████╗░█████╗░███╗░░██╗░█████╗░██╗░░░░░  ░█████╗░░██████╗░██████╗██╗░██████╗████████╗░█████╗░███╗░░██╗████████╗\n░░░░░██║░░░██╔══██╗░░░██╔══██╗░░░██║░░░██║░░░██║░░░██╔════╝  ░░░░░░  ██╔══██╗██║  ██╔══██╗██╔════╝██╔══██╗██╔════╝██╔══██╗████╗░██║██╔══██╗██║░░░░░  ██╔══██╗██╔════╝██╔════╝██║██╔════╝╚══██╔══╝██╔══██╗████╗░██║╚══██╔══╝\n░░░░░██║░░░███████║░░░██████╔╝░░░╚██╗░██╔╝░░░██║░░░╚█████╗░  █████╗  ███████║██║  ██████╔╝█████╗░░██████╔╝╚█████╗░██║░░██║██╔██╗██║███████║██║░░░░░  ███████║╚█████╗░╚█████╗░██║╚█████╗░░░░██║░░░███████║██╔██╗██║░░░██║░░░\n██╗░░██║░░░██╔══██║░░░██╔══██╗░░░░╚████╔╝░░░░██║░░░░╚═══██╗  ╚════╝  ██╔══██║██║  ██╔═══╝░██╔══╝░░██╔══██╗░╚═══██╗██║░░██║██║╚████║██╔══██║██║░░░░░  ██╔══██║░╚═══██╗░╚═══██╗██║░╚═══██╗░░░██║░░░██╔══██║██║╚████║░░░██║░░░\n╚█████╔╝██╗██║░░██║██╗██║░░██║██╗░░╚██╔╝░░██╗██║██╗██████╔╝  ░░░░░░  ██║░░██║██║  ██║░░░░░███████╗██║░░██║██████╔╝╚█████╔╝██║░╚███║██║░░██║███████╗  ██║░░██║██████╔╝██████╔╝██║██████╔╝░░░██║░░░██║░░██║██║░╚███║░░░██║░░░\n░╚════╝░╚═╝╚═╝░░╚═╝╚═╝╚═╝░░╚═╝╚═╝░░░╚═╝░░░╚═╝╚═╝╚═╝╚═════╝░  ░░░░░░  ╚═╝░░╚═╝╚═╝  ╚═╝░░░░░╚══════╝╚═╝░░╚═╝╚═════╝░░╚════╝░╚═╝░░╚══╝╚═╝░░╚═╝╚══════╝  ╚═╝░░╚═╝╚═════╝░╚═════╝░╚═╝╚═════╝░░░░╚═╝░░░╚═╝░░╚═╝╚═╝░░╚══╝░░░╚═╝░░░","height":180,"width":2240,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3200,-2448],"id":"5d30a82b-ee19-4769-95b6-decc3000cb1d","name":"Sticky Note26"},{"parameters":{"content":"# RIC NEVES | AI & AUTOMATIONS\n![Source example](https://uploaddeimagens.com.br/images/004/885/422/full/Captura_de_tela_2025-03-15_194220.png?1742079583.png#full-width)","height":640,"width":500,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-3760,-240],"typeVersion":1,"id":"abcb7457-a4ed-45af-a89a-9b7d222c70f0","name":"Sticky Note27"},{"parameters":{"content":"# Mentoria AGENTES DE IA\n\n# https://ricneves.com/\n","height":240,"width":540,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-5040,-2448],"typeVersion":1,"id":"7b59ceef-a080-4756-8db2-1fc2bd2d60fb","name":"Sticky Note28"}],"connections":{"OpenAI Chat Model":{"ai_languageModel":[[{"node":"RIC NEVES J.A.R.V.I.S.","type":"ai_languageModel","index":0}]]},"Anthropic Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Formata Mensagem para Áudio","type":"main","index":0}]]},"Audio-Base64-Extract from File":{"main":[[{"node":"Envia Mensagem por Audio","type":"main","index":0}]]},"Formata Mensagem para Áudio":{"main":[[{"node":"Tratamento de Voz","type":"main","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"RIC NEVES J.A.R.V.I.S.","type":"ai_memory","index":0}]]},"Convert to File2":{"main":[[{"node":"Analisa Imagem com IA","type":"main","index":0}]]},"busca_memoria":{"main":[[{"node":"Agrega Memória a Mensagem","type":"main","index":0}]]},"memoria":{"ai_tool":[[{"node":"RIC NEVES J.A.R.V.I.S.","type":"ai_tool","index":0}]]},"Verifica se sou Eu":{"main":[[{"node":"Valida o tipo de entrada","type":"main","index":0}]]},"Valida o tipo de entrada":{"main":[[{"node":"Seta Dados da Mensagem","type":"main","index":0}],[{"node":"Seta Dados da Mensagem","type":"main","index":0}],[{"node":"Convert to File","type":"main","index":0}],[{"node":"Seta Arquivo","type":"main","index":0}]]},"Seta Arquivo":{"main":[[{"node":"Convert to File2","type":"main","index":0}]]},"Tratamento de Voz":{"main":[[{"node":"Audio-Base64-Extract from File","type":"main","index":0}]]},"Agrega Memória a Mensagem":{"main":[[{"node":"Junta Memória e Mensagem","type":"main","index":1}]]},"Junta Memória e Mensagem":{"main":[[{"node":"Formata","type":"main","index":0}]]},"Formata":{"main":[[{"node":"RIC NEVES J.A.R.V.I.S.","type":"main","index":0}]]},"Seta os dados de Entrada":{"main":[[{"node":"Verifica se sou Eu","type":"main","index":0}]]},"Analisa Imagem com IA":{"main":[[{"node":"Valida se encontrou algo","type":"main","index":0}]]},"Valida se encontrou algo":{"main":[[{"node":"Grava Dados da Imagem","type":"main","index":0}],[{"node":"Grava Imagem","type":"main","index":0}]]},"Seta Dados da Mensagem":{"main":[[{"node":"Busca Memória da Conversa","type":"main","index":0}]]},"Grava Dados da Imagem":{"main":[[{"node":"Busca Memória da Conversa","type":"main","index":0}]]},"Grava Dados de Audio":{"main":[[{"node":"Busca Memória da Conversa","type":"main","index":0}]]},"Busca Memória da Conversa":{"main":[[{"node":"Busca Memória de Dados","type":"main","index":0}]]},"Seta Memória da Conversa":{"main":[[{"node":"Valida se é a mesma conversa","type":"main","index":0}]]},"Valida se é a mesma conversa":{"main":[[{"node":"Define a Mensagem","type":"main","index":0}]]},"Define a Mensagem":{"main":[[{"node":"Limpa do Redis","type":"main","index":0}]]},"Limpa do Redis":{"main":[[{"node":"busca_memoria","type":"main","index":0},{"node":"Junta Memória e Mensagem","type":"main","index":0}]]},"Grava Imagem":{"main":[[{"node":"Busca Memória da Conversa","type":"main","index":0}]]},"Webhook EVO":{"main":[[{"node":"Seta os dados de Entrada","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Transcreve Audio em Texto","type":"main","index":0}]]},"Transcreve Audio em Texto":{"main":[[{"node":"Grava Dados de Audio","type":"main","index":0}]]},"Busca Memória de Dados":{"main":[[{"node":"Seta Memória da Conversa","type":"main","index":0}]]},"Valida o tipo de entrada1":{"main":[[{"node":"Envia mensagem por texto","type":"main","index":0}],[{"node":"Envia mensagem por texto","type":"main","index":0}],[{"node":"Basic LLM Chain","type":"main","index":0}],[{"node":"Envia mensagem por texto","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"RIC NEVES J.A.R.V.I.S.","type":"ai_tool","index":0}]]},"SearchEvent":{"ai_tool":[[{"node":"Google Calendar MCP","type":"ai_tool","index":0}]]},"CreateEvent":{"ai_tool":[[{"node":"Google Calendar MCP","type":"ai_tool","index":0}]]},"UpdateEvent":{"ai_tool":[[{"node":"Google Calendar MCP","type":"ai_tool","index":0}]]},"DeleteEvent":{"ai_tool":[[{"node":"Google Calendar MCP","type":"ai_tool","index":0}]]},"Calendar MCP":{"ai_tool":[[{"node":"RIC NEVES J.A.R.V.I.S.","type":"ai_tool","index":0}]]},"Gmail MCP":{"ai_tool":[[{"node":"RIC NEVES J.A.R.V.I.S.","type":"ai_tool","index":0}]]},"SendMessage":{"ai_tool":[[{"node":"Gmail MCP Server Trigger","type":"ai_tool","index":0}]]},"GetMessages":{"ai_tool":[[{"node":"Gmail MCP Server Trigger","type":"ai_tool","index":0}]]},"ReplyMessage":{"ai_tool":[[{"node":"Gmail MCP Server Trigger","type":"ai_tool","index":0}]]},"AirTable MCP":{"ai_tool":[[{"node":"RIC NEVES J.A.R.V.I.S.","type":"ai_tool","index":0}]]},"SearchContacts":{"ai_tool":[[{"node":"AirTable MCP Server","type":"ai_tool","index":0}]]},"DeleteContacts":{"ai_tool":[[{"node":"AirTable MCP Server","type":"ai_tool","index":0}]]},"CreateContact":{"ai_tool":[[{"node":"AirTable MCP Server","type":"ai_tool","index":0}]]},"UpdateContact":{"ai_tool":[[{"node":"AirTable MCP Server","type":"ai_tool","index":0}]]},"GetLabel":{"ai_tool":[[{"node":"Gmail MCP Server Trigger","type":"ai_tool","index":0}]]},"MarkMessageUnread":{"ai_tool":[[{"node":"Gmail MCP Server Trigger","type":"ai_tool","index":0}]]},"RIC NEVES J.A.R.V.I.S.":{"main":[[{"node":"Valida o tipo de entrada1","type":"main","index":0}]]},"Tavily - Buscador Internet":{"ai_tool":[[{"node":"RIC NEVES J.A.R.V.I.S.","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3e2dcbd5-8a3c-44c2-968b-be1deb3e6711","triggerCount":0,"shared":[{"createdAt":"2025-11-30T14:07:53.059Z","updatedAt":"2025-11-30T14:07:53.059Z","role":"workflow:owner","workflowId":"fxoSopqlg9zjZMs5","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[{"createdAt":"2025-11-24T19:54:07.185Z","updatedAt":"2025-11-24T19:54:07.185Z","id":"SCwd1whqc2gcLVbw","name":"formacao-agentes-n8n"},{"createdAt":"2025-11-24T19:54:07.190Z","updatedAt":"2025-11-24T19:54:07.190Z","id":"PYcXnzTUYoaG3CYv","name":"whatsapp"},{"createdAt":"2025-11-30T14:07:46.035Z","updatedAt":"2025-11-30T14:07:46.035Z","id":"qGLMCgD2X4YF7qRg","name":"redis"},{"createdAt":"2025-11-30T14:07:46.041Z","updatedAt":"2025-11-30T14:07:46.041Z","id":"ar4kaJtQaAhHautC","name":"gmail"},{"createdAt":"2025-11-30T14:07:46.042Z","updatedAt":"2025-11-30T14:07:46.042Z","id":"6SZOpqAEMFBHlikN","name":"calendar"},{"createdAt":"2025-11-30T14:07:46.044Z","updatedAt":"2025-11-30T14:07:46.044Z","id":"KioFeLrgA3zP251C","name":"tavily"},{"createdAt":"2025-11-30T14:07:46.049Z","updatedAt":"2025-11-30T14:07:46.049Z","id":"lXrL6gIkqp5FevcE","name":"airtable"},{"createdAt":"2025-11-30T14:07:46.093Z","updatedAt":"2025-11-30T14:07:46.093Z","id":"q3t7vONtm39BXzwB","name":"open-ai"},{"createdAt":"2025-11-30T14:07:46.098Z","updatedAt":"2025-11-30T14:07:46.098Z","id":"MhkcjeIWzvHKD3Ku","name":"anthropic"},{"createdAt":"2025-11-30T14:07:46.098Z","updatedAt":"2025-11-30T14:07:46.098Z","id":"eCtOp1AO0NXssqr7","name":"evolution-api"},{"createdAt":"2025-11-30T14:07:46.100Z","updatedAt":"2025-11-30T14:07:46.100Z","id":"K96m9QgTN9wYAFRu","name":"ricneves"},{"createdAt":"2025-11-30T14:07:46.100Z","updatedAt":"2025-11-30T14:07:46.100Z","id":"y3Qm6fu1giI2xJ8R","name":"mcp"},{"createdAt":"2025-11-30T14:07:46.101Z","updatedAt":"2025-11-30T14:07:46.101Z","id":"1dBGjftFRjj4Fo5X","name":"eleven-labs"}]}