atendimento_humano-KtWuHPnbH6rSdjyn.json
{"createdAt":"2025-08-17T01:50:58.830Z","updatedAt":"2025-08-17T15:45:17.950Z","id":"KtWuHPnbH6rSdjyn","name":"Atendimento_humano","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Telefone"},{"name":"Cliente"},{"name":"Mensagem"},{"name":"Usuario"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-16,0],"id":"0aff4572-e995-4d36-bfee-33a8919d13d6","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"7a7b3d8e-7af5-4714-9605-295c19ab0b65","name":"Telefone","value":"={{ $json.Telefone }}","type":"string"},{"id":"7709fa42-0696-4fa3-ad56-ae306f5c6129","name":"Cliente","value":"={{ $json.Cliente }}","type":"string"},{"id":"6ce1e2b8-f45d-4a7d-96ca-326eea2f1586","name":"Mensagem","value":"={{ $json.Mensagem }}","type":"string"},{"id":"c8a2d24e-b5d1-42f6-a976-0bca34bd2057","name":"Usuario","value":"={{ $json.Usuario }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[192,0],"id":"5969163c-1a1c-46a4-82e3-af1cd417a3e3","name":"Normalização"},{"parameters":{"promptType":"define","text":"={{ $json.Mensagem }}","messages":{"messageValues":[{"message":"=você é um resumidor de conversar, pegar os principais pontos das conversar e fara um pequeno resumo em bullet point - para isso a lista devera usar \"-\".\ninforme que o cliente {{ $json.Cliente }}, solicita ser atendido por humano para o problema que você resumiu o usuario é o {{ $json.Usuario }}"}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[432,0],"id":"9e2fb309-b225-4f63-b9e5-79559534a9db","name":"Basic LLM Chain"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[432,160],"id":"de2c994a-85a0-44c9-90a8-60da2c6ebb71","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/message/sendText/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ { \"number\": \"5585991335752\", \"text\": $json.text } }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[800,0],"id":"b69fe5bb-502d-46b1-8ab4-633d61268a4c","name":"Chamar_humano","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"operation":"set","key":"={{ $('Normalização').item.json.Telefone }}_block","value":"true","expire":true,"ttl":300},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[992,0],"id":"50a11997-7618-451e-b931-f762a343ca24","name":"Bloqueia_IA","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Normalização","type":"main","index":0}]]},"Normalização":{"main":[[{"node":"Basic LLM Chain","type":"main","index":0}]]},"Basic LLM Chain":{"main":[[{"node":"Chamar_humano","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Basic LLM Chain","type":"ai_languageModel","index":0}]]},"Chamar_humano":{"main":[[{"node":"Bloqueia_IA","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1548b7ab-d674-4547-acfc-ba9ff31f48a0","triggerCount":0,"tags":[]}