backup-2nFq9V88Wv1n3VVd.json
{"createdAt":"2025-08-30T19:11:01.082Z","updatedAt":"2025-08-30T19:27:50.767Z","id":"2nFq9V88Wv1n3VVd","name":"Backup","active":true,"isArchived":false,"nodes":[{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"3eed2503-6115-4388-b216-b56ba6ea5416","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[-176,432]},{"parameters":{"content":"## Acionar\nVocê pode alterá-lo para [gatilho \"Agendar\"](https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.scheduletrigger/) para fazer backups regularmente.","height":380,"width":182},"id":"fb2c9e6c-ebe0-4a60-9772-39ceb0a2eb19","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1664,224]},{"parameters":{"content":"## Definir e formatar data/hora\nEsses nós são responsáveis ​​por definir a data e hora atuais no formato `dd-MM-yyyy/H:mm`. Data e hora são usadas para compor mensagens de commit no GitHub, por exemplo: `backup-12-07-2023/14:18`.","height":379,"width":585},"id":"c5c14d71-182f-48f1-a40d-6950dcc72244","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1456,224]},{"parameters":{"content":"## Faça uma lista de arquivos existentes\nRetorne uma lista de arquivos existentes (backups) no repositório GitHub. Os dados retornados por esses nós são usados ​​pelo nó \"IF\" (posteriormente no fluxo de trabalho) para verificar se os arquivos de backup devem ser criados ou atualizados.","height":379,"width":390},"id":"21c110cc-ae73-4866-8cff-bad28c13f796","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-864,224]},{"parameters":{"content":"## Recupere os workflows\nObtenha todos os fluxos de trabalho da sua instância n8n. Lembre-se de que **suas credenciais precisam apontar para a instância da qual você deseja fazer backup.**","height":379,"width":424},"id":"e7543b62-f0e1-4245-8ca3-5cf0dfcb3dc3","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-448,224]},{"parameters":{"content":"## Carregar cópia de segurança\nDivida os arquivos JSON em lotes de 1, verifique se eles foram carregados no repositório antes. Se sim (true), carregue a nova versão do arquivo. Caso contrário (false) crie o arquivo no repositório.","height":731.633426614796,"width":703.8733020263451},"id":"0a1b83f2-14ae-4120-b3dd-f574c0addaba","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"https://github.com/jefferson646/n8n/tree/main","mode":"url"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/jefferson646/n8n"},"filePath":"="},"id":"08503aad-a2c3-404b-8bbb-06a9f5e5cce7","name":"Liste o Arquivos do Repositorio [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[-816,432],"alwaysOutputData":true,"webhookId":"6ccc1f39-1111-42c2-b824-1e8d3b13bb3f","credentials":{"githubOAuth2Api":{"id":"txk7ktq8xFeTy0da","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"267fa8b3-d4fb-4880-bbce-84aa9e49fd01","name":"Combine os nomes do Arquivos [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[-624,432]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"f2b1f7d4-9a4a-4e7d-9db7-60ec6bf05a2d","name":"Setar a data do Commit","type":"n8n-nodes-base.set","typeVersion":2,"position":[-1024,432]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine os nomes do Arquivos [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"8a8375d2-71f5-45b8-b53a-2d29bc64d085","name":"Cheque se existem arquivos no Repositorio","type":"n8n-nodes-base.if","typeVersion":1,"position":[304,352]},{"parameters":{"options":{}},"id":"b5725e2c-ff45-4975-bd14-9b2465979503","name":"Sete a data","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1424,432]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"74a5ffbc-ede2-4ce8-aa2a-3fc5e9e1249b","name":"Data formatada","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[-1216,432]},{"parameters":{"batchSize":1,"options":{}},"id":"5f607850-3391-471c-9c16-86a667ee018c","name":"Dividindo em Arquivos Únicos","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[64,432]},{"parameters":{"filters":{},"requestOptions":{}},"id":"54e5b395-192c-4db6-b026-d39e8263a03a","name":"Recupere os workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-384,432],"credentials":{"n8nApi":{"id":"xT0tuPM8V0qexwRL","name":"n8n account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"https://github.com/jefferson646/n8n/tree/main","mode":"url"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/jefferson646/n8n"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Setar a data do Commit'].json.commitDate }}"},"id":"b64f5054-7bb9-42f6-a505-10e6b2db6a7b","name":"Atualiza Arquivos [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[528,144],"webhookId":"55078b19-dc36-4884-b34d-42760de0a037","credentials":{"githubOAuth2Api":{"id":"txk7ktq8xFeTy0da","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"https://github.com/jefferson646/n8n/tree/main","mode":"url"},"repository":{"__rl":true,"value":"n8n","mode":"list","cachedResultName":"n8n","cachedResultUrl":"https://github.com/jefferson646/n8n"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Setar a data do Commit'].json.commitDate }}"},"id":"1ca9c804-5b20-4bf0-8625-381042d8c221","name":"Atualiza arquivos [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[528,544],"webhookId":"77a009ba-10df-47be-af25-b9ca65bf8e69","credentials":{"githubOAuth2Api":{"id":"txk7ktq8xFeTy0da","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1632,432],"id":"5b3e9996-c6f5-403f-9986-ee487b0de4ae","name":"Schedule Trigger"}],"connections":{"Move JSON to binary":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Liste o Arquivos do Repositorio [GITHUB]":{"main":[[{"node":"Combine os nomes do Arquivos [GITHUB]","type":"main","index":0}]]},"Combine os nomes do Arquivos [GITHUB]":{"main":[[{"node":"Recupere os workflows [N8N]","type":"main","index":0}]]},"Setar a data do Commit":{"main":[[{"node":"Liste o Arquivos do Repositorio [GITHUB]","type":"main","index":0}]]},"Cheque se existem arquivos no Repositorio":{"main":[[{"node":"Atualiza Arquivos [GITHUB]","type":"main","index":0}],[{"node":"Atualiza arquivos [GITHUB]","type":"main","index":0}]]},"Sete a data":{"main":[[{"node":"Data formatada","type":"main","index":0}]]},"Data formatada":{"main":[[{"node":"Setar a data do Commit","type":"main","index":0}]]},"Dividindo em Arquivos Únicos":{"main":[[{"node":"Cheque se existem arquivos no Repositorio","type":"main","index":0}]]},"Recupere os workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Atualiza Arquivos [GITHUB]":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Atualiza arquivos [GITHUB]":{"main":[[{"node":"Dividindo em Arquivos Únicos","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Sete a data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3477620f-db96-4ef2-8a68-8aa462bd24c2","triggerCount":1,"shared":[{"createdAt":"2025-08-30T19:11:01.082Z","updatedAt":"2025-08-30T19:11:01.082Z","role":"workflow:owner","workflowId":"2nFq9V88Wv1n3VVd","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[{"createdAt":"2025-08-30T19:10:51.903Z","updatedAt":"2025-08-30T19:10:51.903Z","id":"mMA14Q69OgGLY420","name":"github"}]}