clone-google-drive-folder---simplificado-3H9erXoeepHcYl10.json
{"createdAt":"2025-11-27T01:05:22.083Z","updatedAt":"2025-11-27T02:01:24.095Z","id":"3H9erXoeepHcYl10","name":"Clone Google Drive Folder - Simplificado","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-992,704],"id":"d065be6b-3881-4ba7-b180-89b13f17b09d","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"fileFolder","queryString":"Escola de Automação e I.A.- Thales Laray","filter":{},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-112,-48],"id":"7f5ea954-d4d3-491f-a88c-d9e8bdd7eec4","name":"Search files and folders","credentials":{"googleDriveOAuth2Api":{"id":"gXDP0jZXUNijrESg","name":"Google Drive account"}}},{"parameters":{"url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"='{{ $json.id }}' in parents"},{"name":"fields","value":"files(id, name, mimeType)"},{"name":"pageSize","value":"100"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,-48],"id":"7b5380a7-0a3f-447a-8dad-3dca1fef0a40","name":"HTTP Request","credentials":{"httpHeaderAuth":{"id":"VZFTWrw7yfvV6dVp","name":"nano_banana"},"googleDriveOAuth2Api":{"id":"gXDP0jZXUNijrESg","name":"Google Drive account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[304,-48],"id":"03ef840e-b8d9-4188-8206-5adb971a20ad","name":"Loop Over Items"},{"parameters":{},"type":"n8n-nodes-base.noOp","name":"Replace Me","typeVersion":1,"position":[512,-48],"id":"d6a3431c-b940-469a-b3ef-eb8725eac853"},{"parameters":{"jsCode":"// CONFIGURAÇÕES - EDITE AQUI\nconst SOURCE_FOLDER_ID = '1WjzFKTTOQbH6_H2Bs9VAai5xt79GC-RZ';\nconst DESTINATION_FOLDER_NAME = 'Escola de Automação - CÓPIA';\nconst DESTINATION_PARENT = 'root'; // ou coloque ID de outra pasta\n\nreturn {\n  sourceFolderId: SOURCE_FOLDER_ID,\n  destinationName: DESTINATION_FOLDER_NAME,\n  destinationParent: DESTINATION_PARENT,\n  itemsToProcess: [{\n    sourceId: SOURCE_FOLDER_ID,\n    destinationId: null, // será preenchido depois\n    isRoot: true\n  }]\n};"},"id":"aaaa8acf-c9a0-4914-a061-2d73b2dec9bd","name":"⚙️ CONFIGURAÇÃO","type":"n8n-nodes-base.code","typeVersion":2,"position":[-800,704],"notesInFlow":true,"notes":"EDITE AQUI:\n- SOURCE_FOLDER_ID\n- DESTINATION_FOLDER_NAME\n- DESTINATION_PARENT"},{"parameters":{"resource":"folder","name":"={{ $json.destinationName }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"99ac885e-0e32-4b94-a939-12a0a911eb53","name":"Criar Pasta Principal","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-576,704],"credentials":{"googleDriveOAuth2Api":{"id":"gXDP0jZXUNijrESg","name":"Google Drive account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst rootDestId = items[0].json.id;\nconst sourceId = items[0].json.sourceFolderId;\n\nreturn {\n  rootDestinationId: rootDestId,\n  sourceFolderId: sourceId,\n  queue: [{\n    sourceId: sourceId,\n    destId: rootDestId,\n    level: 0\n  }]\n};"},"id":"620d30b9-2c92-4405-a02c-7c5ffac4043e","name":"Iniciar Fila","type":"n8n-nodes-base.code","typeVersion":2,"position":[-352,704]},{"parameters":{"options":{}},"id":"4f4c84ef-3320-4132-b54b-622ec28883e9","name":"Loop Principal","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-176,608]},{"parameters":{"jsCode":"// Pega próximo item da fila\nconst queue = $json.queue || [];\nif (queue.length === 0) {\n  return { finished: true };\n}\n\nconst current = queue.shift();\n\nreturn {\n  currentSourceId: current.sourceId,\n  currentDestId: current.destId,\n  currentLevel: current.level,\n  remainingQueue: queue,\n  finished: false\n};"},"id":"5762d003-38e5-450a-ae8c-d38a9b56dc01","name":"Próximo da Fila","type":"n8n-nodes-base.code","typeVersion":2,"position":[80,528]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.finished }}","value2":true}]}},"id":"3b95f169-df6a-4d60-95a3-179b94bcc231","name":"Terminou?","type":"n8n-nodes-base.if","typeVersion":1,"position":[304,704]},{"parameters":{"url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"='{{ $('⚙️ CONFIGURAÇÃO').item.json.sourceFolderId }}' in parents"},{"name":"fields","value":"files(id, name, mimeType)"},{"name":"pageSize","value":"1000"}]},"options":{}},"id":"114c90df-5450-451d-ae34-19d8e3441c12","name":"Listar Conteúdo","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[528,608],"credentials":{"googleDriveOAuth2Api":{"id":"gXDP0jZXUNijrESg","name":"Google Drive account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst response = items[0].json;\nconst files = response.files || [];\nconst currentDestId = items[0].json.currentDestId;\nconst remainingQueue = items[0].json.remainingQueue || [];\nconst currentLevel = items[0].json.currentLevel || 0;\n\nif (files.length === 0) {\n  return { queue: remainingQueue };\n}\n\nconst newQueue = [...remainingQueue];\n\nfor (const file of files) {\n  if (file.mimeType === 'application/vnd.google-apps.folder') {\n    // É uma pasta - adicionar na fila para processar depois\n    file.parentDestId = currentDestId;\n    file.isFolder = true;\n    file.level = currentLevel + 1;\n  } else {\n    // É um arquivo - processar agora\n    file.parentDestId = currentDestId;\n    file.isFolder = false;\n    file.level = currentLevel + 1;\n  }\n}\n\nreturn files.map(file => ({\n  ...file,\n  remainingQueue: newQueue\n}));"},"id":"67760b43-ec5f-41d3-9603-80e187802e82","name":"Processar Itens","type":"n8n-nodes-base.code","typeVersion":2,"position":[752,608]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.isFolder }}","value2":true}]}},"id":"f44d115f-254c-4268-8831-7ad40d422428","name":"É Pasta?","type":"n8n-nodes-base.if","typeVersion":1,"position":[976,608]},{"parameters":{"resource":"folder","name":"={{ $json.name }}","driveId":{"__rl":true,"value":"={{ $('Criar Pasta Principal').item.json.id }}","mode":"id"},"folderId":{"__rl":true,"mode":"list","value":"root","cachedResultName":"/ (Root folder)"},"options":{}},"id":"dcb824dc-e4c8-4376-8466-044f7632672a","name":"Criar Pasta","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1184,480],"credentials":{"googleDriveOAuth2Api":{"id":"gXDP0jZXUNijrESg","name":"Google Drive account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst newFolderId = items[0].json.id;\nconst sourceId = items[0].json.id; // ID da pasta original\nconst remainingQueue = items[0].json.remainingQueue || [];\n\n// Adiciona esta nova pasta na fila para processar seu conteúdo\nremainingQueue.push({\n  sourceId: items[0].json.id, // ID da pasta fonte\n  destId: newFolderId, // ID da pasta destino recém-criada\n  level: items[0].json.level\n});\n\nreturn { queue: remainingQueue };"},"id":"3aa1f016-cb67-4ea7-b25f-393de70517a9","name":"Adicionar à Fila","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,480]},{"parameters":{"operation":"copy","fileId":{"__rl":true,"value":"={{ $('Terminou?').item.json.currentDestId }}","mode":"id"},"name":"={{ $('Criar Pasta Principal').item.json.name }}","options":{}},"id":"38cf89d6-397d-491b-ae9f-a5ff992c11d1","name":"Copiar Arquivo","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1184,720],"credentials":{"googleDriveOAuth2Api":{"id":"gXDP0jZXUNijrESg","name":"Google Drive account"}}},{"parameters":{"jsCode":"const items = $input.all();\nconst remainingQueue = items[0].json.remainingQueue || [];\n\nreturn { queue: remainingQueue };"},"id":"3a4050d2-c02c-47ab-b594-fc2053d39963","name":"Passar Fila","type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,720]},{"parameters":{"jsCode":"// Aguardar todos os itens processados e consolidar fila\nconst items = $input.all();\nconst allQueues = items.map(item => item.json.queue || []);\n\n// Juntar todas as filas\nconst consolidatedQueue = allQueues.flat();\n\nreturn { queue: consolidatedQueue };"},"id":"f2ee9682-7ccf-4c1c-abdc-42a363a10e62","name":"Consolidar Fila","type":"n8n-nodes-base.code","typeVersion":2,"position":[1632,608]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.queue.length }}","operation":"larger"}]}},"id":"ce3802b7-6d72-4219-88b7-e502d9e3e010","name":"Tem Mais?","type":"n8n-nodes-base.if","typeVersion":1,"position":[1808,240]},{"parameters":{"content":"## 🎯 Clone Google Drive Folder\n### Versão Simplificada\n\n**Como usar:**\n1. Edite o nó \"⚙️ CONFIGURAÇÃO\"\n2. Mude:\n   - SOURCE_FOLDER_ID\n   - DESTINATION_FOLDER_NAME\n3. Execute!\n\n**O que faz:**\n- Copia toda a estrutura\n- Processa recursivamente\n- Mantém organização\n\n**Status:**\n- ✅ Arquivos: copiados\n- ✅ Pastas: recriadas\n- ✅ Subpastas: recursivo","height":532,"width":380,"color":5},"id":"9a867c87-022f-420c-9a90-327961f067b9","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2208,464]},{"parameters":{},"id":"7f08ca1c-7f28-468e-9aaf-41442511d75f","name":"✅ Concluído","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[528,800]}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"⚙️ CONFIGURAÇÃO","type":"main","index":0}]]},"Search files and folders":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Replace Me","type":"main","index":0}]]},"Replace Me":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"⚙️ CONFIGURAÇÃO":{"main":[[{"node":"Criar Pasta Principal","type":"main","index":0}]]},"Criar Pasta Principal":{"main":[[{"node":"Iniciar Fila","type":"main","index":0}]]},"Iniciar Fila":{"main":[[{"node":"Loop Principal","type":"main","index":0}]]},"Loop Principal":{"main":[[],[{"node":"Próximo da Fila","type":"main","index":0}]]},"Próximo da Fila":{"main":[[{"node":"Terminou?","type":"main","index":0}]]},"Terminou?":{"main":[[{"node":"✅ Concluído","type":"main","index":0}],[{"node":"Listar Conteúdo","type":"main","index":0}]]},"Listar Conteúdo":{"main":[[{"node":"Processar Itens","type":"main","index":0}]]},"Processar Itens":{"main":[[{"node":"É Pasta?","type":"main","index":0}]]},"É Pasta?":{"main":[[{"node":"Criar Pasta","type":"main","index":0}],[{"node":"Copiar Arquivo","type":"main","index":0}]]},"Criar Pasta":{"main":[[{"node":"Adicionar à Fila","type":"main","index":0}]]},"Adicionar à Fila":{"main":[[{"node":"Consolidar Fila","type":"main","index":0}]]},"Copiar Arquivo":{"main":[[{"node":"Passar Fila","type":"main","index":0}]]},"Passar Fila":{"main":[[{"node":"Consolidar Fila","type":"main","index":0}]]},"Consolidar Fila":{"main":[[{"node":"Tem Mais?","type":"main","index":0}]]},"Tem Mais?":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Search files and folders":[{"json":{"id":"1WjzFKTTOQbH6_H2Bs9VAai5xt79GC-RZ","name":"Escola de Automação e I.A.- Thales Laray "}}]},"versionId":"a875a109-b553-46fe-a8d4-54ad2d3a9afc","triggerCount":0,"shared":[{"createdAt":"2025-11-27T01:05:22.083Z","updatedAt":"2025-11-27T01:05:22.083Z","role":"workflow:owner","workflowId":"3H9erXoeepHcYl10","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[]}