criar_teste-5wBgGCAV3Kx16SIb.json
{"createdAt":"2025-08-17T01:51:35.498Z","updatedAt":"2025-11-20T17:40:37.373Z","id":"5wBgGCAV3Kx16SIb","name":"Criar_Teste","active":true,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"Telefone"},{"name":"Nome"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[32,-96],"id":"2180ac76-7b8d-438d-a866-b7d99ad6ec5f","name":"When Executed by Another Workflow"},{"parameters":{"path":"plus"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":2,"position":[-432,240],"id":"c2f4a1ac-092a-47cc-9587-13a39d6c1775","name":"API_PLUS","webhookId":"987be09c-88c0-4102-86ed-8c407b772de8"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Usuario":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Usuario', ``, 'string') }}","Senha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Senha', ``, 'string') }}","Vencimento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Vencimento', ``, 'string') }}","Nome_Cliente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome_Cliente', ``, 'string') }}","Telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefone', ``, 'string') }}","Valor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Valor', ``, 'string') }}","Status":"Teste","Servidor":"Plus"},"matchingColumns":[],"schema":[{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Senha","displayName":"Senha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Vencimento","displayName":"Vencimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Servidor","displayName":"Servidor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome_Cliente","displayName":"Nome_Cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-448,448],"id":"dbec6749-28ad-4714-bc5e-bb48e5449d9e","name":"Criar Cliente","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"toolDescription":"você receberá os dados do campo \"username\" vai vim como \"Usuário\"","method":"POST","url":"https://4api.painelclass.com/api-chat-boot/upgrade-test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-token","value":"79582a7e1c3311ee82a8b496912803ea"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"username","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-80,464],"id":"44f0ec9f-6300-47de-88fe-a1be362269ca","name":"Renovar_teste"},{"parameters":{"toolDescription":"quando for acionado preencha o campo \"name\" com o nome do cliente e o campo \"phone\", com o numero de telefone do cliente","method":"POST","url":"https://4api.painelclass.com/api-chat-boot/teste-auto","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-token","value":"79582a7e1c3311ee82a8b496912803ea"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"name","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"},{"name":"phone","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-608,448],"id":"2190bb4b-dfe5-4cf4-997c-7254529f66c8","name":"Teste_IPTV1"},{"parameters":{"toolDescription":"você receberá os dados do campo \"username\" vai vim como \"Usuário\"","method":"POST","url":"https://4api.painelclass.com/api-chat-boot/buy-mp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-token","value":"79582a7e1c3311ee82a8b496912803ea"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"username","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"},{"name":"creditos","value":"1"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-272,448],"id":"85fef646-af3e-48e6-9fe6-e0d9ef3c8274","name":"Renovar_Cliente_MP1"},{"parameters":{"content":"## MCP_PLUS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":448,"width":944},"type":"n8n-nodes-base.stickyNote","position":[-768,160],"typeVersion":1,"id":"6d3c8791-703c-4089-afc6-7d60dc93eb7c","name":"Sticky Note4"},{"parameters":{"method":"POST","url":"https://4api.painelclass.com/api-chat-boot/upgrade-test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-token","value":"79582a7e1c3311ee82a8b496912803ea"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"username","value":"={{ $json.data.username }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,-96],"id":"64999316-43a9-4f88-b782-1ff50aa465b5","name":"Cria_Usuario"},{"parameters":{"method":"POST","url":"https://4api.painelclass.com/api-chat-boot/teste-auto","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-token","value":"79582a7e1c3311ee82a8b496912803ea"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"name","value":"={{ $json.Nome }}"},{"name":"phone","value":"={{ $json.Telefone }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,-96],"id":"4e56a441-9891-4b8e-b594-63b64fa69d08","name":"Cria_teste"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Usuario":"={{ $('Cria_teste').item.json.data.username }}","Senha":"={{ $('Cria_teste').item.json.data.password }}","Vencimento":"={{ $('Cria_teste').item.json.data.expiracao }}","Servidor":"Plus","Nome_Cliente":"={{ $('When Executed by Another Workflow').item.json.Nome }}","Telefone":"={{ $('Cria_teste').item.json.data.telefone.slice(2) }}","Valor":"35,00","Status":"Teste"},"matchingColumns":[],"schema":[{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Senha","displayName":"Senha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Vencimento","displayName":"Vencimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Servidor","displayName":"Servidor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome_Cliente","displayName":"Nome_Cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[624,-96],"id":"a405393d-169c-4638-8565-6f8948ccc805","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"url":"=https://4api.painelclass.com/api-chat-boot/get-infos/{{ $json.usuario }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-token","value":"79582a7e1c3311ee82a8b496912803ea"},{"name":"Accept","value":"application/json"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[720,288],"id":"21e4c339-2e4f-4f29-ac31-0f0e25429a31","name":"dados do usuario no banco","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"toolDescription":"quando for acionado preencha o campo \"name\" com o nome do cliente ","url":"https://4api.painelclass.com/api-chat-boot/get-infos/","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-token","value":"79582a7e1c3311ee82a8b496912803ea"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"name","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"},{"name":"phone","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[320,384],"id":"22d33a37-4e4b-4cc9-b6a9-9de009f4d6d6","name":"Dados do Cliente"}],"connections":{"Criar Cliente":{"ai_tool":[[{"node":"API_PLUS","type":"ai_tool","index":0}]]},"Renovar_teste":{"ai_tool":[[{"node":"API_PLUS","type":"ai_tool","index":0}]]},"Teste_IPTV1":{"ai_tool":[[{"node":"API_PLUS","type":"ai_tool","index":0}]]},"Renovar_Cliente_MP1":{"ai_tool":[[{"node":"API_PLUS","type":"ai_tool","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Cria_teste","type":"main","index":0}]]},"Cria_teste":{"main":[[{"node":"Cria_Usuario","type":"main","index":0}]]},"Cria_Usuario":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Dados do Cliente":{"ai_tool":[[{"node":"API_PLUS","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"Telefone":"85991335752","Nome":"Joãozinho"}}]},"versionId":"7174a2ab-d855-47af-a35c-fd31a7853622","triggerCount":1,"shared":[{"createdAt":"2025-08-17T01:51:35.498Z","updatedAt":"2025-08-17T01:51:35.498Z","role":"workflow:owner","workflowId":"5wBgGCAV3Kx16SIb","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[]}