editar-imagem-nano-banana-pro-4PqIgw6IAwVexJkw.json
{"createdAt":"2025-11-24T20:21:08.756Z","updatedAt":"2025-11-24T20:21:23.011Z","id":"4PqIgw6IAwVexJkw","name":"Editar Imagem Nano Banana Pro","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Entrada de Dados","height":224},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,768],"id":"8bc97e97-59ee-4cc2-ae2d-c6e270b459d8","name":"Sticky Note"},{"parameters":{"content":"## Pega imagem do Drive e sob no IMGBB","height":368,"width":1008,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,240],"id":"da6b08d7-2e63-4c53-95d9-e9a426ab8218","name":"Sticky Note1"},{"parameters":{"content":"## Cria Imagem com Nano Banana","height":448,"width":1024,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,624],"id":"d0826360-2558-4876-b2e5-e6d083fb42c0","name":"Sticky Note2"},{"parameters":{"content":"## Saída","height":416,"width":1008,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,1104],"id":"9cc806b8-557b-4ee5-8da7-15006fb48d0c","name":"Sticky Note4"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id_imagem }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[96,336],"id":"d66d6fa4-2eb8-497a-bf4c-9d22f4dc8fcc","name":"Baixar a Imagem","credentials":{"googleDriveOAuth2Api":{"id":"gXDP0jZXUNijrESg","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"},{"name":"key","value":"86604458963fcd72fd74d9ab6b64e286"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[832,368],"id":"6967299a-1aac-4cab-9f3c-707e1f6195f4","name":"Envia para o IMGBB"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[496,736],"id":"0a73f2e1-9e76-4e96-9ced-fc1c86760dc7","name":"Espera 20 segundos","webhookId":"bed5ada3-22a9-476e-b0e5-189c441aa10e"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/nano-banana-pro/edit","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ \n  $('Inicia o Fluxo').item.json.prompt_imagem.replace(/\\\"/g, '\\\\\\\"').replace(/(\\r\\n|\\n|\\r)/g, '\\\\n') }}}}\",\n  \"image_urls\": [\n    \"{{ $json.data.url }}\"\n  ],\n  \"num_images\": 1,\n  \"output_format\": \"png\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,800],"id":"5f418f8c-9f94-46c3-a099-a1d114c66da4","name":"Cria Imagem com NanoBanana","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"url":"=https://queue.fal.run/fal-ai/nano-banana-pro/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[816,784],"id":"ebd70db6-3173-43c0-8280-f6489454ea2f","name":"Busca o Resultado da Geração","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}},"onError":"continueErrorOutput"},{"parameters":{"content":"### Adicione aqui sua conexão com a api da fal.ai","height":352,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[752,688],"id":"25e2328a-7d20-49a3-84c8-283779ee09d3","name":"Sticky Note5"},{"parameters":{"content":"### Adicione aqui sua conexão com a api da fal.ai","height":336,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,688],"id":"36a03c4f-a430-4f6e-8594-b47c65079fd1","name":"Sticky Note6"},{"parameters":{"url":"={{ $json.images[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,1248],"id":"5a251937-c95a-4f3d-a49f-21fe6a7f329e","name":"Baixa imagem gerada"},{"parameters":{"content":"### Ajuste a pasta do drive que você quer guardar a imagem gerada","height":336,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[400,1136],"id":"26a12dfa-f5fc-4d7a-bfe4-18a89eb436a5","name":"Sticky Note7"},{"parameters":{"name":"={{ $('Inicia o Fluxo').item.json.imageTitle }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1DFVbmuMOhcGTANCK-VUC1WvQ23xR6zCs","mode":"list","cachedResultName":"NanoBanana Agent","cachedResultUrl":"https://drive.google.com/drive/folders/1DFVbmuMOhcGTANCK-VUC1WvQ23xR6zCs"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[464,1264],"id":"a5797850-8af8-402f-ac09-8cdc48c401cf","name":"Sobe no Drive","credentials":{"googleDriveOAuth2Api":{"id":"gXDP0jZXUNijrESg","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c66c7c13-57ca-4191-9af3-5ab306dfedfc","name":"Resposta","value":"=A imagem foi criada e nomeada como \"{{ $json.name }}\". \n\nEsse é o link dessa imagem no Google Drive com o nano banana pro: {{ $json.webViewLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,1248],"id":"343ed011-6131-4f03-ba12-8fff373011f4","name":"Avisa o Agente Principal que a imagem foi gerada"},{"parameters":{"content":"### Adicione aqui API KEY com IMGBB","height":304,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[752,256],"id":"b7e1c3b0-019c-44d8-97e3-dcdb38603d56","name":"Sticky Note9"},{"parameters":{"workflowInputs":{"values":[{"name":"titulo_da_imagem"},{"name":"prompt_imagem"},{"name":"id_imagem"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-272,848],"id":"13fda55b-5d3b-4844-8dad-7639fd6b8914","name":"Inicia o Fluxo"},{"parameters":{"content":"","height":1504,"width":1776,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-416,112],"id":"c8a287b2-7c45-4aa5-b8cd-f4092e6b15c0","name":"Sticky Note3"},{"parameters":{"content":"▇▇▇▇▕▇▇▇▕▕▇▕▇▇▇▇▇▕▕▇▇▕▕▇▇▇▕▕▕▇▇▇▕▕▇▇▇▇▕▕▇▕▇▇▕▇▇▕▕▇▇▕▕▕▇▇▇▕▇▇▇▇▕▇▇▕▇▇\n▇▕▕▕▕▇▕▕▇▕▇▕▕▕▇▕▕▕▇▕▕▇▕▇▕▕▇▕▕▇▕▕▇▕▇▕▕▕▕▕▇▕▇▕▇▕▇▕▇▕▕▇▕▇▕▕▕▕▇▕▕▕▕▇▕▇▕▇\n▇▇▇▕▕▇▕▕▇▕▇▕▕▕▇▕▕▕▇▕▕▇▕▇▇▇▕▕▕▇▕▕▇▕▇▇▇▕▕▕▇▕▇▕▇▕▇▕▇▇▇▇▕▇▕▇▇▕▇▇▇▕▕▇▕▇▕▇\n▇▕▕▕▕▇▕▕▇▕▇▕▕▕▇▕▕▕▇▕▕▇▕▇▕▕▇▕▕▇▕▕▇▕▇▕▕▕▕▕▇▕▇▕▕▕▇▕▇▕▕▇▕▇▕▕▇▕▇▕▕▕▕▇▕▕▕▇\n▇▇▇▇▕▇▇▇▕▕▇▕▕▕▇▕▕▕▕▇▇▕▕▇▕▕▇▕▕▇▇▇▕▕▇▇▇▇▕▕▇▕▇▕▕▕▇▕▇▕▕▇▕▕▇▇▕▕▇▇▇▇▕▇▕▕▕▇\n▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕","height":144,"width":992,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"2e9435ca-206c-47c2-b110-b6566503de1e","name":"Sticky Note8"}],"connections":{"Baixar a Imagem":{"main":[[{"node":"Envia para o IMGBB","type":"main","index":0}]]},"Envia para o IMGBB":{"main":[[{"node":"Cria Imagem com NanoBanana","type":"main","index":0}]]},"Espera 20 segundos":{"main":[[{"node":"Busca o Resultado da Geração","type":"main","index":0}]]},"Cria Imagem com NanoBanana":{"main":[[{"node":"Espera 20 segundos","type":"main","index":0}]]},"Busca o Resultado da Geração":{"main":[[{"node":"Baixa imagem gerada","type":"main","index":0}],[{"node":"Espera 20 segundos","type":"main","index":0}]]},"Baixa imagem gerada":{"main":[[{"node":"Sobe no Drive","type":"main","index":0}]]},"Sobe no Drive":{"main":[[{"node":"Avisa o Agente Principal que a imagem foi gerada","type":"main","index":0}]]},"Inicia o Fluxo":{"main":[[{"node":"Baixar a Imagem","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8e69a27c-6d6f-4255-95d7-53222a86527c","triggerCount":0,"shared":[{"createdAt":"2025-11-24T20:21:08.756Z","updatedAt":"2025-11-24T20:21:08.756Z","role":"workflow:owner","workflowId":"4PqIgw6IAwVexJkw","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[]}