iara-KtUKpgeI2O1rOwVd.json
{"createdAt":"2025-08-17T20:25:21.486Z","updatedAt":"2025-09-23T16:53:01.651Z","id":"KtUKpgeI2O1rOwVd","name":"IARA","active":true,"isArchived":false,"nodes":[{"parameters":{"public":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-1056,-256],"id":"90128c19-8ced-4f43-bf08-afeacfafdcef","name":"When chat message received","webhookId":"9f2f7f71-40fe-40bd-8721-7bf1dfdcf80e"},{"parameters":{"promptType":"define","text":"={{ $json.chatInput }}","options":{"systemMessage":"=### Diretrizes de Uso das Tools\n\n- Se o usuário pedir pra você ligar pra ele, o whatsapp dele é: +5585991335752, se não tiver nada aqui, peça a ele o número dele com DDD e depois use a tool \"FazerLigacao\", o número deve estar no formato +5531975896500 ou seja +ddidddtelefone\n\n- Se o usuário perguntar se nós ensinamos a fazer robô de telemarketing que faz ligação, fale que não só ensinamos mas que também podemos mostrar isso agora pra ele, e ai pergunta se quer que nós liguemos pra ele. O número do robo que vai ligar é + 1 (443) 242-9543 - pro lead ficar atento na ligação.\n\n- PS.: Se o número do usuário for de outro páis, você consegue ligar também, só usar a mesma lógica com o DDI dele...\n\n- Se o usuário falar que não recebeu a ligação, pode ser que ele tem alguma configuração pra bloquear chamadas desconhecidas, estrangeiras ou está sem sinal, peça ele pra verificar isso...\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-832,-256],"id":"42bb07bb-e01b-4c88-841c-187b1b34e389","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-848,-48],"id":"6be4010a-202c-42ec-a67a-958059e6086d","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"toolDescription":"Call this tool to make call to the customer number","method":"POST","url":"https://api.vapi.ai/call","sendHeaders":true,"parametersHeaders":{"values":[{"name":"Authorization","valueProvider":"fieldValue","value":"Bearer b4ed60af-b6be-4efa-89d2-1d4fe83eb5fe"},{"name":"content-type","valueProvider":"fieldValue","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"assistantId\": \"b08f7048-8245-4502-b7dd-e38a7d06881f\",\n  \"customer\": {\n    \"number\": \"{phone}\"\n  },\n  \"phoneNumberId\": \"1077d386-7bb9-45a0-b8bb-125a74c10e78\"\n}","placeholderDefinitions":{"values":[{"name":"phone","description":"o número de telefone do lead no formato correto"}]}},"type":"@n8n/n8n-nodes-langchain.toolHttpRequest","typeVersion":1.1,"position":[-592,-48],"id":"861dab68-be08-4d83-beeb-3f28bf8c09f1","name":"FazerLigacao"}],"connections":{"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"FazerLigacao":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"11985e7c-e1f8-4165-b818-3d18c65cbc13","triggerCount":1,"tags":[{"createdAt":"2025-08-17T20:25:20.348Z","updatedAt":"2025-08-17T20:25:20.348Z","id":"4Ow1tMI7iUiSTndP","name":"IARA"}]}