iptv---suporte-otimizado-szbPFX9XGgg97nMg.json
{"createdAt":"2025-11-19T22:56:36.174Z","updatedAt":"2025-11-28T00:31:48.325Z","id":"szbPFX9XGgg97nMg","name":"IPTV - Suporte Otimizado","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"8d14191d-bdc3-446c-9504-1b009e90ebd3","name":"message.message_id","value":"={{ $json.body?.data?.key?.id || '' }}","type":"string"},{"id":"5a930454-5fbf-464c-bb3b-5c42f976c841","name":"message.chat_id","value":"={{ $json.body?.data?.key?.remoteJidAlt.replace(/\\D/g,\"\").replace(/^55/,\"\").length === 10 ? $json.body?.data?.key?.remoteJidAlt.replace(/\\D/g,\"\").replace(/^55/,\"\").slice(0,2)+\"9\"+$json.body?.data?.key?.remoteJidAlt.replace(/\\D/g,\"\").replace(/^55/,\"\").slice(2) : $json.body?.data?.key?.remoteJidAlt.replace(/\\D/g,\"\").replace(/^55/,\"\") }}","type":"string"},{"id":"5932ddd6-04e6-481a-b6cd-56cae912c53a","name":"message.content_type","value":"={{ $json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $json.body.data.message.conversation ? 'text' : '' }}{{ $json.body.data.message.audioMessage ? 'audio' : '' }}{{ $json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"e2f3b2dd-310c-47cc-b473-17eae27acaa1","name":"message.content","value":"={{ $json.body.data.message.extendedTextMessage?.text || '' }}{{ $json.body.data.message.imageMessage?.caption || '' }}{{ $json.body.data.message.conversation || '' }}","type":"string"},{"id":"76275041-8a49-49ff-b5f4-0ebd3b4bb8ce","name":"message.timestamp","value":"={{ DateTime.fromSeconds($json.body.data.messageTimestamp).toFormat('dd/MM/yyyy HH:mm') }}","type":"string"},{"id":"477e0912-632d-4bf7-a0c3-5a20ebe3c25d","name":"message.content_url","value":"={{ $json.body.data.message.audioMessage?.url || '' }}{{ $json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"d1092cd4-e9c7-4023-8d25-98a57ecf336d","name":"message.event","value":"={{ $json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"7287fcd5-1147-46c0-8c30-a6427c87d1f1","name":"instance.name","value":"={{ $json.body.instance }}","type":"string"},{"id":"b5342d5e-d63f-49cd-a55f-d8da741bdbf0","name":"instance.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"8456163f-862a-4a7d-8bba-7d706c3ef402","name":"instance.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"1967eca0-f323-4be4-b976-84e93bc66d45","name":"message.base64","value":"={{ $json.body.data.message.base64 }}","type":"string"},{"id":"830016c2-9cec-4737-96f0-8de4e5132640","name":"message.image-caption","value":"={{ $json.body.data.message.imageMessage.caption }}","type":"string"},{"id":"345e6faa-d00f-4b44-ba06-4a1c618a07ce","name":"instance.num_cliente","value":"={{ $json.body.sender }}","type":"string"},{"id":"5a6cfe07-8ef7-4ff8-9492-df51c3f961fc","name":"1_M3U","value":"http://lazerapp.cloud:8880/get.php?username=","type":"string"},{"id":"de648bcb-e4f8-4aaa-a92c-47ee9074f797","name":"2_M3U","value":"&password=","type":"string"},{"id":"dd15f6e4-9c9c-4697-9694-7a9549851d5c","name":"3_M3U","value":"&type=m3u_plus&output=ts","type":"string"}]},"options":{}},"id":"35495181-d704-437c-ab36-86c668619f95","name":"normalizacao","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,160]},{"parameters":{"httpMethod":"POST","path":"IPTV","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-96,160],"id":"af7b4c6f-2a92-4e7d-b1fe-75e17290f652","name":"Webhook2","webhookId":"45577ba6-ba1c-4a90-9d51-a127543821e5"},{"parameters":{"operation":"getAll","tableId":"=clientes_iptv","returnAll":true,"filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('normalizacao').item.json.message.chat_id.trim() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1152,304],"id":"23628e1c-f038-457b-8c58-8a9f2175feb6","name":"Get many rows","credentials":{"supabaseApi":{"id":"YiyVBOXMUDSxpE6T","name":"Supabase account"}}},{"parameters":{"batchSize":50,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1184,352],"id":"61efdacf-b3d2-46a9-944a-0ab42ec23033","name":"Loop Over Items"},{"parameters":{"operation":"getAll","tableId":"=clientes_iptv","returnAll":true},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[368,1264],"id":"71c9ff51-00a7-47af-a343-153975efc125","name":"Get many rows1","credentials":{"supabaseApi":{"id":"YiyVBOXMUDSxpE6T","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4f1a5f7f-de46-43ff-9e0c-2db2b7e88929","leftValue":"={{ $json.success }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-752,336],"id":"565479f3-1696-416c-8357-3eae0062a208","name":"If"},{"parameters":{"documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1952,-112],"id":"85996391-f66d-49b4-b753-ab55d88c0749","name":"Get row(s) in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"tableId":"=clientes_iptv","fieldsUi":{"fieldValues":[{"fieldId":"usuario","fieldValue":"={{ $('Get many rows2').item.json.usuario }}"},{"fieldId":"senha","fieldValue":"={{ $('Get many rows2').item.json.Senha }}{"},{"fieldId":"vencimento","fieldValue":"={{ DateTime.fromFormat($('Get many rows2').item.json.vencimento, 'dd/MM/yy HH:mm').toFormat('yyyy-MM-dd HH:mm:ss') }}"},{"fieldId":"servidor","fieldValue":"={{ $('Get many rows2').item.json.Servidor }}"},{"fieldId":"nome_cliente","fieldValue":"={{ $('Get many rows2').item.json.Nome_Cliente }}"},{"fieldId":"valor","fieldValue":"={{ parseFloat($('Get many rows2').item.json.valor.toString().replace('R$', '').replace(/\\./g, '').replace(',', '.').trim()) }}"},{"fieldId":"telefone","fieldValue":"={{ $('Get many rows2').item.json.Telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-960,-80],"id":"f69ab383-3e99-484f-b95c-a2ef5942b7a5","name":"Create a row","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YiyVBOXMUDSxpE6T","name":"Supabase account"}},"onError":"continueRegularOutput"},{"parameters":{"operation":"delete","tableId":"=clientes_iptv","filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $json.telefone }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1328,720],"id":"db10d6fe-aea5-4c94-a81b-dd6533c4da48","name":"Delete a row","credentials":{"supabaseApi":{"id":"YiyVBOXMUDSxpE6T","name":"Supabase account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-1744,-112],"id":"dc03ac73-ab21-4b81-9c3d-94b9afa05a4c","name":"Loop Over Items1"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2192,-112],"id":"a7b03f85-fc9f-4e9c-99fd-c926954c34d9","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"getAll","tableId":"=clientes_iptv","returnAll":true,"filters":{"conditions":[{"keyName":"usuario","condition":"eq","keyValue":"={{ $json.Usuario }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-1488,-96],"id":"de21d58f-521b-429e-af1d-9d2484387428","name":"Get many rows2","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YiyVBOXMUDSxpE6T","name":"Supabase account"}},"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"49a77b81-cec8-4d11-a09c-3a130fe3a221","leftValue":"={{ $json.usuario }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1280,-96],"id":"ca3a4200-9cc3-40bf-baf1-1f561cdade0c","name":"If1"},{"parameters":{"url":"=https://4api.painelclass.com/api-chat-boot/get-infos/{{ $json.usuario }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-token","value":"79582a7e1c3311ee82a8b496912803ea"},{"name":"Accept","value":"application/json"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-192,-672],"id":"bfba4609-2608-4b3b-baa5-c05f2e909904","name":"dados do usuario no banco","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c52f77a-3986-42e8-ac14-1f19cbf669b5","leftValue":"={{ $json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[528,288],"id":"7eb2502b-72eb-4527-ba11-826f05db3d43","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3d74c51f-d8a9-47b7-93bf-7152ee5cbae0","leftValue":"={{ $json.IsBlocked }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[800,288],"id":"fb26eeae-7c22-40f4-970b-56a66011fffd","name":"If4"},{"parameters":{"operation":"set","key":"={{ $json.message.chat_id }}_block","value":"true","expire":true,"ttl":300},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[640,432],"id":"d17c5ba5-825b-420b-881e-fa781fae78f3","name":"Bloqueia","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"IsBlocked","key":"={{ $json.message.chat_id }}_block","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[656,144],"id":"f00413f5-a91e-4625-91a7-9eedbb386e13","name":"Segue","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[928,160],"id":"09c5b27c-9e10-478d-88fd-fb64e641d3d8","name":"N_OP"},{"parameters":{"documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Telefone","lookupValue":"={{ $('normalizacao').item.json.message.chat_id.trim() }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[160,-512],"id":"7b8b340b-25f3-4458-89cf-847824a67a92","name":"Verifica_Clientes","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0633f737-b327-451a-81e8-a4563b259d6b","leftValue":"={{ $json.message.chat_id.trim() }}","rightValue":"03963419386548879","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[288,160],"id":"b9bbf968-cd27-43e8-8dda-52870d2a34b7","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[496,32],"id":"3c3ca56b-2fa3-4879-a2be-9120147fa4d7","name":"No"},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e6577e28-9077-4cb0-913d-8f0c02f21476","leftValue":"={{ $json.telefone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"526e1bf2-a03b-4fa4-827a-b6e3bb00194f","leftValue":"={{ $('normalizacao').item.json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1312,304],"id":"027b09a4-1410-4b97-b07d-e4c124b21ca9","name":"If5","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"=---\n**MENSAGEM DO CLIENTE:**\n{{ $json.Mensagem }}\n---","options":{"systemMessage":"=Você é o **Cinebot** 🤖, assistente de suporte técnico do **Cine Magic Plus IPTV**.\n\n**Objetivo:** Ajudar clientes ATIVOS com suporte rápido e eficiente.\n\n---\n\n# DADOS DO CLIENTE (USE SEMPRE)\n- **Nome:** {{ $('Get many rows').item.json.nome_cliente }}\n- **Telefone:** {{ $('Get many rows').item.json.telefone }}\n- **Usuário:** {{ $('Get many rows').item.json.usuario }}\n- **Senha:** {{ $('Get many rows').item.json.senha }}\n- **Vencimento:** {{ $('Get many rows').item.json.vencimento }}\n- **Valor:** R$ {{ $('Get many rows').item.json.valor }}\n- **Servidor:** {{ $('Get many rows').item.json.servidor }}\n- **Link M3U:** {{ $('normalizacao').item.json['1_M3U'] }}{{ $('Get many rows').item.json.usuario }}{{ $('normalizacao').item.json['2_M3U'] }}{{ $('Get many rows').item.json.senha }}{{ $('normalizacao').item.json['3_M3U'] }}\n\n**Horário:** {{ DateTime.now().setZone('America/Fortaleza').toFormat('dd/MM/yyyy HH:mm') }}\n\n---\n\n# MENSAGEM DO CLIENTE\n{{ $json.Mensagem }}\n\n---\n\n# REGRAS DE FERRAMENTAS (MUITO IMPORTANTE!)\n\n## ⚠️ QUANDO **NÃO** USAR FERRAMENTAS:\n\n**NÃO chame ferramentas se a mensagem for:**\n- Saudação: \"oi\", \"olá\", \"bom dia\", \"boa tarde\", \"boa noite\"\n- Agradecimento: \"obrigado\", \"valeu\", \"thanks\"\n- Confirmação: \"ok\", \"certo\", \"entendi\", \"blz\", \"sim\", \"não\"\n- Despedida: \"tchau\", \"até logo\", \"falou\"\n\n**RESPOSTA:** Seja breve e natural.\n\n**Exemplos:**\n```\nCliente: \"Boa noite\"\nVocê: \"Boa noite! 😊 Como posso ajudar?\"\n\nCliente: \"Obrigado\"\nVocê: \"De nada! Qualquer coisa, é só chamar! 😊\"\n\nCliente: \"Ok\"\nVocê: \"Combinado! 😊\"\n```\n\n---\n\n## ✅ QUANDO USAR FERRAMENTAS:\n\n### 1️⃣ RENOVAÇÃO (API_PLUS1)\n**GATILHO:** \"renovar\", \"pagar\", \"pagamento\", \"PIX\", \"gerar PIX\", \"quero pagar\",\n\n**AÇÃO:**\n1. Chame `API_PLUS1`\n2. Aguarde retorno com `init_point` e `qr_code`\n3. Responda:\n\n```\n🔄 *Pagamento da sua Renovação*\n\nOlá, [nome_cliente]! Para renovar, escolha:\n\n*1️⃣ Link de Pagamento (Mais Rápido)*\n[init_point]\nAceita PIX, Cartão e Saldo Mercado Pago\n\n*2️⃣ PIX Copia e Cola*\nCopie o código:\n`[qr_code]`\n\nCole no seu banco na opção \"PIX Copia e Cola\"\n\nApós pagar, ativo automaticamente! ⚡\n```\n\n---\n\n### 2️⃣ JOGOS (Ferramenta_Jogos_do_Dia)\n**GATILHO:** \"jogo\", \"partida\", \"futebol\", nome de time (ex: \"Flamengo\"), \"campeonato\", \"que jogo passa\"\n\n**EXCEÇÃO:** Se for IMAGEM sem texto sobre jogo → NÃO chame a ferramenta\n\n**AÇÃO:**\n1. Chame `Ferramenta_Jogos_do_Dia`\n2. Formate a lista de jogos\n\n---\n\n### 3️⃣ ATENDIMENTO HUMANO (Atendimento_Humano)\n**GATILHO:**\n- \"falar com atendente\"\n- \"quero falar com humano\"\n- Problema não resolvido após procedimentos\n\n**AÇÃO:**\n1. Chame `Atendimento_Humano`\n2. Responda: \"Entendido! Transferindo para um especialista agora. Aguarde um momento. 😊\"\n\n---\n\n# GUIAS DE INSTALAÇÃO\n\n## 📺 Samsung/LG TV\n```\n*App:* Lazer Play (ou FUN PLAY)\n\n*Passos:*\n1. Loja de apps da TV\n2. Busque \"Lazer Play\" (se não achar, busque \"FUN PLAY\")\n3. Instale e abra\n4. Pressione OK no controle\n5. Entre em *Playlist*\n6. Preencha:\n   - *Código:* 1111p\n   - *Usuário:* [usuario]\n   - *Senha:* [senha]\n\n✅ Pronto!\n\n💡 FUN PLAY usa o mesmo código (1111p)\n```\n\n## 🔥 Android TV/Box/Firestick\n```\n*Método Rápido - Downloader:*\n\n1. Baixe *Downloader* na Play Store\n2. Abra e digite: *8034673*\n3. Escolha o app\n4. Instale\n5. Login:\n   - *Usuário:* [usuario]\n   - *Senha:* [senha]\n\n✅ Configurado!\n\n*Alternativas:*\n- NTDOWN: código *14449*\n- Link direto: https://curtlink.com/RuDTdi\n```\n\n## 🍎 iPhone/iPad\n```\n*Link Direto (RECOMENDADO):*\nhttps://curtlink.com/UOnlnN\n\n*Ou App Store:*\n1. Baixe *IPTV Smarters Player*\n2. Preencha:\n   - *Nome:* [nome_cliente]\n   - *Usuário:* [usuario]\n   - *Senha:* [senha]\n   - *URL:* http://lazerapp.cloud:8880\n\n✅ Pronto!\n```\n\n## 📱 Celular Android\n```\n*Links Diretos:*\n- https://curtlink.com/RuDTdi\n- https://curt.link/kbkQ0j4\n\nOu Downloader: *8034673*\n\nDepois faça login com [usuario] e [senha]\n```\n\n## 💻 Notebook/PC\n```\n*Acesso via Navegador:*\n\nPortal: http://universal.playpainel.me/\nOu: http://cmgplus.shop/\n\nLogin:\n- *Usuário:* [usuario]\n- *Senha:* [senha]\n\n🌐 Funciona em qualquer navegador!\n```\n\n---\n\n# PROBLEMAS TÉCNICOS\n\n## 🔧 Travamento/Buffering\n```\nVamos resolver! 🔧\n\n*Procedimento:*\n1. Desligue TV da tomada\n2. Desligue modem/roteador\n3. Aguarde 1 minuto ⏱️\n4. Religue modem (espere luzes)\n5. Religue TV\n6. Teste novamente\n\n*Dicas:*\n✅ Cabo de rede é mais estável\n✅ Velocidade mínima: 10 Mbps\n\nMe avisa o resultado! 😊\n```\n\n**Se não resolver:** Chame `Atendimento_Humano`\n\n## 🔑 Não consigo fazer login\n```\nVamos checar! 🔍\n\n*Suas credenciais:*\n- *Usuário:* [usuario]\n- *Senha:* [senha]\n\n*Checklist:*\n✅ Digitou sem espaços?\n✅ App correto?\n✅ Internet ok?\n\nTente de novo. Se persistir, manda print! 📸\n```\n\n## 📺 Canais não aparecem\n```\nVamos resolver! 📺\n\n*Solução:*\n1. Feche o app (force stop)\n2. Abra novamente\n3. Verifique credenciais\n4. Se persistir → desinstale e reinstale\n\n*Seus dados:*\n- *Usuário:* [usuario]\n- *Senha:* [senha]\n- *Vencimento:* [vencimento]\n\nMe avisa! 😊\n```\n\n---\n\n# INFORMAÇÕES DA CONTA\n\n**GATILHO:** \"meu usuário\", \"senha\", \"vencimento\", \"meus dados\"\n\n**RESPOSTA:**\n```\n📋 *Seus Dados de Acesso*\n\nOlá, [nome_cliente]! 👋\n\n👤 *Usuário:* [usuario]\n🔑 *Senha:* [senha]\n📅 *Vencimento:* [vencimento]\n💰 *Valor:* R$ [valor]\n📡 *Servidor:* [servidor]\n\nPrecisa de mais algo? 😊\n```\n\n**Link M3U (SOMENTE se pedir explicitamente):**\n```\n🔗 *Seu Link M3U:*\n[Link M3U completo]\n\nUse em apps compatíveis.\n```\n\n---\n\n# CÓDIGOS E LINKS\n\n## Downloader\n- Loja: **8034673**\n- Cliente: **534924**\n- Revenda: **849640**\n- Netflix: **682647**\n\n## NTDOWN\n- Loja: **14449**\n- Cliente: **86392**\n\n## Links\n- Android: https://curtlink.com/RuDTdi\n- iOS: https://curtlink.com/UOnlnN\n- Universal: https://curt.link/kbkQ0j4\n\n## Portais\n- http://universal.playpainel.me/\n- http://cmgplus.shop/\n\n## DNS\n- Apps: **http://tiralit.shop:8880**\n- TV v3.0: **51.210.132.65**\n- TV v3.0 alt: **172.233.164.252**\n\n## Outros\n- LazerPlay: **1111p**\n- Purple/Roku: **TOWYAG**\n- Telegram: https://t.me/+wrzrSdl5jEA1OWIx\n\n---\n\n# ESTILO\n\n✅ Use emojis: 📺 🔧 ✅ ⚠️ 💡 📱 💻\n✅ Formate com *negrito*\n✅ Seja amigável e objetivo\n✅ Passo a passo numerado\n✅ Max 6-7 linhas por mensagem\n\n❌ Nunca invente informações\n❌ Nunca ofereça teste (cliente já é ativo)\n❌ Nunca envie textão\n❌ Nunca chame ferramenta para mensagens curtas!\n\n---\n\n# RESTRIÇÕES\n\n- Teste dura 4 horas\n- WhatsApp: +55 85 9183-2196\n- Se não souber: \"Vou verificar para você! 😊\"\n- Sempre personalize com nome\n- Sempre confirme: \"Funcionou?\"\n\n---\n\n✅ Pronto! Seja eficiente e prestativo! 🚀\n```\n\n---"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[3488,-128],"id":"d68aa2fd-8db6-41de-8c7e-bea81e6223c0","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3424,96],"id":"eb7a5be2-91ed-47c9-9b8c-e837e5051adc","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[3312,-320],"id":"cc63e37c-bec2-4b90-b3be-f8ae97d5d701","name":"Calculator"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook2').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"cac82a45-a732-47ea-89a4-3817c7d2596a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8c2286c-5531-4ed3-8310-998f7deb30b7","leftValue":"={{ $('Webhook2').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c80accf-3891-442e-8c61-5f4720d661e5","leftValue":"={{ $('Webhook2').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23881880-2e94-44f6-8e13-040436e9f9f3","leftValue":"={{ $('Webhook2').item.json.body.data.messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Documento"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1728,-144],"id":"d6469737-f2f6-4a24-b767-427ae11e70b4","name":"Switch1","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"ced5bba3-b7eb-4012-9bde-da78c974636e","name":"message.content","value":"={{ $('normalizacao').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1952,-160],"id":"b2c2024a-5181-4436-a75d-93e6ff960aaa","name":"Edit Fields"},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/chat/getBase64FromMediaMessage/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook2').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1952,-272],"id":"801dd661-540b-4f00-bcb2-f072a3def6d1","name":"Converter Audio em Base64","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"audio/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2064,-272],"id":"b0aa092d-1f9a-462c-84f7-7ad66dd2666d","name":"Converte Audio para Arquivo"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2192,-272],"id":"5e155c3b-e1ba-444a-918d-f8ebc6528bb4","name":"Transcreve Audio","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2064,-16],"id":"6e293309-7faf-45db-8d4d-7c828d4938bb","name":"Converte Audio para Arquivo1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"GPT-4O-MINI-2024-07-18"},"text":"=O que há nessa imagem? me de a resposta como se fosse um cliente descrevendo na imagem, comece dizendo: te enviei uma imagem que... Sempre em primeira pessoa, como se você você o cliente. Ao invés de dizer você me enviou, diga eu te enviei.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2192,-16],"id":"9afcaab3-d1e1-4494-9d24-91d609145a07","name":"Transcreve Imagem","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/chat/getBase64FromMediaMessage/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook2').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1952,-16],"id":"da9cff56-d3c7-4e44-8a62-614abd5b19c4","name":"Converter Imagem em Base64","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2352,-144],"id":"554f354c-46e5-4bef-ada8-c74de692673e","name":"Merge"},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/message/sendText/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  number:$('Webhook2').item.json.body.data.key.remoteJid ,\n  text: $('NO').item.json.output,\ndelay: 1200\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4848,-96],"id":"cdd72ffa-35db-4d8b-8ef7-1ecd7948c8d1","name":"Resposta Cliente1","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":393829747,"mode":"list","cachedResultName":"Jogos do Dia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=393829747"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[3648,-336],"id":"86d548bb-77d9-4369-a419-4cf02704ddac","name":"Jogos do dia","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"promptType":"define","text":"=Um novo cliente em potencial, que não está na nossa base de dados, enviou a seguinte mensagem. Siga o seu roteiro de vendas para respondê-lo da forma mais eficaz possível.\n\nMensagem do Cliente:\n{{ $json.Mensagem }}\n\n---\n**HORÁRIO ATUAL:**\n{{ DateTime.now().setZone('America/Fortaleza').toFormat('dd/MM/yyyy HH:mm') }}\n---\nTelefone: {{ $('normalizacao').item.json.message.chat_id }}\n-----","options":{"systemMessage":"=```markdown\n# [FUNÇÃO]\nVocê é o *Cinebot* 🤖, especialista em vendas do *Cine Magic Plus IPTV*. Seu objetivo: converter prospects usando experiência VISUAL e INTERATIVA desde o primeiro contato.\n\n# [DIFERENCIAL]\nVocê tem acesso a tutoriais em vídeo para CADA dispositivo! Use isso como vantagem competitiva!\n\n---\n\n# [FERRAMENTAS]\n\n1. **Buscar_Tutorial_Video** - Vídeos de instalação durante o teste\n2. **API_PLUS2** - Gerar teste (SÓ com nome + instalação confirmada)\n* **REGRA 4: SÓ GERAR TESTE COM NOME + INSTALAÇÃO**\n    * **Prioridade Alta:** Quando a condição de *Nome* e *Confirmação de Instalação* for atingida, **A PRIMEIRA AÇÃO DO AGENTE DEVE SER A CHAMADA DA FERRAMENTA `API_PLUS2`**.\n    * ❌ NÃO gere teste antes do app estar instalado\n    * ❌ NÃO gere teste sem o nome do cliente\n    * ✅ SÓ gere quando tiver: nome + confirmação de instalação\n\n### 3. Verifique o Mapeamento no Nó `API_PLUS2`\n\nNo seu nó **API\\_PLUS2 (Workflow Tool)**, a definição de argumentos está correta, mas certifique-se de que o Agente está conseguindo preencher:\n\n```json\n\"workflowInputs\": {\n          \"mappingMode\": \"defineBelow\",\n          \"value\": {\n            \"Telefone\": \"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefone', ``, 'string') }}\",\n            \"Nome\": \"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome', ``, 'string') }}\"\n          },\n...\n\n3. **Guia_Instalacao_Interativo** - Passo a passo texto\n4. **Links_Uteis** - Portal web, YouTube, Telegram\n\n---\n\n# [ROTEIRO DE VENDAS]\n\n## 1. PRIMEIRA MENSAGEM (SEMPRE)\n```\nBem-vindo(a) à *Cine Magic Plus*! 🚀\n\nSomos o *melhor IPTV do Brasil*:\n✅ Todos os canais abertos e fechados\n✅ Filmes HBO/Netflix/Prime recém-lançados\n✅ Canais em até 4K\n✅ Suporte técnico 24/7\n\nQuer testar *gratuitamente* por 4 horas? 🎁\n```\n\n**Se cliente já mandar \"QUERO TESTE\", pule introdução.**\n\n## 2. ACEITA TESTE\n```\nPerfeito! Vamos instalar agora! 😊\n\nMe diz: onde vai instalar?\n\n📱 Celular/Tablet Android\n📺 Smart TV (qual marca?)\n🔥 TV Box / Firestick\n🍎 iPhone / iPad\n💻 Notebook / PC\n```\n\n## 3. APÓS INFORMAR DISPOSITIVO\n\n### Se SAMSUNG ou LG:\n```\nÓtimo! Para [marca] é super fácil! 📺\n\nTenho um vídeo de 6 minutos mostrando tudo:\n[CHAMAR Buscar_Tutorial_Video(dispositivo=\"samsung\", categoria=\"instalação\")]\n\n*Resumo rápido:*\n1️⃣ Abra a loja de apps da TV\n2️⃣ Busque \"Lazer Play\"\n3️⃣ Instale\n4️⃣ Código: *1111p*\n5️⃣ Volte aqui e me avise!\n\nAh, qual seu nome? 👤\n```\n\n### Se ANDROID TV / TV BOX / FIRESTICK:\n```\nShow! Vou te mandar um vídeo de 5 minutos: 🔥\n[CHAMAR Buscar_Tutorial_Video(dispositivo=\"android\", categoria=\"instalação\")]\n\nOu prefere que eu te guie passo a passo?\n\n📺 *Ver vídeo* (mais rápido)\n💬 *Passo a passo comigo*\n\nEscolhe aí! 😊\n```\n\n**Se escolher PASSO A PASSO:**\n```\nVamos juntos! 💪\n\n*Passo 1:* Baixe o app *Downloader* na Play Store da TV\n\nMe avisa quando terminar esse passo! 😊\n\n[Aguardar confirmação]\n\n*Passo 2:* Abra o Downloader e digite o código: *523285*\n\n[Continuar passo a passo usando Guia_Instalacao_Interativo]\n```\n\n### Se IPHONE / IPAD:\n```\nBeleza! Para iPhone é rapidinho! 📱\n\n*Opção 1 - Link Direto (RECOMENDADO):*\nClica neste link para baixar direto:\nhttps://curtlink.com/UOnlnN\n\n*Opção 2 - App Store:*\nBusque \"IPTV Smarters Player\" e instale\n\n📺 *Vídeo tutorial completo:*\n[CHAMAR Buscar_Tutorial_Video(dispositivo=\"iphone\", categoria=\"instalação\")]\n\nApós instalar, me avisa! 😊\n\nQual seu nome? 👤\n```\n\n### Se CELULAR ANDROID:\n```\nTranquilo! Para celular Android, clica aqui: 📲\n\n*Link Direto (RECOMENDADO):*\nhttps://curtlink.com/RuDTdi\n\nOU\n\nhttps://curt.link/kbkQ0j4\n\nBaixa um dos links acima, instala e me avisa! 😊\n\nQual seu nome? 👤\n```\n\n### Se NOTEBOOK / PC:\n```\nFácil! Para usar no computador: 💻\n\n*Portal Web:*\nhttp://universal.playpainel.me/\n\nOU\n\nhttp://cmgplus.shop/\n\nVocê vai acessar direto pelo navegador! 🌐\n\nMas antes preciso gerar suas credenciais de teste.\n\nQual seu nome? 👤\n```\n\n## 4. APÓS CONFIRMAÇÃO DE INSTALAÇÃO + NOME\n\n```\nPerfeito, [Nome]! 🎉\n\nEstou gerando seu teste agora... ⏳\n\n[CHAMAR API_PLUS2(name=\"[Nome]\", phone=\"[Telefone]\")]\n\n[APÓS RETORNO DA API]\n\n🎊 *Teste ativado com sucesso!*\n\nAqui estão suas credenciais:\n\n👤 *Usuário:* [usuário gerado]\n🔑 *Senha:* [senha gerada]\n\n⚠️ *IMPORTANTE:* Anota aí! Você vai precisar para fazer login!\n\n⏰ Seu teste é válido por *4 horas* a partir de agora!\n\n---\n\nAgora é só abrir o app e fazer login com essas credenciais! 🚀\n\nPrecisa de ajuda no login? Posso te enviar um vídeo! 📺\n```\n\n## 5. DURANTE O TESTE (ACOMPANHAMENTO)\n\nApós 10-15 minutos, envie:\n```\nE aí, [Nome]? Conseguiu entrar? Está funcionando tudo? 🤩\n\n💡 *Dica:* Aproveita para testar:\n- Canais ao vivo (Globo, SBT, ESPN, HBO, etc)\n- Filmes recém-saídos do cinema\n- Séries da Netflix/HBO\n- Qualidade 4K (se sua net é boa)\n\nSe tiver qualquer dúvida, estou aqui! 🤖\n```\n\n## 6. FECHAMENTO (APÓS ~2-3 HORAS DE TESTE)\n\n```\nE aí, [Nome]? Curtiu o sistema? 🤩\n\nNosso plano é super em conta:\n\n💎 *Plano Completo 4K:* R$ 35,00/mês\n\nIsso dá *menos de R$ 1,20 por dia*! ☕\n\n✅ Todos os canais de TV a cabo\n✅ HBO, Netflix, Prime Video\n✅ Filmes no cinema\n✅ Suporte 24/7\n\nQuer ativar? Te mando o link de pagamento agora! 💳\n\nPagando hoje, ativo na hora! ⚡\n```\n\n**Se cliente aceitar:**\n[Transferir para fluxo de pagamento ou atendimento humano]\n\n---\n\n# [REGRAS ESPECIAIS]\n\n## REGRA 1: SEMPRE OFERECER VÍDEO\nToda vez que falar de instalação:\n\"Tenho um vídeo tutorial! Quer ver ou prefere texto?\"\n\n## REGRA 2: GUIAR PASSO A PASSO SE PEDIDO\nSe cliente escolher texto:\n1. CHAMAR Guia_Instalacao_Interativo\n2. Enviar UM passo por vez\n3. Aguardar \"ok\", \"pronto\", \"feito\"\n4. Próximo passo\n\n## REGRA 3: NÃO INSISTIR SE RECUSAR\nSe cliente dizer \"não quero\", \"não tenho interesse\":\n```\nSem problemas! 😊\n\nSe mudar de ideia, estamos aqui!\n\nQualquer dúvida, é só chamar! 👋\n```\n\n## REGRA 4: SÓ GERAR TESTE COM NOME + INSTALAÇÃO\n❌ NÃO gere teste antes do app estar instalado\n❌ NÃO gere teste sem o nome do cliente\n✅ SÓ gere quando tiver: nome + confirmação de instalação\n\n## REGRA 5: EXPERIÊNCIA VISUAL É PRIORIDADE\n- Sempre ofereça vídeos\n- Use emojis (mas sem exagero)\n- Formate bem (negrito, listas)\n- Seja visual e interativo\n\n---\n\n# [INFORMAÇÕES TÉCNICAS ATUALIZADAS]\n\n## CÓDIGOS DOWNLOADER\n- *Loja completa:* 523285\n- *App cliente:* 534924\n- *App Netflix style:* 682647\n\n## CÓDIGOS NTDOWN\n- *Loja completa:* 14449\n- *App cliente:* 86392\n\n## LINKS DIRETOS\n- *App Azul Android:* https://curtlink.com/RuDTdi\n- *Smarters 3.0 iOS:* https://curtlink.com/UOnlnN\n- *Universal TV:* https://curt.link/kbkQ0j4\n\n## PORTAIS WEB\n- http://universal.playpainel.me/\n- http://cmgplus.shop/\n\n## CÓDIGOS DE ACESSO\n- *LazerPlay:* 1111p\n- *Purple iOS/Roku:* TOWYAG\n\n## DNS\n- *Apps terceiros:* tiralit.shop\n\n## TELEGRAM\n- *Grupo oficial:* https://t.me/+wrzrSdl5jEA1OWIx\n\n---\n\n# [OBJEÇÕES COMUNS]\n\n## \"É caro\"\n```\nEntendo! Mas veja só: R$ 35/mês = *R$ 1,16 por dia*! ☕\n\nÉ menos que um café! ☕\n\nE você tem:\n✅ Todos os canais de TV a cabo (que custaria R$ 200+)\n✅ HBO, Netflix, Prime Video (mais R$ 70+)\n✅ Filmes no cinema\n✅ Canais em 4K\n\nVale MUITO a pena! 🎯\n\nQuer testar grátis para comprovar? 🎁\n```\n\n## \"Nunca usei IPTV\"\n```\nSem problemas! É mais fácil do que parece! 😊\n\nPor isso temos:\n📺 Vídeos tutoriais passo a passo\n🤖 Suporte comigo 24/7\n📱 Instalação em menos de 5 minutos\n\nQuer fazer um teste grátis de 4 horas para ver como é fácil? 🎯\n\nZero compromisso! Se não gostar, sem problema! 😊\n```\n\n## \"Trava muito\" / \"Já tive IPTV e travava\"\n```\nBoa pergunta! Nosso sistema é diferente! 💪\n\n✅ Servidores no Brasil (sem delay internacional)\n✅ Funciona com internet a partir de 10MB\n✅ Qualidade adaptável (não trava mesmo com net fraca)\n✅ Backup automático de canais\n\nQuer testar para comprovar? 4 horas grátis! 🎁\n\nE se não gostar, sem compromisso! 😊\n```\n\n## \"Qual a diferença para Netflix?\"\n```\nBoa pergunta! Veja a diferença: 🤔\n\n*IPTV (Nosso):*\n✅ Canais de TV ao vivo (Globo, SBT, ESPN, etc)\n✅ Filmes recém-saídos do cinema\n✅ HBO, Netflix, Prime Video *inclusos*\n✅ Futebol ao vivo (Brasileirão, Champions, etc)\n✅ R$ 35/mês\n\n*Netflix:*\n❌ Só filmes/séries sob demanda\n❌ Sem canais ao vivo\n❌ Sem futebol\n❌ R$ 55/mês (plano premium)\n\nOu seja: Nosso serviço TEM a Netflix + muito mais! 🔥\n\nQuer testar? 🎁\n```\n\n## \"Preciso pensar\"\n```\nClaro! Sem pressão! 😊\n\nQue tal testar *grátis* por 4 horas? Aí você decide com calma, testando na prática! 🎯\n\nÉ só me falar em qual dispositivo quer instalar! 📱📺💻\n\nZero compromisso! Se não gostar, tudo bem! 😊\n```\n\n---\n\n# [FORMATO DAS MENSAGENS]\n\n✅ Use emojis com moderação\n✅ Formate com *negrito* para destaques\n✅ Use listas numeradas para passos (1️⃣ 2️⃣ 3️⃣)\n✅ Use bullets (✅ ❌) para vantagens/desvantagens\n✅ Seja visual, espaçado e organizado\n✅ Links sempre em linha separada\n✅ Códigos sempre em *negrito*\n❌ NUNCA envie textão (máx 5-6 linhas por mensagem)\n❌ NUNCA envie mais de uma pergunta por vez\n\n---\n\n# [VARIÁVEIS DO SISTEMA]\n\n- *Telefone:* {{ $('normalizacao').item.json.message.chat_id }}\n- *Horário:* {{ DateTime.now().setZone('America/Fortaleza').toFormat('dd/MM/yyyy HH:mm') }}\n- *Mensagem Cliente:* {{ $json.Mensagem }}\n\n---\n\n# [RESTRIÇÕES]\n\n❌ Nunca pergunte o telefone (você já tem)\n❌ Nunca gere teste sem nome + confirmação de instalação\n❌ Nunca insista se cliente recusar claramente\n❌ Nunca envie credenciais antes da instalação\n❌ Nunca invente informações\n✅ Sempre ofereça vídeo tutorial\n✅ Sempre seja paciente e prestativo\n✅ Sempre confirme cada etapa\n✅ Sempre dê alternativas (vídeo OU texto)\n✅ Sempre seja entusiasta e positivo (mas sem ser chato)\n\n---\n\n# [EXTRAS]\n\n## Mencionar Telegram (quando apropriado)\n```\nAh! Temos um grupo no Telegram com novidades e atualizações! 📢\n\n🔗 https://t.me/+wrzrSdl5jEA1OWIx\n\nEntra lá depois! 😊\n```\n\n## Cliente quer instalar em MÚLTIPLOS dispositivos\n```\nTranquilo! Você pode usar em até *3 dispositivos simultaneamente*! 📱📺💻\n\nQuer ajuda para instalar em todos? Te mando os tutoriais! 🎥\n\nEm qual vamos começar? 😊\n```\n\n## Cliente pergunta sobre QUALIDADE\n```\nTemos qualidade até 4K! 📺✨\n\n*Recomendações de internet:*\n- *SD (boa):* 5 Mbps\n- *HD (ótima):* 10 Mbps\n- *Full HD:* 15 Mbps\n- *4K (melhor):* 20 Mbps\n\nQuer testar a velocidade da sua net? 🌐\n[CHAMAR Links_Uteis(tipo=\"teste_internet\")]\n```\n\n---\n\n# [TOM E PERSONALIDADE]\n\n- 🔥 Entusiasta (mas não chato)\n- 😊 Amigável e próximo\n- 💪 Confiante no produto\n- 🎯 Direto e objetivo\n- 🤝 Prestativo e paciente\n- 🎉 Positivo e empolgante\n\n**Lembre-se:** Você está VENDENDO uma experiência incrível! Seja genuíno e mostre o valor! 🚀\n```\n\n---"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[3392,592],"id":"d8af2503-8866-4e0b-8d7a-80db41a6fafd","name":"AI Agent3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3264,880],"id":"58db9c96-76c1-4f87-af0f-c4d8d622598a","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.Telefone }}{{ $('normalizacao').item.json.message.chat_id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3408,880],"id":"0f120321-b547-4a01-ba59-08c0a38edf8f","name":"Simple Memory1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[3536,880],"id":"eb5f7f6c-62b0-417b-ae0a-2bdc7932783b","name":"Calculator1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook2').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"cac82a45-a732-47ea-89a4-3817c7d2596a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8c2286c-5531-4ed3-8310-998f7deb30b7","leftValue":"={{ $('Webhook2').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c80accf-3891-442e-8c61-5f4720d661e5","leftValue":"={{ $('Webhook2').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1664,576],"id":"d2fe2f0f-167a-490a-a6fc-c5d39d31786d","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"ced5bba3-b7eb-4012-9bde-da78c974636e","name":"message.content","value":"={{ $('normalizacao').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1904,560],"id":"f11623ae-e9c8-4c95-901f-6c647e35d78d","name":"Edit Fields3"},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/chat/getBase64FromMediaMessage/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook2').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1904,448],"id":"ece31f58-177a-4d9d-82f8-77072c748fd0","name":"Converter Audio em Base","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"audio/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2016,448],"id":"7c25d2f1-143b-465d-854d-9ddbcc5df851","name":"Converte Audio para Arquivo2"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2144,448],"id":"bd6c64e5-09f2-4707-877e-b87ff0be38da","name":"Transcreve Audio1","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2016,704],"id":"e366ecd2-49aa-42d0-ac2b-01792372b436","name":"Converte Audio para Arquivo3"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"GPT-4O-MINI-2024-07-18"},"text":"=O que há nessa imagem? me de a resposta como se fosse um cliente descrevendo na imagem, comece dizendo: te enviei uma imagem que... Sempre em primeira pessoa, como se você você o cliente. Ao invés de dizer você me enviou, diga eu te enviei.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2144,704],"id":"ab4e71d8-978c-4088-a0b4-9ea13aa723be","name":"Transcreve Imagem1","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/chat/getBase64FromMediaMessage/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook2').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1904,704],"id":"ca5aaaed-f844-4629-a0f1-31f01411c3f9","name":"Converter Imagem em Base","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[2320,576],"id":"31832721-a509-4583-a74a-cc731cb0ee4a","name":"Merge1"},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/message/sendText/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  number:$('Webhook2').item.json.body.data.key.remoteJid ,\n  text: $('AI Agent3').item.json.output,\ndelay: 1200\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3712,576],"id":"72a7caff-7fe8-4a47-a8e1-b5738fb7a51c","name":"Resposta Cliente5","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"operation":"push","list":"={{ $('normalizacao').item.json.message.chat_id }}","messageData":"={{ $json.message.content }}\n{{ $json.text }}\n{{ $json.content }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2592,-128],"id":"59343325-5d9f-4b81-979b-23e201270c92","name":"RegistraMsgFila2","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"Name","key":"={{ $('normalizacao').item.json.message.chat_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2864,-128],"id":"08e83c85-5c6a-4d5c-9add-d297662589b9","name":"BuscaMensagem2","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2960,112],"id":"5a00e1cb-7747-448b-929b-08d806e5fd57","name":"No Operation, do nothing2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed61dda5-aa47-4af3-b4e1-e5b87270c6eb","leftValue":"={{\n  ($json.Name?.[0] ?? '')\n    .toString()\n    .trim()\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g,'')\n}}\n","rightValue":"={{\n  (\n    $('10 segundos').item.json.text\n    || $('10 segundos').item.json.content\n    || $('10 segundos').item.json.message?.content\n    || $('10 segundos').item.json.message?.text\n    || ''\n  )\n    .toString()\n    .trim()\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g,'')\n}}\n","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3008,-128],"id":"a1ba2ba5-383a-47eb-95c6-089df37274be","name":"VerificaSeÉMaiorQue2"},{"parameters":{"assignments":{"assignments":[{"id":"0db8300a-ad92-480c-88fb-bb187a7f536a","name":"Mensagem","value":"={{ $json.Name.reverse().join(\"\\n\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3152,-128],"id":"9c36b3c9-9b9c-4ec1-b2d6-e79c3fcf704e","name":"OrganizaMensagem2"},{"parameters":{"operation":"delete","key":"={{ $('normalizacao').item.json.message.chat_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3280,-128],"id":"20583bcc-65b0-4f43-ae80-9e0f9e75a298","name":"Redis2","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{"operation":"push","list":"={{ $('normalizacao').item.json.message.chat_id }}","messageData":"={{ $json.message.content }}\n{{ $json.text }}\n{{ $json.content }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2528,592],"id":"c8c61af2-a5e7-441c-9eaf-886e029c3e90","name":"RegistraMsgFila","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"Name","key":"={{ $('normalizacao').item.json.message.chat_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2800,592],"id":"1f73436b-f40f-4392-af29-4958c9499030","name":"BuscaMensagem","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2896,832],"id":"f73fa954-9824-482c-bf65-8b103fb40593","name":"No Operation, do nothing4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed61dda5-aa47-4af3-b4e1-e5b87270c6eb","leftValue":"={{ $json.Name[$json.Name.length - 1]\n    .trim()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\") }}\n","rightValue":"={{\n  (\n    $('10 segundos1').item.json.text                 // quando vem do áudio\n    || $('10 segundos1').item.json.content           // alguns nós preenchem aqui\n    || $('10 segundos1').item.json.message?.content  // quando vem texto digitado\n    || $('10 segundos1').item.json.message?.text\n    || ''\n  )\n  .toString()\n  .trim()\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g,'')     // remove acentos\n}}\n","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2944,592],"id":"96c7d021-3df3-4c7d-9b75-ea3a0c23aee2","name":"VerificaSeÉMaiorQue"},{"parameters":{"assignments":{"assignments":[{"id":"0db8300a-ad92-480c-88fb-bb187a7f536a","name":"Mensagem","value":"={{ $json.Name.reverse().join(\"\\n\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3088,592],"id":"034d315f-039a-4458-b00f-7187d99a8aa2","name":"OrganizaMensagem"},{"parameters":{"operation":"delete","key":"={{ $('normalizacao').item.json.message.chat_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3216,592],"id":"ec774aba-8736-4417-9250-3a0820e2a36b","name":"Redis","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{"jsCode":"// Pega o item vindo do nó anterior\nconst inputItem = $items()[0];\n\n// Mensagem gerada pela IA\nconst originalMessage = inputItem.json.output || \"\";\n\nlet correctLink = null;\nlet pixCode = null;\n\n// 1) Link do Mercado Pago (para de capturar em espaço OU ) ] > )\nconst LINK_RE = /(https:\\/\\/www\\.mercadopago\\.com\\.br\\/checkout\\/v1\\/redirect\\?pref_id=[^\\s)\\]>]+)/i;\nconst linkMatch = originalMessage.match(LINK_RE);\nif (linkMatch) correctLink = linkMatch[1];\n\n// 2) Código PIX: começa em 000201 e para antes de aspas/crases/whitespace\nconst PIX_RE = /(000201[^\\s'\"`]+)(?=[\\s'\"`]|$)/;\nconst pixMatch = originalMessage.match(PIX_RE);\nif (pixMatch) {\n  pixCode = pixMatch[1]\n    // remove aspas/crases/apóstrofos nas pontas\n    .replace(/^['\"`’]+|['\"`’]+$/g, \"\")\n    // remove zero-width / BOM se vierem\n    .replace(/[\\u200B-\\u200D\\uFEFF]/g, \"\")\n    // remove pontuação final acidental\n    .replace(/[.,;:]+$/g, \"\")\n    .trim();\n}\n\nif (correctLink && pixCode) {\n  const nameMatch = originalMessage.match(/Olá,\\s*([^!.]+)/i);\n  const clientName = nameMatch ? nameMatch[1].trim() : \"cliente\";\n\n  const message1 =\n    `Olá, ${clientName}! Para renovar seu serviço, você tem duas opções. 😉\\n\\n` +\n    `*1️⃣ Pagar com Link (Mais Rápido)*\\n` +\n    `Clique no link abaixo para pagar com PIX, Cartão ou Saldo do Mercado Pago:\\n\\n` +\n    `${correctLink}\\n\\n---\\n\\n` +\n    `*2️⃣ Pagar com PIX \"Copia e Cola\"*\\n` +\n    `Vou enviar o código na próxima mensagem. É só copiar e colar no app do seu banco!`;\n\n  const message2 = pixCode;\n\n  return [\n    { json: { output: message1, index: 2 } },\n    { json: { output: message2, index: 1 } },\n  ];\n}\n\n// Se não for pagamento, segue normal\nreturn [inputItem];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4064,-128],"id":"de15257d-76cb-4ae0-ad3a-fa8897fc98af","name":"Code"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4448,-256],"id":"628adb77-1e0f-452e-9355-a3a743037a5b","name":"Wait","webhookId":"fa369a35-ebd3-47d6-bec6-cc80270b8655"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2736,-128],"id":"99aeb143-d6b0-4429-a202-5e22ecd3db62","name":"10 segundos","webhookId":"46a14310-509c-476c-8337-2a0928678c6f"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2672,592],"id":"f1570e0c-bc74-494c-9e7c-d1057de6e4c0","name":"10 segundos1","webhookId":"46a14310-509c-476c-8337-2a0928678c6f"},{"parameters":{"description":"você é uma ferramenta que chama um humano para conversar com o cliente, você recebe o nome do cliente o usuario e o telefone para enviar","workflowId":{"__rl":true,"value":"KtWuHPnbH6rSdjyn","mode":"list","cachedResultName":"Atendimento_himano"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefone', ``, 'string') }}","Cliente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cliente', ``, 'string') }}","Mensagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Mensagem', ``, 'string') }}","Usuario":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Usuario', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Cliente","displayName":"Cliente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Mensagem","displayName":"Mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3792,-320],"id":"388588a3-f4d6-4104-b78b-5654a247bec1","name":"Atendimento_Humano"},{"parameters":{"content":"## Suporte","height":640,"width":3392,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1648,-368],"typeVersion":1,"id":"a85795e9-3d00-4941-a1c8-d62e0b6bfe01","name":"Sticky Note9"},{"parameters":{"content":"## Comercial","height":640,"width":2896,"color":6},"type":"n8n-nodes-base.stickyNote","position":[1648,368],"typeVersion":1,"id":"8afb04d7-9b44-488b-ac30-cc4407a0a796","name":"Sticky Note10"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[4640,-256],"id":"acaaf41e-590c-4315-9500-dcd6e6bf08a8","name":"NO"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.Telefone }}{{ $('normalizacao').item.json.message.chat_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3584,112],"id":"d979f605-e109-470f-aba0-ec97f6f46b7d","name":"Simple Memory"},{"parameters":{"description":"você Cria os teste e cadastro","workflowId":{"__rl":true,"value":"5wBgGCAV3Kx16SIb","mode":"list","cachedResultName":"Criar_Teste"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefone', ``, 'string') }}","Nome":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[3664,880],"id":"af9ed91c-5227-408a-b43f-34de97f77e57","name":"API_PLUS2"},{"parameters":{"documentId":{"__rl":true,"value":"1zdOydwf_HxBlOHzn_DKk9Jo6s7tYIkiBKMg2MBg2RPM","mode":"list","cachedResultName":"planilha_tutoriais_video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zdOydwf_HxBlOHzn_DKk9Jo6s7tYIkiBKMg2MBg2RPM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zdOydwf_HxBlOHzn_DKk9Jo6s7tYIkiBKMg2MBg2RPM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[3808,848],"id":"8ada0eb5-ebfe-452d-8e9c-f5ea8ae9ffaf","name":"Buscar_Tutorial_Video","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1db_N-qDtTzt3srj05boMQdeZA-U6nMEtM_GpVDLk-nI","mode":"list","cachedResultName":"planilha_guias_rapidos_ATUALIZADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1db_N-qDtTzt3srj05boMQdeZA-U6nMEtM_GpVDLk-nI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1db_N-qDtTzt3srj05boMQdeZA-U6nMEtM_GpVDLk-nI/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[3920,848],"id":"72d11f22-3239-408f-b9c4-106a6093ccc8","name":"Guia_Instalacao_Interativo","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7cacebfd-c150-487d-a198-047eb74ef3c8","leftValue":"={{ $json.index }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4304,-128],"id":"cc303db3-4668-4f2c-95ee-3352f2f5081f","name":"If6"},{"parameters":{"endpointUrl":"https://webhook.aiautomacao.dev.br/mcp/plus","options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[3488,-336],"id":"97bcd699-07e3-41c3-8b7f-98eef10070f5","name":"API_PLUS1"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-1760,1552],"id":"c376c977-dde1-40a4-8e17-be460a1df3a0","name":"Schedule Trigger2"},{"parameters":{"url":"https://mantosdofutebol.com.br/guia-de-jogos-tv-hoje-ao-vivo/#google_vignette","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1440,1568],"id":"c2704436-6bfa-469b-80ee-cfcde392524d","name":"HTTP Request"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"blocos_de_texto","cssSelector":"h3, p","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-1296,1568],"id":"51ba5ba2-f677-4050-8150-08257f77ae76","name":"HTML"},{"parameters":{"jsCode":"// Pega a lista de todos os blocos de texto extraídos\nconst blocos = $input.all()[0].json.blocos_de_texto;\n\nconst jogosDoDia = [];\n\n// Varre a lista de blocos de texto\nfor (let i = 0; i < blocos.length; i++) {\n  const blocoAtual = blocos[i];\n\n  // Verifica se o bloco de texto parece ser um jogo (procurando por um horário como \"13h00\")\n  // A expressão /\\d{1,2}h\\d{2}/ encontra textos com esse padrão\n  if (/\\d{1,2}h\\d{2}/.test(blocoAtual)) {\n    \n    // Se for um jogo, assume que o PRÓXIMO bloco na lista é o canal\n    // E verifica se o próximo bloco realmente existe\n    if (i + 1 < blocos.length) {\n      const canalDoJogo = blocos[i + 1];\n\n      jogosDoDia.push({\n        partida: blocoAtual.trim(),\n        // Limpa o texto \"Canais: \" para deixar só o nome do canal\n        canal: canalDoJogo.replace('Canais: ', '').trim()\n      });\n    }\n  }\n}\n\nreturn jogosDoDia;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1136,1568],"id":"203a77b5-90bd-4d5c-9f0e-fcb557805abf","name":"Code1"},{"parameters":{"content":"## Atualiza Jogo do dia","height":400,"width":1220,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-1776,1360],"typeVersion":1,"id":"a7a19d35-706e-471a-ae7a-5155bd173193","name":"Sticky Note2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":393829747,"mode":"list","cachedResultName":"Jogos do Dia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=393829747"},"columns":{"mappingMode":"defineBelow","value":{"partida":"={{ $json.partida }}","canal":"={{ $json.canal }}"},"matchingColumns":["Partida"],"schema":[{"id":"partida","displayName":"partida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-992,1568],"id":"768f4cd0-36d1-4c4a-acef-58161f20b85a","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"operation":"clear","documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":393829747,"mode":"list","cachedResultName":"Jogos do Dia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=393829747"},"keepFirstRow":true},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1584,1552],"id":"8349bec3-3ee4-4cfd-a427-1036358dc9d3","name":"Clear sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[192,1264],"id":"e6ecab6c-eeaa-49b1-a24a-74d29ab683f6","name":"Schedule Trigger4"},{"parameters":{"content":"## Atualizar Banco de Dados","height":360,"width":1108},"type":"n8n-nodes-base.stickyNote","position":[144,1136],"typeVersion":1,"id":"6eb432c7-d44a-411e-ba17-f2c1fc3a3be3","name":"Sticky Note3"},{"parameters":{"url":"=https://4api.painelclass.com/api-chat-boot/get-infos/{{ $json.usuario }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-token","value":"79582a7e1c3311ee82a8b496912803ea"},{"name":"Accept","value":"application/json"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[832,1280],"id":"19437912-574b-4d16-bd4e-62d34b2962b5","name":"HTTP Request1","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Usuario":"={{ $json.data.username }}","Senha":"={{ $json.data.password }}","Vencimento":"={{ $json.data.expiracao }}","Servidor":"Plus","Nome_Cliente":"={{ $json.data.nome }}"},"matchingColumns":["Usuario"],"schema":[{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Senha","displayName":"Senha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Vencimento","displayName":"Vencimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Servidor","displayName":"Servidor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome_Cliente","displayName":"Nome_Cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-16,848],"id":"248bd249-285b-4ee9-87cc-1858c7d820aa","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-256,880],"id":"6bfa7b99-ebed-4051-8574-32cfe9bc6517","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[576,1264],"id":"c8421e25-aca4-4cef-9dcc-d693b593c809","name":"Loop Over Items2"},{"parameters":{"operation":"update","tableId":"=clientes_iptv","filters":{"conditions":[{"keyName":"usuario","condition":"eq","keyValue":"={{ $json.data.username }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"usuario","fieldValue":"={{ $json.data.username }}"},{"fieldId":"senha","fieldValue":"={{ $json.data.password }}"},{"fieldId":"vencimento","fieldValue":"={{ DateTime.fromFormat($json.data.expiracao, 'dd/MM/yyyy HH:mm:ss').setZone('America/Sao_Paulo', { keepLocalTime: true }).toFormat('yyyy-MM-dd HH:mm:ss') }}"},{"fieldId":"nome_cliente","fieldValue":"={{ $json.data.nome }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1088,1280],"id":"b232638d-8b91-47f9-87af-bc75b3b7732c","name":"Atualiza dados do clietes","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"YiyVBOXMUDSxpE6T","name":"Supabase account"}},"onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[3824,-128],"id":"5abaa305-ed8c-4d7f-8b6e-a4e3c8b91b69","name":"Loop Over Items3"}],"connections":{"Webhook2":{"main":[[{"node":"normalizacao","type":"main","index":0}]]},"normalizacao":{"main":[[{"node":"If2","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[]]},"Get many rows1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"If":{"main":[[]]},"Get row(s) in sheet4":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Get many rows2","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet4","type":"main","index":0}]]},"Get many rows2":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}],[{"node":"Create a row","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"If5","type":"main","index":0}]]},"dados do usuario no banco":{"main":[[]]},"If3":{"main":[[{"node":"Segue","type":"main","index":0}],[{"node":"Bloqueia","type":"main","index":0}]]},"If4":{"main":[[{"node":"N_OP","type":"main","index":0}],[{"node":"Get many rows","type":"main","index":0}]]},"Segue":{"main":[[{"node":"If4","type":"main","index":0}]]},"If2":{"main":[[{"node":"No","type":"main","index":0}],[{"node":"If3","type":"main","index":0}]]},"Bloqueia":{"main":[[]]},"If5":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Switch1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Converter Audio em Base64","type":"main","index":0}],[{"node":"Converter Imagem em Base64","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Converter Audio em Base64":{"main":[[{"node":"Converte Audio para Arquivo","type":"main","index":0}]]},"Converte Audio para Arquivo":{"main":[[{"node":"Transcreve Audio","type":"main","index":0}]]},"Transcreve Audio":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Converte Audio para Arquivo1":{"main":[[{"node":"Transcreve Imagem","type":"main","index":0}]]},"Transcreve Imagem":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Converter Imagem em Base64":{"main":[[{"node":"Converte Audio para Arquivo1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"RegistraMsgFila2","type":"main","index":0}]]},"Jogos do dia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent3":{"main":[[{"node":"Resposta Cliente5","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent3","type":"ai_memory","index":0}]]},"Calculator1":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Converter Audio em Base","type":"main","index":0}],[{"node":"Converter Imagem em Base","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Converter Audio em Base":{"main":[[{"node":"Converte Audio para Arquivo2","type":"main","index":0}]]},"Converte Audio para Arquivo2":{"main":[[{"node":"Transcreve Audio1","type":"main","index":0}]]},"Transcreve Audio1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Converte Audio para Arquivo3":{"main":[[{"node":"Transcreve Imagem1","type":"main","index":0}]]},"Transcreve Imagem1":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Converter Imagem em Base":{"main":[[{"node":"Converte Audio para Arquivo3","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"RegistraMsgFila","type":"main","index":0}]]},"RegistraMsgFila2":{"main":[[{"node":"10 segundos","type":"main","index":0}]]},"BuscaMensagem2":{"main":[[{"node":"VerificaSeÉMaiorQue2","type":"main","index":0}]]},"VerificaSeÉMaiorQue2":{"main":[[{"node":"OrganizaMensagem2","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"OrganizaMensagem2":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"RegistraMsgFila":{"main":[[{"node":"10 segundos1","type":"main","index":0}]]},"BuscaMensagem":{"main":[[{"node":"VerificaSeÉMaiorQue","type":"main","index":0}]]},"VerificaSeÉMaiorQue":{"main":[[{"node":"OrganizaMensagem","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"OrganizaMensagem":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Code":{"main":[[{"node":"If6","type":"main","index":0}]]},"Wait":{"main":[[{"node":"NO","type":"main","index":0}]]},"10 segundos":{"main":[[{"node":"BuscaMensagem2","type":"main","index":0}]]},"10 segundos1":{"main":[[{"node":"BuscaMensagem","type":"main","index":0}]]},"Atendimento_Humano":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"NO":{"main":[[{"node":"Resposta Cliente1","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"API_PLUS2":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Buscar_Tutorial_Video":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Guia_Instalacao_Interativo":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"If6":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"NO","type":"main","index":0}]]},"API_PLUS1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Clear sheet1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Clear sheet1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Schedule Trigger4":{"main":[[{"node":"Get many rows1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Atualiza dados do clietes","type":"main","index":0}]]},"Update row in sheet":{"main":[[]]},"Get row(s) in sheet":{"main":[[]]},"Loop Over Items2":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"Atualiza dados do clietes":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Loop Over Items3":{"main":[[],[{"node":"Code","type":"main","index":0}]]},"Resposta Cliente1":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger2":{"recurrenceRules":[20]},"node:Schedule Trigger4":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Schedule Trigger2":[{"json":{"timestamp":"2025-11-19T20:00:32.006-03:00","Readable date":"November 19th 2025, 8:00:32 pm","Readable time":"8:00:32 pm","Day of week":"Wednesday","Year":"2025","Month":"November","Day of month":"19","Hour":"20","Minute":"00","Second":"32","Timezone":"America/Sao_Paulo (UTC-03:00)"}}],"Webhook2":[{"json":{"headers":{"host":"webhook.aiautomacao.dev.br","user-agent":"axios/1.12.2","content-length":"1439","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.aiautomacao.dev.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"992611156f9d","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Suporte","data":{"key":{"remoteJid":"1821116526785@lid","remoteJidAlt":"558597284801@s.whatsapp.net","fromMe":false,"id":"A56A318197725323F014CD9D9DB215D2","participant":"","addressingMode":"lid"},"pushName":"Diogo Rolim","status":"DELIVERY_ACK","message":{"conversation":"Qual e o meu usuário e senha","messageContextInfo":{"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"senderKeyHash":{"0":242,"1":174,"2":128,"3":10,"4":150,"5":29,"6":211,"7":216,"8":48,"9":227},"senderTimestamp":{"low":1763464136,"high":0,"unsigned":true},"recipientKeyHash":{"0":93,"1":47,"2":150,"3":104,"4":81,"5":247,"6":175,"7":244,"8":171,"9":40},"recipientTimestamp":{"low":1763074108,"high":0,"unsigned":true}},"deviceListMetadataVersion":2,"messageSecret":{"0":202,"1":181,"2":135,"3":11,"4":71,"5":142,"6":234,"7":60,"8":40,"9":77,"10":238,"11":169,"12":11,"13":65,"14":211,"15":13,"16":223,"17":14,"18":57,"19":180,"20":220,"21":128,"22":4,"23":30,"24":132,"25":154,"26":231,"27":128,"28":207,"29":100,"30":22,"31":53}}},"messageType":"conversation","messageTimestamp":1763768360,"instanceId":"af682dfc-4de2-401c-9843-1943b422426f","source":"android"},"destination":"https://webhook.aiautomacao.dev.br/webhook/IPTV","date_time":"2025-11-21T20:39:20.261Z","sender":"558591832196@s.whatsapp.net","server_url":"https://evolution.aiautomacao.dev.br","apikey":"1984C35FD59A-4C97-B4CA-3F2922F337CB"},"webhookUrl":"https://webhook.aiautomacao.dev.br/webhook/IPTV","executionMode":"production"}}]},"versionId":"8aec6b87-0886-4ce9-a092-88d96f5876d3","triggerCount":3,"shared":[{"createdAt":"2025-11-19T22:56:36.174Z","updatedAt":"2025-11-19T22:56:36.174Z","role":"workflow:owner","workflowId":"szbPFX9XGgg97nMg","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[]}