iptv-C8TOipdxsT7xGDWu.json
{"createdAt":"2025-08-17T01:49:02.590Z","updatedAt":"2025-12-05T22:38:16.355Z","id":"C8TOipdxsT7xGDWu","name":"IPTV","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"8d14191d-bdc3-446c-9504-1b009e90ebd3","name":"message.message_id","value":"={{ $json.body?.data?.key?.id || '' }}","type":"string"},{"id":"5a930454-5fbf-464c-bb3b-5c42f976c841","name":"message.chat_id","value":"={{ $json.body.data.key.remoteJid.split('@')[0].slice(2, 4) + '9' + $json.body.data.key.remoteJid.split('@')[0].slice(4) }}\n\n","type":"string"},{"id":"5932ddd6-04e6-481a-b6cd-56cae912c53a","name":"message.content_type","value":"={{ $json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $json.body.data.message.conversation ? 'text' : '' }}{{ $json.body.data.message.audioMessage ? 'audio' : '' }}{{ $json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"e2f3b2dd-310c-47cc-b473-17eae27acaa1","name":"message.content","value":"={{ $json.body.data.message.extendedTextMessage?.text || '' }}{{ $json.body.data.message.imageMessage?.caption || '' }}{{ $json.body.data.message.conversation || '' }}","type":"string"},{"id":"76275041-8a49-49ff-b5f4-0ebd3b4bb8ce","name":"message.timestamp","value":"={{ DateTime.fromSeconds($json.body.data.messageTimestamp).toFormat('dd/MM/yyyy HH:mm') }}","type":"string"},{"id":"477e0912-632d-4bf7-a0c3-5a20ebe3c25d","name":"message.content_url","value":"={{ $json.body.data.message.audioMessage?.url || '' }}{{ $json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"d1092cd4-e9c7-4023-8d25-98a57ecf336d","name":"message.event","value":"={{ $json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"7287fcd5-1147-46c0-8c30-a6427c87d1f1","name":"instance.name","value":"={{ $json.body.instance }}","type":"string"},{"id":"b5342d5e-d63f-49cd-a55f-d8da741bdbf0","name":"instance.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"8456163f-862a-4a7d-8bba-7d706c3ef402","name":"instance.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"1967eca0-f323-4be4-b976-84e93bc66d45","name":"message.base64","value":"={{ $json.body.data.message.base64 }}","type":"string"},{"id":"830016c2-9cec-4737-96f0-8de4e5132640","name":"message.image-caption","value":"={{ $json.body.data.message.imageMessage.caption }}","type":"string"},{"id":"345e6faa-d00f-4b44-ba06-4a1c618a07ce","name":"instance.num_cliente","value":"={{ $json.body.sender }}","type":"string"},{"id":"5a6cfe07-8ef7-4ff8-9492-df51c3f961fc","name":"1_M3U","value":"http://lazerapp.cloud:8880/get.php?username=","type":"string"},{"id":"de648bcb-e4f8-4aaa-a92c-47ee9074f797","name":"2_M3U","value":"&password=","type":"string"},{"id":"dd15f6e4-9c9c-4697-9694-7a9549851d5c","name":"3_M3U","value":"&type=m3u_plus&output=ts","type":"string"}]},"options":{}},"id":"e079ca52-d77a-4d70-9ef9-e7c13717e3ab","name":"normalizacao","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1216,1184]},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"e6577e28-9077-4cb0-913d-8f0c02f21476","leftValue":"={{ $json.Telefone }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}},{"id":"526e1bf2-a03b-4fa4-827a-b6e3bb00194f","leftValue":"={{ $('normalizacao').item.json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"looseTypeValidation":true,"options":{"ignoreCase":true}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2192,1184],"id":"9c79371d-037c-4cfb-b427-2aac845923da","name":"If","alwaysOutputData":false},{"parameters":{"promptType":"define","text":"=---\n**MENSAGEM DO CLIENTE:**\n{{ $json.Mensagem }}\n---\n**DADOS DO CLIENTE (Use estas informações para responder):**\n- Nome do Cliente: {{ $('Verifica_Clientes').item.json.Nome_Cliente }}\n- Telefone: {{ $('Verifica_Clientes').item.json.Telefone }}\n- Usuario: {{ $('Verifica_Clientes').item.json.Usuario }}\n- Senha: {{ $('Verifica_Clientes').item.json.Senha }}\n- Vencimento: {{ $('Verifica_Clientes').item.json.Vencimento }}\n- Valor da Assinatura: R$ {{ $('Verifica_Clientes').item.json.Valor }}\n- Versão do Servidor: {{ $('Verifica_Clientes').item.json.Servidor }}\n- Link M3U do Cliente (URL completa, sem espaços): {{ $('normalizacao').item.json['1_M3U'] }}{{ $('Verifica_Clientes').item.json.Usuario }}{{ $('normalizacao').item.json['2_M3U'] }}{{ $('Verifica_Clientes').item.json.Senha }}{{ $('normalizacao').item.json['3_M3U'] }}\n\n---\n**HORÁRIO ATUAL:**\n{{ DateTime.now().setZone('America/Fortaleza').toFormat('dd/MM/yyyy HH:mm') }}\n---\n\nSe alguem pergunta sobre onde vai passar o jogo ou quais jogos vai passar hoje e canais use a tool Jogos do dia é uma sheet do goole\nGATILHO: Se a mensagem tiver mídia (imagem ou documento) e não houver texto explícito perguntando sobre jogos.\nAÇÃO OBRIGATÓRIA:\nNÃO chamar Ferramenta_Jogos_do_Dia.\nSe o texto/legenda contiver “comprovante”, “PIX”, “paguei”, “qr code”, “transferência”, “pagamento”, trate como pagamento\nSe apenas enviou comprovante → responda: “Recebi seu comprovante. Vou verificar aqui e já te retorno! 😊 \nou use: “Aguarde um momento, por favor, que vou verificar para você! 😊”)\nIMPORTANTE: Ignore todo e qualquer texto extraído de imagem (OCR) para decidir chamar Jogos. Decida somente pelo texto digitado pelo cliente (mensagem/legenda).","options":{"systemMessage":"=[CONTEXTO E PERSONA]\nVocê é o *Cinebot* 🤖, um especialista de suporte técnico para o serviço de IPTV Cine Magic Plus. Sua única função é ajudar clientes *ativos* e *cadastrados* com dúvidas sobre suas contas, pagamentos, instalação de aplicativos e a programação de jogos. Seja amigável, paciente, técnico e muito preciso, usando emojis para criar uma conversa mais visual e próxima. 😊\n\n[DADOS DE ENTRADA]\nPara cada interação, você receberá três informações:\n1.  **Dados do Cliente**: Um objeto JSON contendo todas as informações do cliente (\nUsuario\tSenha\tVencimento\tServidor\tNome_Cliente\tTelefone\tValor\tStatus\netc.). Você DEVE usar esses dados para personalizar as respostas.\n2.  **Mensagem do Cliente**: A pergunta ou solicitação atual.\n3.  **Horário Atual**: A data e hora exatas da mensagem.\n\n---\n\n[REGRAS CRÍTICAS DE EXECUÇÃO - SIGA SEMPRE!]\nEstas são as regras mais importantes. Elas têm prioridade sobre qualquer outra instrução.\n\n**1. REGRA DE RENOVAÇÃO E PAGAMENTO:**\n* **GATILHO:** Se a mensagem do cliente contiver intenção de \"renovar\", \"pagar\", \"pagamento\", \"gerar PIX\" ou \"ativar serviço\".\n* **AÇÃO OBRIGATÓRIA:** Sua ÚNICA ação deve ser chamar a ferramenta `API_PLUS1`. Dentro dela, use a sub-ferramenta `Renovar_Cliente_MP1` para clientes ativos.\n* **RESPOSTA OBRIGATÓRIA:** Após a ferramenta retornar os dados `init_point` e `qr_code`, construa sua resposta usando EXATAMENTE o template abaixo, substituindo os placeholders:\n\n    *Pagamento da sua Renovação* 갱\n\n    Olá, [Nome do Cliente]! Para renovar seu serviço, basta escolher uma das opções abaixo:\n\n    *1️⃣ Pagar com Link (Mais Rápido)*\n    Clique aqui para ir direto à página de pagamento do Mercado Pago. Aceita PIX, Cartão e Saldo em Conta.\n    [COLE A URL DO CAMPO `init_point` AQUI]\n\n    *2️⃣ Pagar com PIX \"Copia e Cola\"*\n    Se preferir, copie o código abaixo e cole no aplicativo do seu banco na área \"PIX Copia e Cola\":\n    `[COLE O CÓDIGO DO CAMPO `qr_code` AQUI]`\n\n**2. REGRA DE JOGOS DO DIA:**\n* **GATILHO:** Se a mensagem do cliente perguntar *explicitamente* sobre \"jogos\", \"partidas\", \"campeonato\", ou o nome de um time.\n* **AÇÃO OBRIGATÓRIA:** Chame a ferramenta `Ferramenta_Jogos_do_Dia`.\n* **RESPOSTA:** Formate a lista de jogos retornada de forma amigável.\n\n**3. REGRA DE ATENDIMENTO HUMANO:**\n* **GATILHO:** Se, após seguir o procedimento de travamento, o cliente responder que o problema *não foi resolvido*, ou se ele pedir explicitamente para \"falar com um atendente/humano\".\n* **AÇÃO OBRIGATÓRIA:** Chame a ferramenta `Atendimento_Humano`.\n* **RESPOSTA:** Diga EXATAMENTE: \"Entendi. Sem problemas! Estou transferindo sua conversa para um especialista da nossa equipe agora mesmo. Por favor, aguarde um momento. 😊\"\n\n**4. REGRA DE MENSAGENS CURTAS:**\n* **GATILHO:** Se o cliente enviar uma mensagem curta e genérica (ex: \"Ok\", \"blz\", \"entendi\", \"sim\", \"não\", \"obrigado\").\n* **AÇÃO OBRIGATÓRIA:** NÃO use nenhuma ferramenta.\n* **RESPOSTA:** Responda de forma breve e natural. Ex: \"Combinado! Se precisar de mais alguma coisa, é só chamar. 😊\"\n\n---\n\n[BASE DE CONHECIMENTO E PROCEDIMENTOS]\n\n**1. GUIAS DE INSTALAÇÃO:** Identifique o dispositivo e forneça o guia correspondente, preenchendo com os `Dados do Cliente`.\n\n* *📺 Smart TV (Samsung/LG sem Android):*\n    * **App:** Lazer Play\n    * **Instruções:** Procure por *Lazer Play* na loja de apps da TV. Se encontrar, clique em \"Playlist\" e preencha:\n        * *Código:* `1111p`\n        * *Usuário:* `[Usuário do Cliente]`\n        * *Senha:* `[Senha do Cliente]`\n\n* *🔥 Android TV, Firestick, TV Box, Celular Android:*\n    * **App:** Cine Magic Plus\n    * **Instruções:** \n1. Baixe o app *Downloader* na Play Store. \n2. Dentro do *Downloader*, digite o código: `3038218`. \n3. Instale o app *Cine Magic Plus* e acesse com *Usuário:* `[Usuário do Cliente]` e *Senha:* `[Senha do Cliente]`.\n\n* *📱 iPhone/iPad (iOS):*\n    * **App:** IPTV Smarters Player\n    * **Instruções:** 1. Baixe o *IPTV Smarters Player* na App Store. 2. Ao abrir, preencha: *Qualquer Nome:* `[Nome do Cliente]`, *Usuário:* `[Usuário do Cliente]`, *Senha:* `[Senha do Cliente]`, *URL:* `http://lazerapp.cloud:8880`.\n\n* *🌐 Acesso via Web:*\n    * **Instruções:** Para acessar pelo navegador, use o link `http://cmgplus.shop/#/register-tv`. Faça login com seu *Usuário* (`[Usuário do Cliente]`) e *Senha* (`[Senha do Cliente]`).\n\n**2. INFORMAÇÕES DA CONTA:** Use os `Dados do Cliente` para responder.\n\n* **Vencimento/Valor:** \"Olá, `[Nome do Cliente]`! Sua assinatura, no valor de R$ `[Valor]`, vence no dia `[Vencimento]`.\"\n* **Usuário/Senha:** \"Seu *Usuário* é `[Usuário do Cliente]` e a *Senha* é `[Senha do Cliente]`.\"\n* **Link M3U:** Forneça o `Link M3U` dos `Dados do Cliente` APENAS se solicitado explicitamente.\n\n**3. PROCEDIMENTOS TÉCNICOS:**\n* **Problemas de Travamento:** Se o cliente relatar travamentos, forneça este procedimento PRIMEIRO: \"Vamos reiniciar seu sistema! Desligue o seu aparelho de TV e seu modem de internet da tomada por 1 minuto. Após religá-los, verifique se o serviço normalizou e me avise o resultado! 😊\". (Se não funcionar, a REGRA 3 será acionada).\n* **Pedido de Teste para Amigo:** \"Que legal que você está indicando nosso serviço! Peça para seu amigo(a) entrar em contato diretamente com a gente por este número de WhatsApp. Assim que ele(a) nos chamar, nós o ajudaremos com um teste! 😊\"\n\n[REGRAS FINAIS DE ESTILO]\n- o Teste dura apenas 4horas\n- Use a formatação de negrito do WhatsApp (*texto*) para destacar informações importantes.\n- Não invente informações. Se você não souber a resposta, use a frase: \"Aguarde um momento, por favor, que vou verificar para você! 😊\"\n- Não ofereça testes para o cliente ativo; a regra é apenas para amigos indicados.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[4304,800],"id":"e047178c-6b89-4025-8876-037904afe038","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4304,1040],"id":"b2cd6f29-c446-4341-84e6-dbcbf98315dd","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[4128,608],"id":"997a8c62-7378-407f-9b21-36c6e1b9c414","name":"Calculator"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook2').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"cac82a45-a732-47ea-89a4-3817c7d2596a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8c2286c-5531-4ed3-8310-998f7deb30b7","leftValue":"={{ $('Webhook2').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c80accf-3891-442e-8c61-5f4720d661e5","leftValue":"={{ $('Webhook2').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23881880-2e94-44f6-8e13-040436e9f9f3","leftValue":"={{ $('Webhook2').item.json.body.data.messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Documento"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2544,784],"id":"8dab1ba4-dc77-423e-8dad-a63d68c0bfd4","name":"Switch1","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"ced5bba3-b7eb-4012-9bde-da78c974636e","name":"message.content","value":"={{ $('normalizacao').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2768,768],"id":"f8ce7bdd-76e2-474e-8c5a-154f783a8841","name":"Edit Fields"},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/chat/getBase64FromMediaMessage/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook2').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2768,656],"id":"00dc9c7b-a7ee-48e6-866f-df87cd8d3d2e","name":"Converter Audio em Base64","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"audio/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2880,656],"id":"b9a70c4f-121a-4420-a8fc-61031d520244","name":"Converte Audio para Arquivo"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3008,656],"id":"5bd86d9f-a476-4201-99d2-5fe73250e133","name":"Transcreve Audio","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2880,912],"id":"cc0b8fe1-f21c-4d73-86be-2ca666e9dde5","name":"Converte Audio para Arquivo1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"GPT-4O-MINI-2024-07-18"},"text":"=O que há nessa imagem? me de a resposta como se fosse um cliente descrevendo na imagem, comece dizendo: te enviei uma imagem que... Sempre em primeira pessoa, como se você você o cliente. Ao invés de dizer você me enviou, diga eu te enviei.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[3008,912],"id":"34cf0548-53ec-4bf0-8065-5008113ef372","name":"Transcreve Imagem","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/chat/getBase64FromMediaMessage/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook2').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2768,912],"id":"ad9dea4b-190c-4519-aee5-7b2284fac803","name":"Converter Imagem em Base64","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3168,784],"id":"5ea04809-6a3e-49e3-9864-f3c1cffa6152","name":"Merge"},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/message/sendText/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  number:$('Webhook2').item.json.body.data.key.remoteJid ,\n  text: $('NO').item.json.output,\ndelay: 1200\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5136,832],"id":"9c64d323-5ace-49cc-a57e-de0175f216c8","name":"Resposta Cliente1","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":393829747,"mode":"list","cachedResultName":"Jogos do Dia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=393829747"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[4432,608],"id":"aa2d23e5-af1c-4dad-b083-c06f3cfb7497","name":"Jogos do dia","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=Um novo cliente em potencial, que não está na nossa base de dados, enviou a seguinte mensagem. Siga o seu roteiro de vendas para respondê-lo da forma mais eficaz possível.\n\nMensagem do Cliente:\n{{ $json.Mensagem }}\n\n---\n**HORÁRIO ATUAL:**\n{{ DateTime.now().setZone('America/Fortaleza').toFormat('dd/MM/yyyy HH:mm') }}\n---\nTelefone: {{ $('normalizacao').item.json.message.chat_id }}\n-----","options":{"systemMessage":"=```markdown\n# [FUNÇÃO]\nVocê é o *Cinebot* 🤖, especialista em vendas do *Cine Magic Plus IPTV*. Seu objetivo: converter prospects usando experiência VISUAL e INTERATIVA desde o primeiro contato.\n\n# [DIFERENCIAL]\nVocê tem acesso a tutoriais em vídeo para CADA dispositivo! Use isso como vantagem competitiva!\n\n---\n\n# [FERRAMENTAS]\n\n1. **Buscar_Tutorial_Video** - Vídeos de instalação durante o teste\n2. **API_PLUS2** - Gerar teste (SÓ com nome + instalação confirmada)\n* **REGRA 4: SÓ GERAR TESTE COM NOME + INSTALAÇÃO**\n    * **Prioridade Alta:** Quando a condição de *Nome* e *Confirmação de Instalação* for atingida, **A PRIMEIRA AÇÃO DO AGENTE DEVE SER A CHAMADA DA FERRAMENTA `API_PLUS2`**.\n    * ❌ NÃO gere teste antes do app estar instalado\n    * ❌ NÃO gere teste sem o nome do cliente\n    * ✅ SÓ gere quando tiver: nome + confirmação de instalação\n\n### 3. Verifique o Mapeamento no Nó `API_PLUS2`\n\nNo seu nó **API\\_PLUS2 (Workflow Tool)**, a definição de argumentos está correta, mas certifique-se de que o Agente está conseguindo preencher:\n\n```json\n\"workflowInputs\": {\n          \"mappingMode\": \"defineBelow\",\n          \"value\": {\n            \"Telefone\": \"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefone', ``, 'string') }}\",\n            \"Nome\": \"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome', ``, 'string') }}\"\n          },\n...\n\n3. **Guia_Instalacao_Interativo** - Passo a passo texto\n4. **Links_Uteis** - Portal web, YouTube, Telegram\n\n---\n\n# [ROTEIRO DE VENDAS]\n\n## 1. PRIMEIRA MENSAGEM (SEMPRE)\n```\nBem-vindo(a) à *Cine Magic Plus*! 🚀\n\nSomos o *melhor IPTV do Brasil*:\n✅ Todos os canais abertos e fechados\n✅ Filmes HBO/Netflix/Prime recém-lançados\n✅ Canais em até 4K\n✅ Suporte técnico 24/7\n\nQuer testar *gratuitamente* por 4 horas? 🎁\n```\n\n**Se cliente já mandar \"QUERO TESTE\", pule introdução.**\n\n## 2. ACEITA TESTE\n```\nPerfeito! Vamos instalar agora! 😊\n\nMe diz: onde vai instalar?\n\n📱 Celular/Tablet Android\n📺 Smart TV (qual marca?)\n🔥 TV Box / Firestick\n🍎 iPhone / iPad\n💻 Notebook / PC\n```\n\n## 3. APÓS INFORMAR DISPOSITIVO\n\n### Se SAMSUNG ou LG:\n```\nÓtimo! Para [marca] é super fácil! 📺\n\nTenho um vídeo de 6 minutos mostrando tudo:\n[CHAMAR Buscar_Tutorial_Video(dispositivo=\"samsung\", categoria=\"instalação\")]\n\n*Resumo rápido:*\n1️⃣ Abra a loja de apps da TV\n2️⃣ Busque \"Lazer Play\"\n3️⃣ Instale\n4️⃣ Código: *1111p*\n5️⃣ Volte aqui e me avise!\n\nAh, qual seu nome? 👤\n```\n\n### Se ANDROID TV / TV BOX / FIRESTICK:\n```\nShow! Vou te mandar um vídeo de 5 minutos: 🔥\n[CHAMAR Buscar_Tutorial_Video(dispositivo=\"android\", categoria=\"instalação\")]\n\nOu prefere que eu te guie passo a passo?\n\n📺 *Ver vídeo* (mais rápido)\n💬 *Passo a passo comigo*\n\nEscolhe aí! 😊\n```\n\n**Se escolher PASSO A PASSO:**\n```\nVamos juntos! 💪\n\n*Passo 1:* Baixe o app *Downloader* na Play Store da TV\n\nMe avisa quando terminar esse passo! 😊\n\n[Aguardar confirmação]\n\n*Passo 2:* Abra o Downloader e digite o código: *523285*\n\n[Continuar passo a passo usando Guia_Instalacao_Interativo]\n```\n\n### Se IPHONE / IPAD:\n```\nBeleza! Para iPhone é rapidinho! 📱\n\n*Opção 1 - Link Direto (RECOMENDADO):*\nClica neste link para baixar direto:\nhttps://curtlink.com/UOnlnN\n\n*Opção 2 - App Store:*\nBusque \"IPTV Smarters Player\" e instale\n\n📺 *Vídeo tutorial completo:*\n[CHAMAR Buscar_Tutorial_Video(dispositivo=\"iphone\", categoria=\"instalação\")]\n\nApós instalar, me avisa! 😊\n\nQual seu nome? 👤\n```\n\n### Se CELULAR ANDROID:\n```\nTranquilo! Para celular Android, clica aqui: 📲\n\n*Link Direto (RECOMENDADO):*\nhttps://curtlink.com/RuDTdi\n\nOU\n\nhttps://curt.link/kbkQ0j4\n\nBaixa um dos links acima, instala e me avisa! 😊\n\nQual seu nome? 👤\n```\n\n### Se NOTEBOOK / PC:\n```\nFácil! Para usar no computador: 💻\n\n*Portal Web:*\nhttp://universal.playpainel.me/\n\nOU\n\nhttp://cmgplus.shop/\n\nVocê vai acessar direto pelo navegador! 🌐\n\nMas antes preciso gerar suas credenciais de teste.\n\nQual seu nome? 👤\n```\n\n## 4. APÓS CONFIRMAÇÃO DE INSTALAÇÃO + NOME\n\n```\nPerfeito, [Nome]! 🎉\n\nEstou gerando seu teste agora... ⏳\n\n[CHAMAR API_PLUS2(name=\"[Nome]\", phone=\"[Telefone]\")]\n\n[APÓS RETORNO DA API]\n\n🎊 *Teste ativado com sucesso!*\n\nAqui estão suas credenciais:\n\n👤 *Usuário:* [usuário gerado]\n🔑 *Senha:* [senha gerada]\n\n⚠️ *IMPORTANTE:* Anota aí! Você vai precisar para fazer login!\n\n⏰ Seu teste é válido por *4 horas* a partir de agora!\n\n---\n\nAgora é só abrir o app e fazer login com essas credenciais! 🚀\n\nPrecisa de ajuda no login? Posso te enviar um vídeo! 📺\n```\n\n## 5. DURANTE O TESTE (ACOMPANHAMENTO)\n\nApós 10-15 minutos, envie:\n```\nE aí, [Nome]? Conseguiu entrar? Está funcionando tudo? 🤩\n\n💡 *Dica:* Aproveita para testar:\n- Canais ao vivo (Globo, SBT, ESPN, HBO, etc)\n- Filmes recém-saídos do cinema\n- Séries da Netflix/HBO\n- Qualidade 4K (se sua net é boa)\n\nSe tiver qualquer dúvida, estou aqui! 🤖\n```\n\n## 6. FECHAMENTO (APÓS ~2-3 HORAS DE TESTE)\n\n```\nE aí, [Nome]? Curtiu o sistema? 🤩\n\nNosso plano é super em conta:\n\n💎 *Plano Completo 4K:* R$ 35,00/mês\n\nIsso dá *menos de R$ 1,20 por dia*! ☕\n\n✅ Todos os canais de TV a cabo\n✅ HBO, Netflix, Prime Video\n✅ Filmes no cinema\n✅ Suporte 24/7\n\nQuer ativar? Te mando o link de pagamento agora! 💳\n\nPagando hoje, ativo na hora! ⚡\n```\n\n**Se cliente aceitar:**\n[Transferir para fluxo de pagamento ou atendimento humano]\n\n---\n\n# [REGRAS ESPECIAIS]\n\n## REGRA 1: SEMPRE OFERECER VÍDEO\nToda vez que falar de instalação:\n\"Tenho um vídeo tutorial! Quer ver ou prefere texto?\"\n\n## REGRA 2: GUIAR PASSO A PASSO SE PEDIDO\nSe cliente escolher texto:\n1. CHAMAR Guia_Instalacao_Interativo\n2. Enviar UM passo por vez\n3. Aguardar \"ok\", \"pronto\", \"feito\"\n4. Próximo passo\n\n## REGRA 3: NÃO INSISTIR SE RECUSAR\nSe cliente dizer \"não quero\", \"não tenho interesse\":\n```\nSem problemas! 😊\n\nSe mudar de ideia, estamos aqui!\n\nQualquer dúvida, é só chamar! 👋\n```\n\n## REGRA 4: SÓ GERAR TESTE COM NOME + INSTALAÇÃO\n❌ NÃO gere teste antes do app estar instalado\n❌ NÃO gere teste sem o nome do cliente\n✅ SÓ gere quando tiver: nome + confirmação de instalação\n\n## REGRA 5: EXPERIÊNCIA VISUAL É PRIORIDADE\n- Sempre ofereça vídeos\n- Use emojis (mas sem exagero)\n- Formate bem (negrito, listas)\n- Seja visual e interativo\n\n---\n\n# [INFORMAÇÕES TÉCNICAS ATUALIZADAS]\n\n## CÓDIGOS DOWNLOADER\n- *Loja completa:* 523285\n- *App cliente:* 534924\n- *App Netflix style:* 682647\n\n## CÓDIGOS NTDOWN\n- *Loja completa:* 14449\n- *App cliente:* 86392\n\n## LINKS DIRETOS\n- *App Azul Android:* https://curtlink.com/RuDTdi\n- *Smarters 3.0 iOS:* https://curtlink.com/UOnlnN\n- *Universal TV:* https://curt.link/kbkQ0j4\n\n## PORTAIS WEB\n- http://universal.playpainel.me/\n- http://cmgplus.shop/\n\n## CÓDIGOS DE ACESSO\n- *LazerPlay:* 1111p\n- *Purple iOS/Roku:* TOWYAG\n\n## DNS\n- *Apps terceiros:* tiralit.shop\n\n## TELEGRAM\n- *Grupo oficial:* https://t.me/+wrzrSdl5jEA1OWIx\n\n---\n\n# [OBJEÇÕES COMUNS]\n\n## \"É caro\"\n```\nEntendo! Mas veja só: R$ 35/mês = *R$ 1,16 por dia*! ☕\n\nÉ menos que um café! ☕\n\nE você tem:\n✅ Todos os canais de TV a cabo (que custaria R$ 200+)\n✅ HBO, Netflix, Prime Video (mais R$ 70+)\n✅ Filmes no cinema\n✅ Canais em 4K\n\nVale MUITO a pena! 🎯\n\nQuer testar grátis para comprovar? 🎁\n```\n\n## \"Nunca usei IPTV\"\n```\nSem problemas! É mais fácil do que parece! 😊\n\nPor isso temos:\n📺 Vídeos tutoriais passo a passo\n🤖 Suporte comigo 24/7\n📱 Instalação em menos de 5 minutos\n\nQuer fazer um teste grátis de 4 horas para ver como é fácil? 🎯\n\nZero compromisso! Se não gostar, sem problema! 😊\n```\n\n## \"Trava muito\" / \"Já tive IPTV e travava\"\n```\nBoa pergunta! Nosso sistema é diferente! 💪\n\n✅ Servidores no Brasil (sem delay internacional)\n✅ Funciona com internet a partir de 10MB\n✅ Qualidade adaptável (não trava mesmo com net fraca)\n✅ Backup automático de canais\n\nQuer testar para comprovar? 4 horas grátis! 🎁\n\nE se não gostar, sem compromisso! 😊\n```\n\n## \"Qual a diferença para Netflix?\"\n```\nBoa pergunta! Veja a diferença: 🤔\n\n*IPTV (Nosso):*\n✅ Canais de TV ao vivo (Globo, SBT, ESPN, etc)\n✅ Filmes recém-saídos do cinema\n✅ HBO, Netflix, Prime Video *inclusos*\n✅ Futebol ao vivo (Brasileirão, Champions, etc)\n✅ R$ 35/mês\n\n*Netflix:*\n❌ Só filmes/séries sob demanda\n❌ Sem canais ao vivo\n❌ Sem futebol\n❌ R$ 55/mês (plano premium)\n\nOu seja: Nosso serviço TEM a Netflix + muito mais! 🔥\n\nQuer testar? 🎁\n```\n\n## \"Preciso pensar\"\n```\nClaro! Sem pressão! 😊\n\nQue tal testar *grátis* por 4 horas? Aí você decide com calma, testando na prática! 🎯\n\nÉ só me falar em qual dispositivo quer instalar! 📱📺💻\n\nZero compromisso! Se não gostar, tudo bem! 😊\n```\n\n---\n\n# [FORMATO DAS MENSAGENS]\n\n✅ Use emojis com moderação\n✅ Formate com *negrito* para destaques\n✅ Use listas numeradas para passos (1️⃣ 2️⃣ 3️⃣)\n✅ Use bullets (✅ ❌) para vantagens/desvantagens\n✅ Seja visual, espaçado e organizado\n✅ Links sempre em linha separada\n✅ Códigos sempre em *negrito*\n❌ NUNCA envie textão (máx 5-6 linhas por mensagem)\n❌ NUNCA envie mais de uma pergunta por vez\n\n---\n\n# [VARIÁVEIS DO SISTEMA]\n\n- *Telefone:* {{ $('normalizacao').item.json.message.chat_id }}\n- *Horário:* {{ DateTime.now().setZone('America/Fortaleza').toFormat('dd/MM/yyyy HH:mm') }}\n- *Mensagem Cliente:* {{ $json.Mensagem }}\n\n---\n\n# [RESTRIÇÕES]\n\n❌ Nunca pergunte o telefone (você já tem)\n❌ Nunca gere teste sem nome + confirmação de instalação\n❌ Nunca insista se cliente recusar claramente\n❌ Nunca envie credenciais antes da instalação\n❌ Nunca invente informações\n✅ Sempre ofereça vídeo tutorial\n✅ Sempre seja paciente e prestativo\n✅ Sempre confirme cada etapa\n✅ Sempre dê alternativas (vídeo OU texto)\n✅ Sempre seja entusiasta e positivo (mas sem ser chato)\n\n---\n\n# [EXTRAS]\n\n## Mencionar Telegram (quando apropriado)\n```\nAh! Temos um grupo no Telegram com novidades e atualizações! 📢\n\n🔗 https://t.me/+wrzrSdl5jEA1OWIx\n\nEntra lá depois! 😊\n```\n\n## Cliente quer instalar em MÚLTIPLOS dispositivos\n```\nTranquilo! Você pode usar em até *3 dispositivos simultaneamente*! 📱📺💻\n\nQuer ajuda para instalar em todos? Te mando os tutoriais! 🎥\n\nEm qual vamos começar? 😊\n```\n\n## Cliente pergunta sobre QUALIDADE\n```\nTemos qualidade até 4K! 📺✨\n\n*Recomendações de internet:*\n- *SD (boa):* 5 Mbps\n- *HD (ótima):* 10 Mbps\n- *Full HD:* 15 Mbps\n- *4K (melhor):* 20 Mbps\n\nQuer testar a velocidade da sua net? 🌐\n[CHAMAR Links_Uteis(tipo=\"teste_internet\")]\n```\n\n---\n\n# [TOM E PERSONALIDADE]\n\n- 🔥 Entusiasta (mas não chato)\n- 😊 Amigável e próximo\n- 💪 Confiante no produto\n- 🎯 Direto e objetivo\n- 🤝 Prestativo e paciente\n- 🎉 Positivo e empolgante\n\n**Lembre-se:** Você está VENDENDO uma experiência incrível! Seja genuíno e mostre o valor! 🚀\n```\n\n---"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[4208,1520],"id":"a795b313-eade-481e-9c02-6798e6532ed9","name":"AI Agent3"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4080,1808],"id":"49021d17-d3f1-483d-ad9d-391e4f6d73bd","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.Telefone }}{{ $('normalizacao').item.json.message.chat_id }}","contextWindowLength":10},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4224,1808],"id":"42154eae-1c29-4eac-baad-dc0aa48428ab","name":"Simple Memory1"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[4352,1808],"id":"a3b238ba-e994-472a-b4cc-4aaed1f71546","name":"Calculator1"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook2').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"cac82a45-a732-47ea-89a4-3817c7d2596a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8c2286c-5531-4ed3-8310-998f7deb30b7","leftValue":"={{ $('Webhook2').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c80accf-3891-442e-8c61-5f4720d661e5","leftValue":"={{ $('Webhook2').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[2480,1504],"id":"03a81253-a1f5-49f5-b460-631c07a28c75","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"ced5bba3-b7eb-4012-9bde-da78c974636e","name":"message.content","value":"={{ $('normalizacao').item.json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2720,1488],"id":"cb8be6ff-73c3-4224-830d-741c21b5e2c4","name":"Edit Fields3"},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/chat/getBase64FromMediaMessage/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook2').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2720,1376],"id":"f35ed9da-49dc-496c-b4e0-1ba34b3d2c12","name":"Converter Audio em Base","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"audio/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2832,1376],"id":"b1341134-a5dd-4806-8849-5f24ce4ae8c7","name":"Converte Audio para Arquivo2"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2960,1376],"id":"3bdd1f84-39b2-413c-b095-8cc250efcf67","name":"Transcreve Audio1","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2832,1632],"id":"e8001be8-22ad-4f30-bdf1-33653357861e","name":"Converte Audio para Arquivo3"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"GPT-4O-MINI-2024-07-18"},"text":"=O que há nessa imagem? me de a resposta como se fosse um cliente descrevendo na imagem, comece dizendo: te enviei uma imagem que... Sempre em primeira pessoa, como se você você o cliente. Ao invés de dizer você me enviou, diga eu te enviei.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2960,1632],"id":"812d7675-1764-4589-a7aa-6b1039cd3e61","name":"Transcreve Imagem1","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/chat/getBase64FromMediaMessage/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook2').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2720,1632],"id":"8fc930c8-f4bb-4463-8f93-bbc7b79015a1","name":"Converter Imagem em Base","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[3136,1504],"id":"3f52ab8f-85e2-4dfd-bf06-74d5a2c723d8","name":"Merge1"},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/message/sendText/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  number:$('Webhook2').item.json.body.data.key.remoteJid ,\n  text: $('AI Agent3').item.json.output,\ndelay: 1200\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[4528,1504],"id":"d425e6a4-ad82-441d-94ab-419da9cc0d50","name":"Resposta Cliente5","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"operation":"push","list":"={{ $('normalizacao').item.json.message.chat_id }}","messageData":"={{ $json.message.content }}\n{{ $json.text }}\n{{ $json.content }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3408,800],"id":"9ffa72be-0cf6-464c-bfd6-25f49290a0bf","name":"RegistraMsgFila2","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"Name","key":"={{ $('normalizacao').item.json.message.chat_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3680,800],"id":"47a88b9d-65ef-42e5-ad3b-b15e4ad0d378","name":"BuscaMensagem2","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3776,1040],"id":"915c7e0d-1bad-4f17-9945-f8329395a1d3","name":"No Operation, do nothing2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed61dda5-aa47-4af3-b4e1-e5b87270c6eb","leftValue":"={{\n  ($json.Name?.[0] ?? '')\n    .toString()\n    .trim()\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g,'')\n}}\n","rightValue":"={{\n  (\n    $('10 segundos').item.json.text\n    || $('10 segundos').item.json.content\n    || $('10 segundos').item.json.message?.content\n    || $('10 segundos').item.json.message?.text\n    || ''\n  )\n    .toString()\n    .trim()\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g,'')\n}}\n","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3824,800],"id":"cddb7485-1052-416d-8288-543612c48ed1","name":"VerificaSeÉMaiorQue2"},{"parameters":{"assignments":{"assignments":[{"id":"0db8300a-ad92-480c-88fb-bb187a7f536a","name":"Mensagem","value":"={{ $json.Name.reverse().join(\"\\n\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3968,800],"id":"b14c57cd-3710-448b-804e-b8dc9d98b998","name":"OrganizaMensagem2"},{"parameters":{"operation":"delete","key":"={{ $('normalizacao').item.json.message.chat_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4096,800],"id":"b02747f0-8d51-4b3d-8c03-e8f537eebd47","name":"Redis2","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c52f77a-3986-42e8-ac14-1f19cbf669b5","leftValue":"={{ $json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1440,1184],"id":"261bfa7d-7d4f-4952-b28b-77a92a4e684b","name":"If3"},{"parameters":{"operation":"push","list":"={{ $('normalizacao').item.json.message.chat_id }}","messageData":"={{ $json.message.content }}\n{{ $json.text }}\n{{ $json.content }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3344,1520],"id":"6eb2421a-c1da-42af-a23a-01e51dd2c467","name":"RegistraMsgFila","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"Name","key":"={{ $('normalizacao').item.json.message.chat_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[3616,1520],"id":"f3023597-4f9e-4048-a1c9-6a17c1b49fe7","name":"BuscaMensagem","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[3712,1760],"id":"c6c98fde-d62c-4133-9041-4c29b74757eb","name":"No Operation, do nothing4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed61dda5-aa47-4af3-b4e1-e5b87270c6eb","leftValue":"={{ $json.Name[$json.Name.length - 1]\n    .trim()\n    .toLowerCase()\n    .normalize(\"NFD\")\n    .replace(/[\\u0300-\\u036f]/g, \"\") }}\n","rightValue":"={{\n  (\n    $('10 segundos1').item.json.text                 // quando vem do áudio\n    || $('10 segundos1').item.json.content           // alguns nós preenchem aqui\n    || $('10 segundos1').item.json.message?.content  // quando vem texto digitado\n    || $('10 segundos1').item.json.message?.text\n    || ''\n  )\n  .toString()\n  .trim()\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g,'')     // remove acentos\n}}\n","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3760,1520],"id":"f6711c33-151b-4bcb-af9f-e9a46d8e98f9","name":"VerificaSeÉMaiorQue"},{"parameters":{"assignments":{"assignments":[{"id":"0db8300a-ad92-480c-88fb-bb187a7f536a","name":"Mensagem","value":"={{ $json.Name.reverse().join(\"\\n\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3904,1520],"id":"d644743c-c39d-4782-8f2c-f4adb2602fd2","name":"OrganizaMensagem"},{"parameters":{"operation":"delete","key":"={{ $('normalizacao').item.json.message.chat_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[4032,1520],"id":"35ca78a7-0df2-497c-8223-77c363e238d6","name":"Redis","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{"jsCode":"// Pega o item vindo do nó anterior\nconst inputItem = $items()[0];\n\n// Mensagem gerada pela IA\nconst originalMessage = inputItem.json.output || \"\";\n\nlet correctLink = null;\nlet pixCode = null;\n\n// 1) Link do Mercado Pago (para de capturar em espaço OU ) ] > )\nconst LINK_RE = /(https:\\/\\/www\\.mercadopago\\.com\\.br\\/checkout\\/v1\\/redirect\\?pref_id=[^\\s)\\]>]+)/i;\nconst linkMatch = originalMessage.match(LINK_RE);\nif (linkMatch) correctLink = linkMatch[1];\n\n// 2) Código PIX: começa em 000201 e para antes de aspas/crases/whitespace\nconst PIX_RE = /(000201[^\\s'\"`]+)(?=[\\s'\"`]|$)/;\nconst pixMatch = originalMessage.match(PIX_RE);\nif (pixMatch) {\n  pixCode = pixMatch[1]\n    // remove aspas/crases/apóstrofos nas pontas\n    .replace(/^['\"`’]+|['\"`’]+$/g, \"\")\n    // remove zero-width / BOM se vierem\n    .replace(/[\\u200B-\\u200D\\uFEFF]/g, \"\")\n    // remove pontuação final acidental\n    .replace(/[.,;:]+$/g, \"\")\n    .trim();\n}\n\nif (correctLink && pixCode) {\n  const nameMatch = originalMessage.match(/Olá,\\s*([^!.]+)/i);\n  const clientName = nameMatch ? nameMatch[1].trim() : \"cliente\";\n\n  const message1 =\n    `Olá, ${clientName}! Para renovar seu serviço, você tem duas opções. 😉\\n\\n` +\n    `*1️⃣ Pagar com Link (Mais Rápido)*\\n` +\n    `Clique no link abaixo para pagar com PIX, Cartão ou Saldo do Mercado Pago:\\n\\n` +\n    `${correctLink}\\n\\n---\\n\\n` +\n    `*2️⃣ Pagar com PIX \"Copia e Cola\"*\\n` +\n    `Vou enviar o código na próxima mensagem. É só copiar e colar no app do seu banco!`;\n\n  const message2 = pixCode;\n\n  return [\n    { json: { output: message1, index: 2 } },\n    { json: { output: message2, index: 1 } },\n  ];\n}\n\n// Se não for pagamento, segue normal\nreturn [inputItem];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4688,800],"id":"bdabe447-2548-432c-89b5-e6857a15947b","name":"Code"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7cacebfd-c150-487d-a198-047eb74ef3c8","leftValue":"={{ $json.index }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[4816,800],"id":"c412a36d-b454-438c-9ec3-f6be20564208","name":"If1"},{"parameters":{"amount":4},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[4928,608],"id":"1d400a54-8b6c-4000-ad7a-9f0a7f8ca818","name":"Wait","webhookId":"fa369a35-ebd3-47d6-bec6-cc80270b8655"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3552,800],"id":"64841116-02d2-4908-a281-1bb872dbbcfc","name":"10 segundos","webhookId":"46a14310-509c-476c-8337-2a0928678c6f"},{"parameters":{"path":"plus"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":2,"position":[-432,2576],"id":"39189cfb-26ee-4d2f-a256-ec46ea66fcc5","name":"API_PLUS","webhookId":"987be09c-88c0-4102-86ed-8c407b772de8"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Usuario":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Usuario', ``, 'string') }}","Senha":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Senha', ``, 'string') }}","Vencimento":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Vencimento', ``, 'string') }}","Nome_Cliente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome_Cliente', ``, 'string') }}","Telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefone', ``, 'string') }}","Valor":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Valor', ``, 'string') }}","Status":"Teste","Servidor":"Plus"},"matchingColumns":[],"schema":[{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Senha","displayName":"Senha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Vencimento","displayName":"Vencimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Servidor","displayName":"Servidor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Nome_Cliente","displayName":"Nome_Cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.6,"position":[-448,2768],"id":"d4eaac8e-7ae4-408f-bca0-780cdf16b011","name":"Criar Cliente","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"toolDescription":"você receberá os dados do campo \"username\" vai vim como \"Usuário\"","method":"POST","url":"https://4api.painelclass.com/api-chat-boot/upgrade-test","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-token","value":"79582a7e1c3311ee82a8b496912803ea"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"username","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-80,2800],"id":"0c0e772e-71a9-4ab6-858b-48ac5badb4ce","name":"Renovar_teste"},{"parameters":{"toolDescription":"quando for acionado preencha o campo \"name\" com o nome do cliente e o campo \"phone\", com o numero de telefone do cliente","method":"POST","url":"https://4api.painelclass.com/api-chat-boot/teste-auto","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-token","value":"79582a7e1c3311ee82a8b496912803ea"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"name","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"},{"name":"phone","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', ``, 'string') }}"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-608,2784],"id":"4bf7d9b5-b0f4-4d57-bac0-24d54832f66a","name":"Teste_IPTV1"},{"parameters":{"toolDescription":"você receberá os dados do campo \"username\" vai vim como \"Usuário\"","method":"POST","url":"https://4api.painelclass.com/api-chat-boot/buy-mp","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-token","value":"79582a7e1c3311ee82a8b496912803ea"},{"name":"Accept","value":"application/json"}]},"sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"username","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"},{"name":"creditos","value":"1"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[-288,2768],"id":"c2034a5a-84a9-4084-9a60-7947bf64cc04","name":"Renovar_Cliente_MP1"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3488,1520],"id":"8f897e96-e3ee-4f0f-873b-43aff0af1d8e","name":"10 segundos1","webhookId":"46a14310-509c-476c-8337-2a0928678c6f"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3d74c51f-d8a9-47b7-93bf-7152ee5cbae0","leftValue":"={{ $json.IsBlocked }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1664,1168],"id":"d35cba01-6d96-49b1-8705-390109cd05ef","name":"If4"},{"parameters":{"description":"você é uma ferramenta que chama um humano para conversar com o cliente, você recebe o nome do cliente o usuario e o telefone para enviar","workflowId":{"__rl":true,"value":"KtWuHPnbH6rSdjyn","mode":"list","cachedResultName":"Atendimento_himano"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefone', ``, 'string') }}","Cliente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cliente', ``, 'string') }}","Mensagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Mensagem', ``, 'string') }}","Usuario":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Usuario', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Cliente","displayName":"Cliente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Mensagem","displayName":"Mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4608,608],"id":"c2e6b120-0a33-4e4f-8117-5fa38d878146","name":"Atendimento_Humano"},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-720,112],"id":"43ca6e1b-d72b-407f-9552-55776f9b816a","name":"Schedule Trigger"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0bc1b726-6555-4467-aa33-ca8fcec95f9e","leftValue":"={{ DateTime.fromFormat($json.Vencimento, 'dd/MM/yy').toISODate() }}","rightValue":"={{ DateTime.now().plus({ days: 1 }).toISODate() }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-192,112],"id":"3223e1b6-148f-45ac-842f-80dab3eb762a","name":"Filter"},{"parameters":{"assignments":{"assignments":[{"id":"c9cb2aee-1896-42bf-a615-125002b4e1c2","name":"Vencimento","value":"={{ $json.Vencimento.split(' ')[0] }}","type":"string"},{"id":"b578a299-0c42-4c60-a7e2-44f45ad6b955","name":"hoje","value":"={{ DateTime.fromISO($('Schedule Trigger').item.json.timestamp).toFormat('dd/MM/yyyy') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,112],"id":"b7e788a1-947e-40bd-9998-be593bf80ba9","name":"Edit Fields1"},{"parameters":{"promptType":"define","text":"=Gere a mensagem de lembrete para o cliente com os seguintes dados:\n\n- Nome do Cliente: {{ $('Get row(s) in sheet1').item.json.Nome_Cliente }}\n- Data de Vencimento: {{ $('Get row(s) in sheet1').item.json.Vencimento }}\n- Valor da Mensalidade: {{ $('Get row(s) in sheet1').item.json.Valor }}","options":{"systemMessage":"=## Persona e Objetivo\nVocê é um assistente amigável de renovação para um serviço de IPTV. Seu único objetivo é gerar uma mensagem de lembrete para um cliente cujo plano vence *amanhã*.\n\n## Contexto Recebido\nVocê receberá o Nome do Cliente, a Data de Vencimento e o Valor da mensalidade.\n\n## Tarefa e Formato da Mensagem\nCrie uma mensagem curta, amigável e clara, seguindo o exemplo abaixo. Use os emojis e chame o cliente pelo nome.\n\n---\n**EXEMPLO DE MENSAGEM A SER GERADA:**\n\nOlá, *[Nome do Cliente]*! Tudo bem? 😊\n\nEstou passando para te lembrar que sua assinatura do nosso serviço de IPTV está quase no fim.\n\n🗓️ *Seu plano vence AMANHÃ*, dia *[Data de Vencimento]*.\n\nPara garantir que você não perca nenhum jogo, filme ou série, você pode renovar agora mesmo!\n\n💰 O valor da renovação é de *R$ [Valor da Mensalidade]*.\n\nVocê pode pagar facilmente via PIX para a chave abaixo:\n*Chave PIX (CPF):* `05225625312`\n\nDepois de pagar, é só enviar o comprovante aqui que eu já faço a liberação na hora para você.\n\nQualquer dúvida, estou à disposição! 😉\n---"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-64,112],"id":"b8173fb1-e1a6-44cb-a692-e7af64a3351f","name":"AI Agent1"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-64,288],"id":"d5e11b8b-b519-444a-9bfb-0ae3deec5b48","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/message/sendText/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  number: \"55\" + $('Get row(s) in sheet1').item.json.Telefone,\n  text: $json.output\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,112],"id":"b4608659-77c1-4bec-9c08-2b1474a7348f","name":"Resposta Cliente2","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"content":"## Lembrete de 1 dia para pagamento","height":360,"width":1220},"type":"n8n-nodes-base.stickyNote","position":[-736,48],"typeVersion":1,"id":"0614f7a9-1e34-45fe-a984-6e81ce82ce81","name":"Sticky Note"},{"parameters":{"rule":{"interval":[{"daysInterval":5,"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-720,688],"id":"0f86e651-5eb9-4c89-8385-e76275c1cbb3","name":"Schedule Trigger1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0bc1b726-6555-4467-aa33-ca8fcec95f9e","leftValue":"={{ $json.Status }}","rightValue":"=Expirado","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-176,688],"id":"d00c0fca-9bad-48fd-8684-bb96cd924519","name":"Filter1"},{"parameters":{"assignments":{"assignments":[{"id":"c9cb2aee-1896-42bf-a615-125002b4e1c2","name":"Vencimento","value":"={{ $json.Vencimento.split(' ')[0] }}","type":"string"},{"id":"b578a299-0c42-4c60-a7e2-44f45ad6b955","name":"hoje","value":"={{ DateTime.fromISO($('Schedule Trigger1').item.json.timestamp).toFormat('dd/MM/yyyy') }}","type":"string"},{"id":"7f7b77ad-9a6f-467e-adb1-feea7d1d1fd4","name":"Status","value":"={{ $json.Status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,688],"id":"e1a6dd1d-bb75-446e-bdc8-53832b80e24d","name":"Edit Fields2"},{"parameters":{"promptType":"define","text":"=Gere a mensagem de lembrete para o cliente com os seguintes dados:\n\n- Nome do Cliente: {{ $('Get row(s) in sheet2').item.json['Nome Salvo'] }}\n- Data de Vencimento: {{ $('Get row(s) in sheet2').item.json.Vencimento }}\n- Valor da Mensalidade: {{ $('Get row(s) in sheet2').item.json.Valor }}","options":{"systemMessage":"=## Persona e Objetivo\nVocê é um especialista em relacionamento e reativação de clientes para o serviço de IPTV (Cine Magic Plus). Seu único objetivo é gerar uma mensagem altamente persuasiva e amigável para um cliente cuja assinatura JÁ EXPIROU, convencendo-o a reativar o plano.\n\n## Tom de Voz\n- Convidativo e Pessoal: Você não está cobrando, está com \"saudade\" do cliente.\n- Foco no Benefício: Lembre o cliente do que ele está perdendo (filmes, séries, jogos).\n- Profissional e Fácil: Mostre que o processo de voltar é simples e rápido.\n\n## Contexto Recebido\nVocê receberá o Nome do Cliente, a Data em que o plano venceu e o Valor da mensalidade para reativação.\n\n## Roteiro e Estrutura da Mensagem (Obrigatório)\nCrie uma mensagem que siga este fluxo de persuasão. Use os emojis para criar um apelo visual.\n\n---\n**EXEMPLO DE MENSAGEM A SER GERADA:**\n\nOlá, *[Nome do Cliente]*! Sentimos sua falta por aqui. 👋\n\nAs novas temporadas daquelas séries que você adora e os últimos lançamentos do cinema não param de chegar em nosso catálogo!\n\nVimos que seu acesso foi concluído no dia *[Data de Vencimento]*, mas queremos muito que você volte a maratonar com a gente.\n\nQue tal reativar sua assinatura agora mesmo e não perder mais nada? 😉\n\nPara continuar aproveitando o melhor do entretenimento, o valor é de *R$ [Valor da Mensalidade]*.\n\nÉ só fazer um PIX para a chave abaixo e me enviar o comprovante aqui. *A liberação do seu acesso é imediata!*\n\n🔑 *Chave PIX (CPF):* `05225625312`\n\nEstamos te esperando de volta para mais uma temporada de diversão! 🎬✨\n---\n\n## Regras Cruciais\n- NUNCA use palavras com tom negativo como \"seu plano expirou\". Prefira termos mais suaves como \"seu acesso foi concluído\".\n- Foque sempre no que o cliente GANHA ao voltar."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-32,688],"id":"cf1b517f-2d7e-43f0-a09d-5ead9fbde44b","name":"AI Agent2"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-32,848],"id":"d33a3dcf-26e2-4acb-b69b-cd6759b38433","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/message/sendText/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  number: \"55\" + $('Get row(s) in sheet2').item.json.Telefone,\n  text: $json.output\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,688],"id":"b109d31f-bbab-41ac-b5ae-cf2933e7a5bb","name":"Resposta Cliente3","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"content":"## Clientes Expirados","height":360,"width":1252,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-752,608],"typeVersion":1,"id":"743a4f51-05ff-4393-950b-14bae3b9fa3c","name":"Sticky Note1"},{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":2}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-736,1264],"id":"a8b0a6b5-1807-452d-b5c1-23fcb023847a","name":"Schedule Trigger2"},{"parameters":{"url":"https://mantosdofutebol.com.br/guia-de-jogos-tv-hoje-ao-vivo/#google_vignette","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-416,1280],"id":"905c7da6-dc90-42e2-8027-f875a08cee6e","name":"HTTP Request"},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"blocos_de_texto","cssSelector":"h3, p","returnArray":true}]},"options":{}},"type":"n8n-nodes-base.html","typeVersion":1.2,"position":[-272,1280],"id":"aef1c558-7e50-46e5-8ebb-7f688f9e4cd3","name":"HTML"},{"parameters":{"jsCode":"// Pega a lista de todos os blocos de texto extraídos\nconst blocos = $input.all()[0].json.blocos_de_texto;\n\nconst jogosDoDia = [];\n\n// Varre a lista de blocos de texto\nfor (let i = 0; i < blocos.length; i++) {\n  const blocoAtual = blocos[i];\n\n  // Verifica se o bloco de texto parece ser um jogo (procurando por um horário como \"13h00\")\n  // A expressão /\\d{1,2}h\\d{2}/ encontra textos com esse padrão\n  if (/\\d{1,2}h\\d{2}/.test(blocoAtual)) {\n    \n    // Se for um jogo, assume que o PRÓXIMO bloco na lista é o canal\n    // E verifica se o próximo bloco realmente existe\n    if (i + 1 < blocos.length) {\n      const canalDoJogo = blocos[i + 1];\n\n      jogosDoDia.push({\n        partida: blocoAtual.trim(),\n        // Limpa o texto \"Canais: \" para deixar só o nome do canal\n        canal: canalDoJogo.replace('Canais: ', '').trim()\n      });\n    }\n  }\n}\n\nreturn jogosDoDia;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-112,1280],"id":"8cac9242-afb5-4701-9418-25b317fd47e4","name":"Code1"},{"parameters":{"content":"## Atualiza Jogo do dia","height":400,"width":1220,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-752,1072],"typeVersion":1,"id":"a12faee4-ec4c-49dd-9404-a391ff2172fc","name":"Sticky Note2"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":393829747,"mode":"list","cachedResultName":"Jogos do Dia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=393829747"},"columns":{"mappingMode":"defineBelow","value":{"partida":"={{ $json.partida }}","canal":"={{ $json.canal }}"},"matchingColumns":["Partida"],"schema":[{"id":"partida","displayName":"partida","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"canal","displayName":"canal","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[32,1280],"id":"86bfc05a-8f55-42c7-a257-c3efa363b3f3","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"operation":"clear","documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":393829747,"mode":"list","cachedResultName":"Jogos do Dia","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=393829747"},"keepFirstRow":true},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-560,1264],"id":"5e23b997-d458-4ff3-99e6-a5561c2a7159","name":"Clear sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"rule":{"interval":[{"daysInterval":5,"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-704,1664],"id":"3ab74c82-1902-4605-9841-c37401d7befb","name":"Schedule Trigger3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0bc1b726-6555-4467-aa33-ca8fcec95f9e","leftValue":"={{ $json.Status }}","rightValue":"=teste","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-176,1664],"id":"55160649-10a9-4648-bd70-012040bdb484","name":"Filter2"},{"parameters":{"assignments":{"assignments":[{"id":"c9cb2aee-1896-42bf-a615-125002b4e1c2","name":"Vencimento","value":"={{ $json.Vencimento.split(' ')[0] }}","type":"string"},{"id":"b578a299-0c42-4c60-a7e2-44f45ad6b955","name":"hoje","value":"={{ DateTime.fromISO($('Schedule Trigger3').item.json.timestamp).toFormat('dd/MM/yyyy') }}","type":"string"},{"id":"7f7b77ad-9a6f-467e-adb1-feea7d1d1fd4","name":"Status","value":"={{ $json.Status }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-352,1664],"id":"083ce152-e9a2-434a-8a53-b18adcb9d265","name":"Edit Fields4"},{"parameters":{"promptType":"define","text":"=- Nome do Cliente: {{ $('Get row(s) in sheet3').item.json['Nome Salvo'] }}\n","options":{"systemMessage":"=## Persona e Objetivo\nVocê é um assistente virtual de suporte recém-lançado para o serviço de IPTV (Cine Magic Plus). Seu objetivo é se apresentar individualmente a cada cliente, de forma calorosa e informativa, explicando suas novas funcionalidades e convidando-o a interagir pela primeira vez.\n\n## Tom de Voz\n- Amigável, prestativo, moderno e muito competente.\n- Use emojis para soar mais próximo e visualmente agradável.\n\n## Contexto Recebido\n- Você receberá o **Nome do Cliente** para personalizar a saudação.\n\n## Roteiro da Mensagem (Estrutura Obrigatória)\n\n1.  *Saudação Personalizada:* Comece chamando o cliente pelo nome.\n2.  *Apresentação:** Apresente-se como o novo assistente virtual e explique o motivo do contato (melhorar e agilizar o suporte).\n3.  *Lista de Funcionalidades:* Liste de forma clara e com emojis o que você pode fazer para ajudar o cliente.\n4.  **Convite à Interação (Call to Action):** Encoraje o cliente a fazer uma primeira pergunta para testar suas habilidades.\n5.  **Despedida:** Finalize de forma amigável.\n\n---\n**EXEMPLO DA ESTRUTURA DA MENSAGEM A SER GERADA:**\n\nOlá, *[Nome do Cliente]*! Tudo bem? 😊\n\nMeu nome é Cinebot 🤖, e a partir de hoje sou o seu novo **assistente virtual exclusivo** do nosso serviço de IPTV!\n\nEstou aqui para te ajudar a qualquer hora do dia, de forma rápida e direta. Chega de esperar em grupos!\n\nComigo, você pode:\n🗓️ Consultar o *vencimento* e o *valor* da sua fatura.\n🔑 Pedir seu *usuário e senha* a qualquer momento.\n📺 Pedir ajuda para *instalar* o aplicativo na sua TV ou celular.\n⚽ Perguntar *onde vão passar os jogos* do dia.\n... e muito mais!\n\nSinta-se à vontade para me perguntar qualquer coisa. Que tal um teste? Me pergunte *\"quais os jogos de hoje?\"* e veja como funciona!\n\nEstou aqui para ajudar! 😉\n---"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[-32,1664],"id":"756ead0a-a943-44ce-9f02-c442168f0284","name":"AI Agent4"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-32,1824],"id":"18488bc3-6d88-4a59-b384-850a3385072c","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/message/sendText/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  number: \"55\" + $('Get row(s) in sheet3').item.json.Telefone,\n  text: $json.output\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[304,1664],"id":"512cddf7-8c90-4e5b-aa0e-af55ea18f2a7","name":"Resposta Cliente6","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"content":"## Ativos","height":360,"width":1252,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-752,1584],"typeVersion":1,"id":"bcec8741-baf9-4724-a078-5d2dd0d349b8","name":"Sticky Note5"},{"parameters":{"documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-544,112],"id":"1bb66d03-40f8-4397-8b47-e19be93767c2","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-512,688],"id":"0e78f12b-4b70-46e7-bf0b-dd20f0cec555","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-512,1664],"id":"e9b044d3-0a97-40da-8274-b5aadb389665","name":"Get row(s) in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-672,2160],"id":"3e52fde0-07db-4dca-bb8f-536d506092b0","name":"Schedule Trigger4"},{"parameters":{"content":"## Atualizar Banco de Dados","height":360,"width":1108},"type":"n8n-nodes-base.stickyNote","position":[-720,2032],"typeVersion":1,"id":"e185349e-7fb3-4213-8fca-2bb496d48fc9","name":"Sticky Note3"},{"parameters":{"documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-496,2160],"id":"7a719d30-c0fe-456b-9c4f-469cb2cf0ad7","name":"Get row(s) in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"url":"=https://4api.painelclass.com/api-chat-boot/get-infos/{{ $json.Usuario }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-token","value":"79582a7e1c3311ee82a8b496912803ea"},{"name":"Accept","value":"application/json"}]},"options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,2160],"id":"5e0b3fdb-29bf-42c7-bab5-7ae8664cadeb","name":"HTTP Request1","retryOnFail":false,"onError":"continueRegularOutput"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Usuario":"={{ $json.data.username }}","Senha":"={{ $json.data.password }}","Vencimento":"={{ $json.data.expiracao }}","Servidor":"Plus","Nome_Cliente":"={{ $json.data.nome }}"},"matchingColumns":["Usuario"],"schema":[{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Senha","displayName":"Senha","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Vencimento","displayName":"Vencimento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Servidor","displayName":"Servidor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Nome_Cliente","displayName":"Nome_Cliente","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[160,2160],"id":"e3a8c6ae-168d-46fd-89d3-30d09da1991c","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"content":"## MCP_PLUS\n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)","height":448,"width":944},"type":"n8n-nodes-base.stickyNote","position":[-768,2496],"typeVersion":1,"id":"201372a9-4cb0-4df5-a101-e7ffe4cbc3f3","name":"Sticky Note4"},{"parameters":{"operation":"set","key":"={{ $json.message.chat_id }}_block","value":"true","expire":true,"ttl":300},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1552,1328],"id":"336011f2-3ba9-416a-ab6d-f7c28c8e46ec","name":"Bloqueia","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"IsBlocked","key":"={{ $json.message.chat_id }}_block","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1552,1040],"id":"6f79fd6e-452b-4bf8-8d1e-8e35b7e4fb13","name":"Segue","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1792,1040],"id":"256219b3-65ee-4392-b181-0a34c66f5c3e","name":"N_OP"},{"parameters":{"documentId":{"__rl":true,"value":"1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo","mode":"list","cachedResultName":"Clientes IPTV","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1BiCmSxaLxyPZ-ytVlQFFwUSPit6T64HuvQa2n6uFdIo/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Telefone","lookupValue":"={{ $('normalizacao').item.json.message.chat_id.trim() }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2064,1184],"id":"a8cd0ff6-05c2-44bd-ab46-9478a6c7fabc","name":"Verifica_Clientes","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"content":"## Recepciona Dado do WhatsApp\n","height":544,"width":336},"type":"n8n-nodes-base.stickyNote","position":[1056,976],"typeVersion":1,"id":"b03cef05-7366-4415-b4f9-2e481f6dd9dd","name":"Sticky Note6"},{"parameters":{"content":"## Verifica Interação Humana","height":544,"width":560,"color":4},"type":"n8n-nodes-base.stickyNote","position":[1424,976],"typeVersion":1,"id":"38a5a8de-ec53-4fd0-9a9d-dfda85708863","name":"Sticky Note7"},{"parameters":{"content":"## Suporte ou Venda","height":544,"width":336},"type":"n8n-nodes-base.stickyNote","position":[2016,976],"typeVersion":1,"id":"a47c4e0f-9213-45ca-be81-299e79f7ca61","name":"Sticky Note8"},{"parameters":{"content":"## Suporte","height":640,"width":2896,"color":5},"type":"n8n-nodes-base.stickyNote","position":[2464,560],"typeVersion":1,"id":"710b6bf1-6c59-4a59-8d99-ae83d3cb0d69","name":"Sticky Note9"},{"parameters":{"content":"## Comercial","height":640,"width":2896,"color":6},"type":"n8n-nodes-base.stickyNote","position":[2464,1296],"typeVersion":1,"id":"ce71947f-b4b3-425f-a5a1-74380e4275c2","name":"Sticky Note10"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5136,608],"id":"70b73d3c-733e-43d9-b1e4-95ab122fb744","name":"NO"},{"parameters":{"content":"## Ativos","height":360,"width":1252,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-912,3072],"typeVersion":1,"id":"dd34d514-7bba-4970-8ebb-6529ea2b77bb","name":"Sticky Note11"},{"parameters":{"documentId":{"__rl":true,"value":"18U_p_LWpj1Y6eiMOck_APpvm_3qjOBDDbWLNMSmMYyQ","mode":"list","cachedResultName":"Contatos Google","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18U_p_LWpj1Y6eiMOck_APpvm_3qjOBDDbWLNMSmMYyQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1172136023,"mode":"list","cachedResultName":"contatos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/18U_p_LWpj1Y6eiMOck_APpvm_3qjOBDDbWLNMSmMYyQ/edit#gid=1172136023"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-640,3184],"id":"349b62e5-7821-4155-bab0-ce8b76e46945","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/message/sendText/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  number:$('Edit Fields5').item.json.Phone,\n  text: $json.output,\ndelay: 1200\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[160,3168],"id":"fd7da1a2-d40b-4908-9cb0-cf18a734271e","name":"Resposta Cliente","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"assignments":{"assignments":[{"id":"cbae6f36-9ce3-47c7-82ae-2344a98f0827","name":"Video","value":"=https://minio.aiautomacao.dev.br/api/v1/download-shared-object/aHR0cHM6Ly9zMy5haWF1dG9tYWNhby5kZXYuYnIvZGlmeS91cGxvYWRfZmlsZXMvaXB0dmlkZW9zLm9ubGluZS50cz9YLUFtei1BbGdvcml0aG09QVdTNC1ITUFDLVNIQTI1NiZYLUFtei1DcmVkZW50aWFsPVFKVEpOUVk3VkJYMlZSUTNDUkxFJTJGMjAyNTA4MTIlMkZ1cy1lYXN0LTElMkZzMyUyRmF3czRfcmVxdWVzdCZYLUFtei1EYXRlPTIwMjUwODEyVDE0MjQxN1omWC1BbXotRXhwaXJlcz00MzE5NCZYLUFtei1TZWN1cml0eS1Ub2tlbj1leUpoYkdjaU9pSklVelV4TWlJc0luUjVjQ0k2SWtwWFZDSjkuZXlKaFkyTmxjM05MWlhraU9pSlJTbFJLVGxGWk4xWkNXREpXVWxFelExSk1SU0lzSW1WNGNDSTZNVGMxTlRBMU1UZzBNaXdpY0dGeVpXNTBJam9pWVdSdGFXNGlmUS5aOGR6eG1yQUU1S0F2OG5sMWxHdi1jWEl3c1JxNWx2allFdDVkaWFBeW82ZlFxT1ZHbW1tOFZlN0pJVjBnYmlOU1N3ZEZrU0VINGgzekc2cVNLbG9rdyZYLUFtei1TaWduZWRIZWFkZXJzPWhvc3QmdmVyc2lvbklkPW51bGwmWC1BbXotU2lnbmF0dXJlPWIxNmMyZWM3NDViMTk0MDU5YmE0ZjM5ZTg0ZDFkNGI2ZTgwZjBkOTA5NDA2MWM2ZGI4YjUzYzE1NjhjMTAxMjU","type":"string"},{"id":"d60c3e9e-039b-4640-a774-ae34ee6ca36e","name":"Phone","value":"={{ $json.formatted_phone.replace(/\\s|\\(|\\)|-/g, '') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-448,3184],"id":"fdef7cd9-a767-4010-8a1c-7d1f411a21a2","name":"Edit Fields5"},{"parameters":{"promptType":"define","text":"=você é um agente de venda que faz proposta para cliente assinartem IPTV no WhatsApp:\n\nNome do CLinete: {{ $json.Cliente }}\nTelefone do Cliente: {{ $json.Phone }}","options":{"systemMessage":"=Você é um agente especialista em poferecer vendas de aplicativo de IPTV\n\npode usar esse modelo:\n`Olá! 👋\n\nCansado de pular entre Netflix, Prime Video, e ainda não encontrar o jogo de futebol que você quer assistir? 🤔\n\nE se você pudesse ter TUDO em um só lugar?\n\nCom nosso serviço, você tem:\n✅ Todos os canais ao vivo: Esportes, notícias e muito mais.\n✅ Milhares de Filmes e Séries: Dos clássicos aos últimos lançamentos!\n✅ Funciona em qualquer dispositivo: Sua TV, celular ou computador.\n\nQuer ver como funciona na prática, sem compromisso?\n\nMe responda *\"QUERO TESTE GRÁTIS\"* e eu libero seu acesso por algumas horas agora mesmo! 🚀`"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-192,3168],"id":"90ee778d-59f4-4180-ab68-ff5763eb9f94","name":"AI Agent5"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-336,3376],"id":"d1e77104-2cca-4081-8168-b773db7aa6b3","name":"OpenAI Chat Model5","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.Telefone }}{{ $('normalizacao').item.json.message.chat_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[4432,1040],"id":"36c5af95-bfa3-47c5-bb28-349a383e8b9a","name":"Simple Memory"},{"parameters":{"endpointUrl":"https://webhook.aiautomacao.dev.br/mcp/plus","include":"selected","includeTools":["Renovar_teste","Renovar_Cliente_MP1"],"options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[4304,592],"id":"112d7150-e1f3-40fe-bd76-18ff1d76c722","name":"API_PLUS1"},{"parameters":{"description":"você Cria os teste e cadastro","workflowId":{"__rl":true,"value":"5wBgGCAV3Kx16SIb","mode":"list","cachedResultName":"Criar_Teste"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefone', ``, 'string') }}","Nome":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Nome', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"Nome","displayName":"Nome","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4480,1808],"id":"9eb4827e-2874-4e88-9048-addc5c69e910","name":"API_PLUS2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0633f737-b327-451a-81e8-a4563b259d6b","leftValue":"={{ $json.message.chat_id.trim() }}","rightValue":"03963419386548879","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1248,1632],"id":"cd5c2795-c509-49c5-9186-e8fb1f2ecc5b","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1632,1600],"id":"360dbb9e-9eca-410f-978f-8eb74602587c","name":"No"},{"parameters":{"httpMethod":"POST","path":"IPTV","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1072,1184],"id":"14af5b4c-59e4-4822-8652-c055e25bbc0b","name":"Webhook2","webhookId":"45577ba6-ba1c-4a90-9d51-a127543821e5"},{"parameters":{"batchSize":10,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-288,2160],"id":"cf91b5d1-bd35-40e8-b690-42bc1be2c04d","name":"Loop Over Items"},{"parameters":{"documentId":{"__rl":true,"value":"1zdOydwf_HxBlOHzn_DKk9Jo6s7tYIkiBKMg2MBg2RPM","mode":"list","cachedResultName":"planilha_tutoriais_video","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zdOydwf_HxBlOHzn_DKk9Jo6s7tYIkiBKMg2MBg2RPM/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zdOydwf_HxBlOHzn_DKk9Jo6s7tYIkiBKMg2MBg2RPM/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[4624,1776],"id":"d2a2b2b1-4a25-4f93-80dd-93c3445a2763","name":"Buscar_Tutorial_Video","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"path":"guia-instalacao"},"id":"527cfb91-9e86-4cf5-9a8a-f06906a9496d","name":"MCP Trigger","type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":1,"position":[5104,2240],"webhookId":"e2d50e2b-6c74-44bc-a535-d7a53d1773a5"},{"parameters":{"documentId":{"__rl":true,"value":"COLE_AQUI_O_ID_DA_SUA_PLANILHA","mode":"id"},"sheetName":{"__rl":true,"value":"Guias_Rapidos","mode":"name"},"options":{}},"id":"978d8987-a0e8-4736-87a7-fe3b0f10c81b","name":"Google Sheets - Ler Guias","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[5408,2240],"credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"guia-cond-1234-5678-9abc-def012345678","leftValue":"={{ $json.Dispositivo.toLowerCase() }}","rightValue":"={{ $('MCP Trigger').item.json.dispositivo.toLowerCase() }}","operator":{"type":"string","operation":"contains"}}],"combinator":"and"},"options":{}},"id":"03a90147-2f0b-43a5-8c8f-c1bd4f81b090","name":"Filter - Dispositivo","type":"n8n-nodes-base.filter","typeVersion":2,"position":[5664,2240]},{"parameters":{"jsCode":"const guia = $input.first()?.json;\n\nif (!guia) {\n  return [{\n    json: {\n      encontrado: false,\n      mensagem: \"Não encontrei um guia específico para esse dispositivo. Mas posso te ajudar! Qual dispositivo você tem? 📱\"\n    }\n  }];\n}\n\n// Processar passos\nconst passos = guia.Passos_Instalacao.split('\\n').filter(p => p.trim() !== '');\nconst passosFormatados = passos.map((passo, index) => {\n  return `*Passo ${index + 1}:* ${passo.trim()}`;\n}).join('\\n\\n');\n\n// Processar credenciais necessárias\nlet credenciais = '';\nlet credenciaisArray = [];\n\nif (guia.Codigo_Necessario && guia.Codigo_Necessario !== 'Não necessário') {\n  credenciais += `\\n📋 *Código:* ${guia.Codigo_Necessario}`;\n  credenciaisArray.push({ tipo: 'Código', valor: guia.Codigo_Necessario, campo: 'Campo 1' });\n}\n\nif (guia.Usuario_Campo && guia.Usuario_Campo !== 'Não necessário') {\n  credenciais += `\\n👤 *Usuário:* [será fornecido após instalação]`;\n  credenciaisArray.push({ tipo: 'Usuário', campo: guia.Usuario_Campo });\n}\n\nif (guia.Senha_Campo && guia.Senha_Campo !== 'Não necessário') {\n  credenciais += `\\n🔑 *Senha:* [será fornecida após instalação]`;\n  credenciaisArray.push({ tipo: 'Senha', campo: guia.Senha_Campo });\n}\n\nif (guia.URL_Campo && guia.URL_Campo !== 'Não necessário') {\n  credenciais += `\\n🌐 *URL:* ${guia.URL_Campo}`;\n  credenciaisArray.push({ tipo: 'URL', valor: guia.URL_Campo });\n}\n\n// Mensagem completa formatada para WhatsApp\nconst mensagemCompleta = `📱 *Instalação para ${guia.Dispositivo}*\\n\\nVamos instalar o *${guia.App_Recomendado}*!\\n\\n${passosFormatados}${credenciais}\\n\\n⚠️ *Observação:* ${guia.Observacoes}\\n\\nMe avisa quando terminar cada passo! 😊`;\n\n// Criar array de passos individuais para modo interativo\nconst passosIndividuais = passos.map((passo, index) => ({\n  numero: index + 1,\n  instrucao: passo.trim(),\n  total: passos.length\n}));\n\nreturn [{\n  json: {\n    encontrado: true,\n    dispositivo: guia.Dispositivo,\n    app: guia.App_Recomendado,\n    passos_texto: passosFormatados,\n    passos_array: passosIndividuais,\n    credenciais_texto: credenciais,\n    credenciais_array: credenciaisArray,\n    observacoes: guia.Observacoes,\n    mensagem_completa: mensagemCompleta,\n    total_passos: passos.length\n  }\n}];"},"id":"c0022c3a-3644-4916-8086-27fe6f203db8","name":"Code - Formatar Guia","type":"n8n-nodes-base.code","typeVersion":2,"position":[5888,2240]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"62615fcc-efca-407d-8f3f-b3e7415c335f","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[6096,2240]},{"parameters":{"documentId":{"__rl":true,"value":"1db_N-qDtTzt3srj05boMQdeZA-U6nMEtM_GpVDLk-nI","mode":"list","cachedResultName":"planilha_guias_rapidos_ATUALIZADO","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1db_N-qDtTzt3srj05boMQdeZA-U6nMEtM_GpVDLk-nI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1db_N-qDtTzt3srj05boMQdeZA-U6nMEtM_GpVDLk-nI/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[4736,1776],"id":"86f1c740-cf51-4e8d-b5a3-69237280bd4f","name":"Guia_Instalacao_Interativo","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}}],"connections":{"normalizacao":{"main":[[{"node":"If2","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch1","type":"main","index":0}],[{"node":"Switch","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Code","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Switch1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Converter Audio em Base64","type":"main","index":0}],[{"node":"Converter Imagem em Base64","type":"main","index":0}],[]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Converter Audio em Base64":{"main":[[{"node":"Converte Audio para Arquivo","type":"main","index":0}]]},"Converte Audio para Arquivo":{"main":[[{"node":"Transcreve Audio","type":"main","index":0}]]},"Transcreve Audio":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Converte Audio para Arquivo1":{"main":[[{"node":"Transcreve Imagem","type":"main","index":0}]]},"Transcreve Imagem":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Converter Imagem em Base64":{"main":[[{"node":"Converte Audio para Arquivo1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"RegistraMsgFila2","type":"main","index":0}]]},"Jogos do dia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent3":{"main":[[{"node":"Resposta Cliente5","type":"main","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"AI Agent3","type":"ai_languageModel","index":0}]]},"Simple Memory1":{"ai_memory":[[{"node":"AI Agent3","type":"ai_memory","index":0}]]},"Calculator1":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Switch":{"main":[[{"node":"Edit Fields3","type":"main","index":0}],[{"node":"Converter Audio em Base","type":"main","index":0}],[{"node":"Converter Imagem em Base","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Converter Audio em Base":{"main":[[{"node":"Converte Audio para Arquivo2","type":"main","index":0}]]},"Converte Audio para Arquivo2":{"main":[[{"node":"Transcreve Audio1","type":"main","index":0}]]},"Transcreve Audio1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Converte Audio para Arquivo3":{"main":[[{"node":"Transcreve Imagem1","type":"main","index":0}]]},"Transcreve Imagem1":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Converter Imagem em Base":{"main":[[{"node":"Converte Audio para Arquivo3","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"RegistraMsgFila","type":"main","index":0}]]},"RegistraMsgFila2":{"main":[[{"node":"10 segundos","type":"main","index":0}]]},"BuscaMensagem2":{"main":[[{"node":"VerificaSeÉMaiorQue2","type":"main","index":0}]]},"VerificaSeÉMaiorQue2":{"main":[[{"node":"OrganizaMensagem2","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"OrganizaMensagem2":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"If3":{"main":[[{"node":"Segue","type":"main","index":0}],[{"node":"Bloqueia","type":"main","index":0}]]},"RegistraMsgFila":{"main":[[{"node":"10 segundos1","type":"main","index":0}]]},"BuscaMensagem":{"main":[[{"node":"VerificaSeÉMaiorQue","type":"main","index":0}]]},"VerificaSeÉMaiorQue":{"main":[[{"node":"OrganizaMensagem","type":"main","index":0}],[{"node":"No Operation, do nothing4","type":"main","index":0}]]},"OrganizaMensagem":{"main":[[{"node":"Redis","type":"main","index":0}]]},"Redis":{"main":[[{"node":"AI Agent3","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"NO","type":"main","index":0}]]},"Wait":{"main":[[{"node":"NO","type":"main","index":0}]]},"10 segundos":{"main":[[{"node":"BuscaMensagem2","type":"main","index":0}]]},"Criar Cliente":{"ai_tool":[[{"node":"API_PLUS","type":"ai_tool","index":0}]]},"Renovar_teste":{"ai_tool":[[{"node":"API_PLUS","type":"ai_tool","index":0}]]},"Teste_IPTV1":{"ai_tool":[[{"node":"API_PLUS","type":"ai_tool","index":0}]]},"Renovar_Cliente_MP1":{"ai_tool":[[{"node":"API_PLUS","type":"ai_tool","index":0}]]},"10 segundos1":{"main":[[{"node":"BuscaMensagem","type":"main","index":0}]]},"If4":{"main":[[{"node":"N_OP","type":"main","index":0}],[{"node":"Verifica_Clientes","type":"main","index":0}]]},"Atendimento_Humano":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Filter":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Filter","type":"main","index":0}]]},"AI Agent1":{"main":[[{"node":"Resposta Cliente2","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Filter1":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Filter1","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Resposta Cliente3","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Clear sheet1","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML","type":"main","index":0}]]},"HTML":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Clear sheet1":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Filter2":{"main":[[{"node":"AI Agent4","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Filter2","type":"main","index":0}]]},"AI Agent4":{"main":[[{"node":"Resposta Cliente6","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"AI Agent4","type":"ai_languageModel","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Get row(s) in sheet3":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Schedule Trigger4":{"main":[[{"node":"Get row(s) in sheet4","type":"main","index":0}]]},"Get row(s) in sheet4":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Segue":{"main":[[{"node":"If4","type":"main","index":0}]]},"Verifica_Clientes":{"main":[[{"node":"If","type":"main","index":0}]]},"NO":{"main":[[{"node":"Resposta Cliente1","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"AI Agent5","type":"main","index":0}]]},"AI Agent5":{"main":[[{"node":"Resposta Cliente","type":"main","index":0}]]},"OpenAI Chat Model5":{"ai_languageModel":[[{"node":"AI Agent5","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"API_PLUS1":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"API_PLUS2":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"If2":{"main":[[{"node":"No","type":"main","index":0}],[{"node":"If3","type":"main","index":0}]]},"Webhook2":{"main":[[{"node":"normalizacao","type":"main","index":0}]]},"Schedule Trigger1":{"main":[[]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Buscar_Tutorial_Video":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]},"Google Sheets - Ler Guias":{"main":[[{"node":"Filter - Dispositivo","type":"main","index":0}]]},"Filter - Dispositivo":{"main":[[{"node":"Code - Formatar Guia","type":"main","index":0}]]},"Code - Formatar Guia":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Guia_Instalacao_Interativo":{"ai_tool":[[{"node":"AI Agent3","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]},"node:Schedule Trigger1":{"recurrenceRules":[320]},"node:Schedule Trigger2":{"recurrenceRules":[18]},"node:Schedule Trigger3":{"recurrenceRules":[320]},"node:Schedule Trigger4":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook2":[{"json":{"headers":{"host":"webhook.aiautomacao.dev.br","user-agent":"axios/1.12.2","content-length":"1413","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.aiautomacao.dev.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"992611156f9d","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Suporte","data":{"key":{"remoteJid":"558591335752@s.whatsapp.net","remoteJidAlt":"202752856748199@lid","fromMe":false,"id":"3A5C0946B98978337DB5","participant":"","addressingMode":"pn"},"pushName":"Jefferson Fonseca","status":"DELIVERY_ACK","message":{"conversation":"Joãozinho","messageContextInfo":{"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"senderKeyHash":{"0":24,"1":229,"2":121,"3":97,"4":122,"5":198,"6":165,"7":69,"8":80,"9":129},"senderTimestamp":{"low":1761249806,"high":0,"unsigned":true},"recipientKeyHash":{"0":93,"1":47,"2":150,"3":104,"4":81,"5":247,"6":175,"7":244,"8":171,"9":40},"recipientTimestamp":{"low":1760479450,"high":0,"unsigned":true}},"deviceListMetadataVersion":2,"messageSecret":{"0":78,"1":180,"2":185,"3":117,"4":4,"5":37,"6":192,"7":50,"8":56,"9":101,"10":86,"11":35,"12":240,"13":169,"14":146,"15":228,"16":141,"17":171,"18":160,"19":138,"20":149,"21":192,"22":20,"23":207,"24":205,"25":247,"26":173,"27":63,"28":166,"29":1,"30":224,"31":240}}},"messageType":"conversation","messageTimestamp":1761263774,"instanceId":"af682dfc-4de2-401c-9843-1943b422426f","source":"ios"},"destination":"https://webhook.aiautomacao.dev.br/webhook/IPTV","date_time":"2025-10-23T20:56:14.322Z","sender":"558591832196@s.whatsapp.net","server_url":"https://evolution.aiautomacao.dev.br","apikey":"1984C35FD59A-4C97-B4CA-3F2922F337CB"},"webhookUrl":"https://webhook.aiautomacao.dev.br/webhook/IPTV","executionMode":"production"}}],"Schedule Trigger":[{"json":{"timestamp":"2025-11-02T09:00:46.006-03:00","Readable date":"November 2nd 2025, 9:00:46 am","Readable time":"9:00:46 am","Day of week":"Sunday","Year":"2025","Month":"November","Day of month":"02","Hour":"09","Minute":"00","Second":"46","Timezone":"America/Sao_Paulo (UTC-03:00)"}}],"Schedule Trigger2":[{"json":{"timestamp":"2025-11-19T20:00:32.006-03:00","Readable date":"November 19th 2025, 8:00:32 pm","Readable time":"8:00:32 pm","Day of week":"Wednesday","Year":"2025","Month":"November","Day of month":"19","Hour":"20","Minute":"00","Second":"32","Timezone":"America/Sao_Paulo (UTC-03:00)"}}]},"versionId":"3c0bd04b-d6bd-44ef-9e4e-10b8af991ea8","triggerCount":8,"shared":[{"createdAt":"2025-08-17T01:49:02.590Z","updatedAt":"2025-08-17T01:49:02.590Z","role":"workflow:owner","workflowId":"C8TOipdxsT7xGDWu","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[]}