juntar-imagens-nano-banana-pro-rg1znI5FXouNWne6.json
{"createdAt":"2025-11-24T20:20:53.383Z","updatedAt":"2025-11-24T21:15:59.518Z","id":"rg1znI5FXouNWne6","name":"Juntar Imagens Nano Banana Pro","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## AI Agente gerador de prompt","height":432,"width":560,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-416,256],"id":"0503f1fe-6f7e-45de-983a-5a2a4363272f","name":"Sticky Note","disabled":true},{"parameters":{"content":"## Busca imagens no drive se sobre no IMGBB\n","height":432,"width":1424,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[160,256],"id":"9adb2e40-0080-4031-983f-11ef5757a91d","name":"Sticky Note1"},{"parameters":{"content":"## Junta as imagens com Nano Banana","height":544,"width":1136,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-416,736],"id":"fed9a11b-52d4-47c7-b199-f31ff660f76b","name":"Sticky Note2"},{"parameters":{"content":"## Saída","height":544,"width":848,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[736,736],"id":"44ae44b7-e211-47ca-ae0d-b44cd37b405f","name":"Sticky Note4"},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Utilize-a quando for necessário raciocínio complexo ou algum tipo de memória em cache.\n"},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[-64,544],"id":"d862acf6-ed78-48a1-9565-ee497be84aa7","name":"Think"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=Você é um agente criador de prompts para geração de imagem com Inteligência Artificial.\n\nVocê deve criar o prompt para a geração dessa imagem. Este prompt deve ser detalhado e otimizado para geração de imagens por IA. Este prompt não deve conter \\n ou \"\".\n\nUse a ferramenta **Think** para raciocinar melhor e gerar um prompt otimizado.\n\nNão peça confirmação Apenas crie o prompt com o que lhe foi informado."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-224,320],"id":"2ccfc59c-32ad-44de-8294-3604f1cd1411","name":"Agente Criador de Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"6831d021-c2d0-42a4-b625-aabfed3d170b","name":"images","value":"=['{{ $('Inicio do Workflow').item.json.imagem_1 }}','{{ $('Inicio do Workflow').item.json.imagem_2 }}']","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,352],"id":"eb562009-271a-49c6-8a04-4ec32472d061","name":"Criar um Array de Imagens"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"https://drive.google.com/file/d/1RuP_JBsCSq0BowkFeoTgEX2MssO6AePa/view?usp=sharing","mode":"url"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1008,512],"id":"eea737cb-e368-49d9-a902-8c4a10ed6bc6","name":"Faz o download das imagens","credentials":{"googleDriveOAuth2Api":{"id":"gXDP0jZXUNijrESg","name":"Google Drive account"}}},{"parameters":{"fieldToSplitOut":"images","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[656,512],"id":"51cdcddc-cda1-41b0-bed5-d8fe6d1b115b","name":"Separa"},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"},{"name":"key","value":"c4395b24a7d95a5d548f1a58217b105b"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1376,512],"id":"b079e8a1-aeaa-4fb1-b97a-3dbb71faac04","name":"Faz Upload no IMGBB","credentials":{"httpQueryAuth":{"id":"PZ1hllutpPwlEq6I","name":"imgbb"}}},{"parameters":{"method":"POST","url":"https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-goog-api-key","value":"AIzaSyDcjiT70fytAyKmR9HS82FjEvRSTyo3Ou0"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"contents\": [\n    {\n      \"parts\": [{{ $json.data[0].display_url }}\n        {\n          \"text\": \"Retrato composto a partir da foto de referência do usuário, recortar com precisão a silhueta e cabelo, remover fundo original e inserir o usuário palestrando em um palco de conferência moderno, luzes de palco suaves e key light frontal 45°, rim light azul atrás para recorte, spotlights difusos no teto, projeção de tela LED no fundo com bokeh leve, plateia desfocada em profundidade média, posicionar o usuário ao centro-esquerda em plano americano segurando um microfone de mão sem fio e um clicker, expressão confiante e engajada, olhar direcionado para a plateia, postura ereta e gesticulando\"\n        }\n      ]\n    }\n  ]\n} ","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-64,928],"id":"cec618c0-1c26-451f-a0ee-5a69b4c7fb76","name":"Cria Imagens com Nano Banana"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[176,816],"id":"535d9105-a5cc-4600-a8ae-96a415f07db6","name":"Espera 20 segundos","webhookId":"5958dcd2-becc-49bf-9700-60f8a8698686"},{"parameters":{"url":"=https://queue.fal.run/fal-ai/nano-banana-pro/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,880],"id":"b3c381a7-f217-4476-8879-0bec3bf7491b","name":"Verifica se imagem foi gerada","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}},"onError":"continueErrorOutput"},{"parameters":{"url":"={{ $json.images[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[816,992],"id":"5d729381-bd99-4be4-a609-978c0163c20c","name":"Faz Download da imagem"},{"parameters":{"name":"={{ $('Inicio do Workflow').item.json.titulo_da_imagem }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1DFVbmuMOhcGTANCK-VUC1WvQ23xR6zCs","mode":"list","cachedResultName":"NanoBanana Agent","cachedResultUrl":"https://drive.google.com/drive/folders/1DFVbmuMOhcGTANCK-VUC1WvQ23xR6zCs"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1088,992],"id":"6a016c36-d646-40f7-b797-e6eb8a119142","name":"Sobre no Drive","credentials":{"googleDriveOAuth2Api":{"id":"gXDP0jZXUNijrESg","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c66c7c13-57ca-4191-9af3-5ab306dfedfc","name":"Resposta","value":"=A imagem foi criada e nomeada como \"{{ $json.name }}\". \n\nEsse é o link dessa imagem no Google Drive gerada pelo nano banana pro: {{ $json.webViewLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1584,992],"id":"e9b14991-89e6-4c99-9914-c4e76fd617b7","name":"Avisa o Agente Principal que a imagem foi gerada"},{"parameters":{"workflowInputs":{"values":[{"name":"prompt"},{"name":"imagem_1"},{"name":"imagem_2"},{"name":"titulo_da_imagem"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-736,672],"id":"8ba8ed10-3854-4120-83b0-d7c7ee274c6b","name":"Inicio do Workflow"},{"parameters":{"content":"### Crie aqui sua conexão com a api da fal.ai","height":336,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-144,848],"id":"36c79cf4-17d2-4d49-9ce9-b00eb7993ee7","name":"Sticky Note3"},{"parameters":{"content":"### Adicione aqui sua conexão com a api da fal.ai","height":384,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[384,752],"id":"f588ef22-6d17-4eee-930e-ecd8907fe516","name":"Sticky Note5"},{"parameters":{"content":"### Ajuste a pasta do drive que você quer guardar a imagem gerada","height":336,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1024,848],"id":"d7de7314-3e33-4213-9f96-64e49f8ceef2","name":"Sticky Note6"},{"parameters":{"content":"## Entrada de Dados\n","height":304,"width":304},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-832,576],"id":"a2e40b32-9bc2-41da-8d81-d9a871aa6366","name":"Sticky Note7","disabled":true},{"parameters":{"content":"","height":1312,"width":2784,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-912,112],"id":"7e288d04-e113-470d-987a-a2a9e85a1de1","name":"Sticky Note8"},{"parameters":{"content":"### Adicione aqui API KEY com IMGBB","height":256,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1296,416],"id":"61fd9d02-5040-47d5-ab24-5149aa155991","name":"Sticky Note9"},{"parameters":{"content":"▇▇▕▇▇▕▇▕▕▇▕▇▕▕▕▕▇▇▇▇▇▕▇▕▇▇▇▕▕▇▕▕▕▕▕▇▇▕▕▕▇▇▇▕▕▇▕▇▇▕▇▇▕▕▇▇▕▕▕▇▇▇▕▇▇▇▇▕▇▕▕▇▕▕▇▇▇\n▇▕▇▕▇▕▇▕▕▇▕▇▕▕▕▕▕▕▇▕▕▕▇▕▇▕▕▇▕▇▕▕▕▕▇▕▕▇▕▇▕▕▕▕▕▇▕▇▕▇▕▇▕▇▕▕▇▕▇▕▕▕▕▇▕▕▕▕▇▇▕▇▕▇▕▕▕\n▇▕▇▕▇▕▇▕▕▇▕▇▕▕▕▕▕▕▇▕▕▕▇▕▇▇▇▕▕▇▕▕▕▕▇▇▇▇▕▕▇▇▕▕▕▇▕▇▕▇▕▇▕▇▇▇▇▕▇▕▇▇▕▇▇▇▕▕▇▕▇▇▕▕▇▇▕\n▇▕▕▕▇▕▇▕▕▇▕▇▕▕▕▕▕▕▇▕▕▕▇▕▇▕▕▕▕▇▕▕▕▕▇▕▕▇▕▕▕▕▇▕▕▇▕▇▕▕▕▇▕▇▕▕▇▕▇▕▕▇▕▇▕▕▕▕▇▕▕▇▕▕▕▕▇\n▇▕▕▕▇▕▕▇▇▕▕▇▇▇▇▕▕▕▇▕▕▕▇▕▇▕▕▕▕▇▇▇▇▕▇▕▕▇▕▇▇▇▕▕▕▇▕▇▕▕▕▇▕▇▕▕▇▕▕▇▇▕▕▇▇▇▇▕▇▕▕▇▕▇▇▇▕\n▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕","height":144,"width":1120,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"3cbfe4d1-3217-4075-86a8-d7a8ef265ffb","name":"Sticky Note10"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-336,816],"id":"85c83f94-89fd-4f73-bc99-a2161baba52d","name":"Agrega URLs geradas"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-256,544],"id":"7ae5c2bd-c8cb-434a-9fec-89f3bca55b89","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}}],"connections":{"Think":{"ai_tool":[[]]},"Agente Criador de Prompt":{"main":[[{"node":"Criar um Array de Imagens","type":"main","index":0}]]},"Criar um Array de Imagens":{"main":[[{"node":"Separa","type":"main","index":0}]]},"Faz o download das imagens":{"main":[[{"node":"Faz Upload no IMGBB","type":"main","index":0}]]},"Separa":{"main":[[{"node":"Faz o download das imagens","type":"main","index":0}]]},"Faz Upload no IMGBB":{"main":[[{"node":"Agrega URLs geradas","type":"main","index":0}]]},"Cria Imagens com Nano Banana":{"main":[[{"node":"Espera 20 segundos","type":"main","index":0}]]},"Espera 20 segundos":{"main":[[{"node":"Verifica se imagem foi gerada","type":"main","index":0}]]},"Verifica se imagem foi gerada":{"main":[[{"node":"Faz Download da imagem","type":"main","index":0}],[{"node":"Espera 20 segundos","type":"main","index":0}]]},"Faz Download da imagem":{"main":[[{"node":"Sobre no Drive","type":"main","index":0}]]},"Sobre no Drive":{"main":[[{"node":"Avisa o Agente Principal que a imagem foi gerada","type":"main","index":0}]]},"Inicio do Workflow":{"main":[[{"node":"Agente Criador de Prompt","type":"main","index":0}]]},"Agrega URLs geradas":{"main":[[{"node":"Cria Imagens com Nano Banana","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente Criador de Prompt","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Inicio do Workflow":[{"json":{"prompt":"Eu quero que remova e me coloque palestrando no palco.","imagem_1":"13gYeuL6nliXKkk5WKOt3aHo7lBL2s71A","imagem_2":"1qal5IP89XF-6wTuHTFEPsGNyvTuHa_Zg","titulo_da_imagem":"Ric no palco Hotmart evento"}}],"Criar um Array de Imagens":[{"json":{"images":["13gYeuL6nliXKkk5WKOt3aHo7lBL2s71A","1qal5IP89XF-6wTuHTFEPsGNyvTuHa_Zg"]}}]},"versionId":"a571c408-778c-476e-9091-e6628cf9b10b","triggerCount":0,"shared":[{"createdAt":"2025-11-24T20:20:53.383Z","updatedAt":"2025-11-24T20:20:53.383Z","role":"workflow:owner","workflowId":"rg1znI5FXouNWne6","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[]}