mega_sena-lrCEaTkDZEwwGzl2.json
{"createdAt":"2025-08-17T01:52:11.489Z","updatedAt":"2025-08-17T15:44:53.214Z","id":"lrCEaTkDZEwwGzl2","name":"Mega_Sena","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://loteriascaixa-api.herokuapp.com/api/megasena/latest","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"loteria\": \"megasena\",\n  \"concurso\": 2620,\n  \"data\": \"12/08/2023\",\n  \"local\": \"ESPAﾃ⑯ DA SORTE em Sﾃグ PAULO, SP\",\n  \"dezenasOrdemSorteio\": [\n    \"26\",\n    \"21\",\n    \"13\",\n    \"04\",\n    \"06\",\n    \"28\"\n  ],\n  \"dezenas\": [\n    \"04\",\n    \"06\",\n    \"13\",\n    \"21\",\n    \"26\",\n    \"28\"\n  ],\n  \"trevos\": [\n    \n  ],\n  \"timeCoracao\": null,\n  \"mesSorte\": null,\n  \"premiacoes\": [\n    {\n      \"descricao\": \"6 acertos\",\n      \"faixa\": 1,\n      \"ganhadores\": 4,\n      \"valorPremio\": 29058128.28\n    },\n    {\n      \"descricao\": \"5 acertos\",\n      \"faixa\": 2,\n      \"ganhadores\": 404,\n      \"valorPremio\": 23042.04\n    },\n    {\n      \"descricao\": \"4 acertos\",\n      \"faixa\": 3,\n      \"ganhadores\": 21667,\n      \"valorPremio\": 613.76\n    }\n  ],\n  \"estadosPremiados\": [\n    \n  ],\n  \"observacao\": \"\",\n  \"acumulou\": false,\n  \"proximoConcurso\": 2621,\n  \"dataProximoConcurso\": \"16/08/2023\",\n  \"localGanhadores\": [\n    {\n      \"ganhadores\": 1,\n      \"municipio\": \"CANAL ELETRONICO\",\n      \"nomeFatansiaUL\": \"\",\n      \"serie\": \"\",\n      \"posicao\": 1,\n      \"uf\": \"--\"\n    },\n    {\n      \"ganhadores\": 1,\n      \"municipio\": \"UBERABA\",\n      \"nomeFatansiaUL\": \"\",\n      \"serie\": \"\",\n      \"posicao\": 1,\n      \"uf\": \"MG\"\n    },\n    {\n      \"ganhadores\": 2,\n      \"municipio\": \"SINOP\",\n      \"nomeFatansiaUL\": \"\",\n      \"serie\": \"\",\n      \"posicao\": 1,\n      \"uf\": \"MT\"\n    }\n  ],\n  \"valorArrecadado\": 161458740,\n  \"valorAcumuladoConcurso_0_5\": 10778824.03,\n  \"valorAcumuladoConcursoEspecial\": 72866210.44,\n  \"valorAcumuladoProximoConcurso\": 0.0,\n  \"valorEstimadoProximoConcurso\": 3500000.0\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[208,112],"id":"5316c303-3bf2-4b6f-b8db-8a275e39bcf7","name":"HTTP Request"},{"parameters":{"assignments":{"assignments":[{"id":"d235f599-3780-4b2d-80a8-0692b0bd6ac2","name":"Mega Sena","value":"={{ $json.dezenasOrdemSorteio[0] }}, {{ $json.dezenasOrdemSorteio[1] }}, {{ $json.dezenasOrdemSorteio[2] }}, {{ $json.dezenasOrdemSorteio[3] }}, {{ $json.dezenasOrdemSorteio[4] }}, {{ $json.dezenasOrdemSorteio[5] }}","type":"string"},{"id":"81ad4253-912b-4390-9b03-2e2259dd164d","name":"Concurso","value":"={{ $json.concurso }}","type":"string"},{"id":"184412d0-b309-47b3-8c5b-479dc6fb268c","name":"Data Do Sorteio","value":"={{ $json.data }}","type":"string"},{"id":"3a6d5eff-8967-407b-b4c2-e7631d8c15af","name":"Local","value":"={{ $json.local }}","type":"string"},{"id":"5ac715fc-99ea-4716-b2c1-b70488904196","name":"telefone","value":"558591832196@s.whatsapp.net","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[352,112],"id":"babf9562-8186-42d1-bb2b-d429fc2d728f","name":"Edit Fields"},{"parameters":{"rule":{"interval":[{"triggerAtHour":8}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[32,112],"id":"8252d701-b883-4cda-ac9d-8e27dc27af52","name":"Schedule Trigger"},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/message/sendText/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  number:\"55\" + \"85991335752\" ,\n  text: $('AI Agent').item.json.output\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,112],"id":"cf0c7425-963d-4768-8b8f-168597414450","name":"Resposta Cliente1","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"promptType":"define","text":"=Numeros: {{ $json['Mega Sena'] }}\nConcurso: {{ $json.Concurso }},\ndata do sorteio: {{ $json['Data Do Sorteio'] }}\nLocal: {{ $json.Local }}\nAcumulou: {{ $('HTTP Request').item.json.acumulou }}\nvalor acumulado sempre deixe em reais brasil: {{ $('HTTP Request').item.json.valorAcumuladoProximoConcurso }}\nPremius e ganhadores: {{ $('HTTP Request').item.json.premiacoes }}","options":{"systemMessage":"=## Persona e Objetivo\nVocﾃｪ ﾃｩ um assistente de resultados da Mega Sena. Seu objetivo ﾃｩ informar o resultado do ﾃｺltimo concurso de forma **rﾃ｡pida, direta e visualmente limpa**.\n\n## Contexto e Regras\n- O usuﾃ｡rio sempre aposta os mesmos dois jogos:\n  - Jogo 1: `15, 16, 18, 32, 35, 54`\n  - Jogo 2: `13, 16, 36, 39, 40, 55`\n- Vocﾃｪ receberﾃ｡ os nﾃｺmeros sorteados e os detalhes do concurso. Sua tarefa ﾃｩ comparar os jogos do usuﾃ｡rio com os nﾃｺmeros sorteados.\n\n## Formato da Resposta (MUITO IMPORTANTE)\nSiga **exatamente** este formato para a resposta. Seja breve e use emojis.\n\n1.  **Cabeﾃｧalho:** Comece com um cabeﾃｧalho curto.\n    * Exemplo: `Confira o resultado do concurso [Nﾃｺmero do Concurso]! Mega Sena`\n\n2.  **Nﾃｺmeros Sorteados:** Apresente os nﾃｺmeros em uma ﾃｺnica linha.\n    * Exemplo: `項 **Nﾃｺmeros Sorteados:** [lista de nﾃｺmeros]`\n\n3.  **Anﾃ｡lise dos Jogos:** Analise cada jogo do usuﾃ｡rio de forma compacta, mostrando apenas os nﾃｺmeros que ele acertou.\n    * `鳩 **Seu Jogo 1:** Acertos: [nﾃｺmeros acertados]`\n    * `笞ｪ **Seu Jogo 2:** Acertos: [nﾃｺmeros acertados]`\n    * (Se nﾃ｣o acertar nenhum, escreva \"Nenhum\")\n\n4.  **Resultado Final (Condicional):**\n    * **SE** o usuﾃ｡rio acertou 4 ou mais nﾃｺmeros (Quadra, Quina, Sena): Dﾃｪ os parabﾃｩns e informe o prﾃｪmio para aquela faixa. Ex: \"Parabﾃｩns! Vocﾃｪ acertou a Quadra! 脂 O prﾃｪmio para cada um dos [Nﾂｺ de ganhadores] ganhadores foi de R$ [Valor do prﾃｪmio].\"\n    * **SE** o usuﾃ｡rio acertou menos de 4 nﾃｺmeros: Diga que nﾃ｣o foi dessa vez e informe o status do prﾃｪmio. Ex: \"Nﾃ｣o foi dessa vez!  O prﾃｪmio acumulou e a estimativa para o prﾃｳximo concurso ﾃｩ de **R$ [Valor Acumulado]**! 腸\"\n\n## O que Nﾃグ fazer:\n- Nﾃグ faﾃｧa longas introduﾃｧﾃｵes ou despedidas.\n- Nﾃグ repita a lista completa dos nﾃｺmeros que o usuﾃ｡rio apostou.\n- Nﾃグ explique as regras da Mega Sena, apenas informe o resultado.\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[560,112],"id":"bd412e92-8482-486d-bf6a-5d6dec505704","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[560,288],"id":"de7749ef-f979-4059-a4be-ff689aa61106","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"content":"## Verifica dados loterias","height":416,"width":1168,"color":4},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"58099410-dc5f-4120-b85d-89c585c31045","name":"Sticky Note"}],"connections":{"HTTP Request":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Resposta Cliente1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"c76646ae-8f9c-4256-9355-4849e650b3c2","triggerCount":1,"shared":[{"createdAt":"2025-08-17T01:52:11.489Z","updatedAt":"2025-08-17T01:52:11.489Z","role":"workflow:owner","workflowId":"lrCEaTkDZEwwGzl2","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[]}