mercado_livreparado-KIlqWiWOeCj6jAVT.json
{"createdAt":"2025-11-07T08:37:56.696Z","updatedAt":"2025-11-07T13:37:56.819Z","id":"KIlqWiWOeCj6jAVT","name":"Mercado_Livreparado","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"81416db6-8565-4ee3-afac-9917a812fa0b","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-416,-32],"id":"5c88d863-7d8c-4fc8-989d-d4673bf3112c","name":"Vendas","webhookId":"81416db6-8565-4ee3-afac-9917a812fa0b"},{"parameters":{"promptType":"define","text":"=Gere uma mensagem para WhatsApp seguindo o formato e regras acima com base nos seguintes dados NUNCA CRIE apenas adpte o mesmo produto e valores que recebemos nunca altere a unica coisa que deve ser alterada é o link do grupo de WhatsApp:\n\nNome do Produto, \nDescrição (crie uma pequena descrição a partir do nome ou categoria)\nValor Original: \nValor em Oferta: \nLink do Afiliado: e altere sempre o link do grupo de indicação para esse nunca utiliza o link de indicação que ja vem pronto do grupo que recebe a mensagem\nLink do Grupo: https://chat.whatsapp.com/E8GHnEgTCjI2Kuz1yDU9az\n\n","options":{"systemMessage":"=mensagem que vem do grupo: {{ $json.body.data.message.imageMessage.caption }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[16,-32],"id":"366f4a95-7d11-4e79-b5ab-b4c0dcce116d","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[16,144],"id":"22f6b7f4-0465-41b7-bfce-e0b4a56339bd","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Suporte","remoteJid":"+5585991335752","media":"={{ $('Vendas').item.json.body.data.message.imageMessage.url }}","caption":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[400,-32],"id":"0f7b2b6b-f8b9-4e78-9ef7-8d48c19b1472","name":"Enviar imagem","credentials":{"evolutionApi":{"id":"ORFkmZVnIA6OdA6n","name":"Evolution account"}}},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/chat/getBase64FromMediaMessage/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-208,112],"id":"58f0d295-c004-4aaf-a355-dfb208adc49d","name":"Converter Imagem em Base64","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}}],"connections":{"Vendas":{"main":[[{"node":"Converter Imagem em Base64","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar imagem","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Vendas":[{"json":{"headers":{"host":"webhook.aiautomacao.dev.br","user-agent":"axios/1.12.2","content-length":"6805","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.aiautomacao.dev.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"992611156f9d","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Pessoal","data":{"key":{"remoteJid":"558596862890-1588788418@g.us","fromMe":false,"id":"3EB02CC53C8D18E53135BA7C542EC1B11A3692E3","participant":"149684324679730@lid","participantAlt":"551131959056@s.whatsapp.net","addressingMode":"lid"},"pushName":"Rapadurinha","status":"DELIVERY_ACK","message":{"imageMessage":{"interactiveAnnotations":[],"scanLengths":[],"annotations":[],"url":"https://mmg.whatsapp.net/o1/v/t24/f2/m235/AQPDicyFhxGDI2E_FRx9KJ54MqxnEXLKUh8rx1RTT7eL8AVyj1oH3O4BT-DTDwCCPdiquhXuLzwipUZWPdQtXjxO6R33mcfAj2vafg2kkw?ccb=9-4&oh=01_Q5Aa3AEQxoEh4msmzU5uiWvFqt6fuwNJjaSVNkcYMghTW7iyAw&oe=6935524E&_nc_sid=e6ed6c&mms3=true","mimetype":"image/jpeg","caption":"SUA PRÓXIMA VIAGEM FICOU MUITO MAIS CHIC ✈️\n\nKit 2 Malas Bordo Viagem + Frasqueira Premium\n\nPor 420\n\n Cadeado Numérico, Padrão ANAC e Rodinhas 360°\n\nhttps://is.gd/ZlNWtJ\n\n> 🕵️‍♂️ Missão do dia: compartilhar essa oferta em pelo menos 3 dos teus grupos 📲 👇\n\n*https://chat.whatsapp.com/F2gDvsmYBLOHCA6fxIrPQn*","fileSha256":{"0":87,"1":80,"2":21,"3":207,"4":83,"5":52,"6":3,"7":2,"8":38,"9":115,"10":97,"11":110,"12":7,"13":130,"14":54,"15":107,"16":231,"17":163,"18":50,"19":100,"20":168,"21":99,"22":108,"23":43,"24":113,"25":148,"26":176,"27":125,"28":190,"29":40,"30":25,"31":124},"fileLength":{"low":83505,"high":0,"unsigned":true},"height":1024,"width":1024,"mediaKey":{"0":85,"1":230,"2":19,"3":238,"4":171,"5":213,"6":137,"7":14,"8":38,"9":231,"10":250,"11":229,"12":92,"13":66,"14":83,"15":130,"16":94,"17":238,"18":127,"19":41,"20":50,"21":93,"22":116,"23":207,"24":70,"25":196,"26":237,"27":183,"28":211,"29":65,"30":169,"31":21},"fileEncSha256":{"0":27,"1":238,"2":82,"3":35,"4":132,"5":114,"6":239,"7":33,"8":50,"9":35,"10":64,"11":145,"12":137,"13":94,"14":122,"15":173,"16":112,"17":34,"18":179,"19":117,"20":19,"21":58,"22":186,"23":74,"24":237,"25":126,"26":233,"27":99,"28":154,"29":13,"30":237,"31":57},"directPath":"/o1/v/t24/f2/m235/AQPDicyFhxGDI2E_FRx9KJ54MqxnEXLKUh8rx1RTT7eL8AVyj1oH3O4BT-DTDwCCPdiquhXuLzwipUZWPdQtXjxO6R33mcfAj2vafg2kkw?ccb=9-4&oh=01_Q5Aa3AEQxoEh4msmzU5uiWvFqt6fuwNJjaSVNkcYMghTW7iyAw&oe=6935524E&_nc_sid=e6ed6c","mediaKeyTimestamp":{"low":1762521178,"high":0,"unsigned":false},"jpegThumbnail":{"0":255,"1":216,"2":255,"3":219,"4":0,"5":67,"6":0,"7":16,"8":11,"9":12,"10":14,"11":12,"12":10,"13":16,"14":14,"15":13,"16":14,"17":18,"18":17,"19":16,"20":19,"21":24,"22":40,"23":26,"24":24,"25":22,"26":22,"27":24,"28":49,"29":35,"30":37,"31":29,"32":40,"33":58,"34":51,"35":61,"36":60,"37":57,"38":51,"39":56,"40":55,"41":64,"42":72,"43":92,"44":78,"45":64,"46":68,"47":87,"48":69,"49":55,"50":56,"51":80,"52":109,"53":81,"54":87,"55":95,"56":98,"57":103,"58":104,"59":103,"60":62,"61":77,"62":113,"63":121,"64":112,"65":100,"66":120,"67":92,"68":101,"69":103,"70":99,"71":255,"72":219,"73":0,"74":67,"75":1,"76":17,"77":18,"78":18,"79":24,"80":21,"81":24,"82":47,"83":26,"84":26,"85":47,"86":99,"87":66,"88":56,"89":66,"90":99,"91":99,"92":99,"93":99,"94":99,"95":99,"96":99,"97":99,"98":99,"99":99,"100":99,"101":99,"102":99,"103":99,"104":99,"105":99,"106":99,"107":99,"108":99,"109":99,"110":99,"111":99,"112":99,"113":99,"114":99,"115":99,"116":99,"117":99,"118":99,"119":99,"120":99,"121":99,"122":99,"123":99,"124":99,"125":99,"126":99,"127":99,"128":99,"129":99,"130":99,"131":99,"132":99,"133":99,"134":99,"135":99,"136":99,"137":99,"138":99,"139":99,"140":255,"141":192,"142":0,"143":17,"144":8,"145":0,"146":32,"147":0,"148":32,"149":3,"150":1,"151":34,"152":0,"153":2,"154":17,"155":1,"156":3,"157":17,"158":1,"159":255,"160":196,"161":0,"162":25,"163":0,"164":1,"165":0,"166":3,"167":1,"168":1,"169":0,"170":0,"171":0,"172":0,"173":0,"174":0,"175":0,"176":0,"177":0,"178":0,"179":0,"180":4,"181":2,"182":5,"183":6,"184":1,"185":3,"186":255,"187":196,"188":0,"189":37,"190":16,"191":0,"192":2,"193":2,"194":1,"195":3,"196":3,"197":4,"198":3,"199":0,"200":0,"201":0,"202":0,"203":0,"204":0,"205":0,"206":0,"207":1,"208":2,"209":3,"210":17,"211":0,"212":4,"213":5,"214":18,"215":19,"216":33,"217":113,"218":49,"219":65,"220":66,"221":81,"222":67,"223":114,"224":177,"225":255,"226":196,"227":0,"228":23,"229":1,"230":1,"231":1,"232":1,"233":1,"234":0,"235":0,"236":0,"237":0,"238":0,"239":0,"240":0,"241":0,"242":0,"243":0,"244":0,"245":0,"246":3,"247":2,"248":0,"249":1,"250":255,"251":196,"252":0,"253":24,"254":17,"255":1,"256":1,"257":1,"258":1,"259":1,"260":0,"261":0,"262":0,"263":0,"264":0,"265":0,"266":0,"267":0,"268":0,"269":0,"270":0,"271":1,"272":2,"273":0,"274":17,"275":33,"276":255,"277":218,"278":0,"279":12,"280":3,"281":1,"282":0,"283":2,"284":17,"285":3,"286":17,"287":0,"288":63,"289":0,"290":213,"291":75,"292":50,"293":197,"294":17,"295":36,"296":215,"297":106,"298":30,"299":115,"300":203,"301":77,"302":170,"303":28,"304":130,"305":49,"306":110,"307":234,"308":5,"309":179,"310":93,"311":156,"312":30,"313":231,"314":56,"315":16,"316":1,"317":242,"318":228,"319":10,"320":143,"321":186,"322":202,"323":248,"324":181,"325":15,"326":213,"327":66,"328":234,"329":21,"330":110,"331":239,"332":149,"333":228,"334":85,"335":113,"336":203,"337":51,"338":217,"339":218,"340":158,"341":89,"342":7,"343":61,"344":176,"345":43,"346":184,"347":66,"348":44,"349":52,"350":171,"351":99,"352":38,"353":154,"354":168,"355":229,"356":190,"357":155,"358":134,"359":175,"360":90,"361":246,"362":203,"363":19,"364":18,"365":58,"366":171,"367":117,"368":7,"369":140,"370":95,"371":177,"372":254,"373":96,"374":13,"375":241,"376":240,"377":50,"378":235,"379":114,"380":211,"381":205,"382":36,"383":35,"384":167,"385":17,"386":145,"387":149,"388":172,"389":0,"390":107,"391":2,"392":54,"393":237,"394":123,"395":126,"396":8,"397":148,"398":31,"399":91,"400":146,"401":206,"402":29,"403":10,"404":230,"405":138,"406":3,"407":220,"408":16,"409":73,"410":4,"411":253,"412":247,"413":197,"414":237,"415":82,"416":17,"417":62,"418":161,"419":107,"420":226,"421":185,"422":199,"423":209,"424":234,"425":226,"426":102,"427":229,"428":165,"429":44,"430":128,"431":246,"432":100,"433":96,"434":108,"435":120,"436":198,"437":237,"438":16,"439":16,"440":146,"441":74,"442":81,"443":148,"444":200,"445":64,"446":28,"447":135,"448":176,"449":205,"450":34,"451":59,"452":183,"453":67,"454":59,"455":255,"456":217},"contextInfo":{"mentionedJid":[],"groupMentions":[]}}},"contextInfo":{"mentionedJid":[],"groupMentions":[]},"messageType":"imageMessage","messageTimestamp":1762521180,"instanceId":"20c55cf9-0693-426b-a641-3ee8334b65ef","source":"unknown"},"destination":"https://webhook.aiautomacao.dev.br/webhook/81416db6-8565-4ee3-afac-9917a812fa0b","date_time":"2025-11-07T10:13:01.197Z","sender":"558591335752@s.whatsapp.net","server_url":"https://evolution.aiautomacao.dev.br","apikey":"73C0BDC2CC91-4D52-8451-457F58AF9D4D"},"webhookUrl":"https://webhook.aiautomacao.dev.br/webhook/81416db6-8565-4ee3-afac-9917a812fa0b","executionMode":"production"}}]},"versionId":"25e1978a-dfd0-433b-b809-85158afa2ee1","triggerCount":1,"shared":[{"createdAt":"2025-11-07T08:37:56.696Z","updatedAt":"2025-11-07T08:37:56.696Z","role":"workflow:owner","workflowId":"KIlqWiWOeCj6jAVT","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[]}