mercado_livreparado-KIlqWiWOeCj6jAVT.json
{"createdAt":"2025-11-07T08:37:56.696Z","updatedAt":"2025-12-11T14:38:23.652Z","id":"KIlqWiWOeCj6jAVT","name":"Mercado_Livreparado","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"telegram","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,-48],"id":"5c88d863-7d8c-4fc8-989d-d4673bf3112c","name":"Vendas","webhookId":"81416db6-8565-4ee3-afac-9917a812fa0b"},{"parameters":{"promptType":"define","text":"=mensagem que vem do grupo: {{ $json.body.data.message.imageMessage.caption }}\n\n","options":{"systemMessage":"=Gere uma mensagem para WhatsApp seguindo o formato e regras acima com base nos seguintes dados NUNCA CRIE apenas adpte o mesmo produto e valores que recebemos nunca altere a unica coisa que deve ser alterada é o link do grupo de WhatsApp:\n\nNome do Produto, \nDescrição (crie uma pequena descrição a partir do nome ou categoria)\nValor Original: \nValor em Oferta: \nLink do Afiliado: e altere sempre o link do grupo de indicação para esse nunca utiliza o link de indicação que ja vem pronto do grupo que recebe a mensagem\nLink do Grupo: https://chat.whatsapp.com/E8GHnEgTCjI2Kuz1yDU9az\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1680,-224],"id":"366f4a95-7d11-4e79-b5ab-b4c0dcce116d","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1776,32],"id":"22f6b7f4-0465-41b7-bfce-e0b4a56339bd","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Suporte","remoteJid":"+5585991335752","media":"={{ $('Organizador').item.json.Imagem }}","caption":"={{ $('Organizador').item.json[\"Descrição\"] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1024,-256],"id":"0f7b2b6b-f8b9-4e78-9ef7-8d48c19b1472","name":"Enviar imagem","credentials":{"evolutionApi":{"id":"ORFkmZVnIA6OdA6n","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"421d2fdf-095d-4d28-9168-3e9059c279ea","name":"Descrição","value":"={{ $json.body.raw_message }}","type":"string"},{"id":"eeaf5e98-d5a5-48b1-90b7-e23cadaa96db","name":"Link","value":"={{ $json.body.main_url }}","type":"string"},{"id":"431fa599-f9f1-46ac-809e-58bad86e244b","name":"Cupom","value":"={{ $json.body.cupom }}","type":"string"},{"id":"9cd6cca3-ad84-497f-8753-266fee335975","name":"Imagem","value":"={{ $json.body.image_base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,-48],"id":"e2bb98d6-4212-4b54-a4c5-9dd9b22b364a","name":"Organizador"},{"parameters":{"jsCode":"// Entrada da URL (ajustado ao seu input real)\nconst url = $json[\"Link\"] || \"\";\n\n// Normaliza a URL para comparação\nconst hostname = url.toLowerCase();\n\n// Lista de marketplaces conhecidos\nconst marketplaces = [\n  { match: \"mercadolivre.com\", name: \"Mercado Livre\" },\n  { match: \"amzn.to\", name: \"Amazon\" },\n  { match: \"amazon.com\", name: \"Amazon\" },\n  { match: \"shopee\", name: \"Shopee\" },\n  { match: \"magazineluiza.com\", name: \"Magazine Luiza\" },\n  { match: \"magalu\", name: \"Magalu\" },\n  { match: \"americanas.com\", name: \"Americanas\" },\n  { match: \"aliexpress\", name: \"AliExpress\" },\n];\n\n// Verifica se a URL contém algum marketplace conhecido\nfor (const mp of marketplaces) {\n  if (hostname.includes(mp.match)) {\n    return [{ marketplace: mp.name }];\n  }\n}\n\n// Caso não encontre, extrai nome genérico a partir do domínio\ntry {\n  const domain = new URL(url).hostname;\n  const name = domain\n    .replace(\"www.\", \"\")\n    .split(\".\")[0]\n    .replace(/[-_]/g, \" \")\n    .replace(/\\b\\w/g, c => c.toUpperCase());\n\n  return [{ marketplace: name }];\n} catch (e) {\n  return [{ marketplace: \"Desconhecido\" }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,-48],"id":"c1b05a97-18f2-4367-a982-f04e62290023","name":"Classificador"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Suporte","remoteJid":"558591335752-1586206579@g.us","media":"={{ $('Loop Over Items').item.json.link_imagem }}","caption":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1232,192],"id":"57378767-8bcd-41c7-adaf-594366d3eeda","name":"Enviar imagem Grupo","credentials":{"evolutionApi":{"id":"ORFkmZVnIA6OdA6n","name":"Evolution account"}}},{"parameters":{"tableId":"="},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1360,-208],"id":"e6029f15-bce7-4503-a1ec-baddf124a79d","name":"Create a row","credentials":{"supabaseApi":{"id":"YiyVBOXMUDSxpE6T","name":"Supabase account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1WjxNqKY-etSinbUoayvXdjYXIPZV5SL5wqSQjlKVVxc","mode":"list","cachedResultName":"Mercado_Livre_Telegram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WjxNqKY-etSinbUoayvXdjYXIPZV5SL5wqSQjlKVVxc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WjxNqKY-etSinbUoayvXdjYXIPZV5SL5wqSQjlKVVxc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LOJA":"={{ $json.marketplace }}","DESCRIÇÃO":"={{ $('Organizador').item.json[\"Descrição\"] }}","URL":"={{ $('Organizador').item.json.Link }}","CUPOM":"={{ $('Organizador').item.json.Cupom }}"},"matchingColumns":[],"schema":[{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CUPOM","displayName":"CUPOM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO","displayName":"DESCRIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"IMAGEM","displayName":"IMAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LOJA","displayName":"LOJA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,-48],"id":"125f5bac-bbd2-442e-a8a6-f42e68bb7b7a","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"url":"={{ $json.URL }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,-224],"id":"db6eec2b-0706-4f51-a47f-9f41ff5fb70e","name":"HTTP Request","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false},{"parameters":{"jsCode":"// Pega o conteúdo HTML baixado pelo nó anterior\nconst html = items[0].json.data;\nlet linkProduto = \"Link não encontrado\";\n\nif (html) {\n  // PROCURA O LINK NO JSON INTERNO DA PÁGINA\n  // O ML guarda os dados do produto num formato específico dentro do HTML\n  // Estamos procurando por: \"url\":\"www.mercadolivre.com.br/smart-tv...\"\n  \n  // Regex ajustado para pegar a URL que começa com www.mercadolivre e termina antes das aspas\n  const regex = /\"url\":\"(www\\.mercadolivre\\.com\\.br.*?)\"/;\n  const match = html.match(regex);\n\n  if (match && match[1]) {\n    let rawLink = match[1];\n\n    // O link vem codificado com barras invertidas (ex: \\u002F), precisamos limpar\n    // Transforma: www.mercadolivre.com.br\\u002Fsmart-tv... \n    // Em: https://www.mercadolivre.com.br/smart-tv...\n    \n    // Adiciona o https:// e corrige os caracteres unicode\n    linkProduto = \"https://\" + JSON.parse('\"' + rawLink + '\"');\n  }\n}\n\nreturn [{\n  json: {\n    link_final: linkProduto\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,-224],"id":"5252d868-b5b2-43b7-9222-3f838760b226","name":"Code in JavaScript"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[176,-224],"id":"c44fcad3-9b8e-4270-9815-de6a345f363c","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1WjxNqKY-etSinbUoayvXdjYXIPZV5SL5wqSQjlKVVxc","mode":"list","cachedResultName":"Mercado_Livre_Telegram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WjxNqKY-etSinbUoayvXdjYXIPZV5SL5wqSQjlKVVxc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WjxNqKY-etSinbUoayvXdjYXIPZV5SL5wqSQjlKVVxc/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"LOJA","lookupValue":"Mercado Livre"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[320,-224],"id":"df7ed327-5727-44fa-87c9-81885e2acea0","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1WjxNqKY-etSinbUoayvXdjYXIPZV5SL5wqSQjlKVVxc","mode":"list","cachedResultName":"Mercado_Livre_Telegram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WjxNqKY-etSinbUoayvXdjYXIPZV5SL5wqSQjlKVVxc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WjxNqKY-etSinbUoayvXdjYXIPZV5SL5wqSQjlKVVxc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get row(s) in sheet').item.json.row_number }}","Link Afiliado":"={{ $json.link_final }}"},"matchingColumns":["row_number"],"schema":[{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CUPOM","displayName":"CUPOM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DESCRIÇÃO","displayName":"DESCRIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IMAGEM","displayName":"IMAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LOJA","displayName":"LOJA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link Afiliado","displayName":"Link Afiliado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[832,-224],"id":"b10f26ab-60a0-4d72-9824-52a425d94784","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"path":"geison","responseMode":"responseNode","options":{}},"id":"062581b1-424f-428e-8d8e-058fd87fcf99","name":"Troca_de_Motorista","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[576,240],"webhookId":"listar-viagens"},{"parameters":{"respondWith":"text","responseBody":"<!DOCTYPE html>\n\n<html class=\"dark\" lang=\"pt-BR\"><head>\n<meta charset=\"utf-8\"/>\n<meta content=\"width=device-width, initial-scale=1.0\" name=\"viewport\"/>\n<title>Geison Fonseca - Dashboard</title>\n<!-- Fonts -->\n<link href=\"https://fonts.googleapis.com\" rel=\"preconnect\"/>\n<link crossorigin=\"\" href=\"https://fonts.gstatic.com\" rel=\"preconnect\"/>\n<link href=\"https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&amp;display=swap\" rel=\"stylesheet\"/>\n<link href=\"https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap\" rel=\"stylesheet\"/>\n<link href=\"https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap\" rel=\"stylesheet\"/>\n<!-- Tailwind CSS -->\n<script src=\"https://cdn.tailwindcss.com?plugins=forms,container-queries\"></script>\n<script id=\"tailwind-config\">\n        tailwind.config = {\n            darkMode: \"class\",\n            theme: {\n                extend: {\n                    colors: {\n                        \"primary\": \"#36e27b\", // Green from config\n                        \"accent\": \"#FF0080\", // Hot Pink for user request\n                        \"accent-dark\": \"#b30059\",\n                        \"background-light\": \"#f6f8f7\",\n                        \"background-dark\": \"#112117\", // Dark green base from config\n                        \"surface-dark\": \"#1A2C23\", // Slightly lighter for cards\n                    },\n                    fontFamily: {\n                        \"display\": [\"Plus Jakarta Sans\", \"sans-serif\"]\n                    },\n                    borderRadius: {\"DEFAULT\": \"1rem\", \"lg\": \"2rem\", \"xl\": \"3rem\", \"full\": \"9999px\"},\n                },\n            },\n        }\n    </script>\n<style>\n        /* Custom scrollbar for webkit */\n        ::-webkit-scrollbar {\n            width: 8px;\n            height: 8px;\n        }\n        ::-webkit-scrollbar-track {\n            background: #112117; \n        }\n        ::-webkit-scrollbar-thumb {\n            background: #254632; \n            border-radius: 4px;\n        }\n        ::-webkit-scrollbar-thumb:hover {\n            background: #FF0080; \n        }\n    </style>\n</head>\n<body class=\"bg-background-light dark:bg-background-dark text-slate-900 dark:text-white font-display overflow-hidden selection:bg-accent selection:text-white\">\n<div class=\"flex h-screen w-full overflow-hidden\">\n<!-- Side Navigation -->\n<aside class=\"hidden lg:flex w-72 flex-col border-r border-[#254632] bg-background-dark h-full relative z-20\">\n<div class=\"flex flex-col h-full p-6 justify-between\">\n<div class=\"flex flex-col gap-8\">\n<!-- User Profile Snippet in Sidebar -->\n<div class=\"flex items-center gap-4 px-2\">\n<div class=\"relative\">\n<div class=\"bg-center bg-no-repeat bg-cover rounded-full size-12 ring-2 ring-accent ring-offset-2 ring-offset-[#112117]\" data-alt=\"Profile picture of Geison Fonseca\" style='background-image: url(\"https://lh3.googleusercontent.com/aida-public/AB6AXuDSMkDlEyhzLmmR8pM5aQiAKySXjdW3XPKZ9hcJ_W2grXb70_yLEv_VR_nPjLEzLCd5HoRTFLXVr52RZgus2RGE5Roy_Xoauu-YfTjQO0nPDeTMzWF4UFWGn6SoXckBNMjV9by3zpvW3n9KnFRRBkFoErC0cLKjqVRw8OgkIH0rcmqDaP_eD0e31En0F42wcdb_qhOsPIU3auyf7BZZ5R3j1t5p_6AoyCpI6moVkPZIJVqWZIOPZG6k09G1TUAW5o6tjK1qT6b-db4a\");'></div>\n<div class=\"absolute bottom-0 right-0 size-3 bg-primary rounded-full border-2 border-[#112117]\"></div>\n</div>\n<div class=\"flex flex-col\">\n<h1 class=\"text-white text-base font-bold leading-tight\">Geison Fonseca</h1>\n<p class=\"text-accent text-xs font-semibold uppercase tracking-wider\">Admin</p>\n</div>\n</div>\n<!-- Navigation Links -->\n<nav class=\"flex flex-col gap-2\">\n<a class=\"flex items-center gap-4 px-4 py-3.5 rounded-full bg-accent text-white shadow-[0_0_20px_rgba(255,0,128,0.3)] transition-all hover:scale-[1.02]\" href=\"#\">\n<span class=\"material-symbols-outlined\" style=\"font-size: 24px;\">dashboard</span>\n<span class=\"text-sm font-bold\">Dashboard</span>\n</a>\n<a class=\"flex items-center gap-4 px-4 py-3.5 rounded-full text-gray-400 hover:bg-[#254632] hover:text-white transition-all group\" href=\"#\">\n<span class=\"material-symbols-outlined group-hover:text-accent transition-colors\" style=\"font-size: 24px;\">inventory_2</span>\n<span class=\"text-sm font-medium\">Estoque</span>\n</a>\n<a class=\"flex items-center gap-4 px-4 py-3.5 rounded-full text-gray-400 hover:bg-[#254632] hover:text-white transition-all group\" href=\"#\">\n<span class=\"material-symbols-outlined group-hover:text-accent transition-colors\" style=\"font-size: 24px;\">payments</span>\n<span class=\"text-sm font-medium\">Fluxo de Caixa</span>\n</a>\n<a class=\"flex items-center gap-4 px-4 py-3.5 rounded-full text-gray-400 hover:bg-[#254632] hover:text-white transition-all group\" href=\"#\">\n<span class=\"material-symbols-outlined group-hover:text-accent transition-colors\" style=\"font-size: 24px;\">bar_chart</span>\n<span class=\"text-sm font-medium\">Relatórios</span>\n</a>\n<a class=\"flex items-center gap-4 px-4 py-3.5 rounded-full text-gray-400 hover:bg-[#254632] hover:text-white transition-all group\" href=\"#\">\n<span class=\"material-symbols-outlined group-hover:text-accent transition-colors\" style=\"font-size: 24px;\">settings</span>\n<span class=\"text-sm font-medium\">Configurações</span>\n</a>\n</nav>\n</div>\n<!-- Bottom Action -->\n<div class=\"p-4 rounded-2xl bg-[#1A2C23] border border-[#254632] relative overflow-hidden group\">\n<div class=\"absolute top-0 right-0 w-24 h-24 bg-accent/10 rounded-full blur-2xl -mr-10 -mt-10 pointer-events-none\"></div>\n<div class=\"relative z-10 flex flex-col gap-3\">\n<div class=\"flex items-center gap-2 text-accent\">\n<span class=\"material-symbols-outlined\">headset_mic</span>\n<span class=\"text-sm font-bold\">Suporte</span>\n</div>\n<p class=\"text-xs text-gray-400\">Precisa de ajuda com o sistema?</p>\n<button class=\"w-full py-2 bg-[#254632] hover:bg-accent text-white rounded-lg text-xs font-bold transition-colors\">\n                            Abrir Chamado\n                        </button>\n</div>\n</div>\n</div>\n</aside>\n<!-- Main Content -->\n<main class=\"flex-1 flex flex-col h-full overflow-hidden relative\">\n<!-- Header -->\n<header class=\"flex items-center justify-between px-6 py-5 border-b border-[#254632] bg-background-dark shrink-0\">\n<div class=\"flex items-center gap-4 lg:hidden\">\n<button class=\"text-white p-2\">\n<span class=\"material-symbols-outlined\">menu</span>\n</button>\n</div>\n<div class=\"hidden lg:flex items-center gap-2\">\n<h2 class=\"text-white text-xl font-bold\">Visão Geral</h2>\n</div>\n<div class=\"flex flex-1 justify-end gap-4 lg:gap-6 items-center\">\n<!-- Search -->\n<div class=\"hidden md:flex items-center bg-[#1A2C23] rounded-full px-4 py-2 border border-[#254632] w-64 focus-within:border-accent transition-colors\">\n<span class=\"material-symbols-outlined text-gray-400\">search</span>\n<input class=\"bg-transparent border-none focus:ring-0 text-white text-sm w-full placeholder-gray-500\" placeholder=\"Buscar produtos...\" type=\"text\"/>\n</div>\n<!-- Actions -->\n<div class=\"flex items-center gap-2\">\n<button class=\"relative flex items-center justify-center size-10 rounded-full bg-[#1A2C23] hover:bg-[#254632] text-white border border-[#254632] transition-colors\">\n<span class=\"material-symbols-outlined\" style=\"font-size: 20px;\">notifications</span>\n<span class=\"absolute top-2 right-2 size-2 bg-accent rounded-full animate-pulse\"></span>\n</button>\n<button class=\"flex items-center justify-center size-10 rounded-full bg-accent hover:bg-accent-dark text-white shadow-[0_0_15px_rgba(255,0,128,0.4)] transition-colors\">\n<span class=\"material-symbols-outlined\" style=\"font-size: 20px;\">add</span>\n</button>\n</div>\n</div>\n</header>\n<!-- Scrollable Dashboard Content -->\n<div class=\"flex-1 overflow-y-auto p-4 lg:p-8 scroll-smooth\">\n<div class=\"max-w-7xl mx-auto flex flex-col gap-8\">\n<!-- Welcome Heading -->\n<div class=\"flex flex-wrap justify-between items-end gap-4\">\n<div class=\"flex flex-col gap-1\">\n<h1 class=\"text-3xl lg:text-4xl font-extrabold text-white tracking-tight\">\n                                Bem-vindo, <span class=\"text-transparent bg-clip-text bg-gradient-to-r from-white to-gray-400\">Geison</span>\n</h1>\n<p class=\"text-gray-400 text-sm font-medium\">Resumo de estoque e movimentações do dia 24 de Outubro.</p>\n</div>\n<div class=\"flex gap-3\">\n<button class=\"px-5 py-2.5 rounded-full border border-[#254632] bg-[#1A2C23] text-white text-sm font-semibold hover:border-accent hover:text-accent transition-all\">\n                                Exportar\n                            </button>\n<button class=\"px-5 py-2.5 rounded-full bg-accent text-white text-sm font-semibold hover:bg-accent-dark shadow-[0_4px_20px_rgba(255,0,128,0.3)] transition-all flex items-center gap-2\">\n<span class=\"material-symbols-outlined\" style=\"font-size: 18px;\">download</span>\n                                Relatório Diário\n                            </button>\n</div>\n</div>\n<!-- Stats Grid -->\n<div class=\"grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 lg:gap-6\">\n<!-- Card 1: Balance (Green) -->\n<div class=\"flex flex-col gap-4 p-6 rounded-[2rem] bg-[#1A2C23] border border-[#254632] relative overflow-hidden group hover:border-primary/50 transition-colors\">\n<div class=\"absolute -right-4 -top-4 w-24 h-24 bg-primary/10 rounded-full blur-2xl group-hover:bg-primary/20 transition-all\"></div>\n<div class=\"flex justify-between items-start z-10\">\n<div class=\"p-2 rounded-xl bg-primary/10 text-primary\">\n<span class=\"material-symbols-outlined\">account_balance_wallet</span>\n</div>\n<span class=\"flex items-center gap-1 text-primary bg-primary/10 px-2 py-1 rounded-full text-xs font-bold\">\n<span class=\"material-symbols-outlined\" style=\"font-size: 14px;\">trending_up</span>\n                                    +12%\n                                </span>\n</div>\n<div class=\"flex flex-col gap-1 z-10\">\n<p class=\"text-gray-400 text-sm font-medium\">Saldo Atual</p>\n<h3 class=\"text-2xl font-bold text-white\">R$ 45.200,00</h3>\n</div>\n</div>\n<!-- Card 2: Stock Value (White/Blueish) -->\n<div class=\"flex flex-col gap-4 p-6 rounded-[2rem] bg-[#1A2C23] border border-[#254632] relative overflow-hidden group hover:border-white/30 transition-colors\">\n<div class=\"flex justify-between items-start z-10\">\n<div class=\"p-2 rounded-xl bg-white/5 text-white\">\n<span class=\"material-symbols-outlined\">inventory</span>\n</div>\n<span class=\"flex items-center gap-1 text-primary bg-primary/10 px-2 py-1 rounded-full text-xs font-bold\">\n                                    +5%\n                                </span>\n</div>\n<div class=\"flex flex-col gap-1 z-10\">\n<p class=\"text-gray-400 text-sm font-medium\">Valor em Estoque</p>\n<h3 class=\"text-2xl font-bold text-white\">R$ 120.500,00</h3>\n</div>\n</div>\n<!-- Card 3: Expenses/Outflow (Pink) -->\n<div class=\"flex flex-col gap-4 p-6 rounded-[2rem] bg-[#1A2C23] border border-[#254632] relative overflow-hidden group hover:border-accent/50 transition-colors\">\n<div class=\"absolute -left-4 -bottom-4 w-24 h-24 bg-accent/10 rounded-full blur-2xl group-hover:bg-accent/20 transition-all\"></div>\n<div class=\"flex justify-between items-start z-10\">\n<div class=\"p-2 rounded-xl bg-accent/10 text-accent\">\n<span class=\"material-symbols-outlined\">payments</span>\n</div>\n<span class=\"flex items-center gap-1 text-accent bg-accent/10 px-2 py-1 rounded-full text-xs font-bold\">\n<span class=\"material-symbols-outlined\" style=\"font-size: 14px;\">trending_down</span>\n                                    -2.4%\n                                </span>\n</div>\n<div class=\"flex flex-col gap-1 z-10\">\n<p class=\"text-gray-400 text-sm font-medium\">Saídas (Mês)</p>\n<h3 class=\"text-2xl font-bold text-white\">R$ 12.350,00</h3>\n</div>\n</div>\n<!-- Card 4: Critical Alerts (Solid Pink) -->\n<div class=\"flex flex-col gap-4 p-6 rounded-[2rem] bg-accent border border-accent relative overflow-hidden group shadow-[0_10px_30px_-10px_rgba(255,0,128,0.5)]\">\n<div class=\"absolute inset-0 bg-gradient-to-br from-transparent to-black/20\"></div>\n<div class=\"flex justify-between items-start z-10\">\n<div class=\"p-2 rounded-xl bg-white/20 text-white backdrop-blur-sm\">\n<span class=\"material-symbols-outlined\">warning</span>\n</div>\n<span class=\"flex items-center gap-1 text-white bg-white/20 px-2 py-1 rounded-full text-xs font-bold backdrop-blur-sm\">\n                                    Ação Necessária\n                                </span>\n</div>\n<div class=\"flex flex-col gap-1 z-10\">\n<p class=\"text-white/80 text-sm font-bold\">Alertas de Estoque</p>\n<h3 class=\"text-2xl font-bold text-white\">5 Itens</h3>\n</div>\n</div>\n</div>\n<!-- Charts Section -->\n<div class=\"grid grid-cols-1 xl:grid-cols-3 gap-6\">\n<!-- Main Chart: Cash Flow -->\n<div class=\"xl:col-span-2 rounded-[2rem] bg-[#1A2C23] border border-[#254632] p-6 lg:p-8 flex flex-col gap-6\">\n<div class=\"flex flex-wrap items-center justify-between gap-4\">\n<div>\n<h3 class=\"text-lg font-bold text-white\">Fluxo de Caixa</h3>\n<p class=\"text-sm text-gray-400\">Comparativo de entradas e saídas (30 dias)</p>\n</div>\n<div class=\"flex items-center gap-4\">\n<div class=\"flex items-center gap-2\">\n<span class=\"size-3 rounded-full bg-primary\"></span>\n<span class=\"text-xs text-gray-300 font-medium\">Entradas</span>\n</div>\n<div class=\"flex items-center gap-2\">\n<span class=\"size-3 rounded-full bg-accent\"></span>\n<span class=\"text-xs text-gray-300 font-medium\">Saídas</span>\n</div>\n<select class=\"bg-[#112117] border border-[#254632] text-white text-xs rounded-lg px-2 py-1 focus:ring-accent focus:border-accent outline-none\">\n<option>Últimos 30 dias</option>\n<option>Últimos 6 meses</option>\n<option>Este ano</option>\n</select>\n</div>\n</div>\n<!-- Custom Chart Visualization -->\n<div class=\"relative w-full h-64 mt-4\">\n<div class=\"absolute inset-0 flex flex-col justify-between text-xs text-gray-500 font-medium\">\n<div class=\"border-b border-dashed border-[#254632] w-full h-0\"></div>\n<div class=\"border-b border-dashed border-[#254632] w-full h-0\"></div>\n<div class=\"border-b border-dashed border-[#254632] w-full h-0\"></div>\n<div class=\"border-b border-dashed border-[#254632] w-full h-0\"></div>\n<div class=\"border-b border-[#254632] w-full h-0\"></div>\n</div>\n<div class=\"absolute inset-0 flex items-end justify-between px-2 pt-2 gap-2 z-10\">\n<!-- Bar Groups -->\n<div class=\"flex flex-col items-center gap-2 flex-1 h-full justify-end group cursor-pointer\">\n<div class=\"w-full max-w-[12px] h-[40%] bg-primary rounded-t-sm group-hover:opacity-80 transition-opacity\"></div>\n<div class=\"w-full max-w-[12px] h-[20%] bg-accent rounded-t-sm group-hover:opacity-80 transition-opacity\"></div>\n<span class=\"text-[10px] text-gray-400\">1 Out</span>\n</div>\n<div class=\"flex flex-col items-center gap-2 flex-1 h-full justify-end group cursor-pointer\">\n<div class=\"w-full max-w-[12px] h-[65%] bg-primary rounded-t-sm group-hover:opacity-80 transition-opacity\"></div>\n<div class=\"w-full max-w-[12px] h-[30%] bg-accent rounded-t-sm group-hover:opacity-80 transition-opacity\"></div>\n<span class=\"text-[10px] text-gray-400\">5 Out</span>\n</div>\n<div class=\"flex flex-col items-center gap-2 flex-1 h-full justify-end group cursor-pointer\">\n<div class=\"w-full max-w-[12px] h-[50%] bg-primary rounded-t-sm group-hover:opacity-80 transition-opacity\"></div>\n<div class=\"w-full max-w-[12px] h-[45%] bg-accent rounded-t-sm group-hover:opacity-80 transition-opacity\"></div>\n<span class=\"text-[10px] text-gray-400\">10 Out</span>\n</div>\n<div class=\"flex flex-col items-center gap-2 flex-1 h-full justify-end group cursor-pointer\">\n<div class=\"w-full max-w-[12px] h-[80%] bg-primary rounded-t-sm group-hover:opacity-80 transition-opacity relative\">\n<div class=\"hidden group-hover:block absolute -top-8 left-1/2 -translate-x-1/2 bg-white text-[#112117] text-xs font-bold px-2 py-1 rounded\">R$8k</div>\n</div>\n<div class=\"w-full max-w-[12px] h-[25%] bg-accent rounded-t-sm group-hover:opacity-80 transition-opacity\"></div>\n<span class=\"text-[10px] text-gray-400\">15 Out</span>\n</div>\n<div class=\"flex flex-col items-center gap-2 flex-1 h-full justify-end group cursor-pointer\">\n<div class=\"w-full max-w-[12px] h-[60%] bg-primary rounded-t-sm group-hover:opacity-80 transition-opacity\"></div>\n<div class=\"w-full max-w-[12px] h-[55%] bg-accent rounded-t-sm group-hover:opacity-80 transition-opacity\"></div>\n<span class=\"text-[10px] text-gray-400\">20 Out</span>\n</div>\n<div class=\"flex flex-col items-center gap-2 flex-1 h-full justify-end group cursor-pointer\">\n<div class=\"w-full max-w-[12px] h-[90%] bg-primary rounded-t-sm group-hover:opacity-80 transition-opacity\"></div>\n<div class=\"w-full max-w-[12px] h-[35%] bg-accent rounded-t-sm group-hover:opacity-80 transition-opacity\"></div>\n<span class=\"text-[10px] text-gray-400\">Hoje</span>\n</div>\n</div>\n</div>\n</div>\n<!-- Secondary Widget: Low Stock -->\n<div class=\"rounded-[2rem] bg-[#1A2C23] border border-[#254632] p-6 lg:p-8 flex flex-col gap-6\">\n<div class=\"flex items-center justify-between\">\n<h3 class=\"text-lg font-bold text-white\">Estoque Baixo</h3>\n<a class=\"text-xs text-accent font-bold hover:underline\" href=\"#\">Ver todos</a>\n</div>\n<div class=\"flex flex-col gap-4\">\n<!-- Item 1 -->\n<div class=\"flex items-center gap-3 p-3 rounded-2xl bg-[#112117] border border-[#254632] hover:border-accent transition-colors group\">\n<div class=\"bg-center bg-no-repeat bg-cover rounded-xl size-12 shrink-0\" data-alt=\"Product image of Nike Air Max shoes\" style='background-image: url(\"https://lh3.googleusercontent.com/aida-public/AB6AXuCC8sJZBoXNk4vm1xgD5isyGbHWB_bXR2_fOSF4mYT-FjmMK-DuZfRKyf21LnSTFDGUb_MdycKOYLuCPMaq2qIJEgNFSPdVJtatMB0UXJ_dH3-pkv2M4Btkc5B-XMRrZ7x8PTsUmKg7rVpfyHbpKu6fXmBZvhmy3rxi7BoS7tHgS49wDpvpWQC-EEu2JNEoz-Lnrgsb7Cf8tVBue0WStdfMjBM93pRWbq1OMcTylcukXs-dz7BY7K45JFjgpRVv0pNf4KaNdCmhLkHE\");'></div>\n<div class=\"flex flex-col flex-1 min-w-0\">\n<h4 class=\"text-white text-sm font-bold truncate\">Nike Air Max</h4>\n<p class=\"text-gray-400 text-xs\">SKU: NK-2023-RED</p>\n</div>\n<div class=\"flex flex-col items-end gap-1\">\n<span class=\"text-accent text-sm font-bold\">2 un</span>\n<span class=\"size-2 bg-accent rounded-full animate-pulse\"></span>\n</div>\n</div>\n<!-- Item 2 -->\n<div class=\"flex items-center gap-3 p-3 rounded-2xl bg-[#112117] border border-[#254632] hover:border-accent transition-colors group\">\n<div class=\"bg-center bg-no-repeat bg-cover rounded-xl size-12 shrink-0\" data-alt=\"Product image of leather backpack\" style='background-image: url(\"https://lh3.googleusercontent.com/aida-public/AB6AXuBML9IJ0t1VV3dsu1Kgx7fPV8W0TmiGHWzSmDzZitVQcGjucUlWJdhZHB0WdlsGL09qriAG1xof2ODJbo3cssOMpinjx0dYF_3t-AGNXVFgGYjbJebTbWs1ggd6SzqRY03gnzvHJxYAekl1IgN_wDhCuNaBHQP4AReeuV-LtUEL7Uw-lH5rO432MTfH7i1LhiQXUXAAo88mt5mrcNJPqoUm6Fslwg54icmozpoBZ-xulqRrUPLmlv3WuluOY2JtH8RhHPrQCODApUdv\");'></div>\n<div class=\"flex flex-col flex-1 min-w-0\">\n<h4 class=\"text-white text-sm font-bold truncate\">Mochila Couro</h4>\n<p class=\"text-gray-400 text-xs\">SKU: MC-BL-01</p>\n</div>\n<div class=\"flex flex-col items-end gap-1\">\n<span class=\"text-accent text-sm font-bold\">4 un</span>\n<span class=\"size-2 bg-accent rounded-full animate-pulse\"></span>\n</div>\n</div>\n<!-- Item 3 -->\n<div class=\"flex items-center gap-3 p-3 rounded-2xl bg-[#112117] border border-[#254632] hover:border-accent transition-colors group\">\n<div class=\"bg-center bg-no-repeat bg-cover rounded-xl size-12 shrink-0\" data-alt=\"Product image of wireless headphones\" style='background-image: url(\"https://lh3.googleusercontent.com/aida-public/AB6AXuCAyIHZ51LowojLxqfPHBWssyXz-48VWx1ESfrQW0HcFYxbXegu47jsYJVtV4AZAyDmHZ8rABt-ZrOKA95sWjVCh86jFB6BcEG5sgpCDsnT1Fggj0Hs673u4MSz-rraSAophi-RQUaRebH_UenALOsakbxHAAkOQOC_kGLS3zrtsri0JIMbYFCQdVm7v1--vnGM-qMMQ2eIEOj4irZsP-oDcAGxeibboWhwJKtz8eijzZ1-keyvndR9zl5UHPVKuz9I4XBsLW2jeTzn\");'></div>\n<div class=\"flex flex-col flex-1 min-w-0\">\n<h4 class=\"text-white text-sm font-bold truncate\">Sony Headphones</h4>\n<p class=\"text-gray-400 text-xs\">SKU: SN-XM4</p>\n</div>\n<div class=\"flex flex-col items-end gap-1\">\n<span class=\"text-accent text-sm font-bold\">1 un</span>\n<span class=\"size-2 bg-accent rounded-full animate-pulse\"></span>\n</div>\n</div>\n<button class=\"mt-2 w-full py-3 rounded-xl border border-accent text-accent text-sm font-bold hover:bg-accent hover:text-white transition-all uppercase tracking-wide\">\n                                    Repor Estoque\n                                </button>\n</div>\n</div>\n</div>\n<!-- Recent Transactions Table -->\n<div class=\"rounded-[2rem] bg-[#1A2C23] border border-[#254632] overflow-hidden\">\n<div class=\"p-6 lg:p-8 flex items-center justify-between border-b border-[#254632]\">\n<h3 class=\"text-lg font-bold text-white\">Transações Recentes</h3>\n<button class=\"flex items-center gap-2 text-sm text-gray-400 hover:text-white transition-colors\">\n<span class=\"material-symbols-outlined\" style=\"font-size: 18px;\">filter_list</span>\n                                Filtros\n                            </button>\n</div>\n<div class=\"overflow-x-auto\">\n<table class=\"w-full text-left border-collapse\">\n<thead class=\"bg-[#112117] text-gray-400 text-xs uppercase tracking-wider\">\n<tr>\n<th class=\"p-6 font-semibold\">Produto / Descrição</th>\n<th class=\"p-6 font-semibold\">Data</th>\n<th class=\"p-6 font-semibold\">Categoria</th>\n<th class=\"p-6 font-semibold\">Status</th>\n<th class=\"p-6 font-semibold text-right\">Valor</th>\n</tr>\n</thead>\n<tbody class=\"text-sm divide-y divide-[#254632]\">\n<tr class=\"hover:bg-[#254632]/30 transition-colors\">\n<td class=\"p-6\">\n<div class=\"flex items-center gap-3\">\n<div class=\"size-10 rounded-full bg-primary/10 flex items-center justify-center text-primary\">\n<span class=\"material-symbols-outlined\" style=\"font-size: 20px;\">shopping_bag</span>\n</div>\n<div class=\"flex flex-col\">\n<span class=\"text-white font-bold\">Venda #1024</span>\n<span class=\"text-gray-400 text-xs\">Cliente: Maria Silva</span>\n</div>\n</div>\n</td>\n<td class=\"p-6 text-gray-300\">24 Out, 2023</td>\n<td class=\"p-6\">\n<span class=\"px-3 py-1 rounded-full bg-[#112117] border border-[#254632] text-gray-300 text-xs font-medium\">Vendas</span>\n</td>\n<td class=\"p-6\">\n<span class=\"flex items-center gap-1.5 text-primary text-xs font-bold\">\n<span class=\"size-1.5 rounded-full bg-primary\"></span>\n                                                Concluído\n                                            </span>\n</td>\n<td class=\"p-6 text-right font-bold text-primary\">+ R$ 450,00</td>\n</tr>\n<tr class=\"hover:bg-[#254632]/30 transition-colors\">\n<td class=\"p-6\">\n<div class=\"flex items-center gap-3\">\n<div class=\"size-10 rounded-full bg-accent/10 flex items-center justify-center text-accent\">\n<span class=\"material-symbols-outlined\" style=\"font-size: 20px;\">local_shipping</span>\n</div>\n<div class=\"flex flex-col\">\n<span class=\"text-white font-bold\">Fornecedor ABC</span>\n<span class=\"text-gray-400 text-xs\">Reposição Estoque</span>\n</div>\n</div>\n</td>\n<td class=\"p-6 text-gray-300\">23 Out, 2023</td>\n<td class=\"p-6\">\n<span class=\"px-3 py-1 rounded-full bg-[#112117] border border-[#254632] text-gray-300 text-xs font-medium\">Logística</span>\n</td>\n<td class=\"p-6\">\n<span class=\"flex items-center gap-1.5 text-orange-400 text-xs font-bold\">\n<span class=\"size-1.5 rounded-full bg-orange-400\"></span>\n                                                Pendente\n                                            </span>\n</td>\n<td class=\"p-6 text-right font-bold text-accent\">- R$ 1.200,00</td>\n</tr>\n<tr class=\"hover:bg-[#254632]/30 transition-colors\">\n<td class=\"p-6\">\n<div class=\"flex items-center gap-3\">\n<div class=\"size-10 rounded-full bg-primary/10 flex items-center justify-center text-primary\">\n<span class=\"material-symbols-outlined\" style=\"font-size: 20px;\">shopping_bag</span>\n</div>\n<div class=\"flex flex-col\">\n<span class=\"text-white font-bold\">Venda #1023</span>\n<span class=\"text-gray-400 text-xs\">Cliente: João Paulo</span>\n</div>\n</div>\n</td>\n<td class=\"p-6 text-gray-300\">23 Out, 2023</td>\n<td class=\"p-6\">\n<span class=\"px-3 py-1 rounded-full bg-[#112117] border border-[#254632] text-gray-300 text-xs font-medium\">Vendas</span>\n</td>\n<td class=\"p-6\">\n<span class=\"flex items-center gap-1.5 text-primary text-xs font-bold\">\n<span class=\"size-1.5 rounded-full bg-primary\"></span>\n                                                Concluído\n                                            </span>\n</td>\n<td class=\"p-6 text-right font-bold text-primary\">+ R$ 890,00</td>\n</tr>\n</tbody>\n</table>\n</div>\n<div class=\"p-4 border-t border-[#254632] flex justify-center\">\n<button class=\"text-sm font-bold text-accent hover:text-white transition-colors flex items-center gap-1\">\n                                Ver todas transações\n                                <span class=\"material-symbols-outlined\" style=\"font-size: 16px;\">arrow_forward</span>\n</button>\n</div>\n</div>\n</div>\n</div>\n</main>\n</div>\n</body></html>","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[816,240],"id":"6d080e8b-d92f-4a69-a5e7-0aa4a3e73014","name":"Respond to Webhook1"}],"connections":{"Vendas":{"main":[[{"node":"Organizador","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Organizador":{"main":[[{"node":"Classificador","type":"main","index":0}]]},"Classificador":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Troca_de_Motorista":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"63f815e5-ac31-4e83-bafc-25bdeed25e52","triggerCount":3,"shared":[{"createdAt":"2025-11-07T08:37:56.696Z","updatedAt":"2025-11-07T08:37:56.696Z","role":"workflow:owner","workflowId":"KIlqWiWOeCj6jAVT","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[]}