mercado_livreparado-KIlqWiWOeCj6jAVT.json
{"createdAt":"2025-11-07T08:37:56.696Z","updatedAt":"2025-12-09T23:42:21.369Z","id":"KIlqWiWOeCj6jAVT","name":"Mercado_Livreparado","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"telegram","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-400,-48],"id":"5c88d863-7d8c-4fc8-989d-d4673bf3112c","name":"Vendas","webhookId":"81416db6-8565-4ee3-afac-9917a812fa0b"},{"parameters":{"promptType":"define","text":"=mensagem que vem do grupo: {{ $json.body.data.message.imageMessage.caption }}\n\n","options":{"systemMessage":"=Gere uma mensagem para WhatsApp seguindo o formato e regras acima com base nos seguintes dados NUNCA CRIE apenas adpte o mesmo produto e valores que recebemos nunca altere a unica coisa que deve ser alterada é o link do grupo de WhatsApp:\n\nNome do Produto, \nDescrição (crie uma pequena descrição a partir do nome ou categoria)\nValor Original: \nValor em Oferta: \nLink do Afiliado: e altere sempre o link do grupo de indicação para esse nunca utiliza o link de indicação que ja vem pronto do grupo que recebe a mensagem\nLink do Grupo: https://chat.whatsapp.com/E8GHnEgTCjI2Kuz1yDU9az\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[1680,-224],"id":"366f4a95-7d11-4e79-b5ab-b4c0dcce116d","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1776,32],"id":"22f6b7f4-0465-41b7-bfce-e0b4a56339bd","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Suporte","remoteJid":"+5585991335752","media":"={{ $('Organizador').item.json.Imagem }}","caption":"={{ $('Organizador').item.json[\"Descrição\"] }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1024,-256],"id":"0f7b2b6b-f8b9-4e78-9ef7-8d48c19b1472","name":"Enviar imagem","credentials":{"evolutionApi":{"id":"ORFkmZVnIA6OdA6n","name":"Evolution account"}}},{"parameters":{"assignments":{"assignments":[{"id":"421d2fdf-095d-4d28-9168-3e9059c279ea","name":"Descrição","value":"={{ $json.body.raw_message }}","type":"string"},{"id":"eeaf5e98-d5a5-48b1-90b7-e23cadaa96db","name":"Link","value":"={{ $json.body.main_url }}","type":"string"},{"id":"431fa599-f9f1-46ac-809e-58bad86e244b","name":"Cupom","value":"={{ $json.body.cupom }}","type":"string"},{"id":"9cd6cca3-ad84-497f-8753-266fee335975","name":"Imagem","value":"={{ $json.body.image_base64 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-224,-48],"id":"e2bb98d6-4212-4b54-a4c5-9dd9b22b364a","name":"Organizador"},{"parameters":{"jsCode":"// Entrada da URL (ajustado ao seu input real)\nconst url = $json[\"Link\"] || \"\";\n\n// Normaliza a URL para comparação\nconst hostname = url.toLowerCase();\n\n// Lista de marketplaces conhecidos\nconst marketplaces = [\n  { match: \"mercadolivre.com\", name: \"Mercado Livre\" },\n  { match: \"amzn.to\", name: \"Amazon\" },\n  { match: \"amazon.com\", name: \"Amazon\" },\n  { match: \"shopee\", name: \"Shopee\" },\n  { match: \"magazineluiza.com\", name: \"Magazine Luiza\" },\n  { match: \"magalu\", name: \"Magalu\" },\n  { match: \"americanas.com\", name: \"Americanas\" },\n  { match: \"aliexpress\", name: \"AliExpress\" },\n];\n\n// Verifica se a URL contém algum marketplace conhecido\nfor (const mp of marketplaces) {\n  if (hostname.includes(mp.match)) {\n    return [{ marketplace: mp.name }];\n  }\n}\n\n// Caso não encontre, extrai nome genérico a partir do domínio\ntry {\n  const domain = new URL(url).hostname;\n  const name = domain\n    .replace(\"www.\", \"\")\n    .split(\".\")[0]\n    .replace(/[-_]/g, \" \")\n    .replace(/\\b\\w/g, c => c.toUpperCase());\n\n  return [{ marketplace: name }];\n} catch (e) {\n  return [{ marketplace: \"Desconhecido\" }];\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-64,-48],"id":"c1b05a97-18f2-4367-a982-f04e62290023","name":"Classificador"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Suporte","remoteJid":"558591335752-1586206579@g.us","media":"={{ $('Loop Over Items').item.json.link_imagem }}","caption":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1232,192],"id":"57378767-8bcd-41c7-adaf-594366d3eeda","name":"Enviar imagem Grupo","credentials":{"evolutionApi":{"id":"ORFkmZVnIA6OdA6n","name":"Evolution account"}}},{"parameters":{"tableId":"="},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1360,-208],"id":"e6029f15-bce7-4503-a1ec-baddf124a79d","name":"Create a row","credentials":{"supabaseApi":{"id":"YiyVBOXMUDSxpE6T","name":"Supabase account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1WjxNqKY-etSinbUoayvXdjYXIPZV5SL5wqSQjlKVVxc","mode":"list","cachedResultName":"Mercado_Livre_Telegram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WjxNqKY-etSinbUoayvXdjYXIPZV5SL5wqSQjlKVVxc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WjxNqKY-etSinbUoayvXdjYXIPZV5SL5wqSQjlKVVxc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"LOJA":"={{ $json.marketplace }}","DESCRIÇÃO":"={{ $('Organizador').item.json[\"Descrição\"] }}","URL":"={{ $('Organizador').item.json.Link }}","CUPOM":"={{ $('Organizador').item.json.Cupom }}"},"matchingColumns":[],"schema":[{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"CUPOM","displayName":"CUPOM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"DESCRIÇÃO","displayName":"DESCRIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"IMAGEM","displayName":"IMAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"LOJA","displayName":"LOJA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[96,-48],"id":"125f5bac-bbd2-442e-a8a6-f42e68bb7b7a","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"url":"={{ $json.URL }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[464,-224],"id":"db6eec2b-0706-4f51-a47f-9f41ff5fb70e","name":"HTTP Request","alwaysOutputData":false,"executeOnce":false,"retryOnFail":false},{"parameters":{"jsCode":"// Pega o conteúdo HTML baixado pelo nó anterior\nconst html = items[0].json.data;\nlet linkProduto = \"Link não encontrado\";\n\nif (html) {\n  // PROCURA O LINK NO JSON INTERNO DA PÁGINA\n  // O ML guarda os dados do produto num formato específico dentro do HTML\n  // Estamos procurando por: \"url\":\"www.mercadolivre.com.br/smart-tv...\"\n  \n  // Regex ajustado para pegar a URL que começa com www.mercadolivre e termina antes das aspas\n  const regex = /\"url\":\"(www\\.mercadolivre\\.com\\.br.*?)\"/;\n  const match = html.match(regex);\n\n  if (match && match[1]) {\n    let rawLink = match[1];\n\n    // O link vem codificado com barras invertidas (ex: \\u002F), precisamos limpar\n    // Transforma: www.mercadolivre.com.br\\u002Fsmart-tv... \n    // Em: https://www.mercadolivre.com.br/smart-tv...\n    \n    // Adiciona o https:// e corrige os caracteres unicode\n    linkProduto = \"https://\" + JSON.parse('\"' + rawLink + '\"');\n  }\n}\n\nreturn [{\n  json: {\n    link_final: linkProduto\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,-224],"id":"5252d868-b5b2-43b7-9222-3f838760b226","name":"Code in JavaScript"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[176,-224],"id":"c44fcad3-9b8e-4270-9815-de6a345f363c","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"1WjxNqKY-etSinbUoayvXdjYXIPZV5SL5wqSQjlKVVxc","mode":"list","cachedResultName":"Mercado_Livre_Telegram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WjxNqKY-etSinbUoayvXdjYXIPZV5SL5wqSQjlKVVxc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WjxNqKY-etSinbUoayvXdjYXIPZV5SL5wqSQjlKVVxc/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"LOJA","lookupValue":"Mercado Livre"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[320,-224],"id":"df7ed327-5727-44fa-87c9-81885e2acea0","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1WjxNqKY-etSinbUoayvXdjYXIPZV5SL5wqSQjlKVVxc","mode":"list","cachedResultName":"Mercado_Livre_Telegram","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WjxNqKY-etSinbUoayvXdjYXIPZV5SL5wqSQjlKVVxc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1WjxNqKY-etSinbUoayvXdjYXIPZV5SL5wqSQjlKVVxc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"row_number":"={{ $('Get row(s) in sheet').item.json.row_number }}","Link Afiliado":"={{ $json.link_final }}"},"matchingColumns":["row_number"],"schema":[{"id":"URL","displayName":"URL","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"CUPOM","displayName":"CUPOM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"DESCRIÇÃO","displayName":"DESCRIÇÃO","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"IMAGEM","displayName":"IMAGEM","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"LOJA","displayName":"LOJA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Link Afiliado","displayName":"Link Afiliado","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[832,-224],"id":"b10f26ab-60a0-4d72-9824-52a425d94784","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}}],"connections":{"Vendas":{"main":[[{"node":"Organizador","type":"main","index":0}]]},"AI Agent":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Organizador":{"main":[[{"node":"Classificador","type":"main","index":0}]]},"Classificador":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"132ed9d0-512c-40f7-8065-d6fa454c23c0","triggerCount":2,"shared":[{"createdAt":"2025-11-07T08:37:56.696Z","updatedAt":"2025-11-07T08:37:56.696Z","role":"workflow:owner","workflowId":"KIlqWiWOeCj6jAVT","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[]}