mercado-livre-qkktKOUiqGrDxadL.json
{"createdAt":"2025-08-31T00:39:07.069Z","updatedAt":"2025-11-03T01:12:11.041Z","id":"qkktKOUiqGrDxadL","name":"Mercado Livre","active":true,"isArchived":false,"nodes":[{"parameters":{"documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/182Hz0fhuQnz41yiwFgUHZ_NaMOdB6zKuceTk9G8o7Yw/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/182Hz0fhuQnz41yiwFgUHZ_NaMOdB6zKuceTk9G8o7Yw/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Enviado?"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-224,-32],"id":"f2ebf8fd-d089-499e-8013-ad9e21720570","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}},{"parameters":{"promptType":"define","text":"=Gere uma mensagem para WhatsApp seguindo o formato e regras acima com base nos seguintes dados:\n\nNome do Produto: {{ $('Get row(s) in sheet').item.json.titulo }}\n\nDescrição (crie uma pequena descrição a partir do nome ou categoria)\n\nValor Original: {{ $('Get row(s) in sheet').item.json.preco_original }}\n\nValor em Oferta: {{ $('Get row(s) in sheet').item.json.preco_oferta }}\n\nLink do Afiliado: {{ $('Get row(s) in sheet').item.json.link_afiliado }}\n\nLink do Grupo: https://chat.whatsapp.com/CoGkOuZF2Wd10Nq0h2If4c?mode=wwt","options":{"systemMessage":"=🛍️ {{ $('Get row(s) in sheet').item.json.titulo }}\n\n\nDescrição criativa de até 2 linhas, destacando o benefício principal do produto\n\n🔥💥 De {{ $('Get row(s) in sheet').item.json.preco_original }}por apenas {{ $('Get row(s) in sheet').item.json.preco_oferta }}!\n\n👉 Garanta o seu aqui:\n{{ $('Get row(s) in sheet').item.json.link_afiliado }}\n\n📣 Gostou? Imagina quando a galera ver isso!\nManda nos grupos antes que acabe 👇\n\nhttps://chat.whatsapp.com/CoGkOuZF2Wd10Nq0h2If4c?mode=wwt\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[400,-16],"id":"cda68c68-8a0c-4eda-b780-7954fc3eaaca","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[400,192],"id":"9babbf91-339d-438a-b4d6-40018c4bf148","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Suporte","remoteJid":"558591335752-1586206579@g.us","media":"={{ $('Loop Over Items').item.json.link_imagem }}","caption":"={{ $json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[720,-80],"id":"82682905-b899-42e3-9c41-895c08373e86","name":"Enviar imagem","credentials":{"evolutionApi":{"id":"ORFkmZVnIA6OdA6n","name":"Evolution account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-16,-32],"id":"a2914881-1cdd-43ea-a6ab-84e1d71e9a4f","name":"Loop Over Items"},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-432,-32],"id":"9d0fb9fc-113b-4141-89ab-4ce3a7624cb0","name":"Schedule Trigger"},{"parameters":{"resource":"messages-api","operation":"send-image","instanceName":"Suporte","remoteJid":"120363183026725694@g.us","media":"={{ $('Loop Over Items').item.json.link_imagem }}","caption":"={{ $('AI Agent').item.json.output }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[896,-192],"id":"bcf0afa2-b2b3-4c3d-bc73-3ed321b1f2db","name":"Familia_Natal","credentials":{"evolutionApi":{"id":"ORFkmZVnIA6OdA6n","name":"Evolution account"}}},{"parameters":{"operation":"delete","documentId":{"__rl":true,"value":"https://docs.google.com/spreadsheets/d/182Hz0fhuQnz41yiwFgUHZ_NaMOdB6zKuceTk9G8o7Yw/edit?gid=0#gid=0","mode":"url"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Produtos","cachedResultUrl":"https://docs.google.com/spreadsheets/d/182Hz0fhuQnz41yiwFgUHZ_NaMOdB6zKuceTk9G8o7Yw/edit#gid=0"},"startIndex":"={{ $json.row_number }}"},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[224,-16],"id":"5f18ef16-0be8-4713-a236-dc4db4c2afbd","name":"Delete rows or columns from sheet","credentials":{"googleSheetsOAuth2Api":{"id":"l0M1OebNsjzk6KPT","name":"Google Sheets account 2"}}}],"connections":{"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Enviar imagem","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Delete rows or columns from sheet","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Enviar imagem":{"main":[[{"node":"Familia_Natal","type":"main","index":0}]]},"Delete rows or columns from sheet":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"a1115b94-b03d-4671-84b9-5d97581c7140","triggerCount":1,"shared":[{"createdAt":"2025-08-31T00:39:07.069Z","updatedAt":"2025-08-31T00:39:07.069Z","role":"workflow:owner","workflowId":"qkktKOUiqGrDxadL","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[{"createdAt":"2025-08-31T00:27:03.242Z","updatedAt":"2025-08-31T00:27:03.242Z","id":"TXEvNtFQOmGHz7uR","name":"template"}]}