my-workflow-3-dXqBaKfTI43HRVJQ.json
{"createdAt":"2025-09-12T14:57:29.591Z","updatedAt":"2025-09-12T14:57:29.591Z","id":"dXqBaKfTI43HRVJQ","name":"My workflow 3","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-256,-32],"id":"6906a933-f1e2-4e3c-87c7-540b86be45d8","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://icomprova.nddcargo.com.br:9051/connect/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"bcd1af7f7df14bb08d36f8f622a1f9c2"},{"name":"client_secret","value":"3+CVOm8Z+sR6cN2/SS+yuRdUtWz7RZRrvseDt7rTeic="}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[352,-32],"id":"1dd7b3f2-c376-412d-96c0-b98b0f3f6e31","name":"ObterToken"},{"parameters":{"assignments":{"assignments":[{"id":"fb5820e0-05a0-4103-9a97-8d02318385ae","name":"Remessa","value":"OTMPRD.5105664","type":"string"},{"id":"f8f0d4dc-2346-4ffa-9817-9c369f6bd352","name":"URL","value":"https://icomprova.nddcargo.com.br:9003","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[176,-32],"id":"917a81c0-96d5-4055-8c77-36ad7b0b683b","name":"Remessas"},{"parameters":{"url":"={{ $('Remessas').item.json.URL }}/api/Viagem/numero/{{ $('Remessas').item.json.Remessa }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$node[\"ObterToken\"].json.access_token}}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[576,-32],"id":"e745c086-31d8-4998-8c11-f9f1844d0908","name":"HTTP Request"},{"parameters":{"documentId":{"__rl":true,"value":"1JcZlsR84oqFmUFFb_7ELw_Jm9_TEB3XBC8CYxtsvXmc","mode":"list","cachedResultName":"Criar Viagens MOVE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JcZlsR84oqFmUFFb_7ELw_Jm9_TEB3XBC8CYxtsvXmc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1JcZlsR84oqFmUFFb_7ELw_Jm9_TEB3XBC8CYxtsvXmc/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-48,-32],"id":"1897237c-513e-4fba-818c-2cf148cf3a2f","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"ObterToken":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Remessas":{"main":[[{"node":"ObterToken","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Remessas","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}]},"versionId":"d8eed524-8660-4fad-ac16-df0794ccfcf3","triggerCount":0,"tags":[]}