my-workflow-4-JKtp8v3eALBvMaRi.json
{"createdAt":"2025-10-08T14:08:19.644Z","updatedAt":"2025-10-08T14:12:55.192Z","id":"JKtp8v3eALBvMaRi","name":"My workflow 4","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"checkin-portaria","responseMode":"responseNode","options":{}},"id":"04752477-075e-4071-a736-7c5ebbbdd91c","name":"Webhook - Receber Check-in","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-1264,112],"webhookId":"checkin-portaria"},{"parameters":{"operation":"get","documentId":"={{ $json.spreadsheetId }}"},"id":"98c147a9-7cc1-46fe-9b31-a044fd2c5e45","name":"Google Sheets - Buscar Viagens","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[-1056,112],"credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.tipo_busca }}","operation":"equals","value2":"remessa"}]}},"id":"dd0f81c5-6444-4263-b807-c055fc758f3e","name":"IF - Tipo de Busca","type":"n8n-nodes-base.if","typeVersion":1,"position":[-864,112]},{"parameters":{"jsCode":"// Buscar por número de remessa\nconst remessa = $input.first().json.numero_remessa;\nconst viagens = $input.all()[1].json;\n\nconst viagemEncontrada = viagens.find(v => \n  v.numero_remessa === remessa\n);\n\nif (viagemEncontrada) {\n  return {\n    encontrado: true,\n    viagem: viagemEncontrada,\n    tipo: 'remessa'\n  };\n} else {\n  return {\n    encontrado: false,\n    numero_remessa: remessa,\n    tipo: 'remessa'\n  };\n}"},"id":"a02a16d9-193a-4b4f-9328-0bfa4b9a6d10","name":"Code - Buscar por Remessa","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,0]},{"parameters":{"jsCode":"// Buscar por placa\nconst placa = $input.first().json.placa;\nconst viagens = $input.all()[1].json;\n\nconst viagensEncontradas = viagens.filter(v => \n  v.placa.toUpperCase() === placa.toUpperCase()\n);\n\nif (viagensEncontradas.length > 0) {\n  return {\n    encontrado: true,\n    viagens: viagensEncontradas,\n    tipo: 'placa',\n    quantidade: viagensEncontradas.length\n  };\n} else {\n  return {\n    encontrado: false,\n    placa: placa,\n    tipo: 'placa'\n  };\n}"},"id":"b1cd9df6-9547-4536-ba18-3e8ebae2d116","name":"Code - Buscar por Placa","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,208]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.encontrado }}","value2":true}]}},"id":"43c7fb00-f6e9-4600-9a40-f4ed0c871158","name":"IF - Encontrou Viagem?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-464,112]},{"parameters":{"operation":"append","documentId":"={{ $json.spreadsheetId }}","sheetName":"Check-ins","options":{}},"id":"ad30f9a8-5a7e-4f33-91e7-d1c9f80d2bf6","name":"Sheets - Registrar Check-in","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[-256,0],"credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"operation":"append","documentId":"={{ $json.spreadsheetId }}","sheetName":"Motoristas Sem Viagem","options":{}},"id":"7456445b-4441-4819-9b5c-2be75dfb582f","name":"Sheets - Motorista Sem Viagem","type":"n8n-nodes-base.googleSheets","typeVersion":3,"position":[-256,208],"credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"={{ $env.TEAMS_WEBHOOK_URL }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"body","value":"={{ JSON.stringify({\n  \"@type\": \"MessageCard\",\n  \"@context\": \"https://schema.org/extensions\",\n  \"summary\": \"Novo Check-in na Portaria\",\n  \"themeColor\": \"28a745\",\n  \"title\": \"🚚 NOVO CHECK-IN PORTARIA\",\n  \"sections\": [\n    {\n      \"activityTitle\": \"✅ Viagem Encontrada\",\n      \"activitySubtitle\": $now.toFormat('dd/MM/yyyy HH:mm'),\n      \"facts\": [\n        { \"name\": \"📋 Remessa:\", \"value\": $json.viagem.numero_remessa },\n        { \"name\": \"🚗 Placa:\", \"value\": $json.viagem.placa },\n        { \"name\": \"👤 Motorista:\", \"value\": $json.viagem.motorista },\n        { \"name\": \"🏢 Transportadora:\", \"value\": $json.viagem.transportadora }\n      ],\n      \"text\": \"O motorista realizou check-in com sucesso.\"\n    }\n  ]\n}) }}"}]},"options":{"response":{"response":{}}}},"id":"cfc95379-5a75-452b-be86-6bbe6fe1725f","name":"Teams - Viagem Encontrada","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-64,0]},{"parameters":{"method":"POST","url":"={{ $env.TEAMS_WEBHOOK_URL }}","sendBody":true,"bodyParameters":{"parameters":[{"name":"body","value":"={{ JSON.stringify({\n  \"@type\": \"MessageCard\",\n  \"@context\": \"https://schema.org/extensions\",\n  \"summary\": \"ALERTA: Motorista sem viagem\",\n  \"themeColor\": \"dc3545\",\n  \"title\": \"⚠️ ALERTA - MOTORISTA SEM VIAGEM\",\n  \"sections\": [\n    {\n      \"activityTitle\": \"❌ Viagem NÃO encontrada\",\n      \"activitySubtitle\": $now.toFormat('dd/MM/yyyy HH:mm'),\n      \"facts\": [\n        { \"name\": \"👤 Nome:\", \"value\": $json.nome_completo },\n        { \"name\": \"📱 Telefone:\", \"value\": $json.telefone },\n        { \"name\": \"🚗 Placa:\", \"value\": $json.placa },\n        { \"name\": \"🏢 Transportadora:\", \"value\": $json.transportadora }\n      ],\n      \"text\": \"⚡ **AÇÃO NECESSÁRIA**: Verificar com equipe de expedição\"\n    }\n  ]\n}) }}"}]},"options":{"response":{"response":{}}}},"id":"268aa95a-df59-44c9-b9f5-2bc5bff7500e","name":"Teams - Sem Viagem (ALERTA)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-64,208]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"0d205b1d-a562-4ac9-96f6-8535451ccca5","name":"Response - Sucesso","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[144,0]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"92d99e9b-dc28-4a22-8b16-f6984fcbcfa8","name":"Response - Sem Viagem","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[144,208]}],"connections":{"Webhook - Receber Check-in":{"main":[[{"node":"Google Sheets - Buscar Viagens","type":"main","index":0}]]},"Google Sheets - Buscar Viagens":{"main":[[{"node":"IF - Tipo de Busca","type":"main","index":0}]]},"IF - Tipo de Busca":{"main":[[{"node":"Code - Buscar por Remessa","type":"main","index":0}],[{"node":"Code - Buscar por Placa","type":"main","index":0}]]},"Code - Buscar por Remessa":{"main":[[{"node":"IF - Encontrou Viagem?","type":"main","index":0}]]},"Code - Buscar por Placa":{"main":[[{"node":"IF - Encontrou Viagem?","type":"main","index":0}]]},"IF - Encontrou Viagem?":{"main":[[{"node":"Sheets - Registrar Check-in","type":"main","index":0}],[{"node":"Sheets - Motorista Sem Viagem","type":"main","index":0}]]},"Sheets - Registrar Check-in":{"main":[[{"node":"Teams - Viagem Encontrada","type":"main","index":0}]]},"Sheets - Motorista Sem Viagem":{"main":[[{"node":"Teams - Sem Viagem (ALERTA)","type":"main","index":0}]]},"Teams - Viagem Encontrada":{"main":[[{"node":"Response - Sucesso","type":"main","index":0}]]},"Teams - Sem Viagem (ALERTA)":{"main":[[{"node":"Response - Sem Viagem","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"65c1779f-2a0b-48ca-90d6-2fda3f253e7b","triggerCount":1,"tags":[]}