nano-banana-pro-agent-fuULh3j09WbGbIhF.json
{"createdAt":"2025-11-24T20:09:13.221Z","updatedAt":"2025-11-24T20:20:08.604Z","id":"fuULh3j09WbGbIhF","name":"Nano Banana Pro Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## Entrada de Dados","height":224},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-336,768],"id":"a7b9613f-0184-428f-ab5d-eb0679adf1b7","name":"Sticky Note"},{"parameters":{"content":"## Pega imagem do Drive e sob no IMGBB","height":368,"width":1008,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,240],"id":"d468db96-8346-4a9b-b123-ff625ae87f34","name":"Sticky Note1"},{"parameters":{"content":"## Cria Imagem com Nano Banana","height":448,"width":1024,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,624],"id":"bfca6122-1685-42b0-9c14-affe6f3f8959","name":"Sticky Note2"},{"parameters":{"content":"## Saída","height":416,"width":1008,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[16,1104],"id":"1c0c6dab-c7a0-4109-999b-abee70de7154","name":"Sticky Note4"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id_imagem }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[96,336],"id":"8809acbb-8be4-4536-970c-702e22cea1b0","name":"Baixar a Imagem","credentials":{"googleDriveOAuth2Api":{"id":"gXDP0jZXUNijrESg","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"},{"name":"key","value":"86604458963fcd72fd74d9ab6b64e286"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[832,368],"id":"a3ecd6f9-f48f-43e2-aded-0be4727c4063","name":"Envia para o IMGBB"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[496,736],"id":"68e6d843-7243-4f42-856a-f4da47782863","name":"Espera 20 segundos","webhookId":"bed5ada3-22a9-476e-b0e5-189c441aa10e"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/nano-banana-pro/edit","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ \n  $('Inicia o Fluxo').item.json.prompt_imagem.replace(/\\\"/g, '\\\\\\\"').replace(/(\\r\\n|\\n|\\r)/g, '\\\\n') }}}}\",\n  \"image_urls\": [\n    \"{{ $json.data.url }}\"\n  ],\n  \"num_images\": 1,\n  \"output_format\": \"png\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[112,800],"id":"9736ce74-2222-426d-9408-a33454db4de7","name":"Cria Imagem com NanoBanana","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"url":"=https://queue.fal.run/fal-ai/nano-banana-pro/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[816,784],"id":"458c05e9-10ad-48df-9d68-4a320319dfdf","name":"Busca o Resultado da Geração","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}},"onError":"continueErrorOutput"},{"parameters":{"content":"### Adicione aqui sua conexão com a api da fal.ai","height":352,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[752,688],"id":"e7c712e5-6965-488d-a4e5-1002ec2d4e52","name":"Sticky Note5"},{"parameters":{"content":"### Adicione aqui sua conexão com a api da fal.ai","height":336,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[48,688],"id":"351e3797-c5f2-49cd-b52f-a5d7ec82f6a2","name":"Sticky Note6"},{"parameters":{"url":"={{ $json.images[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[96,1248],"id":"fe213477-2034-4d20-aa68-1ed43fdeecfb","name":"Baixa imagem gerada"},{"parameters":{"content":"### Ajuste a pasta do drive que você quer guardar a imagem gerada","height":336,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[400,1136],"id":"ede21008-0efc-4466-902a-47041e1cd5e6","name":"Sticky Note7"},{"parameters":{"name":"={{ $('Inicia o Fluxo').item.json.imageTitle }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1DFVbmuMOhcGTANCK-VUC1WvQ23xR6zCs","mode":"list","cachedResultName":"NanoBanana Agent","cachedResultUrl":"https://drive.google.com/drive/folders/1DFVbmuMOhcGTANCK-VUC1WvQ23xR6zCs"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[464,1264],"id":"b0d5ac06-16bb-4739-a78a-445f977120c5","name":"Sobe no Drive","credentials":{"googleDriveOAuth2Api":{"id":"gXDP0jZXUNijrESg","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"c66c7c13-57ca-4191-9af3-5ab306dfedfc","name":"Resposta","value":"=A imagem foi criada e nomeada como \"{{ $json.name }}\". \n\nEsse é o link dessa imagem no Google Drive com o nano banana pro: {{ $json.webViewLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,1248],"id":"f7126a93-27a4-4f68-a857-9f9ace1a6221","name":"Avisa o Agente Principal que a imagem foi gerada"},{"parameters":{"content":"### Adicione aqui API KEY com IMGBB","height":304,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[752,256],"id":"85c51cdf-f20b-47d2-a478-9772422cd8ed","name":"Sticky Note9"},{"parameters":{"workflowInputs":{"values":[{"name":"titulo_da_imagem"},{"name":"prompt_imagem"},{"name":"id_imagem"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-272,848],"id":"705785de-c892-4fc4-bf5a-4587a44d4301","name":"Inicia o Fluxo"},{"parameters":{"content":"","height":1504,"width":1776,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-416,112],"id":"53cc71b6-b779-4714-bcce-d56018fecb39","name":"Sticky Note3"},{"parameters":{"content":"▇▇▇▇▕▇▇▇▕▕▇▕▇▇▇▇▇▕▕▇▇▕▕▇▇▇▕▕▕▇▇▇▕▕▇▇▇▇▕▕▇▕▇▇▕▇▇▕▕▇▇▕▕▕▇▇▇▕▇▇▇▇▕▇▇▕▇▇\n▇▕▕▕▕▇▕▕▇▕▇▕▕▕▇▕▕▕▇▕▕▇▕▇▕▕▇▕▕▇▕▕▇▕▇▕▕▕▕▕▇▕▇▕▇▕▇▕▇▕▕▇▕▇▕▕▕▕▇▕▕▕▕▇▕▇▕▇\n▇▇▇▕▕▇▕▕▇▕▇▕▕▕▇▕▕▕▇▕▕▇▕▇▇▇▕▕▕▇▕▕▇▕▇▇▇▕▕▕▇▕▇▕▇▕▇▕▇▇▇▇▕▇▕▇▇▕▇▇▇▕▕▇▕▇▕▇\n▇▕▕▕▕▇▕▕▇▕▇▕▕▕▇▕▕▕▇▕▕▇▕▇▕▕▇▕▕▇▕▕▇▕▇▕▕▕▕▕▇▕▇▕▕▕▇▕▇▕▕▇▕▇▕▕▇▕▇▕▕▕▕▇▕▕▕▇\n▇▇▇▇▕▇▇▇▕▕▇▕▕▕▇▕▕▕▕▇▇▕▕▇▕▕▇▕▕▇▇▇▕▕▇▇▇▇▕▕▇▕▇▕▕▕▇▕▇▕▕▇▕▕▇▇▕▕▇▇▇▇▕▇▕▕▕▇\n▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕","height":144,"width":992,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"id":"2bac9f1a-d94a-4b1b-be1d-ab5ec8f78cbc","name":"Sticky Note8"},{"parameters":{"description":"Use a ferramenta para refletir sobre algo. Ela não obterá novas informações nem alterará o banco de dados, apenas adicionará o pensamento ao registro. Utilize-a quando for necessário raciocínio complexo ou algum tipo de memória em cache.\n"},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[2352,592],"id":"7fcbaac6-20c4-42eb-8f3d-b0db104076a0","name":"Think"},{"parameters":{"promptType":"define","text":"={{ $json.prompt }}","options":{"systemMessage":"=Você é um agente criador de prompts para geração de imagem com Inteligência Artificial.\n\nVocê deve criar o prompt para a geração dessa imagem. Este prompt deve ser detalhado e otimizado para geração de imagens por IA. Este prompt não deve conter \\n ou \"\".\n\nUse a ferramenta **Think** para raciocinar melhor e gerar um prompt otimizado.\n\nNão peça confirmação Apenas crie o prompt com o que lhe foi informado."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2192,368],"id":"759a123f-62fe-4e9e-85fa-82b539c69db3","name":"Agente Criador de Prompt"},{"parameters":{"assignments":{"assignments":[{"id":"6831d021-c2d0-42a4-b625-aabfed3d170b","name":"images","value":"=['{{ $('Inicia o Fluxo').item.json.imagem_1 }}','{{ $('Inicia o Fluxo').item.json.imagem_2 }}']","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2704,400],"id":"d8126cfe-20d3-4a84-8a2d-af3f9ee322c5","name":"Criar um Array de Imagens"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.images }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3424,560],"id":"a5c11b8d-e512-49b7-a641-f5fc2f6174ec","name":"Faz o download das imagens","credentials":{"googleDriveOAuth2Api":{"id":"gXDP0jZXUNijrESg","name":"Google Drive account"}}},{"parameters":{"fieldToSplitOut":"images","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[3072,560],"id":"7ec0c916-98eb-4146-bb08-b81aa47cad7f","name":"Separa"},{"parameters":{"method":"POST","url":"https://api.imgbb.com/1/upload","authentication":"genericCredentialType","genericAuthType":"httpQueryAuth","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"image","inputDataFieldName":"data"},{"name":"key","value":"86604458963fcd72fd74d9ab6b64e286"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3792,560],"id":"124c43b7-63d4-4dd1-8cb3-95c06475920d","name":"Faz Upload no IMGBB"},{"parameters":{"method":"POST","url":"https://queue.fal.run/fal-ai/nano-banana-pro/edit","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ \n  $('Inicia o Fluxo').item.json.prompt.replace(/\\\"/g, '\\\\\\\"').replace(/(\\r\\n|\\n|\\r)/g, '\\\\n') }}}}\",\n  \"image_urls\": [\n    \"{{ $json.data[0].url }}\",\n    \"{{ $json.data[1].url }}\"\n  ],\n  \"num_images\": 1,\n  \"output_format\": \"jpeg\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2336,1008],"id":"3345cc68-e789-4faa-bef6-e2ec492805cc","name":"Cria Imagens com Nano Banana","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"url":"=https://queue.fal.run/fal-ai/nano-banana-pro/requests/{{ $json.request_id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2864,928],"id":"29cc3234-1b8c-4ee1-afef-f09606e217ee","name":"Verifica se imagem foi gerada","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}},"onError":"continueErrorOutput"},{"parameters":{"url":"={{ $json.images[0].url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3232,1040],"id":"434801c5-f8c6-4ea2-b1b4-7eb79db08f99","name":"Faz Download da imagem"},{"parameters":{"name":"={{ $('Inicia o Fluxo').item.json.titulo_da_imagem }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1DFVbmuMOhcGTANCK-VUC1WvQ23xR6zCs","mode":"list","cachedResultName":"NanoBanana Agent","cachedResultUrl":"https://drive.google.com/drive/folders/1DFVbmuMOhcGTANCK-VUC1WvQ23xR6zCs"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3504,1040],"id":"734580ba-3aa4-4ae9-9dd0-61d6eed586a3","name":"Sobre no Drive","credentials":{"googleDriveOAuth2Api":{"id":"gXDP0jZXUNijrESg","name":"Google Drive account"}}},{"parameters":{"content":"▇▇▕▇▇▕▇▕▕▇▕▇▕▕▕▕▇▇▇▇▇▕▇▕▇▇▇▕▕▇▕▕▕▕▕▇▇▕▕▕▇▇▇▕▕▇▕▇▇▕▇▇▕▕▇▇▕▕▕▇▇▇▕▇▇▇▇▕▇▕▕▇▕▕▇▇▇\n▇▕▇▕▇▕▇▕▕▇▕▇▕▕▕▕▕▕▇▕▕▕▇▕▇▕▕▇▕▇▕▕▕▕▇▕▕▇▕▇▕▕▕▕▕▇▕▇▕▇▕▇▕▇▕▕▇▕▇▕▕▕▕▇▕▕▕▕▇▇▕▇▕▇▕▕▕\n▇▕▇▕▇▕▇▕▕▇▕▇▕▕▕▕▕▕▇▕▕▕▇▕▇▇▇▕▕▇▕▕▕▕▇▇▇▇▕▕▇▇▕▕▕▇▕▇▕▇▕▇▕▇▇▇▇▕▇▕▇▇▕▇▇▇▕▕▇▕▇▇▕▕▇▇▕\n▇▕▕▕▇▕▇▕▕▇▕▇▕▕▕▕▕▕▇▕▕▕▇▕▇▕▕▕▕▇▕▕▕▕▇▕▕▇▕▕▕▕▇▕▕▇▕▇▕▕▕▇▕▇▕▕▇▕▇▕▕▇▕▇▕▕▕▕▇▕▕▇▕▕▕▕▇\n▇▕▕▕▇▕▕▇▇▕▕▇▇▇▇▕▕▕▇▕▕▕▇▕▇▕▕▕▕▇▇▇▇▕▇▕▕▇▕▇▇▇▕▕▕▇▕▇▕▕▕▇▕▇▕▕▇▕▕▇▇▕▕▇▇▇▇▕▇▕▕▇▕▇▇▇▕\n▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕","height":144,"width":1120,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2416,48],"id":"77b93b06-348d-4d57-a8db-c21cafc39d0a","name":"Sticky Note10"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"data"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[2080,864],"id":"ed5c302a-9194-42f2-a876-c18e89eb865b","name":"Agrega URLs geradas"},{"parameters":{"content":"## AI Agente gerador de prompt","height":432,"width":560,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2000,304],"id":"a5e69a1d-4221-4474-ab4c-ca27166892ce","name":"Sticky Note11","disabled":true},{"parameters":{"content":"## Busca imagens no drive se sobre no IMGBB\n","height":432,"width":1424,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2576,304],"id":"10006025-e271-419b-8542-e633c38304f2","name":"Sticky Note12"},{"parameters":{"content":"## Junta as imagens com Nano Banana","height":544,"width":1136,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2000,784],"id":"b8662855-c140-4e22-87af-aea756e57497","name":"Sticky Note13"},{"parameters":{"content":"## Saída","height":544,"width":848,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3152,784],"id":"916fd233-b291-4d90-8460-fcc7ec4dfc65","name":"Sticky Note14"},{"parameters":{"amount":20},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2592,864],"id":"af53f5e2-d725-471b-9fbf-3434687d6b01","name":"Espera 20 segundos1","webhookId":"5958dcd2-becc-49bf-9700-60f8a8698686"},{"parameters":{"assignments":{"assignments":[{"id":"c66c7c13-57ca-4191-9af3-5ab306dfedfc","name":"Resposta","value":"=A imagem foi criada e nomeada como \"{{ $json.name }}\". \n\nEsse é o link dessa imagem no Google Drive gerada pelo nano banana pro: {{ $json.webViewLink }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3792,1040],"id":"06d0d5b0-3d4d-4f49-9f81-262bc72efb6c","name":"Avisa o Agente Principal que a imagem foi gerada1"},{"parameters":{"content":"### Crie aqui sua conexão com a api da fal.ai","height":336,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2272,896],"id":"e9675040-9b8e-4d1e-a908-376b11508e69","name":"Sticky Note15"},{"parameters":{"content":"### Adicione aqui sua conexão com a api da fal.ai","height":384,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2800,800],"id":"a45c362a-d1eb-4eba-a2b5-15ee9ad7fd84","name":"Sticky Note16"},{"parameters":{"content":"### Ajuste a pasta do drive que você quer guardar a imagem gerada","height":336,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3440,896],"id":"8ec62aa2-ee5b-4af4-8891-f844b61f0a57","name":"Sticky Note17"},{"parameters":{"content":"## Entrada de Dados\n","height":304,"width":304},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1584,624],"id":"cf71b7fc-28b5-423f-b3ba-6d316c4904d3","name":"Sticky Note18","disabled":true},{"parameters":{"content":"","height":1312,"width":2784,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1504,160],"id":"0c5ad070-4443-4c0b-8f70-a5a102e6962b","name":"Sticky Note19"},{"parameters":{"content":"### Adicione aqui API KEY com IMGBB","height":256,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[3712,464],"id":"c229e463-d2c3-4360-8462-93ce6ccfb2ef","name":"Sticky Note20"},{"parameters":{"model":{"__rl":true,"value":"gpt-5","mode":"list","cachedResultName":"gpt-5"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2064,576],"id":"42a4a63f-a97c-4e2c-a017-bfa0ac8d3f74","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}}],"connections":{"Baixar a Imagem":{"main":[[{"node":"Envia para o IMGBB","type":"main","index":0}]]},"Envia para o IMGBB":{"main":[[{"node":"Cria Imagem com NanoBanana","type":"main","index":0}]]},"Espera 20 segundos":{"main":[[{"node":"Busca o Resultado da Geração","type":"main","index":0}]]},"Cria Imagem com NanoBanana":{"main":[[{"node":"Espera 20 segundos","type":"main","index":0}]]},"Busca o Resultado da Geração":{"main":[[{"node":"Baixa imagem gerada","type":"main","index":0}],[{"node":"Espera 20 segundos","type":"main","index":0}]]},"Baixa imagem gerada":{"main":[[{"node":"Sobe no Drive","type":"main","index":0}]]},"Sobe no Drive":{"main":[[{"node":"Avisa o Agente Principal que a imagem foi gerada","type":"main","index":0}]]},"Inicia o Fluxo":{"main":[[{"node":"Baixar a Imagem","type":"main","index":0}]]},"Think":{"ai_tool":[[{"node":"Agente Criador de Prompt","type":"ai_tool","index":0}]]},"Agente Criador de Prompt":{"main":[[{"node":"Criar um Array de Imagens","type":"main","index":0}]]},"Criar um Array de Imagens":{"main":[[{"node":"Separa","type":"main","index":0}]]},"Faz o download das imagens":{"main":[[{"node":"Faz Upload no IMGBB","type":"main","index":0}]]},"Separa":{"main":[[{"node":"Faz o download das imagens","type":"main","index":0}]]},"Faz Upload no IMGBB":{"main":[[{"node":"Agrega URLs geradas","type":"main","index":0}]]},"Cria Imagens com Nano Banana":{"main":[[{"node":"Espera 20 segundos1","type":"main","index":0}]]},"Verifica se imagem foi gerada":{"main":[[{"node":"Faz Download da imagem","type":"main","index":0}],[{"node":"Espera 20 segundos1","type":"main","index":0}]]},"Faz Download da imagem":{"main":[[{"node":"Sobre no Drive","type":"main","index":0}]]},"Sobre no Drive":{"main":[[{"node":"Avisa o Agente Principal que a imagem foi gerada1","type":"main","index":0}]]},"Agrega URLs geradas":{"main":[[{"node":"Cria Imagens com Nano Banana","type":"main","index":0}]]},"Espera 20 segundos1":{"main":[[{"node":"Verifica se imagem foi gerada","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Agente Criador de Prompt","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5a8f734d-b75e-47a6-8979-d2dc41eeb918","triggerCount":0,"shared":[{"createdAt":"2025-11-24T20:09:13.221Z","updatedAt":"2025-11-24T20:09:13.221Z","role":"workflow:owner","workflowId":"fuULh3j09WbGbIhF","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[{"createdAt":"2025-11-24T20:09:06.169Z","updatedAt":"2025-11-24T20:09:06.169Z","id":"xqmXun0fCRdFwHCx","name":"💗 flowgrammers"}]}