nano-banana-pro-agent-zMUdSWRpf9ZfTuXA.json
{"createdAt":"2025-11-24T20:20:32.016Z","updatedAt":"2025-11-24T20:20:32.016Z","id":"zMUdSWRpf9ZfTuXA","name":"Nano Banana Pro Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"## AI Agent - Editor de Imagens e Produtor de Videos","height":560,"width":640,"color":2},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-960,-720],"id":"9bee904f-87d0-44ed-80d7-553f4b3ed260","name":"Sticky Note"},{"parameters":{"content":"## Imagens\n","height":432,"width":768,"color":6},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-512,32],"id":"95c3bcb9-f244-423a-a06e-e168353b99a6","name":"Sticky Note2"},{"parameters":{"content":"# 🛠️ Passo a Passo para você Configurar seu fluxo - by Ric Neves\n**Este fluxo foi criado por:** [Ric Neves - Flowgrammers](https://agentes-n8n.com.br)\n\nSiga os passos abaixo para colocar este fluxo de trabalho do agente em funcionamento:\n\n### ✅ Passo 1: Importar Workflows de Geração de Imagem e Video por IA  \nImporte os 3 sub-workflows de a seguir e garanta que estejam devidamente vinculados aos nós de geração de imagem e video por IA dentro do agente:  \n- **Juntar Imagens**  \n- **Editar Imagem** \n\nOrganize-os em um workflow utilitário separado e verifique se todos os nós de execução de workflow estão corretamente conectados.\nExistem stick notes em cinza explicando aonde vc deve colocar suas crendenciais.\n\n### ✅ Passo 2: Conectar Seu Modelo de LLM  \nEscolha seu provedor de modelo de LLM preferido (ex.: [OpenRouter](https://openrouter.ai/), [Anthropic](https://console.anthropic.com/), ou [OpenAI](https://platform.openai.com/), etc) e conecte-o ao “CHAT MODEL” do agente, LEMBRE-SE de colocar um modelo de fallback em caso de falho.\n\n### ✅ Passo 3: Conecte no seu telegrama\nUse o botFather para fazer a integração\n\n### ✅ Passo 4: Conectar Suas Credenciais do Google Drive  \nUse suas credenciais do Google para permitir que o agente acesse arquivos e pastas.\n\n### ✅ Passo 5: Configurar Credenciais das Ferramentas  \nDentro das ferramentas configure:  \n- Sua **API Key do [ImgBB](https://imgbb.com/)**  \n- Sua **API Key do [Fal.AI](https://fal.ai/)** NanoBanana PRO - Custo por EDIÇÃO USD 0.15\n\nEssas chaves são necessárias para enviar e editar imagens e videos por meio das respectivas APIs.\n\n### 💡 Passo Final: Testar e Ajustar  \nDepois que tudo estiver conectado, comece a enviar prompts para o agente. \nPersonalize os prompts do sistema ou adicione novas lógicas para ajustá-lo às suas necessidades.\n\n# 🌐 Minhas Redes Sociais\n\n- [LinkedIn](https://www.linkedin.com/in/ricnvs)\n- [Instagram](https://www.instagram.com/ricneves.ai)\n- [YouTube](https://www.youtube.com/@ricneves-ai)\n\n![AI & Automation Manager](https://i.postimg.cc/ZnT79dJx/Captura-de-Tela-2025-08-20-a-s-10-47-53.png)\n\n\n","height":1472,"width":1216,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4608,-1008],"id":"58eacf64-f72e-4b90-add2-ed4505ca6f4d","name":"Sticky Note5"},{"parameters":{"content":"## Gerador de Imagem com Nano Banana Pro","height":544,"width":672,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-1264,-80],"typeVersion":1,"id":"5a0ffd96-3225-46b2-b48d-fd354ea014cb","name":"Sticky Note6"},{"parameters":{"content":"## Responde pela Evolution API no seu WhatsApp","height":352,"width":320,"color":4},"type":"n8n-nodes-base.stickyNote","position":[-160,-560],"typeVersion":1,"id":"dd122018-6f01-48c8-807e-e41e22119591","name":"Sticky Note7"},{"parameters":{"name":"={{ $now.format('yyyy-MM-dd') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1DFVbmuMOhcGTANCK-VUC1WvQ23xR6zCs","mode":"list","cachedResultName":"NanoBanana Agent","cachedResultUrl":"https://drive.google.com/drive/folders/1DFVbmuMOhcGTANCK-VUC1WvQ23xR6zCs"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[-1456,-496],"id":"1f496c76-c2f6-4cd6-b06e-ec8c0fafdd91","name":"Sobre no Drive"},{"parameters":{"assignments":{"assignments":[{"id":"53de4eb0-6684-48f5-a5b5-2b3bedaff817","name":"mensagem","value":"=O usuário enviou uma imagem. Esse é o ID desse arquivo no Drive: {{ $json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1168,-512],"id":"48e49e61-f659-4aa7-acbd-c40a719fa1e8","name":"Seta o ID do Arquivo da Imagem"},{"parameters":{"content":"## Registra imagem no Drive Google para uso posterior\n","height":528,"width":640,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1664,-720],"id":"64cd7579-2b32-444f-9b6c-d67eb803cdc7","name":"Sticky Note8"},{"parameters":{"promptType":"define","text":"={{ $json.mensagem }}","needsFallback":true,"options":{"systemMessage":"=# Visão Geral\nVocê é um agente assistente pessoal editor de imagens do Ric Neves. Seu trabalho é usar as ferramentas às quais tem acesso para ajudar o usuário em suas solicitações. \n\n## Ferramentas\n- **alterar_nome_imagem ** – Use esta ferramenta para mudar o nome de uma imagem. É necessário ter o ID do arquivo para alterar o nome, caso não tenha avise o usuário.  \n- **junta_imagens_nano_pro** – Use esta ferramenta para combinar duas imagens.  \n- **busca_imagens_enviados** – Use esta ferramenta para procurar imagens  que o usuário tenha enviado anteriormente.  \n- **buscar_imagens_geradas** – Use esta ferramenta para procurar imagens geradas por IA que você ajudou o usuário a criar.  \n- **editar_imagem_nano_pro** – Use esta ferramenta para editar uma imagem com nano banana pro.  \n\n## Instruções\n1) Se o usuário enviar uma imagem, pergunte como ele gostaria de nomear essa imagem no Google Drive dizendo:  \n   **\"Como você gostaria que eu nomeasse essa imagem no seu Google Drive?\"**  \n   Depois que o usuário responder, altere o nome usando a ferramenta **alterar_nome_imagem**.\n\n","returnIntermediateSteps":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-784,-384],"id":"11e99a60-42a8-4406-838a-da85de4798b8","name":"Agente Orquestrador","onError":"continueErrorOutput"},{"parameters":{"model":"anthropic/claude-3.5-sonnet","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-688,-592],"id":"a9f3875d-c500-4b56-a3aa-18df83a5484c","name":"Claude 3.5 Sonnet"},{"parameters":{"model":"openai/gpt-5-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-896,-592],"id":"0b2ebf84-5c28-432f-9956-dac126e3ba8a","name":"GPT-5-mini"},{"parameters":{"operation":"update","fileId":{"__rl":true,"mode":"id","value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('File_to_Update', ``, 'string') }}"},"newUpdatedFileName":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('New_Updated_File_Name', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[-448,208],"id":"da7e8bee-8552-4108-8785-ef84242bf221","name":"alterar_nome_imagem"},{"parameters":{"content":"","height":1840,"width":5248,"color":3},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4656,-1264],"id":"a078fde6-494d-4e71-8cef-498270608330","name":"Sticky Note4"},{"parameters":{"resource":"fileFolder","queryString":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1DFVbmuMOhcGTANCK-VUC1WvQ23xR6zCs","mode":"list","cachedResultName":"NanoBanana Agent","cachedResultUrl":"https://drive.google.com/drive/folders/1DFVbmuMOhcGTANCK-VUC1WvQ23xR6zCs"},"whatToSearch":"files"},"options":{"fields":["id","name","webViewLink"]}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[-208,208],"id":"993de478-343b-4a61-970d-9b61bfd67c30","name":"buscar_imagens_enviadas"},{"parameters":{"resource":"fileFolder","queryString":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Search_Query', ``, 'string') }}","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"1DFVbmuMOhcGTANCK-VUC1WvQ23xR6zCs","mode":"list","cachedResultName":"NanoBanana Agent","cachedResultUrl":"https://drive.google.com/drive/folders/1DFVbmuMOhcGTANCK-VUC1WvQ23xR6zCs"},"whatToSearch":"files"},"options":{"fields":["id","name","webViewLink"]}},"type":"n8n-nodes-base.googleDriveTool","typeVersion":3,"position":[16,208],"id":"ba283503-8c5b-46f5-bc89-5281c5b3d65e","name":"buscar_imagens_geradas"},{"parameters":{"content":"### Ajuste sua pasta do Drive\nCrie um pasta para armazenas as imagens","height":304,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1520,-624],"id":"1c18316b-d7c4-44e6-8ebe-8d5f827f9a18","name":"Sticky Note9"},{"parameters":{"content":"### Ajuste sua pasta do Drive\nSe o valor da pasta criada nessas ferramentas","height":304,"width":480,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-304,96],"id":"d0d35a98-7fd8-4068-94ca-8ea8c2b282ff","name":"Sticky Note10"},{"parameters":{"content":"### Ajuste a chamada dos sub-fluxos\nAltere para o nome dos sub-fluxos criados","height":304,"width":576,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1200,16],"id":"e35fd417-ee47-45a4-b59a-ec9fcd8119fa","name":"Sticky Note11"},{"parameters":{"content":"▇▇▇▕▕▇▇▇▕▕▕▇▇▕▕▇▇▇▕▕▇▕▕▇▕▇▇▇▇▇▕▕▇▇▕▕▇▇▇▕▕▕▇▇▇▕▕▇▇▇▇▕▕▇▕▇▇▕▇▇▕▕▇▇▕▕▕▇▇▇▕▇▇▇▇▕▇▇▕▇▇▕▕▕▕▕▕▕▇▕▕▇▕▕▇▇▕▕▇▕▕▇▕▕▇▇▕▕▕▇▇▇▕▕▕▇▇▕▕▇▕▕▇▕▕▇▇▕▕▇▕▕▇▕▕▇▇▕▕▕▇▇▇▕▕▇▇▇▕▕▕▇▇▕▕▕▇▕▕▇▕▕▇▇▕▕▕▇▇▇▇▇▕▇▇▇▇▕▇▕▕▕▕▇▇▇▇▕▕▇▇▇▕▇▇▇▕▕▕▇▇▕▕▇▇▕▇▇▕▕▕▕▕▕▕▇▇▇▕▕▇▕▕▕▇▕▕▇▇▇▕▕▇▕▕▇▇▇▕▇▕▕▇▕▇▇▇▇▕▇▕▕▇▕▇▇▇▇▕▕▇▇▇\n▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▕▕▇▕▕▕▇▕▕▇▕▇▕▕▇▕▕▇▕▕▇▕▇▕▕▕▕▕▇▕▇▕▇▕▇▕▇▕▕▇▕▇▕▕▕▕▇▕▕▕▕▇▕▇▕▇▕▕▕▕▕▕▕▇▇▕▇▕▇▕▕▇▕▇▇▕▇▕▇▕▕▇▕▕▇▕▕▇▕▇▕▕▇▕▇▇▕▇▕▇▕▕▇▕▇▇▕▇▕▇▕▕▇▕▕▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▕▇▇▕▇▕▇▕▕▇▕▕▕▕▇▕▕▕▇▕▕▕▕▇▕▕▕▕▇▕▕▕▕▇▕▕▕▕▇▕▕▇▕▇▕▕▇▕▇▕▇▕▇▕▕▕▕▕▕▕▇▕▕▇▕▇▕▕▕▇▕▕▇▕▕▇▕▇▕▇▕▕▕▕▇▇▕▇▕▇▕▕▕▕▇▕▕▇▕▇▕▕▕▕▇▕▕▕\n▇▇▇▕▕▇▇▇▕▕▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▕▕▇▕▕▕▇▕▕▇▕▇▇▇▕▕▕▇▕▕▇▕▇▇▇▕▕▕▇▕▇▕▇▕▇▕▇▇▇▇▕▇▕▇▇▕▇▇▇▕▕▇▕▇▕▇▕▕▇▇▇▕▕▇▕▇▇▕▇▇▇▇▕▇▕▇▇▕▇▕▕▇▕▕▇▇▇▕▕▇▇▇▇▕▇▕▇▇▕▇▇▇▇▕▇▕▇▇▕▇▇▇▇▕▕▇▇▇▕▕▇▇▇▕▕▇▕▕▇▕▕▇▕▇▇▕▇▕▕▇▕▕▕▕▇▕▕▕▇▇▇▕▕▇▕▕▕▕▇▇▇▕▕▇▕▇▇▕▇▇▇▕▕▇▇▇▇▕▇▕▇▕▇▕▕▇▇▇▕▕▇▇▇▕▕▕▇▕▇▕▕▕▇▇▇▕▕▇▕▇▕▕▕▕▇▕▇▇▕▇▇▇▕▕▇▕▕▇▕▇▇▇▕▕▕▇▇▕\n▇▕▕▕▕▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▕▕▇▕▕▕▇▕▕▇▕▇▕▕▇▕▕▇▕▕▇▕▇▕▕▕▕▕▇▕▇▕▕▕▇▕▇▕▕▇▕▇▕▕▇▕▇▕▕▕▕▇▕▕▕▇▕▕▕▕▕▕▕▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▕▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▕▇▕▕▕▕▇▕▕▇▕▇▕▕▇▕▕▇▕▕▇▕▇▕▕▇▕▕▕▕▇▕▕▕▇▕▕▕▕▇▕▕▕▕▇▕▕▕▕▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▇▕▕▕▇▕▕▕▕▕▕▕▇▕▕▇▕▕▕▇▕▕▕▕▇▕▕▇▕▇▕▇▕▕▕▕▇▕▕▇▕▇▕▕▕▕▕▇▕▇▕▇▕▕▕▕▕▕▕▇\n▇▕▕▕▕▇▕▕▇▕▕▇▇▕▕▇▇▇▕▕▕▇▇▕▕▕▕▇▕▕▕▕▇▇▕▕▇▕▕▇▕▕▇▇▇▕▕▇▇▇▇▕▕▇▕▇▕▕▕▇▕▇▕▕▇▕▕▇▇▕▕▇▇▇▇▕▇▕▕▕▇▕▕▕▕▕▕▕▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▕▇▇▕▕▕▇▇▇▕▕▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▇▕▕▇▕▕▇▕▕▕▕▇▕▕▇▕▕▇▇▕▕▕▇▕▕▇▕▕▇▇▕▕▕▕▕▇▕▕▕▇▇▇▇▕▇▇▇▇▕▇▇▇▇▕▕▇▇▕▕▇▕▕▇▕▇▕▕▇▕▇▕▕▕▇▕▕▕▕▕▕▕▇▇▇▕▕▕▕▇▕▕▕▕▇▕▕▇▕▇▕▕▇▇▇▕▇▕▕▇▕▇▇▇▇▕▕▕▇▕▕▇▇▇▇▕▇▇▇▕\n▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕▕","height":128,"width":3728,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3920,-1344],"id":"0f08e1ef-420d-4399-af7c-068be174483f","name":"Sticky Note1"},{"parameters":{"content":"# Evolution API - WhatsApp\nConfigure seu webhook na sua evo, no manager","height":320,"width":480,"color":7},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3200,-592],"id":"7b48cf3b-fa1e-4a21-aacf-93aee917f6c9","name":"Sticky Note13"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"4a719a6f-b912-48ec-81a5-920afde042b6","leftValue":"={{ $json.message.photo[0].file_id }}","rightValue":"imageMessage","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"50c6e2b0-2494-4780-abd8-84a0e4213091","leftValue":"={{ $json.message.text }}","rightValue":"conversation","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"}]},"options":{}},"id":"8ca22f6a-7c37-4f0c-aef0-e5115c4d8c29","name":"Valida Tipo de Entrada","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[-2592,-480],"alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"09db48f1-b99e-4760-8a9b-10944a1ce0d2","name":"mensagem","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"id":"20dca79b-45cb-42eb-82ad-5b21aae03f81","name":"Texto","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2240,-352]},{"parameters":{"content":"## Converte de Base64 para Arquivo ou Seta o Texto para o AI Agent\n","height":544,"width":960,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2672,-720],"id":"162a162c-667a-49db-b041-3f6f392a3d38","name":"Sticky Note15"},{"parameters":{"description":"Chame esta ferramenta para editar uma imagem. Você deve fornecer um novo título para a imagem, um prompt de imagem e o ID da imagem.","workflowId":{"__rl":true,"value":"IpKfn5mxyKBhTm32","mode":"list","cachedResultUrl":"/workflow/IpKfn5mxyKBhTm32","cachedResultName":"Formação — Editar Imagem Nano Pro"},"workflowInputs":{"mappingMode":"defineBelow","value":{"titulo_da_imagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo_da_imagem', ``, 'string') }}","prompt_imagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prompt_imagem', ``, 'string') }}","id_imagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('id_imagem', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"titulo_da_imagem","displayName":"titulo_da_imagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"prompt_imagem","displayName":"prompt_imagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"id_imagem","displayName":"id_imagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-944,128],"id":"a47b5325-dcc1-4122-a801-3844ecd01f8a","name":"editar_imagem_nano_pro"},{"parameters":{"description":"Chame esta ferramenta para combinar duas imagens. Você deve fornecer um prompt de geração de imagem, os IDs de ambas as imagens e um título para esta nova imagem.\n","workflowId":{"__rl":true,"value":"pvKcS9FVP1njduHI","mode":"list","cachedResultUrl":"/workflow/pvKcS9FVP1njduHI","cachedResultName":"Formação — Juntar Imagens"},"workflowInputs":{"mappingMode":"defineBelow","value":{"prompt":"={{ $('Webhook EVO').item.json.body.data.message.conversation }}","imagem_1":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imagem_1', `O ID da imagem 1`, 'string') }}","imagem_2":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imagem_2', `O ID da imagem 2`, 'string') }}","titulo_da_imagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo_da_imagem', `O título da nova imagem`, 'string') }}"},"matchingColumns":[],"schema":[{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string"},{"id":"imagem_1","displayName":"imagem_1","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"imagem_2","displayName":"imagem_2","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"titulo_da_imagem","displayName":"titulo_da_imagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[-1120,128],"id":"6dc3bc24-3015-4af0-91ec-55e7dd3983cf","name":"juntar_imagens_nano_pro"},{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-3024,-480],"id":"80b9c8d1-280c-470a-8400-7432bb5ee012","name":"Telegram Trigger","webhookId":"4c68a41f-b89a-4794-b245-001f8b3be06b"},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.from.id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-64,-400],"id":"f16550e0-f180-4317-829b-6738a0d2d46e","name":"Send a text message","webhookId":"0c60f27b-f54c-4e60-b376-1e9c0795b7bd"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Telegram Trigger').item.json.message.from.id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-432,-560],"id":"8c674fe3-e56a-4ebc-b6e8-86681e3e1c67","name":"Simple Memory"},{"parameters":{"resource":"file","fileId":"={{ $json.message.photo[0].file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-2240,-576],"id":"aa9b7d86-5ffd-4ee0-9aed-47b2f30ac104","name":"Get a file","webhookId":"1f122f0f-6d6a-4a32-9441-c17b2459d74a"}],"connections":{"Sobre no Drive":{"main":[[{"node":"Seta o ID do Arquivo da Imagem","type":"main","index":0}]]},"Seta o ID do Arquivo da Imagem":{"main":[[{"node":"Agente Orquestrador","type":"main","index":0}]]},"Agente Orquestrador":{"main":[[{"node":"Send a text message","type":"main","index":0}],[{"node":"Send a text message","type":"main","index":0}]]},"Claude 3.5 Sonnet":{"ai_languageModel":[[{"node":"Agente Orquestrador","type":"ai_languageModel","index":1}]]},"GPT-5-mini":{"ai_languageModel":[[{"node":"Agente Orquestrador","type":"ai_languageModel","index":0}]]},"alterar_nome_imagem":{"ai_tool":[[{"node":"Agente Orquestrador","type":"ai_tool","index":0}]]},"buscar_imagens_enviadas":{"ai_tool":[[{"node":"Agente Orquestrador","type":"ai_tool","index":0}]]},"buscar_imagens_geradas":{"ai_tool":[[{"node":"Agente Orquestrador","type":"ai_tool","index":0}]]},"Valida Tipo de Entrada":{"main":[[{"node":"Get a file","type":"main","index":0}],[{"node":"Texto","type":"main","index":0}]]},"Texto":{"main":[[{"node":"Agente Orquestrador","type":"main","index":0}]]},"editar_imagem_nano_pro":{"ai_tool":[[{"node":"Agente Orquestrador","type":"ai_tool","index":0}]]},"juntar_imagens_nano_pro":{"ai_tool":[[{"node":"Agente Orquestrador","type":"ai_tool","index":0}]]},"Telegram Trigger":{"main":[[{"node":"Valida Tipo de Entrada","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"Agente Orquestrador","type":"ai_memory","index":0}]]},"Get a file":{"main":[[{"node":"Sobre no Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":474970208,"message":{"message_id":559,"from":{"id":603546308,"is_bot":false,"first_name":"Ricardo","last_name":"Neves","username":"rnevesbraga","language_code":"pt-br"},"chat":{"id":603546308,"first_name":"Ricardo","last_name":"Neves","username":"rnevesbraga","type":"private"},"date":1763683249,"photo":[{"file_id":"AgACAgEAAxkBAAICL2kfq7FiM57RFRoCQUQzREXUuS6GAAJqC2sbchv4RMKpJ7Wwiq6LAQADAgADcwADNgQ","file_unique_id":"AQADagtrG3Ib-ER4","file_size":1663,"width":80,"height":90},{"file_id":"AgACAgEAAxkBAAICL2kfq7FiM57RFRoCQUQzREXUuS6GAAJqC2sbchv4RMKpJ7Wwiq6LAQADAgADbQADNgQ","file_unique_id":"AQADagtrG3Ib-ERy","file_size":22564,"width":283,"height":320},{"file_id":"AgACAgEAAxkBAAICL2kfq7FiM57RFRoCQUQzREXUuS6GAAJqC2sbchv4RMKpJ7Wwiq6LAQADAgADeAADNgQ","file_unique_id":"AQADagtrG3Ib-ER9","file_size":100923,"width":707,"height":800},{"file_id":"AgACAgEAAxkBAAICL2kfq7FiM57RFRoCQUQzREXUuS6GAAJqC2sbchv4RMKpJ7Wwiq6LAQADAgADeQADNgQ","file_unique_id":"AQADagtrG3Ib-ER-","file_size":212147,"width":1131,"height":1280},{"file_id":"AgACAgEAAxkBAAICL2kfq7FiM57RFRoCQUQzREXUuS6GAAJqC2sbchv4RMKpJ7Wwiq6LAQADAgADdwADNgQ","file_unique_id":"AQADagtrG3Ib-ER8","file_size":260319,"width":1674,"height":1895}]}}}]},"versionId":"e8efdb86-dcd2-4fb1-b269-f17dad768f2d","triggerCount":0,"shared":[{"createdAt":"2025-11-24T20:20:32.016Z","updatedAt":"2025-11-24T20:20:32.016Z","role":"workflow:owner","workflowId":"zMUdSWRpf9ZfTuXA","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[{"createdAt":"2025-11-24T20:09:06.169Z","updatedAt":"2025-11-24T20:09:06.169Z","id":"xqmXun0fCRdFwHCx","name":"💗 flowgrammers"}]}