ndd_move-7agIrM7dSJ1n2yd8.json
{"createdAt":"2025-08-17T01:52:45.568Z","updatedAt":"2025-08-26T18:07:10.388Z","id":"7agIrM7dSJ1n2yd8","name":"Ndd_move","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1472,208],"id":"70d706c6-ed4a-4a62-ac04-d4b95c7bf649","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://icomprova.nddcargo.com.br:9051/connect/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"bcd1af7f7df14bb08d36f8f622a1f9c2"},{"name":"client_secret","value":"3+CVOm8Z+sR6cN2/SS+yuRdUtWz7RZRrvseDt7rTeic="}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1072,208],"id":"6a49bdf6-c1a4-4574-a21e-2dcb654d62dc","name":"ObterToken"},{"parameters":{"assignments":{"assignments":[{"id":"fb5820e0-05a0-4103-9a97-8d02318385ae","name":"Remessa","value":"OTMPRD.5105664","type":"string"},{"id":"f8f0d4dc-2346-4ffa-9817-9c369f6bd352","name":"URL","value":"https://icomprova.nddcargo.com.br:9003","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1248,208],"id":"a67ffb62-10d9-4020-a2a4-711cf8329b66","name":"Remessas"},{"parameters":{"url":"={{ $('Remessas').item.json.URL }}/api/Viagem/numero/{{ $('Remessas').item.json.Remessa }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$node[\"ObterToken\"].json.access_token}}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-848,208],"id":"894a7ff3-10e1-4d8c-aec7-9b7c13ee5061","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"documentos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-624,208],"id":"f297b74a-9063-4e1d-84c4-36a2f776c63e","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"bf66da07-f00f-4be6-9211-1153f573a56b","name":"fotoCanhoto","value":"={{ $json.fotoCanhoto }}","type":"string"},{"id":"29132bc8-a4b8-48c9-afc6-558a5bbff89a","name":"numeroDocumento","value":"={{ $json.numeroDocumento }}","type":"string"},{"id":"66ad37cb-a41c-424d-bb4d-0af171876b04","name":"dataHoraConfirmacao","value":"={{ $json.dataHoraConfirmacao }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,208],"id":"8ac50f09-05c7-4af9-8723-a669d84cbaab","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-224,208],"id":"73d100f7-622f-46df-94d2-296341cef583","name":"Loop Over Items"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"=Analise a imagem de um canhoto de nota fiscal e retorne estritamente um objeto JSON. Siga estas regras com atenção:\n\n1.  **data_entrega**: Procure especificamente pelo campo \"Data de Recebimento\".\n    * Se encontrar a data neste campo, retorne no formato \"DD/MM/YYYY\".\n    * Se o campo \"Data de Recebimento\" não existir na imagem ou estiver em branco/ilegível, retorne o valor \"Não informado\".\n    * NÃO use a \"Data de Emissão\" como data de entrega.\n\n2.  **tem_assinatura**: Procure por uma assinatura no campo \"IDENTIFICAÇÃO E ASSINATURA DO RECEBEDOR\".\n    * Se houver qualquer escrita manual ou rabisco claro, retorne \"Sim\".\n    * Se o campo estiver totalmente em branco, retorne \"Não\".\n    * Se o campo estiver diferente de um canhoto, retorne \"Análise Manual\".\n  \n\n3.  **comentario_ia**: Forneça um breve diagnóstico da imagem.\n    * Mencione se a assinatura está clara.\n    * Mencione se a data de recebimento foi encontrada ou se o campo estava ausente/cortado na foto.\n    * Mencione se a imagem parece estar de cabeça para baixo ou de lado.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[416,224],"id":"10df780a-6f05-4073-9435-40625a06567c","name":"Transcreve Imagem","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"jsCode":"const item = $input.item;\n\n// Acessa os dados binários do arquivo no campo 'data'\nconst binaryData = item.binary.data;\n\n// Verifica se os dados binários existem e define o Mime Type correto\nif (binaryData) {\n  binaryData.mimeType = 'image/jpeg';\n}\n\n// Retorna o item com o arquivo corrigido\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,224],"id":"e7216a15-cbbf-4500-8d1f-03fd36d3f198","name":"Code"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1k2nZNS_JiPMS4rU-CSnpYRL7rpOqVtXwB9kq2I5S4-s","mode":"list","cachedResultName":"NDD MOVE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k2nZNS_JiPMS4rU-CSnpYRL7rpOqVtXwB9kq2I5S4-s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k2nZNS_JiPMS4rU-CSnpYRL7rpOqVtXwB9kq2I5S4-s/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Foto":"={{ $('Code').item.json.fotoCanhoto }}","Documento":"={{ $('Code').item.json.numeroDocumento }}","Data":"={{ $('Code').item.json.dataHoraConfirmacao }}","Data de Entrega na NF":"={{ $json.ia_data.data_entrega }}","Tem Assinatura?":"={{ $json.ia_data.tem_assinatura }}","Comentario da IA":"={{ $json.ia_data.comentario_ia }}"},"matchingColumns":[],"schema":[{"id":"Documento","displayName":"Documento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Foto","displayName":"Foto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Comentario da IA","displayName":"Comentario da IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data de Entrega na NF","displayName":"Data de Entrega na NF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tem Assinatura?","displayName":"Tem Assinatura?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[816,224],"id":"9c0a5082-3db6-4402-aa0b-aa8345460afa","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"1cba9fba-2a42-4db1-8067-4e2ac5ac0da2","name":"ia_data","value":"={{ JSON.parse($json.content.match(/{.*}/s)[0]) }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,224],"id":"ac3b2a2e-348a-44a3-b5ff-0206e8226352","name":"Edit Fields1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,48],"id":"ed0efa6b-b42e-4a0a-927b-d4fb49bfe852","name":"No Operation"},{"parameters":{"url":"={{ $json.fotoCanhoto }}","provideSslCertificates":true,"options":{"response":{"response":{"responseFormat":"file"}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,224],"id":"440926f1-a487-4b25-b4f9-3b5cc1298a09","name":"HTTP Request2"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Remessas","type":"main","index":0}]]},"ObterToken":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Remessas":{"main":[[{"node":"ObterToken","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation","type":"main","index":0}],[{"node":"HTTP Request2","type":"main","index":0}]]},"Transcreve Imagem":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Transcreve Imagem","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}]},"versionId":"c597a1e4-ef21-4f13-a3b8-3862515d9468","triggerCount":0,"shared":[{"createdAt":"2025-08-17T01:52:45.568Z","updatedAt":"2025-08-17T01:52:45.568Z","role":"workflow:owner","workflowId":"7agIrM7dSJ1n2yd8","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[]}