oferta-de-carga-2kYBftgjoiYStgyX.json
{"createdAt":"2025-08-17T01:53:52.694Z","updatedAt":"2025-08-17T17:02:21.766Z","id":"2kYBftgjoiYStgyX","name":"Oferta de Carga","active":false,"isArchived":false,"nodes":[{"parameters":{"path":"aceita_oferta","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-176,1008],"id":"cc35a28d-2223-4b6c-a094-10431b1cda09","name":"Aceita_Oferta","webhookId":"fee30f5c-339f-40b3-9b69-b79d94f7f4ba"},{"parameters":{"path":"recusa_oferta","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-192,1504],"id":"fba4a3c1-9d47-4c73-bc0b-45a1f3cf0256","name":"Recusa_Oferta","webhookId":"31c82b7f-2aa8-49b0-ad3f-ee98e07cc815"},{"parameters":{"httpMethod":"POST","path":"aceita_formulario","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-224,1248],"id":"5ffd752a-fb3f-4ae1-9581-399bea4965e3","name":"Aceita_Oferta1","webhookId":"6b970681-6d6b-4faf-8796-f4b63f7b0470"},{"parameters":{"assignments":{"assignments":[{"id":"92f26d11-1fb9-42b9-aec4-44176cd19b1b","name":"body.driverName","value":"={{ $json.body.driverName }}","type":"string"},{"id":"fdf3521a-f197-46c5-887e-c25794327178","name":"body.vehiclePlate","value":"={{ $json.body.vehiclePlate }}","type":"string"},{"id":"fa0b865a-c236-44bc-8eb1-30439418002a","name":"body.driverPhone","value":"={{ $json.body.driverPhone }}","type":"string"},{"id":"30abe42a-5faf-4342-9579-d50bd8dccc76","name":"body.offerId","value":"={{ $json.body.offerId }}","type":"string"},{"id":"22f2ddd5-9fdc-4f49-8316-47d881bf6748","name":"Data_aceito","value":"={{ DateTime.now().setZone('America/Fortaleza').toFormat('dd/MM/yyyy HH:mm') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-48,1248],"id":"9ceabf5f-25d0-4242-a475-ea4c3f514a50","name":"Edit Fields2"},{"parameters":{"documentId":{"__rl":true,"value":"1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY","mode":"list","cachedResultName":"Tabela de Frete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1760598157,"mode":"list","cachedResultName":"Log_Ofertas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit#gid=1760598157"},"filtersUI":{"values":[{"lookupColumn":"offerId","lookupValue":"={{ $json.query.offerId }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-16,1008],"id":"43a62a91-1520-4d8d-be6b-d778d7af6594","name":"Get row(s) in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY","mode":"list","cachedResultName":"Tabela de Frete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1760598157,"mode":"list","cachedResultName":"Log_Ofertas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit#gid=1760598157"},"filtersUI":{"values":[{"lookupColumn":"offerId","lookupValue":"={{ $json.body.offerId }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[112,1248],"id":"bb81ed9b-ab3e-4281-ae40-e3f9bdbf58d8","name":"Get row(s) in sheet3","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY","mode":"list","cachedResultName":"Tabela de Frete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2051545788,"mode":"list","cachedResultName":"GEF","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit#gid=2051545788"},"columns":{"mappingMode":"defineBelow","value":{"row_number":0,"Telefone":"={{ $('Edit Fields2').item.json.body.driverPhone }}","Motirsta":"={{ $('Edit Fields2').item.json.body.driverName }}","Transportadora":"={{ $json.Transportadora }}","Remessa":"={{ $json.Remessa }}","data do Aceite":"={{ $('Edit Fields2').item.json.Data_aceito }}","Placa":"={{ $('Edit Fields2').item.json.body.vehiclePlate}}"},"matchingColumns":["Remessa"],"schema":[{"id":"Origem","displayName":"Origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Destino","displayName":"Destino","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipologia","displayName":"Tipologia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transportadora","displayName":"Transportadora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Motirsta","displayName":"Motirsta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Placa","displayName":"Placa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Remessa","displayName":"Remessa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data do Aceite","displayName":"data do Aceite","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[272,1248],"id":"62451cc2-841a-4d66-9500-438e7859a86d","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY","mode":"list","cachedResultName":"Tabela de Frete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1760598157,"mode":"list","cachedResultName":"Log_Ofertas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit#gid=1760598157"},"filtersUI":{"values":[{"lookupColumn":"offerId","lookupValue":"={{ $json.offerId }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[128,1008],"id":"d3a47aa0-0144-450a-8672-170d689649f8","name":"Get row(s) in sheet6","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"respondWith":"text","responseBody":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>Link Expirado</title>\n  <style>\n    body {\n      margin: 0;\n      padding: 0;\n      background: linear-gradient(135deg, #fceabb, #f8b500);\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      height: 100vh;\n      text-align: center;\n      color: #2c3e50;\n      animation: fadeIn 0.6s ease-in-out;\n    }\n\n    @keyframes fadeIn {\n      from { opacity: 0; transform: translateY(20px); }\n      to { opacity: 1; transform: translateY(0); }\n    }\n\n    .container {\n      background-color: #fff;\n      padding: 40px;\n      border-radius: 16px;\n      box-shadow: 0 8px 32px rgba(0,0,0,0.1);\n      max-width: 500px;\n      width: 100%;\n    }\n\n    h1 {\n      font-size: 2.2rem;\n      margin-bottom: 16px;\n      color: #e67e22;\n    }\n\n    p {\n      font-size: 1.1rem;\n      color: #555;\n      line-height: 1.6;\n    }\n\n    .back-button {\n      display: inline-block;\n      margin-top: 24px;\n      padding: 12px 24px;\n      background-color: #e67e22;\n      color: white;\n      border: none;\n      border-radius: 8px;\n      text-decoration: none;\n      font-weight: bold;\n      transition: all 0.3s ease;\n    }\n\n    .back-button:hover {\n      background-color: #cf711f;\n    }\n\n    @media (max-width: 480px) {\n      h1 {\n        font-size: 1.8rem;\n      }\n      p {\n        font-size: 1rem;\n      }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Link Expirado</h1>\n    <p>\n      Esta oferta de carga não está mais disponível.<br />\n      Ela pode já ter sido aceita por outro transportador ou ter expirado automaticamente.\n    </p>\n    <a class=\"back-button\" href=\"https://minalbabrasil.com.br/\" target=\"_blank\">Voltar para o site</a>\n  </div>\n</body>\n</html>\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[608,944],"id":"007668c8-4a19-43e1-9892-ac1020e4ce94","name":"Link_Expirado"},{"parameters":{"respondWith":"text","responseBody":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Confirmar Aceite e Informar Dados</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);\n            min-height: 100vh;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n            padding: 20px;\n            animation: fadeIn 0.8s ease-in;\n        }\n\n        @keyframes fadeIn {\n            from { opacity: 0; transform: translateY(20px); }\n            to { opacity: 1; transform: translateY(0); }\n        }\n\n        .container {\n            background-color: white;\n            max-width: 600px;\n            width: 100%;\n            padding: 40px;\n            border-radius: 16px;\n            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.12);\n            text-align: center;\n            position: relative;\n            overflow: hidden;\n        }\n\n        .container::before {\n            content: '';\n            position: absolute;\n            top: 0;\n            left: 0;\n            right: 0;\n            height: 4px;\n            background: linear-gradient(90deg, #28a745, #20c997);\n        }\n\n        .main-title {\n            font-size: 2.5rem;\n            font-weight: 700;\n            color: #2c3e50;\n            margin-bottom: 24px;\n            line-height: 1.2;\n        }\n\n        .instruction-text {\n            font-size: 1.1rem;\n            color: #5a6c7d;\n            line-height: 1.6;\n            margin-bottom: 32px;\n            text-align: left;\n        }\n\n        .form-container {\n            text-align: left;\n        }\n\n        .form-group {\n            margin-bottom: 24px;\n        }\n\n        .form-label {\n            display: block;\n            font-size: 1rem;\n            font-weight: 600;\n            color: #2c3e50;\n            margin-bottom: 8px;\n        }\n\n        .form-input {\n            width: 100%;\n            padding: 14px 16px;\n            font-size: 1rem;\n            border: 2px solid #e1e8ed;\n            border-radius: 8px;\n            transition: all 0.3s ease;\n            background-color: #fff;\n            position: relative;\n        }\n\n        .form-input:focus {\n            outline: none;\n            border-color: #28a745;\n            box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.1);\n            transform: translateY(-1px);\n        }\n\n        .form-input:hover {\n            border-color: #28a745;\n            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);\n        }\n\n        .form-input:valid {\n            border-color: #28a745;\n        }\n\n        .form-input:invalid:not(:placeholder-shown) {\n            border-color: #dc3545;\n        }\n\n        .submit-button {\n            width: 100%;\n            padding: 16px;\n            font-size: 1.1rem;\n            font-weight: 700;\n            color: white;\n            background-color: #28a745;\n            border: none;\n            border-radius: 8px;\n            cursor: pointer;\n            transition: all 0.3s ease;\n            margin-top: 16px;\n            text-transform: uppercase;\n            letter-spacing: 0.5px;\n        }\n\n        .submit-button:hover {\n            background-color: #218838;\n            transform: translateY(-2px);\n            box-shadow: 0 6px 20px rgba(40, 167, 69, 0.3);\n        }\n\n        .submit-button:active {\n            transform: translateY(0);\n        }\n\n        @media (max-width: 768px) {\n            .container {\n                padding: 24px;\n                margin: 10px;\n            }\n\n            .main-title {\n                font-size: 2rem;\n            }\n\n            .instruction-text {\n                font-size: 1rem;\n            }\n        }\n\n        @media (max-width: 480px) {\n            .main-title {\n                font-size: 1.75rem;\n            }\n\n            .form-input {\n                padding: 12px 14px;\n            }\n\n            .submit-button {\n                padding: 14px;\n                font-size: 1rem;\n            }\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <h1 class=\"main-title\">Confirmar Aceite e Informar Dados</h1>\n        \n        <p class=\"instruction-text\">\n            Por favor, preencha os dados do motorista para confirmar a coleta. A oferta é válida apenas para o veículo e motorista informados abaixo.\n        </p>\n\n        <form class=\"form-container\" id=\"driverForm\" action=\"https://webhook.biconsultingexperts.com.br/webhook/aceita_formulario\" method=\"POST\">\n            <input type=\"hidden\" name=\"offerId\" value=\"{{ $json.offerId }}\">\n            <div class=\"form-group\">\n                <label for=\"driverName\" class=\"form-label\">Nome Completo do Motorista</label>\n                <input \n                    type=\"text\" \n                    id=\"driverName\" \n                    name=\"driverName\" \n                    class=\"form-input\" \n                    required\n                    placeholder=\"Digite o nome completo do motorista\"\n                >\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"vehiclePlate\" class=\"form-label\">Placa do Veículo (formato AAA-1234 ou Mercosul)</label>\n                <input \n                    type=\"text\" \n                    id=\"vehiclePlate\" \n                    name=\"vehiclePlate\" \n                    class=\"form-input\" \n                    required\n                    placeholder=\"Ex: ABC-1234 ou ABC1D23\"\n                    pattern=\"[A-Z]{3}-?[0-9]{4}|[A-Z]{3}[0-9][A-Z][0-9]{2}\"\n                    title=\"Digite a placa no formato AAA-1234 ou Mercosul\"\n                >\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"driverPhone\" class=\"form-label\">Telefone do Motorista (com DDD)</label>\n                <input \n                    type=\"tel\" \n                    id=\"driverPhone\" \n                    name=\"driverPhone\" \n                    class=\"form-input\" \n                    required\n                    placeholder=\"(11) 99999-9999\"\n                    pattern=\"\\([0-9]{2}\\)\\s[0-9]{4,5}-[0-9]{4}\"\n                    title=\"Digite o telefone no formato (11) 99999-9999\"\n                >\n            </div>\n\n            <button type=\"submit\" class=\"submit-button\">\n                Confirmar e Enviar Dados\n            </button>\n        </form>\n    </div>\n\n    <!-- SCRIPT FINAL COM AJUSTES -->\n    <script>\n        // Força letras maiúsculas na placa\n        document.getElementById('vehiclePlate').addEventListener('input', function () {\n            this.value = this.value.toUpperCase();\n        });\n\n        // Formata automaticamente o telefone para (11) 99133-5752\n        document.getElementById('driverPhone').addEventListener('input', function (e) {\n            let cleaned = e.target.value.replace(/\\D/g, '');\n            if (cleaned.length > 11) cleaned = cleaned.slice(0, 11);\n\n            let formatted = '';\n            if (cleaned.length > 0) {\n                formatted += '(' + cleaned.slice(0, 2);\n            }\n            if (cleaned.length >= 3) {\n                formatted += ') ' + cleaned.slice(2, cleaned.length >= 7 ? 7 : cleaned.length);\n            }\n            if (cleaned.length >= 7) {\n                formatted += '-' + cleaned.slice(7);\n            }\n\n            e.target.value = formatted;\n        });\n\n        // Envio do formulário com fetch\n        document.getElementById('driverForm').addEventListener('submit', function(e) {\n            e.preventDefault(); \n            const form = e.target;\n            const actionUrl = form.action;\n            const submitButton = form.querySelector('button[type=\"submit\"]');\n\n            const formData = new FormData(form);\n            const data = Object.fromEntries(formData.entries());\n\n            submitButton.disabled = true;\n            submitButton.textContent = 'Enviando...';\n\n            fetch(actionUrl, {\n                method: 'POST',\n                headers: {\n                    'Content-Type': 'application/json',\n                },\n                body: JSON.stringify(data),\n            })\n            .then(response => {\n                if (!response.ok) {\n                    throw new Error('Network response was not ok');\n                }\n                return response.json();\n            })\n            .then(result => {\n                document.querySelector('.container').innerHTML = `\n                    <h1 class=\"main-title\">Obrigado!</h1>\n                    <p class=\"instruction-text\">Seus dados foram recebidos com sucesso. A coleta está confirmada.</p>\n                `;\n            })\n            .catch(error => {\n                console.error('Error:', error);\n                submitButton.disabled = false;\n                submitButton.textContent = 'Tentar Novamente';\n                alert('Ocorreu um erro ao enviar seus dados. Por favor, tente novamente.');\n            });\n        });\n    </script>\n</body>\n</html>\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[608,1120],"id":"e2adb5cd-f033-4169-a7a2-e127dbf21660","name":"Link_Ativo"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6d0202fa-c928-404c-8bd7-da6c4fb62788","leftValue":"={{ $json.Status }}","rightValue":"Expirada","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[336,1008],"id":"5e3868ba-27e4-477f-8ae2-bdff48c855bc","name":"If1"},{"parameters":{"respondWith":"text","responseBody":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\"/>\n  <title>Oferta Recusada</title>\n  <style>\n    body {\n      margin: 0;\n      padding: 0;\n      background: linear-gradient(135deg, #fceabb, #f8b500);\n      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      height: 100vh;\n      text-align: center;\n      color: #2c3e50;\n      animation: fadeIn 0.6s ease-in-out;\n    }\n\n    @keyframes fadeIn {\n      from { opacity: 0; transform: translateY(20px); }\n      to { opacity: 1; transform: translateY(0); }\n    }\n\n    .container {\n      background-color: #fff;\n      padding: 40px;\n      border-radius: 16px;\n      box-shadow: 0 8px 32px rgba(0,0,0,0.1);\n      max-width: 500px;\n      width: 100%;\n    }\n\n    h1 {\n      font-size: 2.2rem;\n      margin-bottom: 16px;\n      color: #c0392b;\n    }\n\n    p {\n      font-size: 1.1rem;\n      color: #555;\n      line-height: 1.6;\n    }\n\n    .back-button {\n      display: inline-block;\n      margin-top: 24px;\n      padding: 12px 24px;\n      background-color: #c0392b;\n      color: white;\n      border: none;\n      border-radius: 8px;\n      text-decoration: none;\n      font-weight: bold;\n      transition: all 0.3s ease;\n    }\n\n    .back-button:hover {\n      background-color: #a93226;\n    }\n\n    @media (max-width: 480px) {\n      h1 {\n        font-size: 1.8rem;\n      }\n      p {\n        font-size: 1rem;\n      }\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h1>Oferta Recusada</h1>\n    <p>\n      Você recusou a oferta de carga.<br />\n      Agradecemos pelo seu tempo e consideração.\n    </p>\n    <a class=\"back-button\" href=\"https://minalbabrasil.com.br/\" target=\"_blank\">Conheça a Minalba</a>\n  </div>\n<script>\n  // Adiciona um 'escutador' que espera a página carregar completamente\n  document.addEventListener('DOMContentLoaded', function() {\n    \n    // Captura o offerId da URL\n    const urlParams = new URLSearchParams(window.location.search);\n    const offerId = urlParams.get('offerId');\n\n    console.log('Offer ID capturado da URL:', offerId);\n\n    if (offerId) {\n      console.log('Enviando para o webhook:', offerId);\n      // Envia o offerId para o endpoint que atualiza a planilha\n      fetch('https://automacao.biconsultingexperts.com.br/webhook/update_spreadsheet', {\n        method: 'POST',\n        headers: {\n          'Content-Type': 'application/json',\n        },\n        body: JSON.stringify({\n          offerId: offerId,\n          status: 'Recusada'\n        })\n      })\n      .then(response => {\n        if (!response.ok) {\n          // Se a resposta não for OK, lança um erro para ser pego pelo .catch\n          throw new Error('Resposta da rede não foi OK: ' + response.statusText);\n        }\n        return response.json();\n      })\n      .then(data => console.log('Oferta recusada registrada com sucesso:', data))\n      .catch(error => console.error('Erro ao registrar recusa:', error));\n    } else {\n        console.log('Nenhum offerId encontrado na URL.');\n    }\n  });\n</script>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-32,1504],"id":"f643816d-c643-412f-bdbd-100c6ae0b34a","name":"Link_Expirado1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7178aa04-7ff8-487f-acff-1a2175c32eb4","leftValue":"={{ $json.Motirsta }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1808,1504],"id":"74d52495-9c4e-40e5-b8a2-da5b173b7eb4","name":"If5"},{"parameters":{"assignments":{"assignments":[{"id":"43b4c057-0c2e-4e67-b4d8-d334b51678c8","name":"Origem","value":"={{ $json.Origem }}","type":"string"},{"id":"685e5d11-c8e1-40f5-b62f-5541851d8670","name":"Destino","value":"={{ $json.Destino }}","type":"string"},{"id":"573ba106-0ff8-4700-b317-1d93ccdc9adb","name":"Tipologia","value":"={{ $json.Tipologia }}","type":"string"},{"id":"e4b561a0-806e-4d15-b484-815849548ce8","name":"Data","value":"={{ DateTime.now().setZone('America/Fortaleza').toFormat('dd/MM/yyyy HH:mm') }}","type":"string"},{"id":"5211cbb1-b95d-49d5-a5c5-3fb1933159fc","name":"Remessa","value":"={{ $json.Remessa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2016,1488],"id":"5dd4c097-354b-4910-8f71-1922fae260e5","name":"Edit Fields5"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[1344,1008],"id":"e3b3f404-3317-44e3-93e3-e31a7da243a8","name":"When clicking ‘Execute workflow’"},{"parameters":{"assignments":{"assignments":[{"id":"43b4c057-0c2e-4e67-b4d8-d334b51678c8","name":"Origem","value":"={{ $json.Origem }}","type":"string"},{"id":"685e5d11-c8e1-40f5-b62f-5541851d8670","name":"Destino","value":"={{ $json.Destino }}","type":"string"},{"id":"573ba106-0ff8-4700-b317-1d93ccdc9adb","name":"Tipologia","value":"={{ $json.Tipologia }}","type":"string"},{"id":"e4b561a0-806e-4d15-b484-815849548ce8","name":"Data","value":"={{ DateTime.now().setZone('America/Fortaleza').toFormat('dd/MM/yyyy HH:mm') }}","type":"string"},{"id":"5211cbb1-b95d-49d5-a5c5-3fb1933159fc","name":"Remessa","value":"={{ $json.Remessa }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2208,944],"id":"43ab30da-9fec-4e28-a471-466a424c8e65","name":"Edit Fields"},{"parameters":{"documentId":{"__rl":true,"value":"1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY","mode":"list","cachedResultName":"Tabela de Frete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Tabela","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Origem","lookupValue":"={{ $json.Origem }}"},{"lookupColumn":"Destino","lookupValue":"={{ $json.Destino }}"},{"lookupColumn":"Tipologia","lookupValue":"={{ $json.Tipologia }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2368,944],"id":"2c2c7409-0873-4b95-aaef-11f751f09735","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Pega todos os itens que chegam no nó\nconst allItems = $input.all();\n\n// Objeto para armazenar a oferta mais barata para cada rota única.\n// A chave do objeto será a rota, e o valor será o item mais barato encontrado até agora.\nconst cheapestOffersByRoute = {};\n\n// Itera sobre cada item (cada oferta) que chegou no nó\nfor (const item of allItems) {\n  // Cria uma chave de identificação única para a rota\n  const routeKey = `${item.json.Origem}-${item.json.Destino}-${item.json.Tipologia}`;\n\n  // Verifica duas condições:\n  // 1. Esta rota ainda não foi adicionada ao nosso objeto?\n  // 2. Ou, a oferta atual ('item') é mais barata que a já armazenada para esta rota?\n  if (!cheapestOffersByRoute[routeKey] || item.json.Valor < cheapestOffersByRoute[routeKey].json.Valor) {\n    \n    // Se uma das condições for verdadeira, armazena a oferta atual como a mais barata para essa rota.\n    cheapestOffersByRoute[routeKey] = item;\n  }\n}\n\n// No final, nosso objeto 'cheapestOffersByRoute' contém apenas as ofertas mais baratas para cada rota.\n// A função Object.values() pega todos esses itens e os retorna como uma lista para o próximo nó.\nreturn Object.values(cheapestOffersByRoute);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2512,944],"id":"59228efb-5994-49ae-8363-9b0f953d3152","name":"Code"},{"parameters":{"documentId":{"__rl":true,"value":"1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY","mode":"list","cachedResultName":"Tabela de Frete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":967667844,"mode":"list","cachedResultName":"Contato Transportador","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit#gid=967667844"},"filtersUI":{"values":[{"lookupColumn":"Transportadora","lookupValue":"={{ $json.Transportadora }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2672,944],"id":"5d488219-f31b-4104-ad5d-0f9fd7402555","name":"Get row(s) in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2864,944],"id":"968b52bf-1d6c-4812-b215-eedd58cc0d2e","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"9c757797-2c5c-484e-88d3-131f1e50e197","name":"Transportadora","value":"={{ $json.Transportadora }}","type":"string"},{"id":"f5eef208-5739-44ed-8344-50f4d00ae13c","name":"Email","value":"={{ $json.Email }}","type":"string"},{"id":"7a6c3e36-d88d-4568-8c24-181e920adb72","name":"Hora","value":"={{ DateTime.now().setZone('America/Fortaleza').toFormat('dd/MM/yyyy HH:mm') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3008,1072],"id":"e097d452-d1af-4393-ae3c-51c7e5585f93","name":"Edit Fields1"},{"parameters":{"sendTo":"={{ $('Edit Fields1').item.json.Email }}","subject":"=Nova Oferta de Carga: {{ $('Edit Fields').item.json.Origem }} para {{ $('Edit Fields').item.json.Destino }} Tipologia {{ $('Edit Fields').item.json.Tipologia }} Remessa: {{ $json.Remessa }}","message":"=<h3>Olá, parceiro!</h3>\n<p>Temos uma nova oportunidade de carga disponível com os seguintes detalhes:</p>\n<ul>\n    <li><strong>Origem:</strong> {{ $('Edit Fields').item.json.Origem }}</li>\n    <li><strong>Destino:</strong> {{ $('Edit Fields').item.json.Destino }}</li>\n    <li><strong>Tipologia:</strong> {{ $('Edit Fields').item.json.Tipologia }}</li>\n    <li><strong>Valor:</strong> {{ $json.Valor }}</li>\n</ul>\n<p>Esta oferta expira em 1 hora.</p>\n\n<a href=\"https://webhook.biconsultingexperts.com.br/webhook/aceita_oferta?offerId={{$json.offerId}}\" style=\"padding: 10px; background-color: green; color: white; text-decoration: none;\">ACEITAR OFERTA</a>\n\n<br><br>\n\n<a href=\"https://webhook.biconsultingexperts.com.br/webhook/recusa_oferta?offerId={{$json.offerId}}\" style=\"padding: 10px; background-color: red; color: white; text-decoration: none;\">RECUSAR OFERTA</a>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[3488,1072],"id":"0ea5daa3-eded-44e6-a008-4a0f0247af62","name":"Send a message","webhookId":"0f9e1338-f339-486b-87d4-d0a2012af9a6","credentials":{"gmailOAuth2":{"id":"FE4CRLfxIRCXW7tP","name":"Gmail account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// --- ESTRATÉGIA FINAL: CRIAR UM OBJETO TOTALMENTE NOVO ---\n\n// 1. Copia todos os dados do item de entrada (.json) para um novo objeto limpo.\n// A sintaxe '...' faz uma cópia de todas as propriedades.\nconst dadosLimpos = { ...$item.json };\n\n// 2. Gera o ID único.\nconst offerId = Date.now().toString(36) + Math.random().toString(36).substring(2);\n\n// 3. Adiciona o novo ID ao nosso objeto de dados limpos.\ndadosLimpos.offerId = offerId;\n\n// 4. Retorna APENAS o objeto com os dados. O N8N vai reconstruir\n//    o item de saída corretamente a partir daqui.\nreturn dadosLimpos;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3168,1072],"id":"33618e1b-803a-4647-877a-825e5db9e11c","name":"Code1"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY","mode":"list","cachedResultName":"Tabela de Frete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1760598157,"mode":"list","cachedResultName":"Log_Ofertas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit#gid=1760598157"},"columns":{"mappingMode":"defineBelow","value":{"Origem":"={{ $('Edit Fields').item.json.Origem }}","Destino":"={{ $('Edit Fields').item.json.Destino }}","Tipologia":"={{ $('Edit Fields').item.json.Tipologia }}","Valor":"={{ $('Get row(s) in sheet').item.json.Valor }}","Transportadora":"={{ $('Get row(s) in sheet').item.json.Transportadora }}","offerId":"={{ $json.offerId }}","HorarioEnvio":"={{ DateTime.now().setZone('America/Fortaleza').toFormat('dd/MM/yyyy HH:mm') }}","Status":"Enviada","Remessa":"={{ $('Edit Fields').item.json.Remessa }}"},"matchingColumns":[],"schema":[{"id":"offerId","displayName":"offerId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transportadora","displayName":"Transportadora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Origem","displayName":"Origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Destino","displayName":"Destino","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipologia","displayName":"Tipologia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HorarioEnvio","displayName":"HorarioEnvio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Remessa","displayName":"Remessa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3328,1072],"id":"18f7ad78-aabc-4e95-b0c7-b39fed836ec2","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY","mode":"list","cachedResultName":"Tabela de Frete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2051545788,"mode":"list","cachedResultName":"GEF","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit#gid=2051545788"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1840,960],"id":"5c73a1b1-024b-46fd-ba3c-2824fedc59ac","name":"Get row(s) in sheet7","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"7178aa04-7ff8-487f-acff-1a2175c32eb4","leftValue":"={{ $json.Motirsta }}","rightValue":"","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1968,960],"id":"22d4fcee-3a70-4f5b-ba5d-35e496d8227a","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3616,1072],"id":"7fb7d1e8-8e00-4bba-85ee-f979eb3a5601","name":"Wait","webhookId":"4195c86a-c6bd-4c3e-b439-3216270e93dc"},{"parameters":{"documentId":{"__rl":true,"value":"1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY","mode":"list","cachedResultName":"Tabela de Frete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Tabela","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"Origem","lookupValue":"={{ $json.Origem }}"},{"lookupColumn":"Destino","lookupValue":"={{ $json.Destino }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2288,1488],"id":"9af39a3c-7316-4c45-9402-0c75242e89f6","name":"Tabela_de_Frete","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"documentId":{"__rl":true,"value":"1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY","mode":"list","cachedResultName":"Tabela de Frete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2051545788,"mode":"list","cachedResultName":"GEF","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit#gid=2051545788"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1648,1504],"id":"ed1cf77a-71ba-4ec7-8de7-3d6a6352fd8b","name":"Planilha_GEF"},{"parameters":{"documentId":{"__rl":true,"value":"1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY","mode":"list","cachedResultName":"Tabela de Frete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1760598157,"mode":"list","cachedResultName":"Log_Ofertas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit#gid=1760598157"},"filtersUI":{"values":[{"lookupColumn":"Remessa","lookupValue":"={{ $('Edit Fields5').item.json.Remessa }}"},{"lookupColumn":"Status","lookupValue":"Enviada"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2144,1488],"id":"c2d89ec2-63da-47c3-8720-eb3a4318d7a1","name":"Log_de_Oferta","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// --- LÓGICA FINAL E DEFINITIVA: PISO DE PREÇO DINÂMICO POR TRECHO ---\n\n// Passo 1: Pega a Tabela de Frete completa como entrada principal deste nó.\nconst todasAsOpcoes = $input.all();\n\n// Passo 2: Pega o histórico de ofertas feitas do nó 'Log_de_Oferta'.\n//    !!!! IMPORTANTE: Ajuste o nome 'Log_de_Oferta' se necessário !!!!\nconst logDeOfertas = await $('Log_de_Oferta').all();\n\n// Passo 3: Calcula o \"Preço Piso\" PARA CADA ROTA.\n// Ele vai iterar pelo log e guardar o valor MAIS ALTO já ofertado em cada trecho.\nconst pisosPorRota = {};\nfor (const oferta of logDeOfertas) {\n  const routeKey = `${oferta.json.Origem}-${oferta.json.Destino}-${oferta.json.Tipologia}`;\n  const valorAtualDoPiso = pisosPorRota[routeKey] || -1; // Pega o piso atual ou -1 se for o primeiro\n  \n  // Guarda sempre o maior valor encontrado para a rota\n  pisosPorRota[routeKey] = Math.max(valorAtualDoPiso, oferta.json.Valor);\n}\n\n// Passo 4: Agrupa todas as opções de frete por rota para facilitar o trabalho.\nconst opcoesPorRota = {};\nfor (const opcao of todasAsOpcoes) {\n  const routeKey = `${opcao.json.Origem}-${opcao.json.Destino}-${opcao.json.Tipologia}`;\n  if (!opcoesPorRota[routeKey]) {\n    opcoesPorRota[routeKey] = [];\n  }\n  opcoesPorRota[routeKey].push(opcao);\n}\n\n// Passo 5: Itera sobre cada rota, aplica o filtro de \"piso de preço\" específico e ordena.\nconst resultadoFinal = [];\nfor (const routeKey in opcoesPorRota) {\n  const opcoesDesteTrecho = opcoesPorRota[routeKey];\n  // Pega o piso de preço específico para esta rota (ou -1 se nunca foi ofertada).\n  const precoPiso = pisosPorRota[routeKey] || -1;\n\n  // Filtra as opções, mantendo apenas quem tem valor > que o piso desta rota.\n  const disponiveisNesteTrecho = opcoesDesteTrecho.filter(\n    opcao => opcao.json.Valor > precoPiso\n  );\n\n  // Ordena a lista de disponíveis, da mais barata para a mais cara.\n  disponiveisNesteTrecho.sort((a, b) => a.json.Valor - b.json.Valor);\n\n  // Adiciona o resultado limpo e ordenado de CADA trecho ao resultado final.\n  resultadoFinal.push(...disponiveisNesteTrecho);\n}\n\n// Passo 6: Retorna a lista completa, corretamente filtrada e pronta para a próxima oferta.\nreturn resultadoFinal;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2432,1488],"id":"8ab579a2-5d38-47f8-84c5-fc4edbedaaa5","name":"Code3"},{"parameters":{"jsCode":"// Objeto para armazenar a oferta mais barata para cada rota única.\n// A chave será a própria rota (ex: \"Horizonte-Salvador-Carreta_24\").\nconst cheapestOffersByRoute = {};\n\n// Itera sobre cada item (cada linha de frete) que chegou na entrada.\nfor (const item of $input.all()) {\n\n  // Cria uma chave de identificação única para a rota, combinando os três campos.\n  const routeKey = `${item.json.Origem}-${item.json.Destino}-${item.json.Tipologia}`;\n\n  // Verifica duas condições:\n  // 1. É a primeira vez que vemos esta 'routeKey'?\n  // 2. Ou, a oferta atual ('item') tem um 'Valor' menor que a que já guardamos para esta rota?\n  if (!cheapestOffersByRoute[routeKey] || item.json.Valor < cheapestOffersByRoute[routeKey].json.Valor) {\n    \n    // Se uma das condições for verdadeira, esta passa a ser a oferta mais barata\n    // para esta rota. Nós a guardamos (ou substituímos a antiga).\n    cheapestOffersByRoute[routeKey] = item;\n  }\n}\n\n// No final do loop, o objeto 'cheapestOffersByRoute' conterá apenas\n// uma entrada por rota: a mais barata.\n// A função Object.values() converte esse objeto de volta para uma lista.\nreturn Object.values(cheapestOffersByRoute);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2576,1488],"id":"da7d5742-8241-4944-ac76-0d32ba7e8d79","name":"Code4"},{"parameters":{"documentId":{"__rl":true,"value":"1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY","mode":"list","cachedResultName":"Tabela de Frete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":967667844,"mode":"list","cachedResultName":"Contato Transportador","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit#gid=967667844"},"filtersUI":{"values":[{"lookupColumn":"Transportadora","lookupValue":"={{ $json.Transportadora }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[2720,1488],"id":"095588fb-b58c-4591-a150-a5db8676415b","name":"Get row(s) in sheet4","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[2864,1488],"id":"6cf35876-f8da-4b3b-9d7c-1f0127b397f9","name":"Loop Over Items1"},{"parameters":{"assignments":{"assignments":[{"id":"9c757797-2c5c-484e-88d3-131f1e50e197","name":"Transportadora","value":"={{ $json.Transportadora }}","type":"string"},{"id":"f5eef208-5739-44ed-8344-50f4d00ae13c","name":"Email","value":"={{ $json.Email }}","type":"string"},{"id":"7a6c3e36-d88d-4568-8c24-181e920adb72","name":"Hora","value":"={{ DateTime.now().setZone('America/Fortaleza').toFormat('dd/MM/yyyy HH:mm') }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3008,1616],"id":"c3afcab7-ebd9-4686-a34d-cf6a33bf547b","name":"Edit Fields3"},{"parameters":{"sendTo":"={{ $('Edit Fields3').item.json.Email }}","subject":"=Nova Oferta de Carga: {{ $('Append row in sheet1').item.json.Origem }} para {{ $('Append row in sheet1').item.json.Destino }} Tipologia {{ $('Append row in sheet1').item.json.Tipologia }} Remessa: {{ $('Append row in sheet1').item.json.Remessa }}","message":"=<h3>Olá, parceiro!</h3>\n<p>Temos uma nova oportunidade de carga disponível com os seguintes detalhes:</p>\n<ul>\n    <li><strong>Origem:</strong> {{ $('Append row in sheet1').item.json.Origem }}</li>\n    <li><strong>Destino:</strong> {{ $('Append row in sheet1').item.json.Destino }}</li>\n    <li><strong>Tipologia:</strong> <{{ $('Append row in sheet1').item.json.Tipologia }}/li>\n    <li><strong>Frete:</strong> {{ $('Append row in sheet1').item.json.Valor }}</li>\n</ul>\n<p>Esta oferta expira em 1 hora.</p>\n\n<a href=\"https://webhook.biconsultingexperts.com.br/webhook/aceita_oferta?offerId={{ $('Append row in sheet1').item.json.offerId }}\" style=\"padding: 10px; background-color: green; color: white; text-decoration: none;\">ACEITAR OFERTA</a>\n\n<br><br>\n\n<a href=\"https://webhook.biconsultingexperts.com.br/webhook/recusa_oferta?offerId={{ $('Append row in sheet1').item.json.offerId }}\" style=\"padding: 10px; background-color: red; color: white; text-decoration: none;\">RECUSAR OFERTA</a>","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[3664,1616],"id":"835e7b18-bd3f-40f5-a81f-c4d4eee7c4b3","name":"Send a message1","webhookId":"0f9e1338-f339-486b-87d4-d0a2012af9a6","credentials":{"gmailOAuth2":{"id":"FE4CRLfxIRCXW7tP","name":"Gmail account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"// --- ESTRATÉGIA FINAL: CRIAR UM OBJETO TOTALMENTE NOVO ---\n\n// 1. Copia todos os dados do item de entrada (.json) para um novo objeto limpo.\n// A sintaxe '...' faz uma cópia de todas as propriedades.\nconst dadosLimpos = { ...$item.json };\n\n// 2. Gera o ID único.\nconst offerId = Date.now().toString(36) + Math.random().toString(36).substring(2);\n\n// 3. Adiciona o novo ID ao nosso objeto de dados limpos.\ndadosLimpos.offerId = offerId;\n\n// 4. Retorna APENAS o objeto com os dados. O N8N vai reconstruir\n//    o item de saída corretamente a partir daqui.\nreturn dadosLimpos;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3152,1616],"id":"b8b42c0e-3059-4157-aa3b-64cf1678706e","name":"Code5"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY","mode":"list","cachedResultName":"Tabela de Frete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1760598157,"mode":"list","cachedResultName":"Log_Ofertas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit#gid=1760598157"},"columns":{"mappingMode":"defineBelow","value":{"Origem":"={{ $('Code4').item.json.Origem }}","Destino":"={{ $('Code4').item.json.Destino }}","Tipologia":"={{ $('Code4').item.json.Tipologia }}","Valor":"={{ $('Code4').item.json.Valor }}","Transportadora":"={{ $('Edit Fields3').item.json.Transportadora }}","offerId":"={{ $json.offerId }}","HorarioEnvio":"={{ DateTime.now().setZone('America/Fortaleza').toFormat('dd/MM/yyyy HH:mm') }}","Status":"Enviada","Remessa":"={{ $('Edit Fields5').item.json.Remessa }}"},"matchingColumns":[],"schema":[{"id":"offerId","displayName":"offerId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Transportadora","displayName":"Transportadora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Origem","displayName":"Origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Destino","displayName":"Destino","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipologia","displayName":"Tipologia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HorarioEnvio","displayName":"HorarioEnvio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Remessa","displayName":"Remessa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3296,1616],"id":"5b6fdfce-d202-4a2a-a7a0-88e13ac50625","name":"Append row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3824,1616],"id":"d86a2624-a18b-4d0b-bb33-9703ab0a1ca9","name":"Wait1","webhookId":"4195c86a-c6bd-4c3e-b439-3216270e93dc"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY","mode":"list","cachedResultName":"Tabela de Frete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1760598157,"mode":"list","cachedResultName":"Log_Ofertas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit#gid=1760598157"},"columns":{"mappingMode":"defineBelow","value":{"offerId":"={{ $('Log_de_Oferta').item.json.offerId }}","Status":"Expirada"},"matchingColumns":["offerId"],"schema":[{"id":"offerId","displayName":"offerId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Transportadora","displayName":"Transportadora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Origem","displayName":"Origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Destino","displayName":"Destino","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tipologia","displayName":"Tipologia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"HorarioEnvio","displayName":"HorarioEnvio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Remessa","displayName":"Remessa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3488,1616],"id":"fcbdb972-05ba-4005-96ca-acb821d940a9","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"content":"## Evnia Oferta de Caga","height":400,"width":2144},"type":"n8n-nodes-base.stickyNote","position":[1664,880],"typeVersion":1,"id":"c07cf817-eb55-48a1-802d-74dac7e5d20a","name":"Sticky Note"},{"parameters":{"content":"## LOOP DE OFERTA","height":400,"width":2368,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1632,1440],"typeVersion":1,"id":"eb4caf81-a2f8-42c8-b8b9-23daf584b5a0","name":"Sticky Note1"},{"parameters":{"httpMethod":"POST","path":"ofertar_carga","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[64,368],"id":"61f57856-dfea-44c6-bc52-da3dec62cf04","name":"Webhook","webhookId":"343e490d-73ae-4f84-90fc-ea9754625df5"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY","mode":"list","cachedResultName":"Tabela de Frete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":2051545788,"mode":"list","cachedResultName":"GEF","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit#gid=2051545788"},"columns":{"mappingMode":"defineBelow","value":{"Origem":"={{ $json.body.origem }}","Destino":"={{ $json.body.destino }}","Tipologia":"={{ $json.body.tipologia }}","Remessa":"={{ $json.body.remessa }}"},"matchingColumns":[],"schema":[{"id":"Origem","displayName":"Origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Destino","displayName":"Destino","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipologia","displayName":"Tipologia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Transportadora","displayName":"Transportadora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Motirsta","displayName":"Motirsta","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Placa","displayName":"Placa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Remessa","displayName":"Remessa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"data do Aceite","displayName":"data do Aceite","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[256,368],"id":"0276e0de-e0b8-404e-b8ca-0d5f71cd89b3","name":"Append row in sheet2","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"path":"roteirizacao","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[48,80],"id":"0ce1fb8f-cf57-44d1-a815-a815f7d0d68f","name":"Roteirização","webhookId":"9fda4f0c-d771-44c6-89af-87e76258c2a9"},{"parameters":{"content":"## SITE DA ROTEIRIZAÇÃO","height":256,"width":576},"type":"n8n-nodes-base.stickyNote","position":[0,0],"typeVersion":1,"id":"38e965c5-41f0-4533-97dc-2753e30c9830","name":"Sticky Note2"},{"parameters":{"content":"## RECEBE DADOS DA ROTEIRIZAÇÃO","height":256,"width":576},"type":"n8n-nodes-base.stickyNote","position":[0,288],"typeVersion":1,"id":"326bb0cd-d528-4fdf-897b-9964b29a1588","name":"Sticky Note3"},{"parameters":{"respondWith":"text","responseBody":"=<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Portal de Oferta de Cargas - Minalba Brasil</title>\n    <link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap\" rel=\"stylesheet\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css\">\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js\"></script>\n    <style>\n        :root {\n            --primary: #0077b6; /* Azul profundo */\n            --secondary: #00b4d8; /* Azul claro - água */\n            --accent: #ff9e00; /* Laranja - energia */\n            --light: #f8f9fa;\n            --dark: #1e3a5f;\n            --text: #333333;\n        }\n\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Inter', sans-serif;\n            background: linear-gradient(to bottom, #f0f8ff, #e6f7ff);\n            color: var(--text);\n            line-height: 1.6;\n            min-height: 100vh;\n            overflow-x: hidden;\n            position: relative;\n        }\n\n        /* Efeito de ondas na parte inferior */\n        .wave-container {\n            position: absolute;\n            bottom: 0;\n            left: 0;\n            width: 100%;\n            height: 200px;\n            z-index: -1;\n            overflow: hidden;\n        }\n\n        .wave {\n            position: absolute;\n            bottom: 0;\n            left: 0;\n            width: 200%;\n            height: 100%;\n            background: url('data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 1200 120\" preserveAspectRatio=\"none\"><path d=\"M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113.64,28.06,1200,56.86V0Z\" opacity=\".25\" fill=\"%2300b4d8\"/><path d=\"M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z\" opacity=\".5\" fill=\"%2300b4d8\"/><path d=\"M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z\" fill=\"%2300b4d8\"/></svg>') no-repeat center bottom;\n            background-size: 100% 100px;\n            animation: wave 15s linear infinite;\n        }\n\n        .wave-2 {\n            bottom: 10px;\n            opacity: 0.5;\n            animation: wave 20s linear reverse infinite;\n        }\n\n        .wave-3 {\n            bottom: 20px;\n            opacity: 0.2;\n            animation: wave 25s linear infinite;\n        }\n\n        /* Header elegante */\n        .header {\n            background: linear-gradient(to right, var(--primary), var(--secondary));\n            padding: 3rem 0;\n            text-align: center;\n            position: relative;\n            overflow: hidden;\n            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);\n        }\n\n        .header::before {\n            content: '';\n            position: absolute;\n            top: 0;\n            left: 0;\n            width: 100%;\n            height: 100%;\n            background: url('data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 100 100\" preserveAspectRatio=\"none\"><circle cx=\"20\" cy=\"20\" r=\"3\" fill=\"rgba(255,255,255,0.1)\"/><circle cx=\"50\" cy=\"70\" r=\"4\" fill=\"rgba(255,255,255,0.1)\"/><circle cx=\"80\" cy=\"30\" r=\"2\" fill=\"rgba(255,255,255,0.1)\"/><circle cx=\"90\" cy=\"60\" r=\"3\" fill=\"rgba(255,255,255,0.1)\"/><circle cx=\"40\" cy=\"50\" r=\"1\" fill=\"rgba(255,255,255,0.1)\"/></svg>');\n            background-size: 200px;\n            opacity: 0.2;\n        }\n\n        .header-content {\n            position: relative;\n            z-index: 2;\n        }\n\n        .header h1 {\n            font-size: 2.8rem;\n            font-weight: 700;\n            margin: 0;\n            color: white;\n            letter-spacing: 1px;\n        }\n\n        .header p {\n            font-size: 1.25rem;\n            opacity: 0.9;\n            margin-top: 0.5rem;\n            color: rgba(255, 255, 255, 0.95);\n            font-weight: 300;\n        }\n\n        .logo {\n            margin-bottom: 1.5rem;\n        }\n\n        .logo img {\n            height: 80px;\n        }\n\n        .container {\n            max-width: 1280px;\n            margin: 0 auto;\n            padding: 0 2rem;\n        }\n\n        /* Conteúdo principal */\n        .main-content {\n            padding: 4rem 1.5rem;\n            position: relative;\n            z-index: 2;\n        }\n\n        .intro-text {\n            text-align: center;\n            margin-bottom: 3rem;\n            position: relative;\n            padding: 0 1rem;\n        }\n\n        .intro-text h2 {\n            font-size: 2.2rem;\n            color: var(--dark);\n            margin-bottom: 1.5rem;\n            font-weight: 600;\n        }\n\n        .intro-text p {\n            font-size: 1.15rem;\n            color: var(--text);\n            max-width: 700px;\n            margin: 1rem auto 0;\n            line-height: 1.8;\n        }\n\n        /* Grid de cards */\n        .grid {\n            display: grid;\n            grid-template-columns: 1fr;\n            gap: 2.5rem;\n        }\n\n        @media (min-width: 768px) {\n            .grid { grid-template-columns: 1fr 1fr; }\n        }\n\n        .card {\n            background: white;\n            border-radius: 12px;\n            padding: 2rem;\n            box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);\n            transition: transform 0.4s ease, box-shadow 0.4s ease;\n            position: relative;\n            overflow: hidden;\n            border: 1px solid rgba(0, 180, 216, 0.2);\n        }\n\n        .card:hover {\n            transform: translateY(-8px);\n            box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);\n        }\n\n        .card::after {\n            content: '';\n            position: absolute;\n            bottom: 0;\n            left: 0;\n            width: 100%;\n            height: 4px;\n            background: linear-gradient(to right, var(--primary), var(--secondary));\n        }\n\n        .card h3 {\n            font-size: 1.6rem;\n            color: var(--primary);\n            margin-bottom: 1.5rem;\n            padding-bottom: 1rem;\n            border-bottom: 1px solid rgba(0, 180, 216, 0.2);\n            display: flex;\n            align-items: center;\n            gap: 12px;\n        }\n\n        .card h3 i {\n            color: var(--accent);\n            background: rgba(255, 158, 0, 0.1);\n            width: 40px;\n            height: 40px;\n            border-radius: 50%;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n        }\n\n        /* Formulários */\n        .form-group {\n            margin-bottom: 1.5rem;\n            position: relative;\n        }\n\n        .form-group label {\n            display: block;\n            font-weight: 500;\n            color: var(--dark);\n            margin-bottom: 0.5rem;\n        }\n\n        .form-group input {\n            width: 100%;\n            padding: 0.9rem 1rem;\n            background: var(--light);\n            border: 1px solid #d1e7ff;\n            border-radius: 8px;\n            font-size: 1rem;\n            transition: all 0.3s ease;\n            color: var(--text);\n        }\n\n        .form-group input:focus {\n            outline: none;\n            border-color: var(--secondary);\n            box-shadow: 0 0 0 4px rgba(0, 180, 216, 0.15);\n        }\n\n        .btn {\n            display: inline-block;\n            background: linear-gradient(to right, var(--primary), var(--secondary));\n            color: white;\n            padding: 0.9rem 2.2rem;\n            border-radius: 8px;\n            font-size: 1.05rem;\n            font-weight: 600;\n            cursor: pointer;\n            border: none;\n            transition: all 0.3s ease;\n            position: relative;\n            overflow: hidden;\n            margin-top: 0.5rem;\n        }\n\n        .btn:hover {\n            transform: translateY(-3px);\n            box-shadow: 0 5px 15px rgba(0, 119, 182, 0.25);\n        }\n\n        .btn:active {\n            transform: translateY(1px);\n        }\n\n        .feedback {\n            margin-top: 1.25rem;\n            padding: 1rem;\n            border-radius: 8px;\n            text-align: center;\n            font-size: 1rem;\n            font-weight: 500;\n            opacity: 0;\n            height: 0;\n            transition: all 0.4s ease;\n            overflow: hidden;\n        }\n\n        .feedback.show {\n            opacity: 1;\n            height: auto;\n            padding: 1rem;\n        }\n\n        .feedback.info { \n            background: rgba(0, 180, 216, 0.1); \n            color: var(--primary);\n            border: 1px solid var(--secondary);\n        }\n\n        .feedback.success { \n            background: rgba(100, 200, 100, 0.1); \n            color: #2e8b57;\n            border: 1px solid #3cb371;\n        }\n\n        .feedback.error { \n            background: rgba(255, 100, 100, 0.1); \n            color: #d9534f;\n            border: 1px solid #d9534f;\n        }\n\n        /* Imagem de caminhões no fundo */\n        .truck-bg {\n            position: absolute;\n            bottom: 200px;\n            right: 0;\n            opacity: 0.1;\n            z-index: -1;\n            width: 40%;\n            max-width: 500px;\n        }\n\n        .truck-bg img {\n            width: 100%;\n            height: auto;\n        }\n\n        /* Mouse personalizado */\n        body.custom-cursor {\n            cursor: url('data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"36\" viewBox=\"0 0 24 36\"><path d=\"M12,0C5.4,0,0,5.4,0,12c0,6.6,5.4,12,12,12s12-5.4,12-12S18.6,0,12,0z M12,21c-5,0-9-4-9-9s4-9,9-9s9,4,9,9S17,21,12,21z\" fill=\"%2300b4d8\"/><path d=\"M12,6L12,6c3.3,0,6,2.7,6,6l0,0c0,3.3-2.7,6-6,6l0,0c-3.3,0-6-2.7-6-6l0,0C6,8.7,8.7,6,12,6z\" fill=\"%230077b6\"/></svg>'), auto;\n        }\n\n        .btn:hover {\n            cursor: url('data:image/svg+xml;utf8,<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"24\" height=\"36\" viewBox=\"0 0 24 36\"><path d=\"M12,0C5.4,0,0,5.4,0,12c0,6.6,5.4,12,12,12s12-5.4,12-12S18.6,0,12,0z M12,21c-5,0-9-4-9-9s4-9,9-9s9,4,9,9S17,21,12,21z\" fill=\"%23ffffff\"/><path d=\"M12,6L12,6c3.3,0,6,2.7,6,6l0,0c0,3.3-2.7,6-6,6l0,0c-3.3,0-6-2.7-6-6l0,0C6,8.7,8.7,6,12,6z\" fill=\"%23ff9e00\"/></svg>'), auto;\n        }\n\n        /* Rodapé */\n        .footer {\n            text-align: center;\n            padding: 2rem 0;\n            margin-top: 3rem;\n            color: var(--text);\n            font-size: 0.9rem;\n            position: relative;\n            z-index: 3;\n        }\n\n        .footer p {\n            margin: 0.5rem 0;\n        }\n\n        /* Animações */\n        @keyframes wave {\n            0% { transform: translateX(0); }\n            100% { transform: translateX(-50%); }\n        }\n\n        @keyframes float {\n            0%, 100% { transform: translate(0, 0); }\n            50% { transform: translate(0, -10px); }\n        }\n\n        .floating {\n            animation: float 6s ease-in-out infinite;\n        }\n    </style>\n</head>\n<body class=\"custom-cursor\">\n    <!-- Efeito de ondas na parte inferior -->\n    <div class=\"wave-container\">\n        <div class=\"wave\"></div>\n        <div class=\"wave wave-2\"></div>\n        <div class=\"wave wave-3\"></div>\n    </div>\n\n    <!-- Imagem de caminhões no fundo -->\n    <div class=\"truck-bg\">\n        <svg viewBox=\"0 0 500 300\" xmlns=\"http://www.w3.org/2000/svg\">\n            <path d=\"M100,200 C150,150 200,180 250,150 C300,120 350,170 400,150\" stroke=\"#0077b6\" stroke-width=\"2\" fill=\"none\" opacity=\"0.1\"/>\n            <path d=\"M80,220 L120,220 L130,190 L170,190 L180,220 L220,220\" stroke=\"#00b4d8\" stroke-width=\"3\" fill=\"none\" opacity=\"0.1\"/>\n            <circle cx=\"110\" cy=\"240\" r=\"15\" stroke=\"#ff9e00\" stroke-width=\"1\" fill=\"none\" opacity=\"0.1\"/>\n            <circle cx=\"190\" cy=\"240\" r=\"15\" stroke=\"#ff9e00\" stroke-width=\"1\" fill=\"none\" opacity=\"0.1\"/>\n        </svg>\n    </div>\n\n    <div class=\"header\">\n        <div class=\"container\">\n            <div class=\"header-content\">\n                <div class=\"logo\">\n                    <svg width=\"80\" height=\"80\" viewBox=\"0 0 80 80\" xmlns=\"http://www.w3.org/2000/svg\">\n                        <circle cx=\"40\" cy=\"40\" r=\"38\" fill=\"#0077b6\" />\n                        <path d=\"M40,20 Q55,30 55,40 Q55,50 40,60 Q25,50 25,40 Q25,30 40,20 Z\" fill=\"#00b4d8\" />\n                        <circle cx=\"40\" cy=\"40\" r=\"10\" fill=\"white\" />\n                        <path d=\"M40,35 L43,40 L40,45 L37,40 Z\" fill=\"#ff9e00\" />\n                    </svg>\n                </div>\n                <h1>PORTAL DE OFERTA DE CARGAS</h1>\n                <p>Minalba Brasil - Logística Eficiente</p>\n            </div>\n        </div>\n    </div>\n    \n    <main class=\"main-content\">\n        <div class=\"container\">\n            <div class=\"intro-text\">\n                <h2>Como você deseja ofertar suas cargas?</h2>\n                <p>Escolha a opção que melhor se adequa às suas necessidades. Oferecemos soluções ágeis e eficientes para o transporte de suas mercadorias.</p>\n            </div>\n            \n            <div class=\"grid\">\n                <div class=\"card\">\n                    <h3><i class=\"fas fa-keyboard\"></i> Ofertar Carga Manualmente</h3>\n                    <form id=\"manualForm\">\n                        <div class=\"form-group\">\n                            <label for=\"remessa\">Número da Remessa</label>\n                            <input type=\"text\" id=\"remessa\" name=\"remessa\" required placeholder=\"Ex: MIN2023001\">\n                        </div>\n                        <div class=\"form-group\">\n                            <label for=\"origem\">Cidade de Origem</label>\n                            <input type=\"text\" id=\"origem\" name=\"origem\" required placeholder=\"Ex: São Paulo\">\n                        </div>\n                        <div class=\"form-group\">\n                            <label for=\"destino\">Cidade de Destino</label>\n                            <input type=\"text\" id=\"destino\" name=\"destino\" required placeholder=\"Ex: Rio de Janeiro\">\n                        </div>\n                        <div class=\"form-group\">\n                            <label for=\"tipologia\">Tipo de Veículo (Tipologia)</label>\n                            <input type=\"text\" id=\"tipologia\" name=\"tipologia\" placeholder=\"Ex: Carreta, Truck, VUC\" required>\n                        </div>\n                        <button type=\"submit\" class=\"btn\">ENVIAR OFERTA</button>\n                    </form>\n                    <div id=\"manualFeedback\" class=\"feedback\"></div>\n                </div>\n                \n                <div class=\"card\">\n                    <h3><i class=\"fas fa-file-excel\"></i> Enviar Cargas em Lote</h3>\n                    <form id=\"batchForm\">\n                        <div class=\"form-group\">\n                            <label for=\"excelFile\">Arquivo Excel (.xlsx)</label>\n                            <input type=\"file\" id=\"excelFile\" name=\"excelFile\" accept=\".xlsx\" required>\n                            <p style=\"font-size: 0.9rem; color: #666; margin-top: 1rem;\">\n                                <i class=\"fas fa-info-circle\"></i> Atenção: A planilha deve ter 4 colunas com os cabeçalhos: <strong>Origem</strong>, <strong>Destino</strong>, <strong>Tipologia</strong>, <strong>Remessa</strong>.\n                            </p>\n                        </div>\n                        <button type=\"submit\" class=\"btn\">ENVIAR PLANILHA</button>\n                    </form>\n                    \n                    <div id=\"batchFeedback\" class=\"feedback\"></div>\n                </div>\n            </div>\n        </div>\n    </main>\n\n    <div class=\"footer\">\n        <div class=\"container\">\n            <p>&copy; 2025 Minalba Brasil - Todos os direitos reservados</p>\n            <p>Desenvolvido Por Jefferson Fonseca</p>\n        </div>\n    </div>\n\n    <script>\n        // Configurações\n        const webhookUrl = 'https://webhook.biconsultingexperts.com.br/webhook/ofertar_carga';\n\n        // Função para mostrar feedback\n        function showFeedback(element, message, type) {\n            element.textContent = message;\n            element.className = 'feedback ' + type;\n            element.classList.add('show');\n            \n            // Remover após 5 segundos\n            setTimeout(() => {\n                element.classList.remove('show');\n            }, 5000);\n        }\n\n        // Lógica para o formulário manual\n        const manualForm = document.getElementById('manualForm');\n        const manualFeedback = document.getElementById('manualFeedback');\n        manualForm.addEventListener('submit', async (e) => {\n            e.preventDefault();\n            const formData = new FormData(manualForm);\n            const data = {\n                remessa: formData.get('remessa'),\n                origem: formData.get('origem'),\n                destino: formData.get('destino'),\n                tipologia: formData.get('tipologia')\n            };\n\n            showFeedback(manualFeedback, 'Enviando oferta...', 'info');\n            try {\n                const response = await fetch(webhookUrl, {\n                    method: 'POST',\n                    headers: { 'Content-Type': 'application/json' },\n                    body: JSON.stringify(data)\n                });\n                \n                if (!response.ok) throw new Error('Falha na rede');\n                \n                showFeedback(manualFeedback, '✅ Oferta enviada com sucesso!', 'success');\n                manualForm.reset();\n            } catch (error) {\n                showFeedback(manualFeedback, '❌ Erro ao enviar oferta. Tente novamente.', 'error');\n            }\n        });\n\n        // Lógica para o formulário de planilha\n        const batchForm = document.getElementById('batchForm');\n        const batchFeedback = document.getElementById('batchFeedback');\n        \n        batchForm.addEventListener('submit', (e) => {\n            e.preventDefault();\n            const fileInput = document.getElementById('excelFile');\n            if (fileInput.files.length === 0) {\n                showFeedback(batchFeedback, '❌ Por favor, selecione um arquivo.', 'error');\n                return;\n            }\n            \n            showFeedback(batchFeedback, 'Processando sua planilha...', 'info');\n            \n            const reader = new FileReader();\n            reader.onload = async (event) => {\n                try {\n                    const data = new Uint8Array(event.target.result);\n                    const workbook = XLSX.read(data, { type: 'array' });\n                    const firstSheet = workbook.Sheets[workbook.SheetNames[0]];\n                    const jsonData = XLSX.utils.sheet_to_json(firstSheet);\n                    \n                    if (jsonData.length === 0 || \n                        !jsonData[0].hasOwnProperty('Origem') || \n                        !jsonData[0].hasOwnProperty('Destino') || \n                        !jsonData[0].hasOwnProperty('Tipologia') || \n                        !jsonData[0].hasOwnProperty('Remessa')) {\n                        throw new Error('Formato da planilha incorreto. Verifique os cabeçalhos.');\n                    }\n\n                    let successCount = 0;\n                    const total = jsonData.length;\n                    \n                    for (let i = 0; i < total; i++) {\n                        const row = jsonData[i];\n                        const response = await fetch(webhookUrl, {\n                            method: 'POST',\n                            headers: { 'Content-Type': 'application/json' },\n                            body: JSON.stringify({\n                                origem: row.Origem,\n                                destino: row.Destino,\n                                tipologia: row.Tipologia,\n                                remessa: row.Remessa\n                            })\n                        });\n                        \n                        if (response.ok) successCount++;\n                        showFeedback(batchFeedback, `Processando... ${i+1}/${total} cargas enviadas`, 'info');\n                    }\n                    \n                    showFeedback(batchFeedback, `✅ ${successCount} de ${total} cargas enviadas com sucesso!`, 'success');\n                    batchForm.reset();\n                } catch (error) {\n                    showFeedback(batchFeedback, `❌ ${error.message || 'Erro ao processar a planilha.'}`, 'error');\n                }\n            };\n            reader.readAsArrayBuffer(fileInput.files[0]);\n        });\n\n        // Efeito de animação suave nos cards\n        document.querySelectorAll('.card').forEach(card => {\n            card.addEventListener('mouseenter', () => {\n                card.style.boxShadow = '0 15px 30px rgba(0, 0, 0, 0.15)';\n            });\n            \n            card.addEventListener('mouseleave', () => {\n                card.style.boxShadow = '0 6px 20px rgba(0, 0, 0, 0.08)';\n            });\n        });\n    </script>\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[352,80],"id":"92221018-9c88-4dc8-afb1-c5927ed715cd","name":"Respond to Webhook1"},{"parameters":{"path":"update_spreadsheet","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-176,1696],"id":"00d5762d-4524-4439-90e5-c7b4bd6244c3","name":"Recusa_Oferta1","webhookId":"22b64169-89ec-4b7e-a849-ee4101a94265"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY","mode":"list","cachedResultName":"Tabela de Frete","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1760598157,"mode":"list","cachedResultName":"Log_Ofertas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1FwixFj_GlJWOEX6vjZTorLMlVjgCTK4-qX6P9vpU6dY/edit#gid=1760598157"},"columns":{"mappingMode":"defineBelow","value":{"offerId":"={{ $('Get row(s) in sheet3').item.json.offerId }}","Status":"Aceito"},"matchingColumns":["offerId"],"schema":[{"id":"offerId","displayName":"offerId","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Transportadora","displayName":"Transportadora","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Valor","displayName":"Valor","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Origem","displayName":"Origem","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Destino","displayName":"Destino","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tipologia","displayName":"Tipologia","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"HorarioEnvio","displayName":"HorarioEnvio","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Remessa","displayName":"Remessa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[416,1248],"id":"83d8a5e3-60fd-4837-a11f-b861bd08fe52","name":"Append or update row in sheet1","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}}],"connections":{"Aceita_Oferta":{"main":[[{"node":"Get row(s) in sheet2","type":"main","index":0}]]},"Aceita_Oferta1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Get row(s) in sheet3","type":"main","index":0}]]},"Get row(s) in sheet2":{"main":[[{"node":"Get row(s) in sheet6","type":"main","index":0}]]},"Get row(s) in sheet3":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Get row(s) in sheet6":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Link_Expirado","type":"main","index":0}],[{"node":"Link_Ativo","type":"main","index":0}]]},"Recusa_Oferta":{"main":[[{"node":"Link_Expirado1","type":"main","index":0}]]},"If5":{"main":[[{"node":"Edit Fields5","type":"main","index":0}]]},"Edit Fields5":{"main":[[{"node":"Log_de_Oferta","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Planilha_GEF","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Get row(s) in sheet1","type":"main","index":0}]]},"Get row(s) in sheet1":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Get row(s) in sheet7":{"main":[[{"node":"If2","type":"main","index":0}]]},"If2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Send a message":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Tabela_de_Frete":{"main":[[{"node":"Code3","type":"main","index":0}]]},"Planilha_GEF":{"main":[[{"node":"If5","type":"main","index":0}]]},"Log_de_Oferta":{"main":[[{"node":"Tabela_de_Frete","type":"main","index":0}]]},"Code3":{"main":[[{"node":"Code4","type":"main","index":0}]]},"Get row(s) in sheet4":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[],[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Code5","type":"main","index":0}]]},"Send a message1":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Code5":{"main":[[{"node":"Append row in sheet1","type":"main","index":0}]]},"Append row in sheet1":{"main":[[{"node":"Append or update row in sheet","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Code4":{"main":[[{"node":"Get row(s) in sheet4","type":"main","index":0}]]},"Append or update row in sheet":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Append row in sheet2","type":"main","index":0}]]},"Roteirização":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Append or update row in sheet1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"a99311e9-0809-4c46-85ab-156eb60f7286","triggerCount":0,"tags":[]}