organizador_agenda-6hYNobAQhYFHf1nM.json
{"createdAt":"2025-09-04T19:50:51.125Z","updatedAt":"2025-09-10T15:44:49.061Z","id":"6hYNobAQhYFHf1nM","name":"Organizador_Agenda","active":false,"isArchived":false,"nodes":[{"parameters":{"promptType":"define","text":"={{ $json.Mensagem }}","options":{"systemMessage":"=### PERSONA ###\nVocê é o \"Assistente de Demandas\", um especialista em gerenciamento de projetos. Sua comunicação é clara, proativa e profissional. Você opera dentro de um chat de WhatsApp e deve usar o código [BR] para quebras de linha.\n\n### OBJETIVO PRINCIPAL ###\nSua missão é guiar um usuário, através de uma conversa passo a passo, para registrar uma nova demanda de projeto. Você deve coletar as informações, enriquecê-las e, ao final, usar suas ferramentas para salvar os dados.\n\n### FERRAMENTAS DISPONÍVEIS (TOOLS) ###\nVocê tem uma ferramenta poderosa para registrar o projeto finalizado diretamente na planilha Google Sheets.\n\n- **Controle_de_Demandas:** Use esta ferramenta **APENAS no final da conversa**, quando você tiver coletado TODAS as informações necessárias. Ela adiciona uma nova linha à planilha.\n  - **Parâmetros necessários:** `Tarefa` (o nome profissional do projeto), `Solicitante`, `Prazo`, `Observacoes` (a descrição profissional do projeto).\n\n### FLUXO DA CONVERSA ###\nVocê vai gerenciar a conversa com base em uma \"etapa\" atual que o sistema vai te informar. A cada resposta do usuário, você avançará para a próxima etapa. Siga RIGOROSAMENTE as instruções para cada etapa.\n\n---\n\n**ETAPA 1: Início da Conversa (etapa = `inicio`)**\n- **Gatilho:** O usuário envia uma saudação como \"Oi\".\n- **Sua Ação:** Apresente o menu principal de opções.\n- **Resposta Exata:** \"Olá! Sou seu Assistente de Demandas. 👍[BR][BR]O que você gostaria de fazer agora?[BR]- Criar um novo projeto[BR]- Atualizar um projeto existente[BR]- Deletar um projeto\"\n\n---\n\n**ETAPA 2: Pedir Nome do Projeto (etapa = `aguardando_escolha_menu`)**\n- **Gatilho:** O usuário responde \"Criar um novo projeto\".\n- **Sua Ação:** Peça a ele a ideia inicial ou o nome do projeto.\n- **Resposta Exata:** \"Ótima escolha! Para começarmos, qual é o nome ou a ideia principal do projeto que você tem em mente?\"\n\n---\n\n**ETAPA 3: Sugerir e Confirmar Nome (etapa = `aguardando_nome_projeto`)**\n- **Gatilho:** O usuário envia a ideia do nome (ex: \"criar um powerbi para captação de tabela de frete\").\n- **Sua Ação:**\n    1. Analise a ideia e crie um nome de projeto mais profissional, curto e claro.\n    2. Sugira este novo nome e peça a confirmação do usuário. Dê a ele a opção de manter o nome original se preferir.\n- **Exemplo de Resposta:** \"Entendido. Que tal definirmos o nome do projeto como **'Dashboard de Captação de Fretes'**? Fica mais claro e profissional. Podemos seguir com este nome ou você prefere o original?\"\n\n---\n\n**ETAPA 4: Pedir Descrição (etapa = `aguardando_confirmacao_nome`)**\n- **Gatilho:** O usuário confirma o nome do projeto.\n- **Sua Ação:** Agradeça a confirmação e peça uma breve descrição sobre o objetivo do projeto.\n- **Resposta Exata:** \"Perfeito! Nome definido. Agora, poderia me dizer em poucas palavras qual o principal objetivo deste projeto? O que ele realmente vai fazer ou resolver?\"\n\n---\n\n**ETAPA 5: Elaborar Descrição Profissional (etapa = `aguardando_descricao`)**\n- **Gatilho:** O usuário envia a descrição simples (ex: \"vai ajudar pq vamos ter a tabela de fretes em dashboard consolidada\").\n- **Sua Ação:**\n    1. Transforme a descrição simples em um parágrafo profissional.\n    2. Destaque os objetivos, ganhos e vantagens de forma clara.\n    3. Apresente esta nova descrição ao usuário para validação.\n- **Exemplo de Resposta:** \"Excelente. Com base no que você disse, preparei uma descrição mais formal para o projeto:[BR][BR]**Descrição do Projeto:** Desenvolvimento de um dashboard consolidado em Power BI para a visualização e análise de tabelas de frete. **Vantagens:** A iniciativa visa centralizar os dados, proporcionar insights estratégicos sobre custos logísticos e agilizar a tomada de decisão gerencial.[BR][BR]O que acha? Podemos usar esta descrição para o registro oficial?\"\n\n---\n\n**ETAPA 6: Pedir Detalhes Finais (etapa = `aguardando_confirmacao_descricao`)**\n- **Gatilho:** O usuário aprova a descrição profissional.\n- **Sua Ação:** Agradeça e peça as duas informações finais: o prazo de entrega e o solicitante.\n- **Resposta Exata:** \"Ótimo! Estamos quase lá. Para finalizar, por favor, me informe duas coisas:[BR]- Qual é o prazo de entrega para este projeto?[BR]- Quem foi o solicitante (Diretor ou Gerente)?\"\n\n---\n\n**ETAPA FINAL: Acionar Ferramenta e Confirmar (etapa = `aguardando_prazo_solicitante`)**\n- **Gatilho:** O usuário envia o prazo e o solicitante.\n- **Sua Ação:**\n    1. **NÃO RESPONDA COM TEXTO AINDA.**\n    2. Sua principal ação é **USAR a ferramenta `Controle_de_Demandas`.**\n    3. Passe para a ferramenta todos os dados que você coletou e definiu durante a conversa: o nome profissional como `Tarefa`, a descrição detalhada como `Observacoes`, o `Prazo` e o `Solicitante`.\n- **Após a ferramenta ser executada com sucesso, você receberá uma confirmação. Então, sua resposta final para o usuário deve ser:** \"Perfeito! Todas as informações foram coletadas e o projeto já foi registrado com sucesso na nossa planilha de controle. Muito obrigado!\""}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.9,"position":[2144,528],"id":"7a101903-52c7-4b48-8c64-26eae8effaae","name":"AI Agent"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4o-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[1888,928],"id":"3c5f32bd-72b4-4ab9-9dea-29b9ed4cd8b9","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"conversation","operator":{"type":"string","operation":"equals"},"id":"cac82a45-a732-47ea-89a4-3817c7d2596a"}],"combinator":"and"},"renameOutput":true,"outputKey":"Texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f8c2286c-5531-4ed3-8310-998f7deb30b7","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"audioMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c80accf-3891-442e-8c61-5f4720d661e5","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"imageMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"23881880-2e94-44f6-8e13-040436e9f9f3","leftValue":"={{ $('Webhook').item.json.body.data.messageType }}","rightValue":"documentMessage","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"Documento"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[368,512],"id":"4047ab2d-d8c6-472f-815f-90152a701551","name":"Switch1","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"ced5bba3-b7eb-4012-9bde-da78c974636e","name":"message.content","value":"={{ $json.message.content }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[288,304],"id":"c93ea0ee-0f30-4ded-a2a2-047f3a2039ff","name":"Edit Fields"},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/chat/getBase64FromMediaMessage/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,384],"id":"14b31f8c-5935-4a6b-bd8a-b115dc72f575","name":"Converter Audio em Base64","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"audio/ogg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[704,384],"id":"5e0d9b92-07f4-44c6-9b94-c50f04aefa07","name":"Converte Audio para Arquivo"},{"parameters":{"resource":"audio","operation":"transcribe","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[832,384],"id":"28e24810-0917-4eb0-8a7f-5cbc7714442e","name":"Transcreve Audio","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"operation":"toBinary","sourceProperty":"base64","options":{"mimeType":"image/jpeg"}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[704,640],"id":"98f87ab2-0a12-4d24-b778-f3695136d352","name":"Converte Audio para Arquivo1"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini-2024-07-18","mode":"list","cachedResultName":"GPT-4O-MINI-2024-07-18"},"text":"=O que há nessa imagem? me de a resposta como se fosse um cliente descrevendo na imagem, comece dizendo: te enviei uma imagem que... Sempre em primeira pessoa, como se você você o cliente. Ao invés de dizer você me enviou, diga eu te enviei.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[832,640],"id":"fda51bac-0c6a-4127-82e7-964e711aa809","name":"Transcreve Imagem","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/chat/getBase64FromMediaMessage/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"message\": {\n    \"key\": {\n      \"id\": \"{{ $('Webhook').item.json.body.data.key.id }}\"\n    }\n  },\n  \"convertToMp4\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,640],"id":"714ed2ce-82d1-43bc-91a4-152579d58488","name":"Converter Imagem em Base64","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.1,"position":[1040,512],"id":"b0e50220-aeb0-4f95-9d7b-050cb3d91b06","name":"Merge"},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/message/sendText/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  number:$('Webhook').item.json.body.data.key.remoteJid ,\n  text: $json.output,\ndelay: 1200\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2480,528],"id":"cc6e70ef-9a4c-4bf4-a6fd-079b7ce382e1","name":"Resposta Cliente1","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"operation":"push","list":"={{ $('If').item.json.message.chat_id }}","messageData":"={{ $json.message.content }}\n{{ $json.text }}\n{{ $json.content }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1232,528],"id":"bb1f0ee7-116a-45dc-8f68-5b284a367cd2","name":"RegistraMsgFila2","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"Name","key":"={{ $('normalizacao1').item.json.message.chat_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1504,528],"id":"e2be2ab0-8292-4478-ac26-c14735ae017d","name":"BuscaMensagem2","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1616,768],"id":"48cddb6c-13fe-4780-872f-20ad1dbb3dba","name":"No Operation, do nothing2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed61dda5-aa47-4af3-b4e1-e5b87270c6eb","leftValue":"={{\n  ($json.Name?.[0] ?? '')\n    .toString()\n    .trim()\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g,'')\n}}\n","rightValue":"={{\n  (\n    $('10 segundos').item.json.text\n    || $('10 segundos').item.json.content\n    || $('10 segundos').item.json.message?.content\n    || $('10 segundos').item.json.message?.text\n    || ''\n  )\n    .toString()\n    .trim()\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g,'')\n}}\n","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1664,528],"id":"821cb3da-6e3a-4ff2-ba34-0dae4f557093","name":"VerificaSeÉMaiorQue2"},{"parameters":{"assignments":{"assignments":[{"id":"0db8300a-ad92-480c-88fb-bb187a7f536a","name":"Mensagem","value":"={{ $json.Name.reverse().join(\"\\n\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1808,528],"id":"d9c9c51f-899c-4e4a-954e-bebb6626c8fd","name":"OrganizaMensagem2"},{"parameters":{"operation":"delete","key":"={{ $('If').item.json.message.chat_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1936,528],"id":"f3a4428b-0b1b-4720-be6f-f66b0477a440","name":"Redis2","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1376,528],"id":"5433a1e3-741d-4953-8bf9-8a7c3a1b6510","name":"10 segundos","webhookId":"46a14310-509c-476c-8337-2a0928678c6f"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('If').item.json.message.chat_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[2064,928],"id":"d90d9a6f-c891-42fb-afcc-1236f1bb000d","name":"Simple Memory"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0633f737-b327-451a-81e8-a4563b259d6b","leftValue":"={{ $json.message.chat_id.trim() }}","rightValue":"03963419386548879","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-32,560],"id":"bdce0829-21ff-4706-9ae2-edeeebc175f9","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"8d14191d-bdc3-446c-9504-1b009e90ebd3","name":"message.message_id","value":"={{ $json.body?.data?.key?.id || '' }}","type":"string"},{"id":"5a930454-5fbf-464c-bb3b-5c42f976c841","name":"message.chat_id","value":"={{ $json.body.data.key.remoteJid.split('@')[0].slice(2, 4) + '9' + $json.body.data.key.remoteJid.split('@')[0].slice(4) }}\n\n","type":"string"},{"id":"5932ddd6-04e6-481a-b6cd-56cae912c53a","name":"message.content_type","value":"={{ $json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $json.body.data.message.conversation ? 'text' : '' }}{{ $json.body.data.message.audioMessage ? 'audio' : '' }}{{ $json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"e2f3b2dd-310c-47cc-b473-17eae27acaa1","name":"message.content","value":"={{ $json.body.data.message.extendedTextMessage?.text || '' }}{{ $json.body.data.message.imageMessage?.caption || '' }}{{ $json.body.data.message.conversation || '' }}","type":"string"},{"id":"76275041-8a49-49ff-b5f4-0ebd3b4bb8ce","name":"message.timestamp","value":"={{ DateTime.fromSeconds($json.body.data.messageTimestamp).toFormat('dd/MM/yyyy HH:mm') }}","type":"string"},{"id":"477e0912-632d-4bf7-a0c3-5a20ebe3c25d","name":"message.content_url","value":"={{ $json.body.data.message.audioMessage?.url || '' }}{{ $json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"d1092cd4-e9c7-4023-8d25-98a57ecf336d","name":"message.event","value":"={{ $json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"7287fcd5-1147-46c0-8c30-a6427c87d1f1","name":"instance.name","value":"={{ $json.body.instance }}","type":"string"},{"id":"b5342d5e-d63f-49cd-a55f-d8da741bdbf0","name":"instance.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"8456163f-862a-4a7d-8bba-7d706c3ef402","name":"instance.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"1967eca0-f323-4be4-b976-84e93bc66d45","name":"message.base64","value":"={{ $json.body.data.message.base64 }}","type":"string"},{"id":"830016c2-9cec-4737-96f0-8de4e5132640","name":"message.image-caption","value":"={{ $json.body.data.message.imageMessage.caption }}","type":"string"},{"id":"345e6faa-d00f-4b44-ba06-4a1c618a07ce","name":"instance.num_cliente","value":"={{ $json.body.sender }}","type":"string"},{"id":"5a6cfe07-8ef7-4ff8-9492-df51c3f961fc","name":"1_M3U","value":"http://lazerapp.cloud:8880/get.php?username=","type":"string"},{"id":"de648bcb-e4f8-4aaa-a92c-47ee9074f797","name":"2_M3U","value":"&password=","type":"string"},{"id":"dd15f6e4-9c9c-4697-9694-7a9549851d5c","name":"3_M3U","value":"&type=m3u_plus&output=ts","type":"string"}]},"options":{}},"id":"1a3a0808-d39b-44c1-b14e-2553860fe738","name":"normalizacao1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-192,544]},{"parameters":{"httpMethod":"POST","path":"IPTV","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-368,544],"id":"2ec7b9c5-1d5f-4d6c-80c0-e0bfa73e1e19","name":"Webhook","webhookId":"45577ba6-ba1c-4a90-9d51-a127543821e5"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[2432,928],"id":"7aeace14-dac2-447c-a9f6-dd2b96eb528d","name":"Calculator"},{"parameters":{"path":"Calendario_Pessoal"},"type":"@n8n/n8n-nodes-langchain.mcpTrigger","typeVersion":2,"position":[-272,1040],"id":"f25bc926-8ffc-425a-b171-0cb604eace90","name":"Calendario","webhookId":"070e4d18-c6b6-4630-9133-14f30a6ba842"},{"parameters":{"calendar":{"__rl":true,"value":"jeffersonfonseca5@gmail.com","mode":"list","cachedResultName":"jeffersonfonseca5@gmail.com"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","additionalFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-352,1280],"id":"399e277c-99da-4d9c-a6cb-4dbba1287451","name":"Cria","credentials":{"googleCalendarOAuth2Api":{"id":"S3VheSBW3BuW4JdO","name":"Google Calendar account"}}},{"parameters":{"operation":"get","calendar":{"__rl":true,"value":"jeffersonfonseca5@gmail.com","mode":"list","cachedResultName":"jeffersonfonseca5@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-224,1280],"id":"49843200-21f9-4610-858d-b82473c3aea2","name":"lista","credentials":{"googleCalendarOAuth2Api":{"id":"S3VheSBW3BuW4JdO","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"jeffersonfonseca5@gmail.com","mode":"list","cachedResultName":"jeffersonfonseca5@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[-80,1280],"id":"8e87a9a6-edf2-4fe8-bc74-c44996923ad3","name":"Deleta","credentials":{"googleCalendarOAuth2Api":{"id":"S3VheSBW3BuW4JdO","name":"Google Calendar account"}}},{"parameters":{"endpointUrl":"https://webhook.aiautomacao.dev.br/mcp/Calendario_Pessoal"},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[2240,928],"id":"63860d19-f34b-476c-a10e-7ff86e6e6961","name":"MCP Client"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1x7lzLKMBFQjsjt9lflc-jDRqb9zN6QHUwQKpADM8KLQ","mode":"list","cachedResultName":"Controle de Demandas","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1x7lzLKMBFQjsjt9lflc-jDRqb9zN6QHUwQKpADM8KLQ/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1x7lzLKMBFQjsjt9lflc-jDRqb9zN6QHUwQKpADM8KLQ/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"ID_Tarefa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID_Tarefa', ``, 'string') }}","Status":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Status', ``, 'string') }}","Prioridade":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prioridade', ``, 'string') }}","Tarefa":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tarefa', ``, 'string') }}","Solicitante":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Solicitante', ``, 'string') }}","Prazo":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Prazo', ``, 'string') }}","Observacoes":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Observacoes', ``, 'string') }}","Data_Criacao":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Data_Criacao', ``, 'string') }}","Ultima_Atualizacao":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Ultima_Atualizacao', ``, 'string') }}","Link_Evento_Agenda":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Link_Evento_Agenda', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"ID_Tarefa","displayName":"ID_Tarefa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Status","displayName":"Status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prioridade","displayName":"Prioridade","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Tarefa","displayName":"Tarefa","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Solicitante","displayName":"Solicitante","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Prazo","displayName":"Prazo","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Observacoes","displayName":"Observacoes","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data_Criacao","displayName":"Data_Criacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Ultima_Atualizacao","displayName":"Ultima_Atualizacao","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Link_Evento_Agenda","displayName":"Link_Evento_Agenda","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheetsTool","typeVersion":4.7,"position":[2608,912],"id":"a29e22ac-b02a-487d-8eef-96adcb3fe44a","name":"Controle de Demandas","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}}],"connections":{"AI Agent":{"main":[[{"node":"Resposta Cliente1","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Switch1":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Converter Audio em Base64","type":"main","index":0}],[{"node":"Converter Imagem em Base64","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Converter Audio em Base64":{"main":[[{"node":"Converte Audio para Arquivo","type":"main","index":0}]]},"Converte Audio para Arquivo":{"main":[[{"node":"Transcreve Audio","type":"main","index":0}]]},"Transcreve Audio":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Converte Audio para Arquivo1":{"main":[[{"node":"Transcreve Imagem","type":"main","index":0}]]},"Transcreve Imagem":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Converter Imagem em Base64":{"main":[[{"node":"Converte Audio para Arquivo1","type":"main","index":0}]]},"Merge":{"main":[[{"node":"RegistraMsgFila2","type":"main","index":0}]]},"RegistraMsgFila2":{"main":[[{"node":"10 segundos","type":"main","index":0}]]},"BuscaMensagem2":{"main":[[{"node":"VerificaSeÉMaiorQue2","type":"main","index":0}]]},"VerificaSeÉMaiorQue2":{"main":[[{"node":"OrganizaMensagem2","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"OrganizaMensagem2":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"10 segundos":{"main":[[{"node":"BuscaMensagem2","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"normalizacao1":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Switch1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"normalizacao1","type":"main","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Cria":{"ai_tool":[[{"node":"Calendario","type":"ai_tool","index":0}]]},"lista":{"ai_tool":[[{"node":"Calendario","type":"ai_tool","index":0}]]},"Deleta":{"ai_tool":[[{"node":"Calendario","type":"ai_tool","index":0}]]},"MCP Client":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Controle de Demandas":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Resposta Cliente1":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"1c62309e-8a6f-4081-a292-1ee9cccc50b8","triggerCount":2,"shared":[{"createdAt":"2025-09-04T19:50:51.125Z","updatedAt":"2025-09-04T19:50:51.125Z","role":"workflow:owner","workflowId":"6hYNobAQhYFHf1nM","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[]}