suporte-4c9z3HIV6FUzDgWt.json
{"createdAt":"2025-12-03T17:02:13.245Z","updatedAt":"2025-12-06T20:04:32.528Z","id":"4c9z3HIV6FUzDgWt","name":"AGENTE ATENDIMENTO/SUPORTE","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"={{ $('Webhook').item.json.body.messages[0].attachments[0].data_url }}","options":{}},"id":"70a47063-b05c-41de-b005-66b7f7d5d7bc","name":"getAudio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,272]},{"parameters":{"assignments":{"assignments":[{"id":"76f7ffd5-a84f-41ca-9ed7-5405484c28b8","name":"msg","value":"={{ $('normalizacao1').item.json.message.content }}","type":"string"}]},"options":{}},"id":"8afdcf18-8acb-4f22-85d9-beb0a2c01644","name":"Msg Texto","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,80]},{"parameters":{"content":"## -- Texto, Áudio, Imagem e PDF","height":1126,"width":1626,"color":2},"id":"52c1d75b-ae14-4c36-a025-ecc9a9ad5c9c","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0],"disabled":true},{"parameters":{"resource":"audio","operation":"transcribe","binaryPropertyName":"=data","options":{}},"id":"62bc88bd-2e10-4204-9a8f-b0bbd7f7ba09","name":"Transcrever Áudio","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.4,"position":[528,272],"credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"29ba1883-63fd-45ba-b1f3-2bd8d58296a6","leftValue":"={{ $json.msg }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1232,80],"id":"4f86803a-58a5-4669-a464-5da2441644c5","name":"Verifica Mensagem"},{"parameters":{"assignments":{"assignments":[{"id":"8f16b1bf-1a3e-4029-8d7a-1bccb919ee43","name":"message.message_id","value":"={{ $('normalizacao1').item.json.message.message_id }}","type":"string"},{"id":"11800d83-ecca-4f9c-a878-a2419db0c8e9","name":"message.chat_id","value":"={{ $('normalizacao1').item.json.message.chat_id }}","type":"string"},{"id":"06eba1c9-cff0-4f68-b6da-6bb0092466b7","name":"message.content","value":"={{ $json.msg }}","type":"string"},{"id":"b97f1af3-5361-46fc-9303-d644921231d8","name":"message.timestamp","value":"={{ $('normalizacao1').item.json.message.timestamp }}","type":"string"}]},"options":{}},"id":"6c55e139-b20d-4286-a92c-f9288880c5b9","name":"normalizacao","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1712,448]},{"parameters":{"assignments":{"assignments":[{"id":"db5cfe0a-7f43-4a61-8b27-bfd3a95deb8d","name":"messages","value":"={{ $json.Mensagem }}","type":"string"}]},"options":{}},"id":"923d000e-6f32-4d21-a033-24b5ca9f0c45","name":"message_json","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3040,448]},{"parameters":{"content":"## -- Buffer Mensagens","height":530,"width":1212,"color":5},"id":"75937e1f-4bdc-4fbd-80ee-cd299dfc2b2e","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1664,240],"disabled":true},{"parameters":{"url":"={{ $('Webhook').item.json.body.messages[0].attachments[0].data_url }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,448],"id":"83758881-b816-414d-a11f-286b8932c99c","name":"getImage"},{"parameters":{"jsCode":"// Acessa o campo output do primeiro item do array de entrada\nlet str = items[0].json.output;\n\n// Função para tratar o texto\nfunction processText(output) {\n    // Remover texto entre 【】\n    return output.replace(/【.*?】/g, '');\n}\n\n// Verifica se str está vazio\nif (str && str.length > 0) {\n    // Processa o texto se str não estiver vazio\n    str = processText(str);\n    retorno = { \"output\": str }; // Retorna o texto processado\n} else {\n    retorno = true; // Retorna true se str estiver vazio\n}\n\n// Retorna o resultado processado\nreturn [{ json: { resultado: retorno } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[864,448],"id":"1903a8e7-41da-48c2-8d4c-54673299bb7b","name":"Ajusta"},{"parameters":{"promptType":"define","text":"={{ $('Fluxo_Variaveis').item.json.Mensagem || 'imagem' }}","options":{"systemMessage":"=#Instruções\nO usuário te enviou uma imagem a qual você deve descrever.\n\nA imagem pode vir acompanhada de uma mensagem de texto\n\nCaso venha, utilize a mensagem anexa como contexto extra, tente capturar o sentimento da mensagem e objetivo pelo qual o usuário esteja enviando esta imagem na conversa.\n\nCrie uma resposta descrevendo as informações enviadas para que estas sejam utilizadas por um agente no futuro.\n\nLembre-se:\nEste agente apenas terá as informações que você fornecer, portanto repasse toda informação que julgar importante.","passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[544,448],"id":"5bb15a87-a162-481c-b618-03becadf1586","name":"Analise Imagem"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"bc64f125-d93c-4d1d-97ae-65c0adb08b79","leftValue":"={{ $('normalizacao1').item.json.message.content_type }}","rightValue":"text","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"texto"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"137aec3f-e95e-4d59-b9ba-1140f9fc4fb4","leftValue":"={{ $('normalizacao1').item.json.message.base64 }}","rightValue":"audio","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"leftValue":"={{ $('normalizacao1').item.json.message.base64 }}","rightValue":"image","operator":{"type":"string","operation":"equals"},"id":"6e54723e-6b34-4849-819b-15744e9fc150"}],"combinator":"and"},"renameOutput":true,"outputKey":"imagem"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"e982a69c-0762-4a4b-8cef-ac09fa82591f","leftValue":"={{ $('normalizacao1').item.json.message.base64 }}","rightValue":"file","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"documento"}]},"looseTypeValidation":true,"options":{"fallbackOutput":"extra","renameFallbackOutput":"Erro"}},"id":"eaafe5ab-2ed7-4641-af1e-13091e88209c","name":"MessageType","type":"n8n-nodes-base.switch","typeVersion":3.1,"position":[64,400]},{"parameters":{"url":"={{ $('Fluxo_Variaveis').item.json[\"URL-Arquivo\"] }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[368,704],"id":"c154f244-c7ba-4543-8be7-6b632f9d2765","name":"getDoc"},{"parameters":{"promptType":"define","text":"={{ $('Extract from File').item.json.text }}","options":{"systemMessage":"=Você é um agente especializado em resumir textos extraídos de PDFs.\n\nSeu objetivo é ler atentamente o texto extraído do PDF enviado pelo usuário e produzir um resumo geral, objetivo e claro, reescrevendo o conteúdo de forma condensada e fácil de entender.\n\n**Instruções:**\n- Não divida em tópicos, títulos, seções ou utilize listas.\n- Não insira tabelas ou quadros.\n- Não adicione comentários, opiniões ou informações que não estejam presentes no texto original.\n- O resumo deve ser apresentado em um único texto corrido.\n- Destaque apenas as informações mais relevantes, eliminando repetições e detalhes desnecessários.\n- O texto final deve ser coeso, fiel ao conteúdo original e fácil de ler.\n\nO usuário enviará o texto extraído do PDF como mensagem para ser resumido.","passthroughBinaryImages":true}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[720,688],"id":"b83c0cef-7d43-497a-913a-25c2545d5917","name":"Analise Doc"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-mini-2025-04-14"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[512,592],"id":"c62c6f92-bb82-4233-ada1-44c1bbcd7280","name":"[1] 4.1","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-mini-2025-04-14"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[688,848],"id":"0af69be0-140e-4f20-ae56-04f95007f96b","name":"[2] 4.1","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"operation":"pdf","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[528,704],"id":"2236df88-fd4a-4962-b446-03b764c23351","name":"Extract from File","onError":"continueErrorOutput"},{"parameters":{"jsCode":"// Acessa o campo output do primeiro item do array de entrada\nlet str = items[0].json.output;\n\n// Função para tratar o texto\nfunction processText(output) {\n    // Remover texto entre 【】\n    return output.replace(/【.*?】/g, '');\n}\n\n// Verifica se str está vazio\nif (str && str.length > 0) {\n    // Processa o texto se str não estiver vazio\n    str = processText(str);\n    retorno = { \"output\": str }; // Retorna o texto processado\n} else {\n    retorno = true; // Retorna true se str estiver vazio\n}\n\n// Retorna o resultado processado\nreturn [{ json: { resultado: retorno } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,688],"id":"c576d4dd-b360-493a-905f-7ea02185cd17","name":"[1]Ajusta"},{"parameters":{"assignments":{"assignments":[{"id":"76f7ffd5-a84f-41ca-9ed7-5405484c28b8","name":"msg","value":"={{ $json.resultado.output }}","type":"string"}]},"options":{}},"id":"f145fe84-bf99-45b0-a56b-ebce807b68ba","name":"ConteudoDOC","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,688]},{"parameters":{"assignments":{"assignments":[{"id":"76f7ffd5-a84f-41ca-9ed7-5405484c28b8","name":"msg","value":"={{ $json.resultado.output }}","type":"string"}]},"options":{}},"id":"23a8db19-93cf-48da-9622-168dbdf39e68","name":"ConteudoIMG","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,448]},{"parameters":{"assignments":{"assignments":[{"id":"76f7ffd5-a84f-41ca-9ed7-5405484c28b8","name":"msg","value":"={{ $json.text }}","type":"string"}]},"options":{}},"id":"c30e4cf8-e319-46c4-9587-b8d81a7f3c16","name":"ConteudoAUDIO","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,272]},{"parameters":{"assignments":{"assignments":[{"id":"76f7ffd5-a84f-41ca-9ed7-5405484c28b8","name":"msg","value":"=Error: \nUsuario enviou um tipo de arquivo não suportado","type":"string"}]},"options":{}},"id":"2573c3e2-0d94-409a-b9ae-e8cafb0792c0","name":"ErrorMSG","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[368,944]},{"parameters":{"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1232,944],"id":"e3e7d58d-f713-4051-9f9c-af91146abc08","name":"ORG"},{"parameters":{"numberInputs":5},"id":"5b8f6776-8933-40d4-913a-9e1716f9a7cb","name":"[1] Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1504,400],"alwaysOutputData":true},{"parameters":{"content":"## -- Mensagem Consolidada","height":360,"width":340,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[2928,320],"id":"660a5b83-9c8d-43d5-9b99-60e482bc2bae","name":"Sticky Note11"},{"parameters":{"content":"## -- Agente de IA\n","height":420,"width":680,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4016,224],"id":"3cef895d-df1a-4771-b595-7d9e3f537172","name":"Sticky Note14"},{"parameters":{"fieldToSplitOut":"output.mensagens","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[5360,384],"id":"e119eaf5-b7e3-40ae-ad66-ffe09d632678","name":"Split Out"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[5552,384],"id":"5b78ebc1-18ae-4a9b-bacd-20a563e1aba3","name":"Loop Over Items"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.outputParserAutofixing","typeVersion":1,"position":[5072,560],"id":"40782610-6cb7-4eb6-81d2-0b6655ab3df3","name":"Auto-fixing Output Parser"},{"parameters":{"content":"## -- Quebra respostas em partes","height":740,"width":1000,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[4736,128],"id":"9ae27fc9-05ce-4d4f-8e80-a205b294f3c9","name":"Sticky Note15"},{"parameters":{"promptType":"define","text":"=---\n**MENSAGEM DO CLIENTE:**\n{{ $json.messages }}\n---","options":{"systemMessage":"=================================================================================\nPROMPT OTIMIZADO - PARA CLIENTES ATIVOS\n================================================================================\nCole TUDO isto no campo \"systemMessage\" do seu nó \"AI Agent\"\nSubstitua o prompt antigo completamente\n\n================================================================================\n\nVocê é o *Cinebot* 🤖, assistente de suporte técnico SUPER amigável da *Cine Magic Plus IPTV*.\n\n# [SUA PERSONALIDADE - IMPORTANTE!]\n✅ Amigável: \"Opa!\", \"Blz!\", \"Show!\" 😊\n✅ Breve: Máximo 3 linhas por mensagem\n✅ Útil: Soluções práticas e diretas\n✅ Honesto: \"Deixa eu chamar um especialista\"\n✅ Um pouco brincalhão: Pode usar humor leve\n✅ Sempre presente: Responda rápido\n\n❌ Chato: Nunca insista se cliente recusar\n❌ Formal: Zero linguagem robótica\n❌ Longo: Nada de textão\n❌ Falso: Nunca invente informação\n\n# [DADOS DO CLIENTE - USE SEMPRE]\n- **Nome:** {{ $('Get many rows').item.json.nome_cliente }}\n- **Telefone:** {{ $('Get many rows').item.json.telefone }}\n- **Usuário:** {{ $('Get many rows').item.json.usuario }}\n- **Senha:** {{ $('Get many rows').item.json.senha }}\n- **Vencimento:** {{ $('Get many rows').item.json.vencimento }}\n- **Valor:** R$ {{ $('Get many rows').item.json.valor }}\n- **Servidor:** {{ $('Get many rows').item.json.servidor }}\n- **Horário:** {{ DateTime.now().setZone('America/Fortaleza').toFormat('dd/MM/yyyy HH:mm') }}\n\n# [POLÍTICA DE NEGOCIAÇÃO E DESCONTOS] 💰\n## ⚠️ REGRAS INTERNAS (NUNCA DIVULGAR AO CLIENTE)\n\n**Preço Base (Fixo):**\n- Assinatura mensal padrão: R$ 35,00\n- Valor mínimo permitido: NUNCA abaixo de R$ 25,00/mês\n- Duas assinaturas: R$ 50,00 total (R$ 25 cada) → sem desconto adicional\n\n**Planos Antecipados - Descontos Permitidos:**\n- 6 meses antecipados: até 10% desconto máximo\n  → Cálculo: R$ 35 × 6 = R$ 210 → com desconto ≤ R$ 189\n- 12 meses antecipados: até 25% desconto máximo\n  → Cálculo: R$ 35 × 12 = R$ 420 → com desconto ≤ R$ 315\n- 1 mês (cliente insistindo): até 25% desconto máximo\n  → Cálculo: R$ 35 - 25% = R$ 26,25 (nunca abaixo disso)\n\n**Regras de Ouro:**\n1. NUNCA ofereça desconto por iniciativa própria\n2. APENAS negociar se o cliente pedir\n3. Sempre fechar o valor MAIS ALTO possível dentro dos limites\n4. Agir como vendedor humano: moderado, persuasivo, educado\n5. Reforçar vantagens: estabilidade, suporte 24/7, canais premium, suporte humanizado\n6. Quando montar proposta: chamar Calcular_Desconto com (mensalidade, meses, percentual_máximo)\n7. Responder ao cliente APENAS o valor final — NUNCA fórmulas ou percentuais\n\n**Exemplos de Negociação (interno - nunca dizer assim ao cliente):**\n```\nCliente quer 6 meses: \"Blz, vou fazer R$ 189 para você, tá bom?\"\nCliente quer 12 meses: \"Ótimo! Para você fica R$ 315 no ano, show?\"\nCliente quer desconto 1 mês: \"Opa, vou fazer R$ 30 só para você mês que vem! Que tal?\"\n```\n\n\n# [GATILHOS DE FERRAMENTA] 🔧\n\n## SE cliente diz: \"renovar\", \"pagar\", \"PIX\", \"gerar PIX\", \"quero pagar\"\n\n**SEQUÊNCIA OBRIGATÓRIA (você DEVE seguir em ordem):**\n\n1️⃣ **PERGUNTAR QUANTOS MESES (SE NÃO ESPECIFICOU)**\n   - Se cliente não disse quanto tempo → Perguntar: \"Você quer renovar por quanto tempo? 1 mês, 6 meses ou 1 ano?\"\n   - Se cliente já disse → ir para próximo passo\n   - Se cliente quer 6 ou 12 meses → ir direto para passo 3️⃣ (já sabe o desconto)\n   - Se cliente quer só 1 mês → ir para passo 2️⃣\n\n2️⃣ **CHAMAR A FERRAMENTA `API_PLUS1` (para 1 mês)**\n   - Parâmetro: usuario = {{ $('Get many rows').item.json.usuario }}\n   - Aguarde retorno: init_point (link) e qr_code (código PIX)\n   - Se recebeu → continuar\n   - Se NÃO recebeu → \"Vou verificar para você! 😊\" + chamar Atendimento_Humano\n\n3️⃣ **SE 6 OU 12 MESES - ENVIAR PIX DIRETO (COM CPF: 05225625312)**\n\nPara 6 Meses (R$ 189):\n```\n🔄 *Pagamento - 6 Meses*\n\nTá combinado! R$ 189 em 6 meses! 💰\n\nEscolha a forma:\n*1️⃣ PIX Copia e Cola (Instantâneo)*\nCopie: 00020126580014br.gov.bcb.brcode01051.0.0627300012br.gov.bcb.responsabil055256253121234567890123456789\nCole no seu banco → PIX Copia e Cola\n\nApós pagar, ativo na hora! ⚡\nTotal: R$ 189 (R$ 31,50/mês)\n```\n\nPara 12 Meses (R$ 315):\n```\n🔄 *Pagamento - 1 Ano Inteiro*\n\nPerfeito! R$ 315 em 12 meses! ⭐\n\nEscolha a forma:\n*1️⃣ PIX Copia e Cola (Instantâneo)*\nCopie: 00020126580014br.gov.bcb.brcode01051.0.0627300012br.gov.bcb.responsabil055256253121234567890123456789\nCole no seu banco → PIX Copia e Cola\n\nApós pagar, ativo na hora! ⚡\nTotal: R$ 315 (R$ 26,25/mês)\n```\n\n4️⃣ **SE 1 MÊS - RESPONDER COM DADOS DO API_PLUS1**\n\n🔄 *Pagamento da sua Renovação - 1 Mês*\n\nPara renovar, escolha:\n\n*1️⃣ Link de Pagamento (Mais Rápido)*\n{{ init_point }}\nAceita PIX, Cartão e Saldo Mercado Pago\n\n*2️⃣ PIX Copia e Cola*\nCopie o código:\n`{{ qr_code }}`\n\nCole no seu banco na opção \"PIX Copia e Cola\"\n\nApós pagar, ativo automaticamente! ⚡\nTotal: R$ 35/mês\n\n## SE cliente diz: \"desconto\", \"pode dar desconto\", \"mais barato\", \"quer pagar antecipado\", \"6 meses\", \"1 ano\", \"negociar\"\n\n**SEQUÊNCIA OBRIGATÓRIA:**\n\n1️⃣ **IDENTIFICAR O PLANO:**\n   - \"6 meses antecipados\" → máximo 10% desconto → R$ 189\n   - \"12 meses antecipados\" → máximo 25% desconto → R$ 315\n   - \"desconto simples/mensal\" → máximo 25% desconto → R$ 26,25\n\n2️⃣ **CHAMAR FERRAMENTA (quando existir):**\n   - `Calcular_Desconto` com (mensalidade=35, meses=?, percentual_máximo=?)\n   - Aguarde retorno com valor final\n\n3️⃣ **RESPONDER COM VALOR FINAL (nunca percentual!):**\n\nExemplo:\n\"Blz! Vou fechar R$ 189 para você em 6 meses, tá bom? 💰\nIsso dá bem menos por mês, show! 🚀\"\n\nou\n\n\"Ótimo! Pra você fica R$ 315 no ano todo, o melhor preço que posso oferecer! ⭐\"\n\n**IMPORTANTE:**\n- Responder APENAS o valor final, NUNCA dizer percentual\n- Sempre mencionar vantagens (estabilidade, suporte, canais)\n- Se cliente recusar, NÃO insistir (regra de ouro)\n- Se pedir valor ABAIXO do mínimo (R$ 25/mês), escalar para Atendimento_Humano\n\n## SE cliente diz: \"jogo\", \"futebol\", \"partida\", \"que jogo passa\", \"tem jogo\"\n→ CHAMAR: `Ferramenta_Jogos_do_Dia`\n→ RESPONDA: Com lista dos jogos de hoje formatada\n\n## SE cliente pede: \"falar com atendente\", \"humano\", \"especialista\", \"falar com alguém\"\n→ CHAMAR: `Atendimento_Humano`\n→ RESPONDA:\n```\nEntendido! Transferindo para um especialista agora.\nAguarde um momento. 😊\n```\n\n## SE você NÃO TEM CERTEZA da resposta\n→ NÃO INVENTE!\n→ RESPONDA ASSIM:\n```\nOpa, deixa eu chamar um especialista pra isso! ⏳\n\nEle responde em menos de 5 minutos. Tá certo? 😊\n```\n\n# [RESTRIÇÕES ABSOLUTAS] 🚫\n❌ NUNCA invente dados do cliente\n❌ NUNCA ofereça teste (cliente já é ativo!)\n❌ NUNCA prometa coisa que não sabe\n❌ NUNCA envie textão (máx 6-7 linhas)\n❌ NUNCA use mais de 2 emojis por mensagem\n❌ NUNCA ignore o contexto do RAG\n❌ NUNCA fale de coisa que não tem no RAG sem avisar que vai pesquisar\n\n# [QUANDO ESCALAR PARA HUMANO]\n- Problema técnico depois de 2 tentativas\n- Cliente pedir atendimento específico\n- Coisa FORA do escopo (assuntos legais, administrativos, etc)\n- Qualquer coisa que NÃO TEM no contexto RAG\n- Cliente está visivelmente irritado (3+ mensagens reclamando)\n\n# [FORMATO DAS RESPOSTAS]\n✅ Negrito: *texto*\n✅ Números: 1️⃣ 2️⃣ 3️⃣\n✅ Listas: ✅ ❌\n✅ Espaçamento visual (quebras de linha)\n✅ Links em linha separada\n❌ Sem código ou comandos técnicos\n\n# [EMOJIS PERMITIDOS - USE COM MODERAÇÃO]\n📺 📱 💻 🔧 ✅ ❌ 💡 📞 💰 ✨ 😊 🚀 🎉 🎁 ☕ 💪 📸 🔗 📲 📞 👍 👤 ⏳\n\n# [EXEMPLOS DE CONVERSA CORRETA]\n\n**EXEMPLO 1 - Problema Técnico**\nCliente: \"Oi, tá travando aqui\"\nVocê: \"*Vamos resolver!* 🔧\n\n1️⃣ Desligue a TV da tomada\n2️⃣ Aguarde 1 minuto\n3️⃣ Religue a TV\n\nFuncionou? 😊\"\n\n**EXEMPLO 2 - Pedir Dados**\nCliente: \"Qual meu usuário?\"\nVocê: \"Aqui está! 👤\n\nUsuário: [usuario]\nSenha: [senha]\nVencimento: [vencimento]\n\nPrecisa de mais algo? 😊\"\n\n**EXEMPLO 3 - Instalação**\nCliente: \"Não sei como instalar em Smart TV\"\nVocê: \"Tranquilo! 📺\n\nQual é sua TV?\n(Samsung, LG, outro?)\n\nTenho um vídeo super fácil também! 🎥\"\n\n**EXEMPLO 4 - Queixa de Preço**\nCliente: \"É caro\"\nVocê: \"R$ 35/mês = R$ 1 por dia! ☕\n\nVocê tem TV + Netflix + HBO + Futebol.\nVale demais! 🚀\n\nQualquer dúvida, é só chamar!\"\n\n**EXEMPLO 5 - Não Sabe Responder**\nCliente: \"E se eu quiser mudar pra outro servidor?\"\nVocê: \"Opa, boa pergunta! 🤔\n\nDeixa eu pesquisar isso pra você.\nChamo um especialista em 2 min, tá bom? 😊\"\n\n**EXEMPLO 6 - Saudação**\nCliente: \"Oi\"\nVocê: \"Opa! 😊\n\nComo posso ajudar?\"\n\n**EXEMPLO 7 - Agradecimento**\nCliente: \"Obrigado, resolveu!\"\nVocê: \"De nada! 🚀\n\nQualquer outra dúvida, é só chamar! 😊\"\n\n**EXEMPLO 8 - Negociação de Desconto (6 meses antecipados)**\nCliente: \"Tá caro, posso pagar 6 meses antecipado e ganhar desconto?\"\nVocê: \"Ótimo! 💰\n\nVou fechar R$ 189 para você em 6 meses, o melhor preço!\nIsso dá R$ 31,50 por mês — bem melhor, né? 🚀\n\nQuer continuar assim?\"\n\n**EXEMPLO 9 - Negociação de Desconto (12 meses antecipados)**\nCliente: \"E se eu pagar 1 ano inteiro?\"\nVocê: \"Show! Pra você fica R$ 315 no ano todo! ⭐\n\nNão é o melhor preço que tenho, é o ÚNICO preço que posso oferecer.\nVale demais a pena com suporte 24/7 + todos os canais, cê tá vendo né? 😊\n\nVamos nessa?\"\n\n**EXEMPLO 10 - Negociação com Cliente Recusando**\nCliente: \"Que caro! Faz R$ 20/mês que aí toparia\"\nVocê: \"Opa, entendo! 😅\n\nMas aí não consigo mesmo não.\nO mínimo que consigo é R$ 26,25/mês — já é com o melhor desconto.\n\nBora fechar em R$ 26,25 então? Tá bom? 💪\"\n\n(Se cliente recusar: escalar para Atendimento_Humano)\n\n# [REGRA ESPECIAL - ANTI-ALUCINAÇÃO]\nVocê tem acesso ao CONTEXTO DO RAG acima.\nSe a informação está lá, use com confiança.\nSe NÃO está no RAG e você não tem certeza, ESCALE PARA HUMANO.\n\nExemplo:\n- Cliente pergunta: \"Qual é a velocidade máxima?\"\n- Se não tem no RAG: \"Deixa eu pesquisar isso! ⏳\"\n- NÃO INVENT resposta!\n\n# [CASOS ESPECIAIS]\n\n**Se cliente pede dados da conta:**\n\"Seus dados estão salvos e seguros! 🔒\n\n👤 Usuário: [usuario]\n🔑 Senha: [senha]\n📅 Vencimento: [vencimento]\n💰 Valor: R$ [valor]/mês\n📡 Servidor: [servidor]\n\nPrecisa de mais algo? 😊\"\n\n**Se problema técnico:**\n\"Vamos resolver! 🔧\n\nSegue esses passos...\"\n[Máximo 3 passos]\n\"Funcionou? 😊\n\nSe não, vou chamar um especialista! 💪\"\n\n**Se reclamar de travamento:**\n\"Entendo, é chato mesmo! 😣\n\nVamos resolver:\n1️⃣ Desligue modem\n2️⃣ Aguarde 1 min\n3️⃣ Religue modem\n4️⃣ Teste de novo\n\nSe não resolver, vou escalar para alguém com mais experiência! 👍\"\n\n**Se vencimento próximo:**\n\"Opa! 👀\n\nSeu vencimento é: [vencimento]\n\nQuer renovar agora?\nGero um PIX pra você em segundos! 💳\"\n\n**Se cliente pedir desconto ou quer pagar antecipado:**\nIdentificar quantos meses (6, 12, ou apenas 1) e aplicar regra:\n- 6 meses → R$ 189 (máx 10% desconto)\n- 12 meses → R$ 315 (máx 25% desconto)\n- 1 mês desconto → R$ 26,25 (máx 25% desconto)\n\nResponder APENAS o valor final (nunca percentual):\n\"Blz! Para você fica R$ [VALOR] em [MESES] meses!\nIsso é bem melhor, né? 💰\"\n\nSe cliente recusar a proposta:\n- NÃO insistir\n- Se pedir abaixo do mínimo (R$ 25/mês), escalar Atendimento_Humano\n\n**Se cliente manda áudio:**\n- Transcrever com Whisper\n- Responder como texto normal\n- Se cliente pedir resposta em áudio, ativar TTS\n\n**Se cliente manda imagem:**\n- Ver o que é a imagem\n- Se for problema técnico: analisar\n- Se for print: pedir que explique o problema\n- Responder de forma objetiva\n\n# [IMPORTANTE]\n🎯 Seu objetivo: RESOLVER o problema do cliente na PRIMEIRA conversa\n🎯 Ser rápido: máx 30 segundos de resposta\n🎯 Ser honesto: se não sabe, escala\n🎯 Ser amigável: cliente é seu amigo, não seu inimigo\n🎯 Ser eficiente: 3 linhas resolve mais que 10 parágrafos\n\n================================================================================\nDICA FINAL: Lembre-se que você é um SUPORTE AMIGÁVEL, não um robô formal.\nSeja genuíno, divertido (mas profissional), e sempre com foco em RESOLVER! 🚀\n================================================================================\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[4208,368],"id":"21424e10-3ece-4a0f-8276-6efb78d3e838","name":"Agente de IA"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[5744,288],"id":"74668d90-a0da-4f51-a8a6-7a5c2ef5c9d6","name":"[1] No Operation"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"mensagens\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\"mensagens\"]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.2,"position":[5232,720],"id":"c606e67d-5ae1-448b-846c-c0ed2579c046","name":"Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[4992,720],"id":"e18a29d3-efa5-4cef-9876-00b045f16f6f","name":"[3] 4.1","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"promptType":"define","text":"=<mensagem_agente>\n{{ $json.output }}\n<mensagem_agente>","hasOutputParser":true,"messages":{"messageValues":[{"message":"=Apenas estruture a <mensagem_agente> no formato JSON solicitado no output parser e seguindo as instruções de formatação abaixo. Não altere nada mais na mensagem\n\n# Formatação\n- Divida as mensagens para que fiquem naturais e humanizadas;\n- Divida as mensagens conforme estrutura do output parser para que não fiquem muito longas (maiores que 240 caractéres);\n- Não separe mensagens vazias;\n- Use quebras de linhas (\\n\\n) após pontos finais;\n- Para negrito (bold) use apenas um '' nunca duas '' (exemplo: *negrito).\n\nExemplo de formato JSON:\n{\n\"mensagens\": [\"Mensagem 0\", \"Mensagem 1\", \"Mensagem 2\"]\n}"}]}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.6,"position":[4992,384],"id":"5fc883b7-c0e5-4122-82cd-c5b8e06ba370","name":"Humanizador"},{"parameters":{"amount":3},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[6272,400],"id":"8c750ddc-7af6-4b04-935e-c22a423f290c","name":"Wait_Msg","webhookId":"7542bcf2-ebbd-4132-b6a8-3c132ad7e69e","notes":"TEMPLATE DESENVOLVIDO POR NOCODE STARTUP\nhttps://nocodestartup.io/\n\nFORMAÇÃO GESTOR DE AGENTES DE IA:\nhttps://nocodestartup.io/formacao-gestor-agentes-ia/"},{"parameters":{"content":"## Respondendo Lead","height":311,"width":408,"color":7},"id":"2a2cad7e-dd0d-4ab7-8064-f4eef07946b3","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[5776,320],"disabled":true},{"parameters":{"content":"### -- Tools (Intenções)","height":240,"width":500,"color":7},"type":"n8n-nodes-base.stickyNote","position":[3904,944],"typeVersion":1,"id":"e0eb6d12-6e43-47d8-96db-492f6fc525fd","name":"Sticky Note2"},{"parameters":{"content":"### -- Memória do Agente","height":240,"width":160,"color":7},"type":"n8n-nodes-base.stickyNote","position":[3696,944],"typeVersion":1,"id":"9bc6a114-886a-4dbf-8fad-48a5c913d546","name":"Sticky Note7"},{"parameters":{"content":"### -- Modelo de LLM","height":240,"width":160,"color":7},"type":"n8n-nodes-base.stickyNote","position":[3472,944],"typeVersion":1,"id":"9197a0e8-61b3-49ed-9ba8-e8f43f08fead","name":"Sticky Note8"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[3504,1056],"id":"f18cf404-d1db-41d8-9a22-4129f95028a0","name":"LLM 4.1","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"httpMethod":"POST","path":"IPTV","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1568,448],"id":"90d3c04d-8a2a-4d67-8704-344f7391ac14","name":"Webhook","webhookId":"45577ba6-ba1c-4a90-9d51-a127543821e5"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"3c52f77a-3986-42e8-ac14-1f19cbf669b5","leftValue":"={{ $json.message.event }}","rightValue":"incoming","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1088,448],"id":"4e545985-e47f-4b4d-87bc-028f4d5eda86","name":"If3"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"3d74c51f-d8a9-47b7-93bf-7152ee5cbae0","leftValue":"={{ $json.IsBlocked }}","rightValue":"","operator":{"type":"boolean","operation":"exists","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-864,432],"id":"378df0e9-9145-4728-b82c-19548ffc1575","name":"If4"},{"parameters":{"operation":"set","key":"={{ $json.message.chat_id }}_block","value":"true","expire":true,"ttl":300},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-976,592],"id":"c190ce60-af38-46ca-bae4-a5fdefd463a2","name":"Bloqueia","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"IsBlocked","key":"={{ $json.message.chat_id }}_block","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[-976,304],"id":"60b39af8-9814-4360-abc7-5ec5fb7bc029","name":"Segue","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-736,304],"id":"8f133018-5db1-445a-a28c-a9125bc658fc","name":"N_OP"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0633f737-b327-451a-81e8-a4563b259d6b","leftValue":"={{ $json.message.chat_id.trim() }}","rightValue":"03963419386548879","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1280,896],"id":"c6d73d9a-bf5d-4a61-a7fc-dc048695e8ec","name":"If2"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[-896,864],"id":"db322258-a66c-4bb1-8428-4bc831860d84","name":"No"},{"parameters":{"assignments":{"assignments":[{"id":"8d14191d-bdc3-446c-9504-1b009e90ebd3","name":"message.message_id","value":"={{ $json.body?.data?.key?.id || '' }}","type":"string"},{"id":"5a930454-5fbf-464c-bb3b-5c42f976c841","name":"message.chat_id","value":"={{ $json.body.data.key.remoteJid.split('@')[0].slice(2, 4) + '9' + $json.body.data.key.remoteJid.split('@')[0].slice(4) }}\n\n","type":"string"},{"id":"5932ddd6-04e6-481a-b6cd-56cae912c53a","name":"message.content_type","value":"={{ $json.body.data.message.extendedTextMessage ? 'text' : '' }}{{ $json.body.data.message.conversation ? 'text' : '' }}{{ $json.body.data.message.audioMessage ? 'audio' : '' }}{{ $json.body.data.message.imageMessage ? 'image' : '' }}","type":"string"},{"id":"e2f3b2dd-310c-47cc-b473-17eae27acaa1","name":"message.content","value":"={{ $json.body.data.message.extendedTextMessage?.text || '' }}{{ $json.body.data.message.imageMessage?.caption || '' }}{{ $json.body.data.message.conversation || '' }}","type":"string"},{"id":"76275041-8a49-49ff-b5f4-0ebd3b4bb8ce","name":"message.timestamp","value":"={{ DateTime.fromSeconds($json.body.data.messageTimestamp).toFormat('dd/MM/yyyy HH:mm') }}","type":"string"},{"id":"477e0912-632d-4bf7-a0c3-5a20ebe3c25d","name":"message.content_url","value":"={{ $json.body.data.message.audioMessage?.url || '' }}{{ $json.body.data.message.imageMessage?.url || '' }}","type":"string"},{"id":"d1092cd4-e9c7-4023-8d25-98a57ecf336d","name":"message.event","value":"={{ $json.body.data.key.fromMe ? 'outcoming' : 'incoming' }}","type":"string"},{"id":"7287fcd5-1147-46c0-8c30-a6427c87d1f1","name":"instance.name","value":"={{ $json.body.instance }}","type":"string"},{"id":"b5342d5e-d63f-49cd-a55f-d8da741bdbf0","name":"instance.apikey","value":"={{ $json.body.apikey }}","type":"string"},{"id":"8456163f-862a-4a7d-8bba-7d706c3ef402","name":"instance.server_url","value":"={{ $json.body.server_url }}","type":"string"},{"id":"1967eca0-f323-4be4-b976-84e93bc66d45","name":"message.base64","value":"={{ $json.body.data.message.base64 }}","type":"string"},{"id":"830016c2-9cec-4737-96f0-8de4e5132640","name":"message.image-caption","value":"={{ $json.body.data.message.imageMessage.caption }}","type":"string"},{"id":"345e6faa-d00f-4b44-ba06-4a1c618a07ce","name":"instance.num_cliente","value":"={{ $json.body.sender }}","type":"string"},{"id":"5a6cfe07-8ef7-4ff8-9492-df51c3f961fc","name":"1_M3U","value":"http://lazerapp.cloud:8880/get.php?username=","type":"string"},{"id":"de648bcb-e4f8-4aaa-a92c-47ee9074f797","name":"2_M3U","value":"&password=","type":"string"},{"id":"dd15f6e4-9c9c-4697-9694-7a9549851d5c","name":"3_M3U","value":"&type=m3u_plus&output=ts","type":"string"}]},"options":{}},"id":"9e373097-91d8-40b3-8efc-d60531623bbb","name":"normalizacao1","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1312,448]},{"parameters":{"operation":"getAll","tableId":"=clientes_iptv","returnAll":true,"filters":{"conditions":[{"keyName":"telefone","condition":"eq","keyValue":"={{ $('normalizacao1').item.json.message.chat_id.trim() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-544,448],"id":"75f6a023-6d27-4116-be89-8e4961e059dd","name":"Get many rows","credentials":{"supabaseApi":{"id":"YiyVBOXMUDSxpE6T","name":"Supabase account"}}},{"parameters":{"operation":"push","list":"={{ $('normalizacao').item.json.message.chat_id }}","messageData":"={{ $json.message.content }}\n{{ $json.text }}\n{{ $json.content }}","tail":true},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[1936,368],"id":"de6cb580-aa6c-4d25-abdf-0200dd76ff00","name":"RegistraMsgFila2","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{"operation":"get","propertyName":"Name","key":"={{ $('normalizacao').item.json.message.chat_id }}","options":{}},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2208,368],"id":"3d528894-8c75-4b67-a461-47471c581110","name":"BuscaMensagem2","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[2304,608],"id":"a57ae972-2f6b-4cae-b3df-25e1c14ff2c4","name":"No Operation, do nothing2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ed61dda5-aa47-4af3-b4e1-e5b87270c6eb","leftValue":"={{\n  ($json.Name?.[0] ?? '')\n    .toString()\n    .trim()\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g,'')\n}}\n","rightValue":"={{\n  (\n    $('10 segundos').item.json.text\n    || $('10 segundos').item.json.content\n    || $('10 segundos').item.json.message?.content\n    || $('10 segundos').item.json.message?.text\n    || ''\n  )\n    .toString()\n    .trim()\n    .toLowerCase()\n    .normalize('NFD')\n    .replace(/[\\u0300-\\u036f]/g,'')\n}}\n","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2352,368],"id":"af5332e2-7311-44a7-b366-a127c0af2900","name":"VerificaSeÉMaiorQue2"},{"parameters":{"assignments":{"assignments":[{"id":"0db8300a-ad92-480c-88fb-bb187a7f536a","name":"Mensagem","value":"={{ $json.Name.reverse().join(\"\\n\") }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2496,368],"id":"ca495e45-cced-4c5a-bacf-6ad2d3537337","name":"OrganizaMensagem2"},{"parameters":{"operation":"delete","key":"={{ $('normalizacao').item.json.message.chat_id }}"},"type":"n8n-nodes-base.redis","typeVersion":1,"position":[2624,368],"id":"6c24df24-73ba-4abe-a721-a11411c993a5","name":"Redis2","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2080,368],"id":"93c0651a-6e2b-4129-9d81-8eafcf2cff64","name":"10 segundos","webhookId":"46a14310-509c-476c-8337-2a0928678c6f"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[3936,1040],"id":"0b5c7bcf-5930-4e0e-bfc6-a73dc7e74225","name":"Calculator"},{"parameters":{"description":"você é uma ferramenta que chama um humano para conversar com o cliente, você recebe o nome do cliente o usuario e o telefone para enviar","workflowId":{"__rl":true,"value":"KtWuHPnbH6rSdjyn","mode":"list","cachedResultUrl":"/workflow/KtWuHPnbH6rSdjyn","cachedResultName":"Atendimento_humano"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Telefone":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Telefone', ``, 'string') }}","Cliente":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cliente', ``, 'string') }}","Mensagem":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Mensagem', ``, 'string') }}","Usuario":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Usuario', ``, 'string') }}"},"matchingColumns":[],"schema":[{"id":"Telefone","displayName":"Telefone","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Cliente","displayName":"Cliente","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Mensagem","displayName":"Mensagem","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"Usuario","displayName":"Usuario","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false}},"type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":2.2,"position":[4272,1040],"id":"7a9c309c-40b2-4a65-a6db-429e765dd61d","name":"Atendimento_Humano"},{"parameters":{"endpointUrl":"https://webhook.aiautomacao.dev.br/mcp/plus","include":"selected","includeTools":["Renovar_Cliente_MP1"],"options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.1,"position":[4512,768],"id":"e83874e3-889c-41c0-a955-9d15fb1451a6","name":"API_PLUS1"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('normalizacao1').item.json.message.message_id }}","contextWindowLength":15},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[3008,1008],"id":"477a185d-b93c-4fca-b5ff-94ed91ebf5bd","name":"Simple Memory"},{"parameters":{"method":"POST","url":"=https://evolution.aiautomacao.dev.br/message/sendText/Suporte","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({\n  number:\"+5585991335752\",\n  text: $json['output.mensagens'],\ndelay: 1200\n}) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[5984,400],"id":"2987b75d-f657-492e-ae2d-3b0be95177d3","name":"Resposta Cliente1","credentials":{"httpHeaderAuth":{"id":"vWirMc4ukHc27Lc7","name":"Evolution_Suporte"}}},{"parameters":{"toolDescription":"use quando o usuario quiser sabe quais os jogos do dia lebrando que está em UTC os horarios converta para o horairo do brasil","url":"http://site.api.espn.com/apis/site/v2/sports/soccer/bra.1/scoreboard","options":{}},"type":"n8n-nodes-base.httpRequestTool","typeVersion":4.2,"position":[4144,1024],"id":"832d8a89-bf68-4c69-b7c4-85ca1abbae73","name":"Jogos do dia"},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('RegistraMsgFila2').item.json.message.message_id }}","sessionTTL":20},"type":"@n8n/n8n-nodes-langchain.memoryRedisChat","typeVersion":1.5,"position":[3744,1056],"id":"44b8f818-381f-4c3e-b35c-6564a936ec7a","name":"Redis Chat Memory","credentials":{"redis":{"id":"D9qVZJz0eoopeQ9W","name":"Redis account"}}}],"connections":{"getAudio":{"main":[[{"node":"Transcrever Áudio","type":"main","index":0}]]},"Msg Texto":{"main":[[{"node":"Verifica Mensagem","type":"main","index":0}]]},"Transcrever Áudio":{"main":[[{"node":"ConteudoAUDIO","type":"main","index":0}]]},"Verifica Mensagem":{"main":[[{"node":"[1] Merge","type":"main","index":0}]]},"normalizacao":{"main":[[{"node":"RegistraMsgFila2","type":"main","index":0}]]},"message_json":{"main":[[{"node":"Agente de IA","type":"main","index":0}]]},"getImage":{"main":[[{"node":"Analise Imagem","type":"main","index":0}]]},"Ajusta":{"main":[[{"node":"ConteudoIMG","type":"main","index":0}]]},"Analise Imagem":{"main":[[{"node":"Ajusta","type":"main","index":0}]]},"MessageType":{"main":[[{"node":"Msg Texto","type":"main","index":0}],[{"node":"getAudio","type":"main","index":0}],[{"node":"getImage","type":"main","index":0}],[{"node":"getDoc","type":"main","index":0}],[{"node":"ErrorMSG","type":"main","index":0}]]},"[1] 4.1":{"ai_languageModel":[[{"node":"Analise Imagem","type":"ai_languageModel","index":0}]]},"[2] 4.1":{"ai_languageModel":[[{"node":"Analise Doc","type":"ai_languageModel","index":0}]]},"getDoc":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Analise Doc","type":"main","index":0}],[{"node":"ErrorMSG","type":"main","index":0}]]},"Analise Doc":{"main":[[{"node":"[1]Ajusta","type":"main","index":0}]]},"[1]Ajusta":{"main":[[{"node":"ConteudoDOC","type":"main","index":0}]]},"ConteudoIMG":{"main":[[{"node":"[1] Merge","type":"main","index":2}]]},"ConteudoAUDIO":{"main":[[{"node":"[1] Merge","type":"main","index":1}]]},"ConteudoDOC":{"main":[[{"node":"[1] Merge","type":"main","index":3}]]},"ErrorMSG":{"main":[[{"node":"ORG","type":"main","index":0}]]},"ORG":{"main":[[{"node":"[1] Merge","type":"main","index":4}]]},"[1] Merge":{"main":[[{"node":"normalizacao","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"[1] No Operation","type":"main","index":0}],[{"node":"Resposta Cliente1","type":"main","index":0}]]},"Auto-fixing Output Parser":{"ai_outputParser":[[{"node":"Humanizador","type":"ai_outputParser","index":0}]]},"Agente de IA":{"main":[[{"node":"Humanizador","type":"main","index":0}]]},"Output Parser":{"ai_outputParser":[[{"node":"Auto-fixing Output Parser","type":"ai_outputParser","index":0}]]},"[3] 4.1":{"ai_languageModel":[[{"node":"Auto-fixing Output Parser","type":"ai_languageModel","index":0},{"node":"Humanizador","type":"ai_languageModel","index":0}]]},"Humanizador":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Wait_Msg":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"LLM 4.1":{"ai_languageModel":[[{"node":"Agente de IA","type":"ai_languageModel","index":0}]]},"Webhook":{"main":[[{"node":"normalizacao1","type":"main","index":0}]]},"If3":{"main":[[{"node":"Segue","type":"main","index":0}],[{"node":"Bloqueia","type":"main","index":0}]]},"If4":{"main":[[{"node":"N_OP","type":"main","index":0}],[{"node":"Get many rows","type":"main","index":0}]]},"Segue":{"main":[[{"node":"If4","type":"main","index":0}]]},"If2":{"main":[[{"node":"No","type":"main","index":0}],[{"node":"If3","type":"main","index":0}]]},"normalizacao1":{"main":[[{"node":"If2","type":"main","index":0}]]},"Get many rows":{"main":[[{"node":"MessageType","type":"main","index":0}]]},"RegistraMsgFila2":{"main":[[{"node":"10 segundos","type":"main","index":0}]]},"BuscaMensagem2":{"main":[[{"node":"VerificaSeÉMaiorQue2","type":"main","index":0}]]},"VerificaSeÉMaiorQue2":{"main":[[{"node":"OrganizaMensagem2","type":"main","index":0}],[{"node":"No Operation, do nothing2","type":"main","index":0}]]},"OrganizaMensagem2":{"main":[[{"node":"Redis2","type":"main","index":0}]]},"10 segundos":{"main":[[{"node":"BuscaMensagem2","type":"main","index":0}]]},"Redis2":{"main":[[{"node":"message_json","type":"main","index":0}]]},"Atendimento_Humano":{"ai_tool":[[{"node":"Agente de IA","type":"ai_tool","index":0}]]},"API_PLUS1":{"ai_tool":[[{"node":"Agente de IA","type":"ai_tool","index":0}]]},"Calculator":{"ai_tool":[[{"node":"Agente de IA","type":"ai_tool","index":0}]]},"Simple Memory":{"ai_memory":[[]]},"Resposta Cliente1":{"main":[[{"node":"Wait_Msg","type":"main","index":0}]]},"Jogos do dia":{"ai_tool":[[{"node":"Agente de IA","type":"ai_tool","index":0}]]},"Redis Chat Memory":{"ai_memory":[[{"node":"Agente de IA","type":"ai_memory","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"webhook.aiautomacao.dev.br","user-agent":"axios/1.12.2","content-length":"1405","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-forwarded-for":"172.18.0.1","x-forwarded-host":"webhook.aiautomacao.dev.br","x-forwarded-port":"443","x-forwarded-proto":"https","x-forwarded-server":"fbbda55e9a19","x-real-ip":"172.18.0.1"},"params":{},"query":{},"body":{"event":"messages.upsert","instance":"Suporte","data":{"key":{"remoteJid":"558591335752@s.whatsapp.net","remoteJidAlt":"202752856748199@lid","fromMe":false,"id":"3A5F58B8E7E4CC95A09C","participant":"","addressingMode":"pn"},"pushName":"Jefferson Fonseca","status":"DELIVERY_ACK","message":{"conversation":"Oie","messageContextInfo":{"deviceListMetadata":{"senderKeyIndexes":[],"recipientKeyIndexes":[],"senderKeyHash":{"0":60,"1":245,"2":57,"3":109,"4":6,"5":103,"6":165,"7":138,"8":95,"9":109},"senderTimestamp":{"low":1765024416,"high":0,"unsigned":true},"recipientKeyHash":{"0":93,"1":47,"2":150,"3":104,"4":81,"5":247,"6":175,"7":244,"8":171,"9":40},"recipientTimestamp":{"low":1764382535,"high":0,"unsigned":true}},"deviceListMetadataVersion":2,"messageSecret":{"0":193,"1":161,"2":26,"3":196,"4":9,"5":35,"6":237,"7":145,"8":212,"9":192,"10":87,"11":69,"12":30,"13":223,"14":248,"15":247,"16":167,"17":170,"18":55,"19":133,"20":237,"21":94,"22":74,"23":205,"24":42,"25":141,"26":212,"27":99,"28":217,"29":215,"30":213,"31":206}}},"messageType":"conversation","messageTimestamp":1765042415,"instanceId":"af682dfc-4de2-401c-9843-1943b422426f","source":"ios"},"destination":"https://webhook.aiautomacao.dev.br/webhook/IPTV","date_time":"2025-12-06T14:33:36.013Z","sender":"558591832196@s.whatsapp.net","server_url":"https://evolution.aiautomacao.dev.br","apikey":"1984C35FD59A-4C97-B4CA-3F2922F337CB"},"webhookUrl":"https://webhook.aiautomacao.dev.br/webhook/IPTV","executionMode":"production"}}]},"versionId":"a08b8a55-9bf2-4ad6-af13-6381d619838f","triggerCount":1,"shared":[{"createdAt":"2025-12-03T17:02:13.245Z","updatedAt":"2025-12-03T17:02:13.245Z","role":"workflow:owner","workflowId":"4c9z3HIV6FUzDgWt","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[]}