trocar-motorista---ndd-move-7agIrM7dSJ1n2yd8.json
{"createdAt":"2025-08-17T01:52:45.568Z","updatedAt":"2025-11-22T15:58:12.475Z","id":"7agIrM7dSJ1n2yd8","name":"Trocar Motorista - NDD Move","active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1472,208],"id":"70d706c6-ed4a-4a62-ac04-d4b95c7bf649","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://icomprova.nddcargo.com.br:9051/connect/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"bcd1af7f7df14bb08d36f8f622a1f9c2"},{"name":"client_secret","value":"3+CVOm8Z+sR6cN2/SS+yuRdUtWz7RZRrvseDt7rTeic="}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1072,208],"id":"6a49bdf6-c1a4-4574-a21e-2dcb654d62dc","name":"ObterToken"},{"parameters":{"assignments":{"assignments":[{"id":"fb5820e0-05a0-4103-9a97-8d02318385ae","name":"Remessa","value":"OTMPRD.5190959","type":"string"},{"id":"f8f0d4dc-2346-4ffa-9817-9c369f6bd352","name":"URL","value":"https://icomprova.nddcargo.com.br:9003","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1248,208],"id":"a67ffb62-10d9-4020-a2a4-711cf8329b66","name":"Remessas"},{"parameters":{"url":"={{ $('Remessas').item.json.URL }}/api/Viagem/numero/{{ $('Remessas').item.json.Remessa }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$node[\"ObterToken\"].json.access_token}}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-848,208],"id":"894a7ff3-10e1-4d8c-aec7-9b7c13ee5061","name":"HTTP Request"},{"parameters":{"fieldToSplitOut":"documentos","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-624,208],"id":"f297b74a-9063-4e1d-84c4-36a2f776c63e","name":"Split Out"},{"parameters":{"assignments":{"assignments":[{"id":"bf66da07-f00f-4be6-9211-1153f573a56b","name":"fotoCanhoto","value":"={{ $json.fotoCanhoto }}","type":"string"},{"id":"29132bc8-a4b8-48c9-afc6-558a5bbff89a","name":"numeroDocumento","value":"={{ $json.numeroDocumento }}","type":"string"},{"id":"66ad37cb-a41c-424d-bb4d-0af171876b04","name":"dataHoraConfirmacao","value":"={{ $json.dataHoraConfirmacao }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,208],"id":"8ac50f09-05c7-4af9-8723-a669d84cbaab","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-144,208],"id":"73d100f7-622f-46df-94d2-296341cef583","name":"Loop Over Items"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o","mode":"list","cachedResultName":"GPT-4O"},"text":"=Analise a imagem de um canhoto de nota fiscal e retorne estritamente um objeto JSON. Siga estas regras com atenção:\n\n1.  **data_entrega**: Procure especificamente pelo campo \"Data de Recebimento\".\n    * Se encontrar a data neste campo, retorne no formato \"DD/MM/YYYY\".\n    * Se o campo \"Data de Recebimento\" não existir na imagem ou estiver em branco/ilegível, retorne o valor \"Não informado\".\n    * NÃO use a \"Data de Emissão\" como data de entrega.\n\n2.  **tem_assinatura**: Procure por uma assinatura no campo \"IDENTIFICAÇÃO E ASSINATURA DO RECEBEDOR\".\n    * Se houver qualquer escrita manual ou rabisco claro, retorne \"Sim\".\n    * Se o campo estiver totalmente em branco, retorne \"Não\".\n    * Se o campo estiver diferente de um canhoto, retorne \"Análise Manual\".\n  \n\n3.  **comentario_ia**: Forneça um breve diagnóstico da imagem.\n    * Mencione se a assinatura está clara.\n    * Mencione se a data de recebimento foi encontrada ou se o campo estava ausente/cortado na foto.\n    * Mencione se a imagem parece estar de cabeça para baixo ou de lado.","inputType":"base64","options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[416,224],"id":"10df780a-6f05-4073-9435-40625a06567c","name":"Transcreve Imagem","credentials":{"openAiApi":{"id":"4sjzZXZce2WTB5CT","name":"IPTV"}}},{"parameters":{"jsCode":"const item = $input.item;\n\n// Acessa os dados binários do arquivo no campo 'data'\nconst binaryData = item.binary.data;\n\n// Verifica se os dados binários existem e define o Mime Type correto\nif (binaryData) {\n  binaryData.mimeType = 'image/jpeg';\n}\n\n// Retorna o item com o arquivo corrigido\nreturn item;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,224],"id":"e7216a15-cbbf-4500-8d1f-03fd36d3f198","name":"Code"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1k2nZNS_JiPMS4rU-CSnpYRL7rpOqVtXwB9kq2I5S4-s","mode":"list","cachedResultName":"NDD MOVE","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k2nZNS_JiPMS4rU-CSnpYRL7rpOqVtXwB9kq2I5S4-s/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1k2nZNS_JiPMS4rU-CSnpYRL7rpOqVtXwB9kq2I5S4-s/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"Foto":"={{ $('Code').item.json.fotoCanhoto }}","Documento":"={{ $('Code').item.json.numeroDocumento }}","Data":"={{ $('Code').item.json.dataHoraConfirmacao }}","Data de Entrega na NF":"={{ $json.ia_data.data_entrega }}","Tem Assinatura?":"={{ $json.ia_data.tem_assinatura }}","Comentario da IA":"={{ $json.ia_data.comentario_ia }}"},"matchingColumns":[],"schema":[{"id":"Documento","displayName":"Documento","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Foto","displayName":"Foto","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Data","displayName":"Data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Comentario da IA","displayName":"Comentario da IA","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Data de Entrega na NF","displayName":"Data de Entrega na NF","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Tem Assinatura?","displayName":"Tem Assinatura?","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[816,224],"id":"9c0a5082-3db6-4402-aa0b-aa8345460afa","name":"Append row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"lqXXL8rsQ0nn5Z2r","name":"Google Sheets account"}}},{"parameters":{"assignments":{"assignments":[{"id":"1cba9fba-2a42-4db1-8067-4e2ac5ac0da2","name":"ia_data","value":"={{ JSON.parse($json.content.match(/{.*}/s)[0]) }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[624,224],"id":"ac3b2a2e-348a-44a3-b5ff-0206e8226352","name":"Edit Fields1"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[0,48],"id":"ed0efa6b-b42e-4a0a-927b-d4fb49bfe852","name":"No Operation"},{"parameters":{"httpMethod":"POST","path":"trocar-motorista","responseMode":"responseNode","options":{}},"id":"a2563de6-6a05-4d42-8b07-af86b6a89922","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1248,928],"webhookId":"trocar-motorista"},{"parameters":{"method":"POST","url":"https://icomprova.nddcargo.com.br:9051/connect/token","sendBody":true,"contentType":"form-urlencoded","bodyParameters":{"parameters":[{"name":"grant_type","value":"client_credentials"},{"name":"client_id","value":"bcd1af7f7df14bb08d36f8f622a1f9c2"},{"name":"client_secret","value":"3+CVOm8Z+sR6cN2/SS+yuRdUtWz7RZRrvseDt7rTeic="}]},"options":{}},"id":"1b9d7a0d-4f80-4e3a-bb60-25956dd495dd","name":"Obter Token","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-848,928]},{"parameters":{"method":"POST","url":"https://icomprova.nddcargo.com.br:9003/api/Recepcoes/TrocarMotorista","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $node[\"Obter Token\"].json[\"access_token\"] }}"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"cpf","value":"={{ $('Edit Fields2').item.json.body.cpf }}"},{"name":"nomeMotorista","value":"={{ $('Edit Fields2').item.json.body.nomeMotorista }}"},{"name":"placaVeiculo","value":"={{ $('Edit Fields2').item.json.body.placaVeiculo }}"},{"name":"viagemId","value":"={{ $json.viagemId }}"}]},"options":{"response":{"response":{"responseFormat":"text"}}}},"id":"a1a4fc3b-94d4-4b66-a9dc-945c963f5fda","name":"Trocar Motorista API","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-512,928]},{"parameters":{"conditions":{"number":[{"value1":"={{ $json.statusCode }}","operation":"equal","value2":200}]},"options":{}},"id":"400b9e23-5562-4d51-be22-ae29a03c542b","name":"Verificar Sucesso","type":"n8n-nodes-base.if","typeVersion":2,"position":[-288,928]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({\n  success: true,\n  message: \"Troca de motorista realizada com sucesso!\",\n  data: $node['Trocar Motorista API'].json\n}) }}","options":{}},"id":"d52299dc-ffcf-4504-b2fd-ba5e79add5b6","name":"Resposta Sucesso","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-64,816]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({\n  success: false,\n  message: \"Erro ao realizar troca de motorista\",\n  error: $node['Trocar Motorista API'].json.message || $node['Trocar Motorista API'].json\n}) }}","options":{}},"id":"937918f6-84e5-4357-8825-d7a2a4852e7f","name":"Resposta Erro","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-64,1024]},{"parameters":{"url":"={{ $('Edit Fields2').item.json.URL }}/api/Viagem/numero/{{ $('Edit Fields2').item.json.body.remessa }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{ $json.access_token }}"},{"name":"Content-Type","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-688,928],"id":"04151673-b357-465f-852e-ffb674c2b2fe","name":"HTTP Request1"},{"parameters":{"assignments":{"assignments":[{"id":"e95391b5-1247-4138-8ef3-6640ffbe283f","name":"body.remessa","value":"={{ $json.body.remessa }}","type":"string"},{"id":"76b4d3ae-dc77-4295-8d8b-82d385cf5573","name":"body.cpf","value":"={{ $json.body.cpf }}","type":"string"},{"id":"45c1effc-436f-4d2b-9043-57f26659977b","name":"body.nomeMotorista","value":"={{ $json.body.nomeMotorista }}","type":"string"},{"id":"4fb1a82e-0969-4b88-bc5a-a63b33bc84db","name":"body.placaVeiculo","value":"={{ $json.body.placaVeiculo }}","type":"string"},{"id":"af3badb3-6be7-4f43-9fcd-80571a770e66","name":"URL","value":"https://icomprova.nddcargo.com.br:9003","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1040,928],"id":"8b9ebd9f-004b-431c-ba1b-0bf1dc9db6c6","name":"Edit Fields2"},{"parameters":{"respondWith":"text","responseBody":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>NDD Move - Troca de Motorista</title>\n    <style>\n        * {\n            margin: 0;\n            padding: 0;\n            box-sizing: border-box;\n        }\n\n        body {\n            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            min-height: 100vh;\n            display: flex;\n            justify-content: center;\n            align-items: center;\n            padding: 20px;\n        }\n\n        .container {\n            background: white;\n            border-radius: 20px;\n            box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);\n            padding: 40px;\n            max-width: 500px;\n            width: 100%;\n        }\n\n        .header {\n            text-align: center;\n            margin-bottom: 30px;\n        }\n\n        .header h1 {\n            color: #333;\n            font-size: 28px;\n            margin-bottom: 10px;\n        }\n\n        .header p {\n            color: #666;\n            font-size: 14px;\n        }\n\n        .form-group {\n            margin-bottom: 20px;\n        }\n\n        .form-group label {\n            display: block;\n            margin-bottom: 8px;\n            color: #333;\n            font-weight: 600;\n            font-size: 14px;\n        }\n\n        .form-group input {\n            width: 100%;\n            padding: 12px 15px;\n            border: 2px solid #e0e0e0;\n            border-radius: 10px;\n            font-size: 14px;\n            transition: all 0.3s ease;\n        }\n\n        .form-group input:focus {\n            outline: none;\n            border-color: #667eea;\n            box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);\n        }\n\n        .btn {\n            width: 100%;\n            padding: 15px;\n            background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);\n            color: white;\n            border: none;\n            border-radius: 10px;\n            font-size: 16px;\n            font-weight: 600;\n            cursor: pointer;\n            transition: transform 0.2s ease, box-shadow 0.2s ease;\n            margin-top: 10px;\n        }\n\n        .btn:hover {\n            transform: translateY(-2px);\n            box-shadow: 0 10px 20px rgba(102, 126, 234, 0.3);\n        }\n\n        .btn:active {\n            transform: translateY(0);\n        }\n\n        .btn:disabled {\n            opacity: 0.6;\n            cursor: not-allowed;\n            transform: none;\n        }\n\n        .alert {\n            padding: 15px;\n            border-radius: 10px;\n            margin-bottom: 20px;\n            display: none;\n            animation: slideIn 0.3s ease;\n        }\n\n        @keyframes slideIn {\n            from {\n                opacity: 0;\n                transform: translateY(-10px);\n            }\n            to {\n                opacity: 1;\n                transform: translateY(0);\n            }\n        }\n\n        .alert.success {\n            background-color: #d4edda;\n            color: #155724;\n            border: 1px solid #c3e6cb;\n        }\n\n        .alert.error {\n            background-color: #f8d7da;\n            color: #721c24;\n            border: 1px solid #f5c6cb;\n        }\n\n        .alert.info {\n            background-color: #d1ecf1;\n            color: #0c5460;\n            border: 1px solid #bee5eb;\n        }\n\n        .loading {\n            display: none;\n            text-align: center;\n            margin: 20px 0;\n        }\n\n        .loading .spinner {\n            border: 4px solid #f3f3f3;\n            border-top: 4px solid #667eea;\n            border-radius: 50%;\n            width: 40px;\n            height: 40px;\n            animation: spin 1s linear infinite;\n            margin: 0 auto;\n        }\n\n        @keyframes spin {\n            0% { transform: rotate(0deg); }\n            100% { transform: rotate(360deg); }\n        }\n\n        .info-box {\n            background-color: #f8f9fa;\n            border-left: 4px solid #667eea;\n            padding: 15px;\n            border-radius: 5px;\n            margin-bottom: 20px;\n            font-size: 13px;\n            color: #555;\n        }\n    </style>\n</head>\n<body>\n    <div class=\"container\">\n        <div class=\"header\">\n            <h1>🚚 Troca de Motorista</h1>\n            <p>Sistema NDD Move</p>\n        </div>\n\n        <div class=\"info-box\">\n            ℹ️ <strong>Importante:</strong> Somente é possível trocar motorista em viagens não finalizadas. Informe o número da remessa (ex: OTMPRD.5178427).\n        </div>\n\n        <div id=\"alert\" class=\"alert\"></div>\n\n        <form id=\"trocaMotoristaForm\">\n            <div class=\"form-group\">\n                <label for=\"remessa\">Número da Remessa *</label>\n                <input\n                    type=\"text\"\n                    id=\"remessa\"\n                    name=\"remessa\"\n                    placeholder=\"Ex: OTMPRD.5178427\"\n                    required\n                >\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"cpf\">CPF do Novo Motorista *</label>\n                <input\n                    type=\"text\"\n                    id=\"cpf\"\n                    name=\"cpf\"\n                    placeholder=\"Ex: 12345678900\"\n                    maxlength=\"11\"\n                    required\n                >\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"nomeMotorista\">Nome do Novo Motorista *</label>\n                <input\n                    type=\"text\"\n                    id=\"nomeMotorista\"\n                    name=\"nomeMotorista\"\n                    placeholder=\"Ex: João da Silva\"\n                    required\n                >\n            </div>\n\n            <div class=\"form-group\">\n                <label for=\"placaVeiculo\">Placa do Veículo *</label>\n                <input\n                    type=\"text\"\n                    id=\"placaVeiculo\"\n                    name=\"placaVeiculo\"\n                    placeholder=\"Ex: ABC1234 ou ABC1D23\"\n                    maxlength=\"7\"\n                    required\n                >\n            </div>\n\n            <button type=\"submit\" class=\"btn\" id=\"submitBtn\">\n                Realizar Troca de Motorista\n            </button>\n        </form>\n\n        <div class=\"loading\" id=\"loading\">\n            <div class=\"spinner\"></div>\n            <p style=\"margin-top: 10px; color: #666;\">Processando...</p>\n        </div>\n    </div>\n\n    <script>\n        // Configuração da URL do webhook do n8n\n        const WEBHOOK_URL = 'https://webhook.aiautomacao.dev.br/webhook/trocar-motorista';\n\n        const form = document.getElementById('trocaMotoristaForm');\n        const alertBox = document.getElementById('alert');\n        const submitBtn = document.getElementById('submitBtn');\n        const loading = document.getElementById('loading');\n\n        // Máscaras para CPF e Placa\n        document.getElementById('cpf').addEventListener('input', function(e) {\n            e.target.value = e.target.value.replace(/\\D/g, '');\n        });\n\n        document.getElementById('placaVeiculo').addEventListener('input', function(e) {\n            e.target.value = e.target.value.replace(/[^a-zA-Z0-9]/g, '').toUpperCase();\n        });\n\n        // Função para mostrar alerta\n        function showAlert(message, type) {\n            alertBox.textContent = message;\n            alertBox.className = `alert ${type}`;\n            alertBox.style.display = 'block';\n\n            setTimeout(() => {\n                alertBox.style.display = 'none';\n            }, 5000);\n        }\n\n        // Validação do CPF\n        function validarCPF(cpf) {\n            cpf = cpf.replace(/\\D/g, '');\n            if (cpf.length !== 11) return false;\n\n            // Verifica se todos os dígitos são iguais\n            if (/^(\\d)\\1{10}$/.test(cpf)) return false;\n\n            return true;\n        }\n\n        // Submissão do formulário\n        form.addEventListener('submit', async function(e) {\n            e.preventDefault();\n\n            const formData = {\n                remessa: document.getElementById('remessa').value.trim(),\n                cpf: document.getElementById('cpf').value.trim(),\n                nomeMotorista: document.getElementById('nomeMotorista').value.trim(),\n                placaVeiculo: document.getElementById('placaVeiculo').value.trim().toUpperCase()\n            };\n\n            // Validações\n            if (!formData.remessa) {\n                showAlert('❌ Número da remessa é obrigatório.', 'error');\n                return;\n            }\n\n            if (!validarCPF(formData.cpf)) {\n                showAlert('❌ CPF inválido. Digite apenas 11 números.', 'error');\n                return;\n            }\n\n            if (formData.placaVeiculo.length < 7) {\n                showAlert('❌ Placa inválida. Digite 7 caracteres.', 'error');\n                return;\n            }\n\n            // Mostrar loading\n            submitBtn.disabled = true;\n            loading.style.display = 'block';\n\n            try {\n                const response = await fetch(WEBHOOK_URL, {\n                    method: 'POST',\n                    headers: {\n                        'Content-Type': 'application/json',\n                    },\n                    body: JSON.stringify(formData)\n                });\n\n                const result = await response.json();\n\n                if (response.ok) {\n                    showAlert('✅ Troca de motorista realizada com sucesso!', 'success');\n                    form.reset();\n                } else {\n                    showAlert(`❌ Erro: ${result.message || 'Não foi possível realizar a troca.'}`, 'error');\n                }\n            } catch (error) {\n                showAlert('❌ Erro de conexão. Verifique sua internet e tente novamente.', 'error');\n                console.error('Erro:', error);\n            } finally {\n                submitBtn.disabled = false;\n                loading.style.display = 'none';\n            }\n        });\n    </script>\n</body>\n</html>\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-736,1200],"id":"a20ac83e-d15b-4d47-a600-a353b75f849f","name":"Respond to Webhook"},{"parameters":{"path":"troca-motorista-move","responseMode":"responseNode","options":{}},"id":"260371c4-62f7-4c97-af2f-7343f6fe70aa","name":"Troca_de_Motorista","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-976,1200],"webhookId":"listar-viagens"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Remessas","type":"main","index":0}]]},"ObterToken":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"Remessas":{"main":[[{"node":"ObterToken","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"No Operation","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"Transcreve Imagem":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Code":{"main":[[{"node":"Transcreve Imagem","type":"main","index":0}]]},"Append row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Append row in sheet","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Obter Token":{"main":[[{"node":"HTTP Request1","type":"main","index":0}]]},"Trocar Motorista API":{"main":[[{"node":"Verificar Sucesso","type":"main","index":0}]]},"Verificar Sucesso":{"main":[[{"node":"Resposta Sucesso","type":"main","index":0}],[{"node":"Resposta Erro","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Obter Token","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Trocar Motorista API","type":"main","index":0}]]},"Troca_de_Motorista":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When clicking ‘Execute workflow’":[{"json":{}}]},"versionId":"0aae7a85-4cc9-4876-b936-e6185d3bd4f6","triggerCount":2,"shared":[{"createdAt":"2025-08-17T01:52:45.568Z","updatedAt":"2025-08-17T01:52:45.568Z","role":"workflow:owner","workflowId":"7agIrM7dSJ1n2yd8","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[{"createdAt":"2025-11-22T15:37:30.214Z","updatedAt":"2025-11-22T15:37:30.214Z","id":"JXYH1iBSAbQFrD0o","name":"NDD Move"}]}