webhooks-urna-eletrônica-ZW5FwwHsYyMvpGcv.json
{"createdAt":"2025-12-13T17:44:43.755Z","updatedAt":"2025-12-14T01:33:58.785Z","id":"ZW5FwwHsYyMvpGcv","name":"Webhooks Urna Eletrônica","active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"eleicao_cadastro","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[1248,-1120],"id":"5a5be22a-95e6-4bd6-8f68-fec78b578b61","name":"Eleicao_cadastro","webhookId":"45577ba6-ba1c-4a90-9d51-a127543821e5"},{"parameters":{"respondWith":"text","responseBody":"<!DOCTYPE html>\n<html lang=\"en\"><head>\n<meta charset=\"utf-8\"/>\n<meta content=\"width=device-width, initial-scale=1.0\" name=\"viewport\"/>\n<title>Member Registration - PIB Estrela</title>\n<script src=\"https://cdn.tailwindcss.com?plugins=forms,typography\"></script>\n<link href=\"https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&amp;display=swap\" rel=\"stylesheet\"/>\n<link href=\"https://fonts.googleapis.com/icon?family=Material+Icons\" rel=\"stylesheet\"/>\n<script>\n      tailwind.config = {\n        darkMode: \"class\",\n        theme: {\n          extend: {\n            colors: {\n              primary: \"#312E81\", // Indigo-900 based on the dark blue logo text\n              secondary: \"#4F46E5\", // Lighter indigo for accents\n              \"background-light\": \"#F3F4F6\", // Gray-100\n              \"background-dark\": \"#111827\", // Gray-900\n              \"surface-light\": \"#FFFFFF\",\n              \"surface-dark\": \"#1F2937\", // Gray-800\n              \"text-light\": \"#1F2937\",\n              \"text-dark\": \"#F9FAFB\",\n            },\n            fontFamily: {\n              sans: [\"Inter\", \"sans-serif\"],\n            },\n            borderRadius: {\n              DEFAULT: \"12px\",\n            },\n          },\n        },\n      };\n    </script>\n<style>\n    body {\n      min-height: max(884px, 100dvh);\n    }\n  </style>\n  </head>\n<body class=\"bg-background-light dark:bg-background-dark font-sans text-text-light dark:text-text-dark antialiased transition-colors duration-200 min-h-screen flex flex-col items-center\">\n<div class=\"w-full max-w-md bg-background-light dark:bg-background-dark min-h-screen flex flex-col relative\">\n<header class=\"pt-12 pb-6 px-6 flex flex-col items-center justify-center bg-surface-light dark:bg-surface-dark shadow-sm rounded-b-[2rem] z-10 relative\">\n<div class=\"w-48 mb-4\">\n<img alt=\"PIB Estrela Logo\" class=\"w-full h-auto object-contain hidden\" src=\"https://lh3.googleusercontent.com/aida-public/AB6AXuDuZact08wXKOAbhfZkfTmpIOWSLm26CsdIdwQyMnARAOYgJC0Agv2pVc2bC8woxujxop-VRIBVHNMlbsdzywsfTnvVq0SP3Qj1lwOjD_XjhHz1MNX8qwebTR1G9MfoZW-B0lGer7wFshijntOlZO3LPhn55EkCeDUqmyOyDOIqb42ngFe9U-2tDTNDQFUb32s2KvqlXK9TO7mEKdcHOBD7riYgwYwro3r3b9ioQF0shSSn9I2zZL3WbJGTZhouM9LqKpIP96ACcAQ\"/> \n<img alt=\"PIB Estrela Logo\" class=\"w-full h-auto object-contain drop-shadow-md\" src=\"https://lh3.googleusercontent.com/aida-public/AB6AXuCUNT47Y3zpvIIP-ufanX80AgyxTNuY4NvJQGX7jciU1dTTsraa84CLz71H104aS33WXUx2vm0Xpikr64Q7eHmhO6YpwW00gDB2gbeuwCM3ve09g4vM8Zb9TnKCEm_vgsKXQ_9Pkm2qhMsF_R3CE6DHcusx2SY_UobYiDsl0nTojTQtbJ-ItuipibADPSj0cCbeJ2X21153qmyRgBjHVfWtUAKb7KWprYaaRubjKi18vy4emIVpStB8pjUYQBoH1NzlQaAKySLhsIM\"/>\n</div>\n<h1 class=\"text-xl font-bold text-primary dark:text-white mt-2\">Cadastro de Membros</h1>\n<p class=\"text-sm text-gray-500 dark:text-gray-400 mt-1\">Primeira Igreja Batista em Alto Estrela</p>\n</header>\n<main class=\"flex-1 px-6 py-8 overflow-y-auto space-y-6\">\n<div class=\"flex flex-col items-center space-y-3\">\n<div class=\"relative group\">\n<div class=\"w-32 h-32 rounded-full bg-gray-200 dark:bg-gray-700 flex items-center justify-center border-4 border-white dark:border-gray-800 shadow-lg overflow-hidden relative\">\n<span class=\"material-icons text-5xl text-gray-400 dark:text-gray-500\" id=\"personIcon\">person</span>\n<img alt=\"Preview\" class=\"absolute inset-0 w-full h-full object-cover hidden\" id=\"preview\"/>\n</div>\n<input type=\"file\" id=\"photoInput\" accept=\"image/*\" capture=\"environment\" class=\"hidden\"/>\n<button id=\"photoBtn\" aria-label=\"Upload Photo\" class=\"absolute bottom-0 right-0 bg-primary text-white p-2 rounded-full shadow-lg hover:bg-opacity-90 transition-transform transform active:scale-95 flex items-center justify-center\">\n<span class=\"material-icons text-xl\">camera_alt</span>\n</button>\n</div>\n<p class=\"text-sm font-medium text-gray-600 dark:text-gray-400\">Adicionar foto do membro</p>\n</div>\n<form class=\"space-y-5\">\n<div>\n<label class=\"block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1 ml-1\" for=\"name\">Nome Completo</label>\n<div class=\"relative\">\n<div class=\"absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none\">\n<span class=\"material-icons text-gray-400 text-lg\">badge</span>\n</div>\n<input class=\"block w-full pl-10 pr-3 py-3 rounded-DEFAULT border-gray-300 dark:border-gray-600 bg-surface-light dark:bg-surface-dark text-gray-900 dark:text-white shadow-sm focus:border-primary focus:ring-primary sm:text-sm transition-colors\" id=\"name\" name=\"name\" placeholder=\"Ex: João da Silva\" type=\"text\"/>\n</div>\n</div>\n<div>\n<label class=\"block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1 ml-1\" for=\"cpf\">CPF</label>\n<div class=\"relative\">\n<div class=\"absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none\">\n<span class=\"material-icons text-gray-400 text-lg\">fingerprint</span>\n</div>\n<input class=\"block w-full pl-10 pr-3 py-3 rounded-DEFAULT border-gray-300 dark:border-gray-600 bg-surface-light dark:bg-surface-dark text-gray-900 dark:text-white shadow-sm focus:border-primary focus:ring-primary sm:text-sm transition-colors\" id=\"cpf\" name=\"cpf\" placeholder=\"000.000.000-00\" type=\"text\"/>\n</div>\n</div>\n<div>\n<label class=\"block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1 ml-1\" for=\"phone\">Telefone / WhatsApp</label>\n<div class=\"relative\">\n<div class=\"absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none\">\n<span class=\"material-icons text-gray-400 text-lg\">phone</span>\n</div>\n<input class=\"block w-full pl-10 pr-3 py-3 rounded-DEFAULT border-gray-300 dark:border-gray-600 bg-surface-light dark:bg-surface-dark text-gray-900 dark:text-white shadow-sm focus:border-primary focus:ring-primary sm:text-sm transition-colors\" id=\"phone\" name=\"phone\" placeholder=\"(00) 00000-0000\" type=\"tel\"/>\n</div>\n</div>\n<div>\n<label class=\"block text-sm font-medium text-gray-700 dark:text-gray-300 mb-1 ml-1\" for=\"dob\">Data de Nascimento</label>\n<div class=\"relative\">\n<div class=\"absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none\">\n<span class=\"material-icons text-gray-400 text-lg\">calendar_today</span>\n</div>\n<input class=\"block w-full pl-10 pr-3 py-3 rounded-DEFAULT border-gray-300 dark:border-gray-600 bg-surface-light dark:bg-surface-dark text-gray-900 dark:text-white shadow-sm focus:border-primary focus:ring-primary sm:text-sm transition-colors\" id=\"dob\" name=\"dob\" type=\"date\"/>\n</div>\n</div>\n</form>\n</main>\n<div class=\"p-6 bg-background-light dark:bg-background-dark sticky bottom-0 z-20 pb-8\">\n<button id=\"submitBtn\" class=\"w-full flex justify-center py-3.5 px-4 border border-transparent rounded-DEFAULT shadow-lg text-sm font-semibold text-white bg-primary hover:bg-indigo-900 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary transition-all active:scale-[0.98] disabled:opacity-50 disabled:cursor-not-allowed\" type=\"button\">\n                Cadastrar Membro\n            </button>\n</div>\n</div>\n<div class=\"fixed top-0 left-0 w-full h-64 bg-gradient-to-b from-primary/10 to-transparent dark:from-primary/20 -z-10 pointer-events-none\"></div>\n\n<script>\n    // Funcionalidade do botão de foto\n    const photoBtn = document.getElementById('photoBtn');\n    const photoInput = document.getElementById('photoInput');\n    const preview = document.getElementById('preview');\n    const personIcon = document.getElementById('personIcon');\n\n    photoBtn.addEventListener('click', function(e) {\n        e.preventDefault();\n        photoInput.click();\n    });\n\n    photoInput.addEventListener('change', function(e) {\n        const file = e.target.files[0];\n        if (file) {\n            const reader = new FileReader();\n            reader.onload = function(event) {\n                preview.src = event.target.result;\n                preview.classList.remove('hidden');\n                personIcon.classList.add('hidden');\n            };\n            reader.readAsDataURL(file);\n        }\n    });\n\n    // Funcionalidade do botão de cadastro\n    document.getElementById('submitBtn').addEventListener('click', async function() {\n        const button = this;\n        const originalText = button.textContent;\n\n        // Coletar dados do formulário\n        const formData = {\n            nome: document.getElementById('name').value,\n            cpf: document.getElementById('cpf').value,\n            telefone: document.getElementById('phone').value,\n            dataNascimento: document.getElementById('dob').value,\n            foto: document.getElementById('preview').src || null\n        };\n\n        // Validação básica\n        if (!formData.nome || !formData.cpf || !formData.telefone || !formData.dataNascimento) {\n            alert('Por favor, preencha todos os campos obrigatórios.');\n            return;\n        }\n\n        // Desabilitar botão e mostrar loading\n        button.disabled = true;\n        button.textContent = 'Enviando...';\n\n        try {\n            const response = await fetch('https://webhook.aiautomacao.dev.br/webhook/eleicao_cadastro', {\n                method: 'POST',\n                headers: {\n                    'Content-Type': 'application/json',\n                },\n                body: JSON.stringify(formData)\n            });\n\n            if (response.ok) {\n                alert('Membro cadastrado com sucesso!');\n                // Limpar formulário\n                document.getElementById('name').value = '';\n                document.getElementById('cpf').value = '';\n                document.getElementById('phone').value = '';\n                document.getElementById('dob').value = '';\n                photoInput.value = '';\n                preview.classList.add('hidden');\n                personIcon.classList.remove('hidden');\n            } else {\n                throw new Error('Erro ao cadastrar membro');\n            }\n        } catch (error) {\n            console.error('Erro:', error);\n            alert('Erro ao cadastrar membro. Por favor, tente novamente.');\n        } finally {\n            // Reabilitar botão\n            button.disabled = false;\n            button.textContent = originalText;\n        }\n    });\n</script>\n\n</body></html>","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-176,-320],"id":"0cba3975-50f8-493e-bc7e-06cfd0136765","name":"Respond to Webhook"},{"parameters":{"path":"cadastro-membro","responseMode":"responseNode","options":{}},"id":"b570179c-745f-4f2b-a45a-a45f9f113c3e","name":"Site_Cadastro_Membro","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-416,-320],"webhookId":"listar-viagens"},{"parameters":{"tableId":"membros_eleicao","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $json.body.nome }}"},{"fieldId":"cpf","fieldValue":"={{ $json.body.cpf }}"},{"fieldId":"telefone","fieldValue":"={{ $json.body.telefone }}"},{"fieldId":"foto","fieldValue":"={{ $json.body.foto }}"},{"fieldId":"data_nascimento","fieldValue":"={{ $json.body.dataNascimento }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1456,-1120],"id":"b17b0651-39c8-4783-9d02-eceb6e56d2ea","name":"Create a row","credentials":{"supabaseApi":{"id":"HRxRtD9xvEXauaqU","name":"Oficial"}}},{"parameters":{"respondWith":"json","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1664,-1120],"id":"f938e253-891d-4c55-bcb4-ff170c14337f","name":"Respond to Webhook1"},{"parameters":{"httpMethod":"POST","path":"criar_cargo","responseMode":"responseNode","options":{}},"id":"1cfdef38-1dd3-4c11-959a-40edee98aa5b","name":"Webhook Criar Cargo","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[1248,-896],"webhookId":"e754579f-c6d5-4cab-ae4c-6f9ef1ec2a1e"},{"parameters":{"tableId":"cargos_eleicao","fieldsUi":{"fieldValues":[{"fieldId":"nome","fieldValue":"={{ $json.body.nome }}"},{"fieldId":"descricao","fieldValue":"={{ $json.body.descricao }}"},{"fieldId":"ordem","fieldValue":"={{ $json.body.ordem }}"}]}},"id":"ed2fe3c1-daf7-4e7c-941b-c4f03e2d2386","name":"Supabase Criar Cargo","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1472,-896],"credentials":{"supabaseApi":{"id":"HRxRtD9xvEXauaqU","name":"Oficial"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"message\": \"Cargo cadastrado com sucesso\" } }}","options":{}},"id":"01ea05b7-d851-4e5a-b3d8-ae5d6eca8432","name":"Respond Criar Cargo","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1696,-896]},{"parameters":{"path":"listar_cargos","responseMode":"responseNode","options":{}},"id":"65e7ba0a-4501-480b-b3cb-25c1529c9f97","name":"Webhook Listar Cargos","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[1248,-704],"webhookId":"7ac6b57e-ade9-4aa3-a40f-58e042c1b67a"},{"parameters":{"operation":"getAll","tableId":"cargos_eleicao","returnAll":true},"id":"d17667ca-9edb-4a38-a728-f038df659aff","name":"Supabase Listar Cargos","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1472,-704],"credentials":{"supabaseApi":{"id":"HRxRtD9xvEXauaqU","name":"Oficial"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $input.all().map(i => i.json) }}","options":{}},"id":"11ff08f5-a084-44f5-b163-6713991f7646","name":"Respond Listar Cargos","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1696,-704]},{"parameters":{"path":"listar_membros","responseMode":"responseNode","options":{}},"id":"ea94c972-c00f-4578-ab2f-5124be927233","name":"Webhook Listar Membros","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[1248,-528],"webhookId":"ac48e0f4-e4d1-4013-abea-b25f4e3e9215"},{"parameters":{"operation":"getAll","tableId":"membros_eleicao","returnAll":true},"id":"1f05bda0-d7ae-4849-bb71-e1ff324841f9","name":"Supabase Listar Membros","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1472,-528],"credentials":{"supabaseApi":{"id":"HRxRtD9xvEXauaqU","name":"Oficial"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $input.all().map(i => i.json) }}","options":{}},"id":"7020bc28-dd6e-4483-999d-53330fa8bad1","name":"Respond Listar Membros","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1696,-528]},{"parameters":{"httpMethod":"POST","path":"criar_candidato","responseMode":"responseNode","options":{}},"id":"6c250e36-1bd1-4557-baeb-ede3b9968a41","name":"Webhook Criar Candidato","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[1248,-352],"webhookId":"af2822a9-5ffe-4a14-96c6-9f78a2cd09d4"},{"parameters":{"operation":"get","tableId":"membros_eleicao","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.body.membro_id }}"}]}},"id":"253297c5-f16e-4eae-938d-0b5b2cd22fa6","name":"Supabase Buscar Foto","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1472,-352],"credentials":{"supabaseApi":{"id":"HRxRtD9xvEXauaqU","name":"Oficial"}}},{"parameters":{"tableId":"candidatos","fieldsUi":{"fieldValues":[{"fieldId":"membro_id","fieldValue":"={{ $json.id }}"},{"fieldId":"foto","fieldValue":"={{ $json.foto }}"},{"fieldId":"cargo_id","fieldValue":"={{ $('Webhook Criar Candidato').item.json.body.cargo_id }}"},{"fieldId":"numero","fieldValue":"={{ $('Webhook Criar Candidato').item.json.body.numero }}"}]}},"id":"4e343817-48dd-4849-be0c-5ae9303fed1b","name":"Supabase Criar Candidato","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1664,-352],"credentials":{"supabaseApi":{"id":"HRxRtD9xvEXauaqU","name":"Oficial"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"message\": \"Candidato cadastrado com sucesso\" } }}","options":{}},"id":"7057c6c4-8a3f-4a19-838c-72e784d58d3f","name":"Respond Criar Candidato","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1872,-352]},{"parameters":{"path":"listar_candidatos","responseMode":"responseNode","options":{}},"id":"52c4dba0-db7a-4f07-9796-9db055b56418","name":"Webhook Listar Candidatos","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[1248,-176],"webhookId":"e16bbc22-52ce-42dd-9fd7-2a17911bba2c"},{"parameters":{"operation":"getAll","tableId":"candidatos_completo","returnAll":true},"id":"9e46326b-a3b6-4ea8-b73e-db8ef755b967","name":"Supabase Listar Candidatos","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1472,-176],"credentials":{"supabaseApi":{"id":"HRxRtD9xvEXauaqU","name":"Oficial"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $input.all().map(i => i.json) }}","options":{}},"id":"5ede3a81-e6c2-4f0b-922c-18a1f00030e6","name":"Respond Listar Candidatos","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1696,-176]},{"parameters":{"path":"buscar_membro","responseMode":"responseNode","options":{}},"id":"7f04dd4e-dccc-4360-a3f8-fdd4c6a851d4","name":"Webhook Buscar Membro","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[1248,16],"webhookId":"d04ea848-fea3-4c22-aad8-cf0e9d0ef156"},{"parameters":{"operation":"getAll","tableId":"membros_eleicao","limit":1},"id":"a2180321-2a76-4a4d-8d62-3b33685ebc59","name":"Supabase Buscar por CPF","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1472,-48],"credentials":{"supabaseApi":{"id":"HRxRtD9xvEXauaqU","name":"Oficial"}}},{"parameters":{"operation":"getAll","tableId":"membros_eleicao","limit":1},"id":"92debcec-a621-4127-8171-4e05463d83ac","name":"Supabase Buscar por Nome","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1472,64],"credentials":{"supabaseApi":{"id":"HRxRtD9xvEXauaqU","name":"Oficial"}}},{"parameters":{"jsCode":"// Combinar resultados de CPF e Nome\nconst items = $input.all();\n\nif (items.length === 0) {\n  return [{ json: { error: 'Membro não encontrado' } }];\n}\n\n// Pegar o primeiro resultado encontrado\nreturn [items[0]];"},"id":"58c25bd2-e1a4-4859-ade6-397ba07603a3","name":"Combinar Resultados","type":"n8n-nodes-base.code","typeVersion":2,"position":[1696,16]},{"parameters":{"respondWith":"json","responseBody":"={{ $json }}","options":{}},"id":"c425987a-05ad-4545-81ae-141c46c9b8d1","name":"Respond Buscar Membro","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1920,16]},{"parameters":{"httpMethod":"POST","path":"liberar_votacao","responseMode":"responseNode","options":{}},"id":"866ca619-f6e6-47bb-af46-340ff4f5d79d","name":"Webhook Liberar Votação","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[1248,256],"webhookId":"919e3b12-3ca0-41d0-907e-bacb19352a56"},{"parameters":{"operation":"getAll","tableId":"sessoes_votacao","returnAll":true},"id":"6c97b379-2a7c-4e37-b653-6a27da57d549","name":"Supabase Verificar Voto","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1472,256],"credentials":{"supabaseApi":{"id":"HRxRtD9xvEXauaqU","name":"Oficial"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ja-votou","leftValue":"={{ $json.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"af926355-12c9-4942-8a84-9849dcea92c1","name":"IF Já Votou","type":"n8n-nodes-base.if","typeVersion":2,"position":[1696,256]},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": false, \"message\": \"Este membro já votou\" } }}","options":{"responseCode":400}},"id":"e4a6e63c-614f-4953-ae22-a890c410c4f4","name":"Respond Já Votou","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1920,176]},{"parameters":{"operation":"upsert"},"id":"42a8f708-5d16-45b9-9825-22879a321062","name":"Supabase Liberar Votação","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1920,336],"credentials":{"supabaseApi":{"id":"HRxRtD9xvEXauaqU","name":"Oficial"}}},{"parameters":{"respondWith":"json","responseBody":"={{ { \"success\": true, \"message\": \"Votação liberada com sucesso\" } }}","options":{}},"id":"d72988e2-fed4-49ee-a7dc-90bd5f7872ba","name":"Respond Liberado","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2128,336]},{"parameters":{"path":"listar_votacoes","responseMode":"responseNode","options":{}},"id":"6ed5a180-1a6e-46e6-8ed2-7d5009f5dbeb","name":"Webhook Listar Votações","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[1248,512],"webhookId":"f36053e7-0c34-40ab-b779-e0006d4e77ee"},{"parameters":{"operation":"getAll","tableId":"votacoes_completo","returnAll":true},"id":"68301a70-c13c-4b42-a3d5-6a142c5ac1a5","name":"Supabase Listar Votações","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1472,512],"credentials":{"supabaseApi":{"id":"HRxRtD9xvEXauaqU","name":"Oficial"}}},{"parameters":{"respondWith":"json","responseBody":"={{ $input.all().map(i => i.json) }}","options":{}},"id":"401d5c71-1228-4f0b-b31e-7387f9270002","name":"Respond Listar Votações","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1696,512]},{"parameters":{"path":"verificar_sessao","responseMode":"responseNode","options":{}},"id":"85b464c0-d809-4f88-92eb-13d649990e8a","name":"Webhook Verificar Sessão","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[2896,-64],"webhookId":"verificar-sessao-urna"},{"parameters":{"operation":"get","tableId":"sessoes_votacao","filters":{"conditions":[{"keyName":"membro_id","keyValue":"={{ $json.query.membro_id }}"}]}},"id":"25bd2f5f-b2b8-489a-bbd3-2d35c4ff873a","name":"Supabase - Buscar Sessão","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3120,-64],"credentials":{"supabaseApi":{"id":"HRxRtD9xvEXauaqU","name":"Oficial"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.votou }}"}]}},"id":"9e7074e6-7700-45fc-b28d-c7fead73af03","name":"IF - Pode Votar?","type":"n8n-nodes-base.if","typeVersion":1,"position":[3344,-64]},{"parameters":{"operation":"get","tableId":"membros_eleicao","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.membro_id }}"}]}},"id":"7d776187-c966-4ba9-929b-a74927556c8f","name":"Supabase - Buscar Membro","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3552,-160],"credentials":{"supabaseApi":{"id":"HRxRtD9xvEXauaqU","name":"Oficial"}}},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"pode_votar\": true,\n  \"sessao_id\": $('Supabase - Buscar Sessão').item.json.id,\n  \"nome_membro\": $('Supabase - Buscar Membro').item.json.nome,\n  \"foto_membro\": $('Supabase - Buscar Membro').item.json.foto\n} }}","options":{}},"id":"01f678e5-5ef0-4786-a616-178340505a6e","name":"Respond - Sessão Ativa","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3776,-160]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"pode_votar\": false,\n  \"message\": \"Você já votou ou não tem sessão ativa.\"\n} }}","options":{}},"id":"c6e71e2b-56e6-416a-8b45-217fcee977b8","name":"Respond - Não Pode Votar","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3552,48]},{"parameters":{"httpMethod":"POST","path":"registrar_voto","responseMode":"responseNode","options":{}},"id":"1c776e82-a836-484f-9a3b-6cc7ba8f8fa0","name":"Webhook Registrar Voto","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[2896,352],"webhookId":"registrar-voto-urna"},{"parameters":{"operation":"insert"},"id":"5662647e-2855-4cfa-91ad-f74a4db9345b","name":"Supabase - Inserir Voto","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3120,352],"credentials":{"supabaseApi":{"id":"HRxRtD9xvEXauaqU","name":"Oficial"}}},{"parameters":{"operation":"get","tableId":"votos","filters":{"conditions":[{"keyName":"sessao_id","keyValue":"={{ $json.body.sessao_id }}"}]}},"id":"1d034ee1-a1a3-45e5-994b-8cd1876ca023","name":"Supabase - Contar Votos","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3344,352],"credentials":{"supabaseApi":{"id":"HRxRtD9xvEXauaqU","name":"Oficial"}}},{"parameters":{"operation":"get","tableId":"cargos_eleicao","filters":{"conditions":[{"keyName":"ativo","keyValue":"true"}]}},"id":"a9209ad5-2389-48aa-9891-cb482da2bdef","name":"Supabase - Contar Cargos","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3552,352],"credentials":{"supabaseApi":{"id":"HRxRtD9xvEXauaqU","name":"Oficial"}}},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $('Supabase - Contar Votos').all().length >= $('Supabase - Contar Cargos').all().length }}","value2":true}]}},"id":"f183ec41-9434-4611-97e5-15da75835d56","name":"IF - Votação Completa?","type":"n8n-nodes-base.if","typeVersion":1,"position":[3776,352]},{"parameters":{"operation":"update","tableId":"sessoes_votacao"},"id":"eeabd817-7574-4176-94a5-e2662aeb71bb","name":"Supabase - Marcar como Votou","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[4000,240],"credentials":{"supabaseApi":{"id":"HRxRtD9xvEXauaqU","name":"Oficial"}}},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"success\": true,\n  \"message\": \"Voto registrado com sucesso!\",\n  \"votacao_completa\": true\n} }}","options":{}},"id":"4daf8452-a3de-4e34-aa78-95a603b3670b","name":"Respond - Votação Completa","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[4224,240]},{"parameters":{"respondWith":"json","responseBody":"={{ {\n  \"success\": true,\n  \"message\": \"Voto registrado! Continue votando.\",\n  \"votacao_completa\": false,\n  \"votos_registrados\": $('Supabase - Contar Votos').all().length,\n  \"total_cargos\": $('Supabase - Contar Cargos').all().length\n} }}","options":{}},"id":"93598f7b-1ad5-47a1-bb00-2d20678c3ae3","name":"Respond - Voto Parcial","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[4000,448]},{"parameters":{"respondWith":"text","responseBody":"<!DOCTYPE html>\n<html class=\"light\" lang=\"pt-BR\">\n<head>\n    <meta charset=\"utf-8\"/>\n    <meta content=\"width=device-width, initial-scale=1.0\" name=\"viewport\"/>\n    <title>Painel Administrativo - Sistema de Eleição</title>\n    <link href=\"https://fonts.googleapis.com\" rel=\"preconnect\"/>\n    <link crossorigin=\"\" href=\"https://fonts.gstatic.com\" rel=\"preconnect\"/>\n    <link href=\"https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&display=swap\" rel=\"stylesheet\"/>\n    <link href=\"https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap\" rel=\"stylesheet\"/>\n    <script src=\"https://cdn.tailwindcss.com?plugins=forms,container-queries\"></script>\n    <script id=\"tailwind-config\">\n        tailwind.config = {\n            darkMode: \"class\",\n            theme: {\n                extend: {\n                    colors: {\n                        \"primary\": \"#1152d4\",\n                        \"background-light\": \"#f6f6f8\",\n                        \"background-dark\": \"#101622\",\n                    },\n                    fontFamily: {\n                        \"display\": [\"Public Sans\", \"sans-serif\"]\n                    },\n                    borderRadius: { \"DEFAULT\": \"0.25rem\", \"lg\": \"0.5rem\", \"xl\": \"0.75rem\", \"full\": \"9999px\" },\n                },\n            },\n        }\n    </script>\n    <style>\n        .material-symbols-outlined {\n            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;\n        }\n        .material-symbols-outlined.fill {\n            font-variation-settings: 'FILL' 1;\n        }\n    </style>\n</head>\n<body class=\"bg-background-light dark:bg-background-dark text-slate-900 dark:text-white font-display overflow-hidden h-screen flex\">\n\n    <!-- Sidebar -->\n    <aside class=\"w-64 h-full bg-white dark:bg-[#1a2230] border-r border-slate-200 dark:border-slate-800 flex flex-col flex-shrink-0 transition-all duration-300\">\n        <div class=\"h-16 flex items-center px-6 border-b border-slate-100 dark:border-slate-800\">\n            <div class=\"flex items-center gap-2 text-primary\">\n                <span class=\"material-symbols-outlined text-3xl\">church</span>\n                <span class=\"text-lg font-bold text-slate-900 dark:text-white\">Admin Igreja</span>\n            </div>\n        </div>\n\n        <nav class=\"flex-1 overflow-y-auto py-6 px-4 space-y-2\">\n            <a class=\"flex items-center gap-3 px-3 py-2.5 rounded-lg bg-primary/10 text-primary group transition-colors\" href=\"#\" data-tab=\"dashboard\">\n                <span class=\"material-symbols-outlined fill\">dashboard</span>\n                <span class=\"text-sm font-medium\">Dashboard</span>\n            </a>\n            <a class=\"flex items-center gap-3 px-3 py-2.5 rounded-lg text-slate-600 dark:text-slate-400 hover:bg-slate-50 dark:hover:bg-white/5 hover:text-slate-900 dark:hover:text-white transition-colors\" href=\"#\" data-tab=\"cargos\">\n                <span class=\"material-symbols-outlined\">ballot</span>\n                <span class=\"text-sm font-medium\">Cargos</span>\n            </a>\n            <a class=\"flex items-center gap-3 px-3 py-2.5 rounded-lg text-slate-600 dark:text-slate-400 hover:bg-slate-50 dark:hover:bg-white/5 hover:text-slate-900 dark:hover:text-white transition-colors\" href=\"#\" data-tab=\"candidatos\">\n                <span class=\"material-symbols-outlined\">person</span>\n                <span class=\"text-sm font-medium\">Candidatos</span>\n            </a>\n            <a class=\"flex items-center gap-3 px-3 py-2.5 rounded-lg text-slate-600 dark:text-slate-400 hover:bg-slate-50 dark:hover:bg-white/5 hover:text-slate-900 dark:hover:text-white transition-colors\" href=\"#\" data-tab=\"liberar\">\n                <span class=\"material-symbols-outlined\">how_to_vote</span>\n                <span class=\"text-sm font-medium\">Liberar Votação</span>\n            </a>\n            <a class=\"flex items-center gap-3 px-3 py-2.5 rounded-lg text-slate-600 dark:text-slate-400 hover:bg-slate-50 dark:hover:bg-white/5 hover:text-slate-900 dark:hover:text-white transition-colors\" href=\"#\" data-tab=\"relatorios\">\n                <span class=\"material-symbols-outlined\">monitoring</span>\n                <span class=\"text-sm font-medium\">Relatórios</span>\n            </a>\n        </nav>\n\n        <div class=\"p-4 border-t border-slate-100 dark:border-slate-800\">\n            <div class=\"flex items-center gap-3 p-2 rounded-lg hover:bg-slate-50 dark:hover:bg-white/5 cursor-pointer\">\n                <div class=\"w-10 h-10 rounded-full bg-primary/20 flex items-center justify-center\">\n                    <span class=\"material-symbols-outlined text-primary\">person</span>\n                </div>\n                <div class=\"flex flex-col overflow-hidden\">\n                    <span class=\"text-sm font-medium text-slate-900 dark:text-white truncate\">Secretaria</span>\n                    <span class=\"text-xs text-slate-500 dark:text-slate-400 truncate\">Administrador</span>\n                </div>\n            </div>\n        </div>\n    </aside>\n\n    <!-- Main Content -->\n    <main class=\"flex-1 flex flex-col h-full overflow-hidden relative\">\n        <header class=\"h-16 flex items-center justify-between px-8 bg-white dark:bg-[#1a2230] border-b border-slate-200 dark:border-slate-800 shrink-0 z-10\">\n            <h2 class=\"text-lg font-bold text-slate-900 dark:text-white\" id=\"pageTitle\">Dashboard</h2>\n        </header>\n\n        <!-- Content Area -->\n        <div class=\"flex-1 overflow-y-auto p-8\">\n            <div class=\"max-w-7xl mx-auto space-y-8 pb-10\">\n\n                <!-- Dashboard Tab -->\n                <div id=\"dashboard-content\" class=\"tab-content\">\n                    <div class=\"grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4\">\n                        <div class=\"p-5 bg-white dark:bg-[#1a2230] rounded-xl border border-slate-200 dark:border-slate-800 shadow-sm\">\n                            <p class=\"text-sm font-medium text-slate-500 dark:text-slate-400\">Total de Membros</p>\n                            <h3 class=\"text-2xl font-bold text-slate-900 dark:text-white mt-2\" id=\"totalMembros\">-</h3>\n                        </div>\n                        <div class=\"p-5 bg-white dark:bg-[#1a2230] rounded-xl border border-slate-200 dark:border-slate-800 shadow-sm\">\n                            <p class=\"text-sm font-medium text-slate-500 dark:text-slate-400\">Cargos Ativos</p>\n                            <h3 class=\"text-2xl font-bold text-slate-900 dark:text-white mt-2\" id=\"totalCargos\">-</h3>\n                        </div>\n                        <div class=\"p-5 bg-white dark:bg-[#1a2230] rounded-xl border border-slate-200 dark:border-slate-800 shadow-sm\">\n                            <p class=\"text-sm font-medium text-slate-500 dark:text-slate-400\">Candidatos</p>\n                            <h3 class=\"text-2xl font-bold text-slate-900 dark:text-white mt-2\" id=\"totalCandidatos\">-</h3>\n                        </div>\n                        <div class=\"p-5 bg-white dark:bg-[#1a2230] rounded-xl border border-slate-200 dark:border-slate-800 shadow-sm\">\n                            <p class=\"text-sm font-medium text-slate-500 dark:text-slate-400\">Votantes</p>\n                            <h3 class=\"text-2xl font-bold text-slate-900 dark:text-white mt-2\" id=\"totalVotos\">-</h3>\n                        </div>\n                    </div>\n                </div>\n\n                <!-- Cargos Tab -->\n                <div id=\"cargos-content\" class=\"tab-content hidden\">\n                    <div class=\"bg-white dark:bg-[#1a2230] rounded-xl border border-slate-200 dark:border-slate-800 shadow-sm p-6\">\n                        <div class=\"flex justify-between items-center mb-6\">\n                            <h3 class=\"text-lg font-bold text-slate-900 dark:text-white\">Gerenciar Cargos</h3>\n                            <button onclick=\"abrirModalCargo()\" class=\"flex items-center gap-2 px-4 py-2 bg-primary text-white rounded-lg text-sm font-medium hover:bg-primary/90\">\n                                <span class=\"material-symbols-outlined text-[20px]\">add</span>\n                                Novo Cargo\n                            </button>\n                        </div>\n                        <div id=\"listaCargos\" class=\"space-y-3\">\n                            <!-- Cargos serão listados aqui -->\n                        </div>\n                    </div>\n                </div>\n\n                <!-- Candidatos Tab -->\n                <div id=\"candidatos-content\" class=\"tab-content hidden\">\n                    <div class=\"bg-white dark:bg-[#1a2230] rounded-xl border border-slate-200 dark:border-slate-800 shadow-sm p-6\">\n                        <div class=\"flex justify-between items-center mb-6\">\n                            <h3 class=\"text-lg font-bold text-slate-900 dark:text-white\">Gerenciar Candidatos</h3>\n                            <button onclick=\"abrirModalCandidato()\" class=\"flex items-center gap-2 px-4 py-2 bg-primary text-white rounded-lg text-sm font-medium hover:bg-primary/90\">\n                                <span class=\"material-symbols-outlined text-[20px]\">add</span>\n                                Novo Candidato\n                            </button>\n                        </div>\n                        <div id=\"listaCandidatos\" class=\"grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4\">\n                            <!-- Candidatos serão listados aqui -->\n                        </div>\n                    </div>\n                </div>\n\n                <!-- Liberar Votação Tab -->\n                <div id=\"liberar-content\" class=\"tab-content hidden\">\n                    <div class=\"bg-white dark:bg-[#1a2230] rounded-xl border border-slate-200 dark:border-slate-800 shadow-sm p-6\">\n                        <h3 class=\"text-lg font-bold text-slate-900 dark:text-white mb-6\">Liberar Votação</h3>\n\n                        <div class=\"mb-6\">\n                            <label class=\"block text-sm font-medium text-slate-700 dark:text-slate-300 mb-2\">Buscar Membro</label>\n                            <div class=\"flex gap-3\">\n                                <input type=\"text\" id=\"buscaMembro\" placeholder=\"Digite CPF ou Nome...\" class=\"flex-1 px-4 py-3 rounded-lg border border-slate-300 dark:border-slate-600 bg-white dark:bg-slate-800 text-slate-900 dark:text-white\">\n                                <button onclick=\"buscarMembro()\" class=\"px-6 py-3 bg-primary text-white rounded-lg font-medium hover:bg-primary/90\">\n                                    Buscar\n                                </button>\n                            </div>\n                        </div>\n\n                        <div id=\"resultadoBusca\" class=\"hidden\">\n                            <!-- Resultado da busca -->\n                        </div>\n\n                        <div class=\"mt-8\">\n                            <h4 class=\"text-md font-bold text-slate-900 dark:text-white mb-4\">Membros que já votaram</h4>\n                            <div id=\"listaVotaram\" class=\"space-y-2\">\n                                <!-- Lista de quem já votou -->\n                            </div>\n                        </div>\n                    </div>\n                </div>\n\n                <!-- Relatórios Tab -->\n                <div id=\"relatorios-content\" class=\"tab-content hidden\">\n                    <div class=\"bg-white dark:bg-[#1a2230] rounded-xl border border-slate-200 dark:border-slate-800 shadow-sm p-6\">\n                        <h3 class=\"text-lg font-bold text-slate-900 dark:text-white mb-6\">Relatórios</h3>\n                        <p class=\"text-slate-600 dark:text-slate-400\">Em desenvolvimento...</p>\n                    </div>\n                </div>\n\n            </div>\n        </div>\n    </main>\n\n    <!-- Modal Cargo -->\n    <div id=\"modalCargo\" class=\"hidden fixed inset-0 bg-black/50 z-50 flex items-center justify-center p-4\">\n        <div class=\"bg-white dark:bg-[#1a2230] rounded-xl max-w-md w-full p-6\">\n            <h3 class=\"text-xl font-bold text-slate-900 dark:text-white mb-4\">Novo Cargo</h3>\n            <div class=\"space-y-4\">\n                <div>\n                    <label class=\"block text-sm font-medium text-slate-700 dark:text-slate-300 mb-1\">Nome do Cargo</label>\n                    <input type=\"text\" id=\"nomeCargo\" class=\"w-full px-4 py-2 rounded-lg border border-slate-300 dark:border-slate-600 bg-white dark:bg-slate-800 text-slate-900 dark:text-white\" placeholder=\"Ex: Diácono\">\n                </div>\n                <div>\n                    <label class=\"block text-sm font-medium text-slate-700 dark:text-slate-300 mb-1\">Descrição (opcional)</label>\n                    <textarea id=\"descricaoCargo\" rows=\"3\" class=\"w-full px-4 py-2 rounded-lg border border-slate-300 dark:border-slate-600 bg-white dark:bg-slate-800 text-slate-900 dark:text-white\" placeholder=\"Descrição do cargo...\"></textarea>\n                </div>\n                <div>\n                    <label class=\"block text-sm font-medium text-slate-700 dark:text-slate-300 mb-1\">Ordem de Exibição</label>\n                    <input type=\"number\" id=\"ordemCargo\" value=\"1\" class=\"w-full px-4 py-2 rounded-lg border border-slate-300 dark:border-slate-600 bg-white dark:bg-slate-800 text-slate-900 dark:text-white\">\n                </div>\n            </div>\n            <div class=\"flex gap-3 mt-6\">\n                <button onclick=\"fecharModalCargo()\" class=\"flex-1 px-4 py-2 border border-slate-300 dark:border-slate-600 rounded-lg text-slate-700 dark:text-slate-300 hover:bg-slate-50 dark:hover:bg-slate-800\">\n                    Cancelar\n                </button>\n                <button onclick=\"salvarCargo()\" class=\"flex-1 px-4 py-2 bg-primary text-white rounded-lg hover:bg-primary/90\">\n                    Salvar\n                </button>\n            </div>\n        </div>\n    </div>\n\n    <!-- Modal Candidato -->\n    <div id=\"modalCandidato\" class=\"hidden fixed inset-0 bg-black/50 z-50 flex items-center justify-center p-4\">\n        <div class=\"bg-white dark:bg-[#1a2230] rounded-xl max-w-md w-full p-6\">\n            <h3 class=\"text-xl font-bold text-slate-900 dark:text-white mb-4\">Novo Candidato</h3>\n            <div class=\"space-y-4\">\n                <div>\n                    <label class=\"block text-sm font-medium text-slate-700 dark:text-slate-300 mb-1\">Cargo</label>\n                    <select id=\"cargoSelect\" class=\"w-full px-4 py-2 rounded-lg border border-slate-300 dark:border-slate-600 bg-white dark:bg-slate-800 text-slate-900 dark:text-white\">\n                        <option value=\"\">Selecione um cargo...</option>\n                    </select>\n                </div>\n                <div>\n                    <label class=\"block text-sm font-medium text-slate-700 dark:text-slate-300 mb-1\">Membro</label>\n                    <select id=\"membroSelect\" class=\"w-full px-4 py-2 rounded-lg border border-slate-300 dark:border-slate-600 bg-white dark:bg-slate-800 text-slate-900 dark:text-white\">\n                        <option value=\"\">Selecione um membro...</option>\n                    </select>\n                </div>\n                <div>\n                    <label class=\"block text-sm font-medium text-slate-700 dark:text-slate-300 mb-1\">Número do Candidato</label>\n                    <input type=\"number\" id=\"numeroCandidato\" class=\"w-full px-4 py-2 rounded-lg border border-slate-300 dark:border-slate-600 bg-white dark:bg-slate-800 text-slate-900 dark:text-white\" placeholder=\"Ex: 10\">\n                </div>\n            </div>\n            <div class=\"flex gap-3 mt-6\">\n                <button onclick=\"fecharModalCandidato()\" class=\"flex-1 px-4 py-2 border border-slate-300 dark:border-slate-600 rounded-lg text-slate-700 dark:text-slate-300 hover:bg-slate-50 dark:hover:bg-slate-800\">\n                    Cancelar\n                </button>\n                <button onclick=\"salvarCandidato()\" class=\"flex-1 px-4 py-2 bg-primary text-white rounded-lg hover:bg-primary/90\">\n                    Salvar\n                </button>\n            </div>\n        </div>\n    </div>\n\n    <script>\n        // Helper para garantir array (n8n pode retornar objeto único)\n        function ensureArray(data) {\n            if (Array.isArray(data)) return data;\n            if (data && typeof data === 'object' && Object.keys(data).length > 0) return [data];\n            return [];\n        }\n\n        // Sistema de Tabs\n        document.querySelectorAll('[data-tab]').forEach(tab => {\n            tab.addEventListener('click', (e) => {\n                e.preventDefault();\n                const tabName = tab.dataset.tab;\n                switchTab(tabName);\n            });\n        });\n\n        function switchTab(tabName) {\n            // Esconder todos os conteúdos\n            document.querySelectorAll('.tab-content').forEach(content => {\n                content.classList.add('hidden');\n            });\n\n            // Mostrar conteúdo selecionado\n            document.getElementById(`${tabName}-content`).classList.remove('hidden');\n\n            // Atualizar nav\n            document.querySelectorAll('[data-tab]').forEach(tab => {\n                if (tab.dataset.tab === tabName) {\n                    tab.classList.add('bg-primary/10', 'text-primary');\n                    tab.classList.remove('text-slate-600', 'dark:text-slate-400');\n                } else {\n                    tab.classList.remove('bg-primary/10', 'text-primary');\n                    tab.classList.add('text-slate-600', 'dark:text-slate-400');\n                }\n            });\n\n            // Atualizar título\n            const titles = {\n                'dashboard': 'Dashboard',\n                'cargos': 'Gerenciar Cargos',\n                'candidatos': 'Gerenciar Candidatos',\n                'liberar': 'Liberar Votação',\n                'relatorios': 'Relatórios'\n            };\n            document.getElementById('pageTitle').textContent = titles[tabName];\n\n            // Carregar dados se necessário\n            if (tabName === 'dashboard') carregarDashboard();\n            if (tabName === 'cargos') carregarCargos();\n            if (tabName === 'candidatos') carregarCandidatos();\n            if (tabName === 'liberar') carregarVotacoes();\n        }\n\n        // Carregar Dashboard\n        async function carregarDashboard() {\n            try {\n                // Total de membros\n                const resMembros = await fetch('https://webhook.aiautomacao.dev.br/webhook/listar_membros');\n                const membros = ensureArray(await resMembros.json());\n                document.getElementById('totalMembros').textContent = membros.length;\n\n                // Total de cargos\n                const resCargos = await fetch('https://webhook.aiautomacao.dev.br/webhook/listar_cargos');\n                const cargos = ensureArray(await resCargos.json());\n                document.getElementById('totalCargos').textContent = cargos.filter(c => c.ativo).length;\n\n                // Total de candidatos\n                const resCandidatos = await fetch('https://webhook.aiautomacao.dev.br/webhook/listar_candidatos');\n                const candidatos = ensureArray(await resCandidatos.json());\n                document.getElementById('totalCandidatos').textContent = candidatos.length;\n\n                // Total de votantes\n                const resVotacoes = await fetch('https://webhook.aiautomacao.dev.br/webhook/listar_votacoes');\n                const votacoes = ensureArray(await resVotacoes.json());\n                document.getElementById('totalVotos').textContent = votacoes.filter(v => v.votou).length;\n            } catch (error) {\n                console.error('Erro ao carregar dashboard:', error);\n            }\n        }\n\n        // Funções de Modal - Cargo\n        function abrirModalCargo() {\n            document.getElementById('modalCargo').classList.remove('hidden');\n        }\n\n        function fecharModalCargo() {\n            document.getElementById('modalCargo').classList.add('hidden');\n            document.getElementById('nomeCargo').value = '';\n            document.getElementById('descricaoCargo').value = '';\n            document.getElementById('ordemCargo').value = '1';\n        }\n\n        async function salvarCargo() {\n            const nome = document.getElementById('nomeCargo').value;\n            const descricao = document.getElementById('descricaoCargo').value;\n            const ordem = parseInt(document.getElementById('ordemCargo').value);\n\n            if (!nome) {\n                alert('Por favor, preencha o nome do cargo');\n                return;\n            }\n\n            try {\n                const response = await fetch('https://webhook.aiautomacao.dev.br/webhook/criar_cargo', {\n                    method: 'POST',\n                    headers: { 'Content-Type': 'application/json' },\n                    body: JSON.stringify({ nome, descricao, ordem })\n                });\n\n                if (response.ok) {\n                    alert('Cargo cadastrado com sucesso!');\n                    fecharModalCargo();\n                    carregarCargos();\n                } else {\n                    throw new Error('Erro ao cadastrar cargo');\n                }\n            } catch (error) {\n                console.error('Erro:', error);\n                alert('Erro ao cadastrar cargo');\n            }\n        }\n\n        // Funções de Modal - Candidato\n        function abrirModalCandidato() {\n            carregarCargosSelect();\n            carregarMembrosSelect();\n            document.getElementById('modalCandidato').classList.remove('hidden');\n        }\n\n        function fecharModalCandidato() {\n            document.getElementById('modalCandidato').classList.add('hidden');\n        }\n\n        async function carregarCargosSelect() {\n            try {\n                const response = await fetch('https://webhook.aiautomacao.dev.br/webhook/listar_cargos');\n                const cargos = ensureArray(await response.json());\n\n                const select = document.getElementById('cargoSelect');\n                select.innerHTML = '<option value=\"\">Selecione um cargo...</option>';\n\n                cargos.forEach(cargo => {\n                    select.innerHTML += `<option value=\"${cargo.id}\">${cargo.nome}</option>`;\n                });\n            } catch (error) {\n                console.error('Erro ao carregar cargos:', error);\n            }\n        }\n\n        async function carregarMembrosSelect() {\n            try {\n                const response = await fetch('https://webhook.aiautomacao.dev.br/webhook/listar_membros');\n                const membros = ensureArray(await response.json());\n\n                const select = document.getElementById('membroSelect');\n                select.innerHTML = '<option value=\"\">Selecione um membro...</option>';\n\n                membros.forEach(membro => {\n                    select.innerHTML += `<option value=\"${membro.id}\">${membro.nome}</option>`;\n                });\n            } catch (error) {\n                console.error('Erro ao carregar membros:', error);\n            }\n        }\n\n        async function salvarCandidato() {\n            const cargo_id = document.getElementById('cargoSelect').value;\n            const membro_id = document.getElementById('membroSelect').value;\n            const numero = parseInt(document.getElementById('numeroCandidato').value);\n\n            if (!cargo_id || !membro_id || !numero) {\n                alert('Por favor, preencha todos os campos');\n                return;\n            }\n\n            try {\n                const response = await fetch('https://webhook.aiautomacao.dev.br/webhook/criar_candidato', {\n                    method: 'POST',\n                    headers: { 'Content-Type': 'application/json' },\n                    body: JSON.stringify({ cargo_id, membro_id, numero })\n                });\n\n                if (response.ok) {\n                    alert('Candidato cadastrado com sucesso!');\n                    fecharModalCandidato();\n                    carregarCandidatos();\n                } else {\n                    throw new Error('Erro ao cadastrar candidato');\n                }\n            } catch (error) {\n                console.error('Erro:', error);\n                alert('Erro ao cadastrar candidato');\n            }\n        }\n\n        // Carregar dados\n        async function carregarCargos() {\n            try {\n                const response = await fetch('https://webhook.aiautomacao.dev.br/webhook/listar_cargos');\n                const cargos = ensureArray(await response.json());\n\n                const lista = document.getElementById('listaCargos');\n                lista.innerHTML = '';\n\n                if (cargos.length > 0) {\n                    cargos.forEach(cargo => {\n                        lista.innerHTML += `\n                            <div class=\"p-4 border border-slate-200 dark:border-slate-700 rounded-lg flex justify-between items-center\">\n                                <div>\n                                    <h4 class=\"font-bold text-slate-900 dark:text-white\">${cargo.nome}</h4>\n                                    <p class=\"text-sm text-slate-600 dark:text-slate-400\">${cargo.descricao || ''}</p>\n                                </div>\n                                <div class=\"flex gap-2\">\n                                    <span class=\"px-3 py-1 text-xs font-medium rounded-full ${cargo.ativo ? 'bg-green-100 text-green-800' : 'bg-gray-100 text-gray-800'}\">\n                                        ${cargo.ativo ? 'Ativo' : 'Inativo'}\n                                    </span>\n                                </div>\n                            </div>\n                        `;\n                    });\n                } else {\n                    lista.innerHTML = '<p class=\"text-slate-500 text-center py-8\">Nenhum cargo cadastrado ainda.</p>';\n                }\n            } catch (error) {\n                console.error('Erro ao carregar cargos:', error);\n            }\n        }\n\n        async function carregarCandidatos() {\n            try {\n                const response = await fetch('https://webhook.aiautomacao.dev.br/webhook/listar_candidatos');\n                const candidatos = ensureArray(await response.json());\n\n                const lista = document.getElementById('listaCandidatos');\n                lista.innerHTML = '';\n\n                if (candidatos.length > 0) {\n                    candidatos.forEach(candidato => {\n                        lista.innerHTML += `\n                            <div class=\"p-4 border border-slate-200 dark:border-slate-700 rounded-lg\">\n                                <div class=\"flex items-center gap-3 mb-3\">\n                                    <img src=\"${candidato.foto || 'https://via.placeholder.com/100'}\" class=\"w-16 h-16 rounded-full object-cover\">\n                                    <div>\n                                        <h4 class=\"font-bold text-slate-900 dark:text-white\">${candidato.nome}</h4>\n                                        <p class=\"text-sm text-slate-600 dark:text-slate-400\">${candidato.cargo_nome}</p>\n                                    </div>\n                                </div>\n                                <div class=\"flex justify-between items-center\">\n                                    <span class=\"text-lg font-bold text-primary\">Nº ${candidato.numero}</span>\n                                    <span class=\"px-3 py-1 text-xs font-medium rounded-full ${candidato.ativo ? 'bg-green-100 text-green-800' : 'bg-gray-100 text-gray-800'}\">\n                                        ${candidato.ativo ? 'Ativo' : 'Inativo'}\n                                    </span>\n                                </div>\n                            </div>\n                        `;\n                    });\n                } else {\n                    lista.innerHTML = '<p class=\"text-slate-500 text-center py-8\">Nenhum candidato cadastrado ainda.</p>';\n                }\n            } catch (error) {\n                console.error('Erro ao carregar candidatos:', error);\n            }\n        }\n\n        let membroSelecionado = null;\n\n        async function buscarMembro() {\n            const busca = document.getElementById('buscaMembro').value;\n\n            if (!busca) {\n                alert('Digite CPF ou Nome para buscar');\n                return;\n            }\n\n            try {\n                const response = await fetch(`https://webhook.aiautomacao.dev.br/webhook/buscar_membro?busca=${encodeURIComponent(busca)}`);\n                const membro = await response.json();\n\n                membroSelecionado = membro;\n\n                const resultado = document.getElementById('resultadoBusca');\n                resultado.classList.remove('hidden');\n                resultado.innerHTML = `\n                    <div class=\"p-6 border border-slate-200 dark:border-slate-700 rounded-lg\">\n                        <div class=\"flex items-center gap-4 mb-4\">\n                            <img src=\"${membro.foto || 'https://via.placeholder.com/100'}\" class=\"w-20 h-20 rounded-full object-cover\">\n                            <div>\n                                <h4 class=\"text-lg font-bold text-slate-900 dark:text-white\">${membro.nome}</h4>\n                                <p class=\"text-sm text-slate-600 dark:text-slate-400\">CPF: ${membro.cpf}</p>\n                                <p class=\"text-sm text-slate-600 dark:text-slate-400\">Tel: ${membro.telefone}</p>\n                            </div>\n                        </div>\n                        <button onclick=\"liberarVotacao('${membro.id}')\" class=\"w-full px-4 py-3 bg-green-600 text-white rounded-lg font-medium hover:bg-green-700\">\n                            Liberar para Votar\n                        </button>\n                    </div>\n                `;\n            } catch (error) {\n                console.error('Erro:', error);\n                alert('Membro não encontrado');\n            }\n        }\n\n        async function liberarVotacao(membroId) {\n            try {\n                const response = await fetch('https://webhook.aiautomacao.dev.br/webhook/liberar_votacao', {\n                    method: 'POST',\n                    headers: { 'Content-Type': 'application/json' },\n                    body: JSON.stringify({ membro_id: membroId })\n                });\n\n                if (response.ok) {\n                    const resultado = document.getElementById('resultadoBusca');\n                    resultado.innerHTML = `\n                        <div class=\"p-6 border border-green-200 dark:border-green-700 bg-green-50 dark:bg-green-900/20 rounded-lg\">\n                            <div class=\"flex items-center gap-3 mb-4\">\n                                <svg class=\"w-8 h-8 text-green-600\" fill=\"none\" stroke=\"currentColor\" viewBox=\"0 0 24 24\">\n                                    <path stroke-linecap=\"round\" stroke-linejoin=\"round\" stroke-width=\"2\" d=\"M5 13l4 4L19 7\"></path>\n                                </svg>\n                                <div>\n                                    <h4 class=\"text-lg font-bold text-green-800 dark:text-green-300\">Votação Liberada!</h4>\n                                    <p class=\"text-sm text-green-700 dark:text-green-400\">${membroSelecionado?.nome || 'Membro'}</p>\n                                </div>\n                            </div>\n                            <div class=\"bg-white dark:bg-slate-800 p-4 rounded-lg mb-4\">\n                                <p class=\"text-sm font-medium text-slate-700 dark:text-slate-300 mb-2\">💡 Próximo passo:</p>\n                                <p class=\"text-sm text-slate-600 dark:text-slate-400\">Peça para o membro ir até a urna e digitar o CPF: <strong>${membroSelecionado?.cpf}</strong></p>\n                            </div>\n                        </div>\n                    `;\n\n                    carregarVotacoes();\n                } else {\n                    const error = await response.json();\n                    alert(error.message || 'Erro ao liberar votação');\n                }\n            } catch (error) {\n                console.error('Erro:', error);\n                alert('Erro ao liberar votação');\n            }\n        }\n\n        async function carregarVotacoes() {\n            try {\n                const response = await fetch('https://webhook.aiautomacao.dev.br/webhook/listar_votacoes');\n                const votacoes = ensureArray(await response.json());\n\n                const lista = document.getElementById('listaVotaram');\n                lista.innerHTML = '';\n\n                const votaram = votacoes.filter(v => v.votou);\n\n                if (votaram.length > 0) {\n                    votaram.forEach(votacao => {\n                        lista.innerHTML += `\n                            <div class=\"p-3 border border-slate-200 dark:border-slate-700 rounded-lg flex justify-between items-center\">\n                                <span class=\"text-sm font-medium text-slate-900 dark:text-white\">${votacao.nome_membro}</span>\n                                <span class=\"text-xs text-slate-500\">${new Date(votacao.votou_em).toLocaleString('pt-BR')}</span>\n                            </div>\n                        `;\n                    });\n                } else {\n                    lista.innerHTML = '<p class=\"text-slate-500 text-center py-4\">Nenhum voto registrado ainda.</p>';\n                }\n            } catch (error) {\n                console.error('Erro ao carregar votações:', error);\n            }\n        }\n\n        // Carregar dashboard ao iniciar\n        window.addEventListener('load', () => {\n            carregarDashboard();\n        });\n    </script>\n</body>\n</html>\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-192,-160],"id":"5d93cad5-269a-45c4-8d9f-b6a1db47ed29","name":"Respond to Webhook2"},{"parameters":{"path":"adm","responseMode":"responseNode","options":{}},"id":"04474ca2-cd5d-4b08-8994-a00bf0f16a7c","name":"Site_Adm","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-432,-160],"webhookId":"listar-viagens"},{"parameters":{"respondWith":"text","responseBody":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Teste de Webhooks - Sistema Eleição</title>\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n</head>\n<body class=\"bg-gray-100 p-8\">\n    <div class=\"max-w-4xl mx-auto\">\n        <h1 class=\"text-3xl font-bold mb-8 text-gray-800\">Teste de Webhooks</h1>\n\n        <div class=\"space-y-6\">\n            <!-- Teste: Listar Cargos -->\n            <div class=\"bg-white rounded-lg shadow p-6\">\n                <h2 class=\"text-xl font-bold mb-4 text-gray-700\">1. Listar Cargos</h2>\n                <button onclick=\"testarListarCargos()\" class=\"px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700\">\n                    Testar GET /listar_cargos\n                </button>\n                <pre id=\"resultado-cargos\" class=\"mt-4 p-4 bg-gray-50 rounded text-sm overflow-auto max-h-60\"></pre>\n            </div>\n\n            <!-- Teste: Listar Membros -->\n            <div class=\"bg-white rounded-lg shadow p-6\">\n                <h2 class=\"text-xl font-bold mb-4 text-gray-700\">2. Listar Membros</h2>\n                <button onclick=\"testarListarMembros()\" class=\"px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700\">\n                    Testar GET /listar_membros\n                </button>\n                <pre id=\"resultado-membros\" class=\"mt-4 p-4 bg-gray-50 rounded text-sm overflow-auto max-h-60\"></pre>\n            </div>\n\n            <!-- Teste: Criar Cargo -->\n            <div class=\"bg-white rounded-lg shadow p-6\">\n                <h2 class=\"text-xl font-bold mb-4 text-gray-700\">3. Criar Cargo</h2>\n                <div class=\"space-y-3 mb-4\">\n                    <input type=\"text\" id=\"nome-cargo\" placeholder=\"Nome do cargo\" class=\"w-full px-4 py-2 border rounded\">\n                    <input type=\"text\" id=\"desc-cargo\" placeholder=\"Descrição (opcional)\" class=\"w-full px-4 py-2 border rounded\">\n                    <input type=\"number\" id=\"ordem-cargo\" placeholder=\"Ordem\" value=\"1\" class=\"w-full px-4 py-2 border rounded\">\n                </div>\n                <button onclick=\"testarCriarCargo()\" class=\"px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700\">\n                    Testar POST /criar_cargo\n                </button>\n                <pre id=\"resultado-criar-cargo\" class=\"mt-4 p-4 bg-gray-50 rounded text-sm overflow-auto max-h-60\"></pre>\n            </div>\n\n            <!-- Teste: Listar Candidatos -->\n            <div class=\"bg-white rounded-lg shadow p-6\">\n                <h2 class=\"text-xl font-bold mb-4 text-gray-700\">4. Listar Candidatos</h2>\n                <button onclick=\"testarListarCandidatos()\" class=\"px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700\">\n                    Testar GET /listar_candidatos\n                </button>\n                <pre id=\"resultado-candidatos\" class=\"mt-4 p-4 bg-gray-50 rounded text-sm overflow-auto max-h-60\"></pre>\n            </div>\n\n            <!-- Teste: Criar Candidato -->\n            <div class=\"bg-white rounded-lg shadow p-6\">\n                <h2 class=\"text-xl font-bold mb-4 text-gray-700\">5. Criar Candidato</h2>\n                <div class=\"space-y-3 mb-4\">\n                    <input type=\"text\" id=\"cargo-id\" placeholder=\"ID do Cargo\" class=\"w-full px-4 py-2 border rounded\">\n                    <input type=\"text\" id=\"membro-id\" placeholder=\"ID do Membro\" class=\"w-full px-4 py-2 border rounded\">\n                    <input type=\"number\" id=\"numero-candidato\" placeholder=\"Número do candidato\" class=\"w-full px-4 py-2 border rounded\">\n                </div>\n                <button onclick=\"testarCriarCandidato()\" class=\"px-4 py-2 bg-green-600 text-white rounded hover:bg-green-700\">\n                    Testar POST /criar_candidato\n                </button>\n                <pre id=\"resultado-criar-candidato\" class=\"mt-4 p-4 bg-gray-50 rounded text-sm overflow-auto max-h-60\"></pre>\n            </div>\n\n            <!-- Teste: Buscar Membro -->\n            <div class=\"bg-white rounded-lg shadow p-6\">\n                <h2 class=\"text-xl font-bold mb-4 text-gray-700\">6. Buscar Membro</h2>\n                <div class=\"space-y-3 mb-4\">\n                    <input type=\"text\" id=\"busca-termo\" placeholder=\"CPF ou Nome para buscar\" class=\"w-full px-4 py-2 border rounded\">\n                </div>\n                <button onclick=\"testarBuscarMembro()\" class=\"px-4 py-2 bg-blue-600 text-white rounded hover:bg-blue-700\">\n                    Testar GET /buscar_membro\n                </button>\n                <pre id=\"resultado-buscar\" class=\"mt-4 p-4 bg-gray-50 rounded text-sm overflow-auto max-h-60\"></pre>\n            </div>\n\n            <!-- Status dos Webhooks -->\n            <div class=\"bg-yellow-50 border border-yellow-200 rounded-lg p-6\">\n                <h2 class=\"text-xl font-bold mb-4 text-yellow-800\">⚠️ Importante</h2>\n                <ul class=\"space-y-2 text-sm text-yellow-700\">\n                    <li>✅ Se os testes retornarem dados, os webhooks estão funcionando</li>\n                    <li>❌ Se retornar erro 404, o workflow não está ativo no n8n</li>\n                    <li>❌ Se retornar erro de CORS, configure CORS no n8n</li>\n                    <li>💡 Abra o Console do navegador (F12) para ver logs detalhados</li>\n                </ul>\n            </div>\n        </div>\n    </div>\n\n    <script>\n        const API_BASE = 'https://webhook.aiautomacao.dev.br/webhook';\n\n        async function testarListarCargos() {\n            const resultado = document.getElementById('resultado-cargos');\n            resultado.textContent = 'Carregando...';\n\n            try {\n                console.log('Testando GET /listar_cargos...');\n                const response = await fetch(`${API_BASE}/listar_cargos`);\n\n                console.log('Status:', response.status);\n                console.log('Headers:', [...response.headers.entries()]);\n\n                if (!response.ok) {\n                    throw new Error(`HTTP ${response.status}: ${response.statusText}`);\n                }\n\n                const data = await response.json();\n                console.log('Dados recebidos:', data);\n\n                resultado.textContent = JSON.stringify(data, null, 2);\n                resultado.classList.remove('text-red-600');\n                resultado.classList.add('text-green-600');\n            } catch (error) {\n                console.error('Erro:', error);\n                resultado.textContent = `ERRO: ${error.message}`;\n                resultado.classList.remove('text-green-600');\n                resultado.classList.add('text-red-600');\n            }\n        }\n\n        async function testarListarMembros() {\n            const resultado = document.getElementById('resultado-membros');\n            resultado.textContent = 'Carregando...';\n\n            try {\n                console.log('Testando GET /listar_membros...');\n                const response = await fetch(`${API_BASE}/listar_membros`);\n\n                console.log('Status:', response.status);\n\n                if (!response.ok) {\n                    throw new Error(`HTTP ${response.status}: ${response.statusText}`);\n                }\n\n                const data = await response.json();\n                console.log('Dados recebidos:', data);\n\n                resultado.textContent = JSON.stringify(data, null, 2);\n                resultado.classList.remove('text-red-600');\n                resultado.classList.add('text-green-600');\n            } catch (error) {\n                console.error('Erro:', error);\n                resultado.textContent = `ERRO: ${error.message}`;\n                resultado.classList.remove('text-green-600');\n                resultado.classList.add('text-red-600');\n            }\n        }\n\n        async function testarCriarCargo() {\n            const resultado = document.getElementById('resultado-criar-cargo');\n            resultado.textContent = 'Enviando...';\n\n            const nome = document.getElementById('nome-cargo').value;\n            const descricao = document.getElementById('desc-cargo').value;\n            const ordem = document.getElementById('ordem-cargo').value;\n\n            if (!nome) {\n                alert('Preencha o nome do cargo');\n                return;\n            }\n\n            try {\n                console.log('Testando POST /criar_cargo...');\n                const payload = { nome, descricao, ordem: parseInt(ordem) };\n                console.log('Payload:', payload);\n\n                const response = await fetch(`${API_BASE}/criar_cargo`, {\n                    method: 'POST',\n                    headers: { 'Content-Type': 'application/json' },\n                    body: JSON.stringify(payload)\n                });\n\n                console.log('Status:', response.status);\n\n                if (!response.ok) {\n                    const errorText = await response.text();\n                    throw new Error(`HTTP ${response.status}: ${errorText}`);\n                }\n\n                const data = await response.json();\n                console.log('Resposta:', data);\n\n                resultado.textContent = JSON.stringify(data, null, 2);\n                resultado.classList.remove('text-red-600');\n                resultado.classList.add('text-green-600');\n\n                // Limpar campos\n                document.getElementById('nome-cargo').value = '';\n                document.getElementById('desc-cargo').value = '';\n            } catch (error) {\n                console.error('Erro:', error);\n                resultado.textContent = `ERRO: ${error.message}`;\n                resultado.classList.remove('text-green-600');\n                resultado.classList.add('text-red-600');\n            }\n        }\n\n        async function testarListarCandidatos() {\n            const resultado = document.getElementById('resultado-candidatos');\n            resultado.textContent = 'Carregando...';\n\n            try {\n                console.log('Testando GET /listar_candidatos...');\n                const response = await fetch(`${API_BASE}/listar_candidatos`);\n\n                console.log('Status:', response.status);\n\n                if (!response.ok) {\n                    throw new Error(`HTTP ${response.status}: ${response.statusText}`);\n                }\n\n                const data = await response.json();\n                console.log('Dados recebidos:', data);\n\n                resultado.textContent = JSON.stringify(data, null, 2);\n                resultado.classList.remove('text-red-600');\n                resultado.classList.add('text-green-600');\n            } catch (error) {\n                console.error('Erro:', error);\n                resultado.textContent = `ERRO: ${error.message}`;\n                resultado.classList.remove('text-green-600');\n                resultado.classList.add('text-red-600');\n            }\n        }\n\n        async function testarCriarCandidato() {\n            const resultado = document.getElementById('resultado-criar-candidato');\n            resultado.textContent = 'Enviando...';\n\n            const cargo_id = document.getElementById('cargo-id').value;\n            const membro_id = document.getElementById('membro-id').value;\n            const numero = document.getElementById('numero-candidato').value;\n\n            if (!cargo_id || !membro_id || !numero) {\n                alert('Preencha todos os campos');\n                return;\n            }\n\n            try {\n                console.log('Testando POST /criar_candidato...');\n                const payload = { cargo_id, membro_id, numero: parseInt(numero) };\n                console.log('Payload:', payload);\n\n                const response = await fetch(`${API_BASE}/criar_candidato`, {\n                    method: 'POST',\n                    headers: { 'Content-Type': 'application/json' },\n                    body: JSON.stringify(payload)\n                });\n\n                console.log('Status:', response.status);\n\n                if (!response.ok) {\n                    const errorText = await response.text();\n                    throw new Error(`HTTP ${response.status}: ${errorText}`);\n                }\n\n                const data = await response.json();\n                console.log('Resposta:', data);\n\n                resultado.textContent = JSON.stringify(data, null, 2);\n                resultado.classList.remove('text-red-600');\n                resultado.classList.add('text-green-600');\n            } catch (error) {\n                console.error('Erro:', error);\n                resultado.textContent = `ERRO: ${error.message}`;\n                resultado.classList.remove('text-green-600');\n                resultado.classList.add('text-red-600');\n            }\n        }\n\n        async function testarBuscarMembro() {\n            const resultado = document.getElementById('resultado-buscar');\n            resultado.textContent = 'Carregando...';\n\n            const busca = document.getElementById('busca-termo').value;\n\n            if (!busca) {\n                alert('Digite um termo para buscar');\n                return;\n            }\n\n            try {\n                console.log('Testando GET /buscar_membro...');\n                const response = await fetch(`${API_BASE}/buscar_membro?busca=${encodeURIComponent(busca)}`);\n\n                console.log('Status:', response.status);\n\n                if (!response.ok) {\n                    throw new Error(`HTTP ${response.status}: ${response.statusText}`);\n                }\n\n                const data = await response.json();\n                console.log('Dados recebidos:', data);\n\n                resultado.textContent = JSON.stringify(data, null, 2);\n                resultado.classList.remove('text-red-600');\n                resultado.classList.add('text-green-600');\n            } catch (error) {\n                console.error('Erro:', error);\n                resultado.textContent = `ERRO: ${error.message}`;\n                resultado.classList.remove('text-green-600');\n                resultado.classList.add('text-red-600');\n            }\n        }\n    </script>\n</body>\n</html>\n","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[160,-608],"id":"f3bda37e-43f1-4e7b-8354-1d23285664c3","name":"Respond to Webhook3"},{"parameters":{"path":"teste","responseMode":"responseNode","options":{}},"id":"21a9ccb9-26da-46ca-817a-31847c333b07","name":"Site_Cadastro_Membro1","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-80,-608],"webhookId":"listar-viagens"},{"parameters":{"respondWith":"text","responseBody":"<!DOCTYPE html>\n<html lang=\"pt-BR\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Urna Eletrônica - Sistema de Votação Eclesiástica</title>\n    <meta name=\"description\" content=\"Sistema de votação eletrônica seguro para eleições eclesiásticas\">\n    \n    <!-- Google Fonts -->\n    <link href=\"https://fonts.googleapis.com\" rel=\"preconnect\">\n    <link crossorigin href=\"https://fonts.gstatic.com\" rel=\"preconnect\">\n    <link href=\"https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700;800;900&display=swap\" rel=\"stylesheet\">\n    <link href=\"https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap\" rel=\"stylesheet\">\n    \n    <!-- Tailwind CSS -->\n    <script src=\"https://cdn.tailwindcss.com\"></script>\n    <script>\n        tailwind.config = {\n            theme: {\n                extend: {\n                    colors: {\n                        \"primary\": \"#1d5fd3\",\n                        \"primary-light\": \"#e8f0fe\",\n                        \"success\": \"#16a34a\",\n                        \"success-dark\": \"#15803d\",\n                        \"warning\": \"#f59e0b\",\n                        \"warning-dark\": \"#d97706\",\n                        \"danger\": \"#dc2626\",\n                        \"bg-light\": \"#f5f7fa\",\n                        \"bg-dark\": \"#111827\",\n                        \"card-light\": \"#ffffff\",\n                        \"card-dark\": \"#1f2937\",\n                        \"border-light\": \"#e5e7eb\",\n                        \"border-dark\": \"#374151\",\n                        \"text-primary\": \"#111827\",\n                        \"text-secondary\": \"#6b7280\",\n                    },\n                    fontFamily: {\n                        \"sans\": [\"Public Sans\", \"sans-serif\"]\n                    },\n                },\n            },\n        }\n    </script>\n    \n    <style>\n        body {\n            font-family: \"Public Sans\", sans-serif;\n        }\n\n        .voting-card {\n            background: white;\n            border: 1px solid #e5e7eb;\n            border-radius: 0.75rem;\n            box-shadow: 0 1px 3px rgba(0,0,0,0.1);\n            transition: all 0.2s;\n        }\n\n        .voting-card:hover {\n            border-color: rgba(29, 95, 211, 0.5);\n            box-shadow: 0 4px 12px rgba(0,0,0,0.1);\n        }\n\n        .voting-card.selected {\n            border-color: #1d5fd3;\n            background-color: rgba(29, 95, 211, 0.05);\n            box-shadow: 0 4px 12px rgba(29, 95, 211, 0.2);\n            ring: 2px solid rgba(29, 95, 211, 0.2);\n        }\n\n        .keypad-btn {\n            height: 3rem;\n            background: white;\n            border-radius: 0.5rem;\n            box-shadow: 0 1px 2px rgba(0,0,0,0.1);\n            font-size: 1.125rem;\n            font-weight: 700;\n            color: #111827;\n            border-bottom: 2px solid #e5e7eb;\n            transition: all 0.1s;\n        }\n\n        .keypad-btn:hover {\n            background: #f5f7fa;\n        }\n\n        .keypad-btn:active {\n            transform: translateY(2px);\n            border-bottom-width: 0;\n        }\n\n        .action-btn {\n            display: flex;\n            flex-direction: column;\n            align-items: center;\n            justify-content: center;\n            padding: 0.5rem;\n            border-radius: 0.5rem;\n            font-weight: 700;\n            font-size: 0.875rem;\n            border-bottom-width: 4px;\n            transition: all 0.1s;\n        }\n\n        .action-btn:active {\n            border-bottom-width: 0;\n            transform: translateY(4px);\n        }\n\n        @keyframes fadeIn {\n            from { opacity: 0; }\n            to { opacity: 1; }\n        }\n\n        @keyframes slideUp {\n            from { opacity: 0; transform: translateY(20px); }\n            to { opacity: 1; transform: translateY(0); }\n        }\n\n        @keyframes pulseSoft {\n            0%, 100% { opacity: 1; }\n            50% { opacity: 0.7; }\n        }\n\n        .animate-fade-in { animation: fadeIn 0.3s ease-out; }\n        .animate-slide-up { animation: slideUp 0.4s ease-out; }\n        .animate-pulse-soft { animation: pulseSoft 2s ease-in-out infinite; }\n    </style>\n</head>\n\n<body class=\"bg-bg-light min-h-screen flex flex-col font-sans\">\n\n    <!-- ==================== TELA DE STANDBY ==================== -->\n    <div id=\"telaStandby\" class=\"min-h-screen flex flex-col items-center justify-center p-4 animate-fade-in\">\n        <div class=\"flex flex-col items-center gap-8 w-full max-w-md\">\n            <!-- Logo e Título -->\n            <div class=\"text-center space-y-4\">\n                <div class=\"inline-flex items-center justify-center w-24 h-24 rounded-full bg-primary-light animate-pulse-soft\">\n                    <span class=\"material-symbols-outlined text-primary text-5xl\">how_to_vote</span>\n                </div>\n                <h1 class=\"text-4xl font-black text-text-primary tracking-tight\">Urna Eletrônica</h1>\n                <p class=\"text-xl text-text-secondary\">Aguardando Eleitor</p>\n            </div>\n\n            <!-- Card de Input CPF -->\n            <div class=\"w-full voting-card p-8 animate-slide-up\">\n                <label class=\"block text-sm font-bold text-text-primary mb-3\">\n                    Digite seu CPF para liberar a urna\n                </label>\n                \n                <div class=\"flex gap-3\">\n                    <input\n                        type=\"text\"\n                        id=\"cpfInput\"\n                        placeholder=\"000.000.000-00\"\n                        maxlength=\"14\"\n                        class=\"flex-1 h-14 px-4 text-xl font-bold tracking-wider text-center bg-bg-light border border-border-light rounded-lg focus:ring-2 focus:ring-primary focus:border-primary outline-none transition-all\"\n                    >\n                    <button\n                        id=\"btnVerificar\"\n                        class=\"h-14 px-6 bg-primary hover:bg-primary/90 text-white font-bold text-lg rounded-lg flex items-center gap-2 transition-colors disabled:opacity-50 disabled:cursor-not-allowed\"\n                    >\n                        <span>VOTAR</span>\n                        <span class=\"material-symbols-outlined\">arrow_forward</span>\n                    </button>\n                </div>\n\n                <!-- Mensagem de Erro -->\n                <p id=\"msgErro\" class=\"mt-4 text-center text-danger font-medium hidden\"></p>\n                \n                <!-- Mensagem de Loading -->\n                <p id=\"msgLoading\" class=\"mt-4 text-center text-primary font-medium hidden\">Verificando...</p>\n            </div>\n\n            <!-- Footer Info -->\n            <p class=\"text-xs text-text-secondary text-center\">\n                Sistema de Votação Eclesiástica • Terminal 01\n            </p>\n        </div>\n    </div>\n\n    <!-- ==================== TELA DE VOTAÇÃO ==================== -->\n    <div id=\"telaVotacao\" class=\"hidden flex flex-col min-h-screen\">\n        \n        <!-- Header -->\n        <header class=\"bg-card-light border-b border-border-light px-6 py-3 shadow-sm\">\n            <div class=\"max-w-[1200px] mx-auto flex items-center justify-between\">\n                <div class=\"flex items-center gap-4\">\n                    <span class=\"material-symbols-outlined text-primary text-2xl\">how_to_vote</span>\n                    <h2 class=\"text-text-primary text-lg font-bold\">Sistema de Votação Eclesiástica</h2>\n                </div>\n                <div class=\"flex items-center gap-4\">\n                    <div class=\"text-right hidden sm:block\">\n                        <p id=\"nomeMembro\" class=\"text-sm font-medium text-text-primary\">Membro</p>\n                        <p class=\"text-xs text-text-secondary\">Terminal 01</p>\n                    </div>\n                    <div id=\"fotoMembro\" class=\"w-10 h-10 rounded-full bg-bg-light border border-border-light bg-cover bg-center flex items-center justify-center\">\n                        <span class=\"material-symbols-outlined text-text-secondary\">person</span>\n                    </div>\n                </div>\n            </div>\n        </header>\n\n        <!-- Main Content -->\n        <main class=\"flex-1 p-4 md:p-8\">\n            <div class=\"max-w-[1200px] mx-auto flex flex-col gap-6\">\n                \n                <!-- Progress Bar -->\n                <div class=\"voting-card p-6 animate-fade-in\">\n                    <div class=\"flex flex-col md:flex-row justify-between items-start md:items-center gap-4 mb-4\">\n                        <div>\n                            <p class=\"text-sm font-bold text-primary tracking-wider uppercase mb-1\">Eleição Anual 2024</p>\n                            <h1 id=\"cargoAtual\" class=\"text-2xl md:text-3xl font-black text-text-primary\">Carregando...</h1>\n                        </div>\n                        <div class=\"flex items-center gap-2 bg-primary-light px-4 py-2 rounded-full\">\n                            <span class=\"material-symbols-outlined text-primary text-xl\">timer</span>\n                            <span class=\"text-sm font-medium text-primary\">Votação em andamento</span>\n                        </div>\n                    </div>\n                    <div class=\"flex flex-col gap-2\">\n                        <div class=\"flex justify-between text-sm text-text-secondary\">\n                            <span id=\"etapaTexto\">Etapa 0 de 0</span>\n                            <span id=\"progressoTexto\">0% Concluído</span>\n                        </div>\n                        <div class=\"h-3 w-full bg-border-light rounded-full overflow-hidden\">\n                            <div id=\"progressoBarra\" class=\"h-full bg-primary rounded-full transition-all duration-500\" style=\"width: 0%;\"></div>\n                        </div>\n                    </div>\n                </div>\n\n                <!-- Voting Area -->\n                <div class=\"grid grid-cols-1 lg:grid-cols-12 gap-6\">\n                    \n                    <!-- Candidates List -->\n                    <div class=\"lg:col-span-7\">\n                        <div class=\"voting-card overflow-hidden flex flex-col h-full min-h-[500px]\">\n                            <div class=\"p-6 border-b border-border-light\">\n                                <h3 class=\"text-lg font-bold text-text-primary\">Escolha seu Candidato</h3>\n                                <p class=\"text-text-secondary text-sm\">Clique na foto ou digite o número</p>\n                            </div>\n                            <div class=\"p-6 overflow-y-auto flex-1\">\n                                <div id=\"candidatosList\" class=\"grid grid-cols-2 sm:grid-cols-3 gap-4\">\n                                    <!-- Candidatos serão carregados aqui -->\n                                </div>\n                            </div>\n                        </div>\n                    </div>\n\n                    <!-- Controls Panel -->\n                    <div class=\"lg:col-span-5\">\n                        <div class=\"bg-bg-light rounded-xl border border-border-light p-6 h-full flex flex-col justify-between shadow-inner\">\n                            \n                            <!-- Preview Area -->\n                            <div id=\"previewArea\" class=\"voting-card p-6 flex-1 flex flex-col items-center justify-center text-center mb-6\">\n                                <span class=\"material-symbols-outlined text-text-secondary text-6xl mb-4\">person</span>\n                                <p class=\"text-sm text-text-secondary\">Digite o número ou clique no candidato</p>\n                            </div>\n\n                            <!-- Numeric Keypad -->\n                            <div class=\"flex flex-col gap-4 mb-6\">\n                                <div class=\"flex items-center bg-card-light border border-border-light rounded-lg h-16 px-4\">\n                                    <span class=\"text-text-secondary mr-3 font-medium\">Número:</span>\n                                    <input id=\"numeroInput\" type=\"text\" readonly value=\"\" placeholder=\"--\"\n                                        class=\"bg-transparent border-none text-3xl font-bold text-text-primary w-full focus:ring-0 cursor-default tracking-widest outline-none\">\n                                    <button id=\"backspaceBtn\" class=\"text-text-secondary hover:text-danger transition-colors p-2\">\n                                        <span class=\"material-symbols-outlined\">backspace</span>\n                                    </button>\n                                </div>\n                                <div class=\"grid grid-cols-3 gap-2\">\n                                    <button class=\"numero-btn keypad-btn\" data-numero=\"1\">1</button>\n                                    <button class=\"numero-btn keypad-btn\" data-numero=\"2\">2</button>\n                                    <button class=\"numero-btn keypad-btn\" data-numero=\"3\">3</button>\n                                    <button class=\"numero-btn keypad-btn\" data-numero=\"4\">4</button>\n                                    <button class=\"numero-btn keypad-btn\" data-numero=\"5\">5</button>\n                                    <button class=\"numero-btn keypad-btn\" data-numero=\"6\">6</button>\n                                    <button class=\"numero-btn keypad-btn\" data-numero=\"7\">7</button>\n                                    <button class=\"numero-btn keypad-btn\" data-numero=\"8\">8</button>\n                                    <button class=\"numero-btn keypad-btn\" data-numero=\"9\">9</button>\n                                    <div></div>\n                                    <button class=\"numero-btn keypad-btn\" data-numero=\"0\">0</button>\n                                    <div></div>\n                                </div>\n                            </div>\n\n                            <!-- Action Buttons -->\n                            <div class=\"grid grid-cols-3 gap-3 pt-6 border-t border-border-light\">\n                                <button id=\"brancoBtn\" class=\"action-btn bg-card-light text-text-primary border-border-light hover:bg-bg-light h-14\">\n                                    BRANCO\n                                </button>\n                                <button id=\"corrigirBtn\" class=\"action-btn bg-warning text-white border-warning-dark hover:bg-warning/90 h-14\">\n                                    CORRIGIR\n                                </button>\n                                <button id=\"confirmarBtn\" class=\"action-btn bg-success text-white border-success-dark hover:bg-success/90 h-20 -mt-6 shadow-lg z-10 text-base disabled:opacity-50 disabled:cursor-not-allowed\">\n                                    CONFIRMAR\n                                </button>\n                            </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </main>\n\n        <!-- Footer -->\n        <footer class=\"bg-card-light border-t border-border-light p-4 text-center\">\n            <p class=\"text-xs text-text-secondary\">Sistema de Votação Seguro v2.0 • © 2024 Administração Eclesiástica</p>\n        </footer>\n    </div>\n\n    <!-- ==================== JAVASCRIPT ==================== -->\n    <script>\n        // ==================== CONFIGURAÇÃO ====================\n        const API_BASE = 'https://webhook.aiautomacao.dev.br/webhook';\n\n        // ==================== ESTADO GLOBAL ====================\n        let sessaoAtiva = null;\n        let cargos = [];\n        let candidatosPorCargo = {};\n        let cargoAtualIndex = 0;\n        let votosSelecionados = {};\n        let candidatoSelecionado = null;\n        let numeroDigitado = '';\n\n        // ==================== HELPERS ====================\n        function ensureArray(data) {\n            if (Array.isArray(data)) return data;\n            if (data && typeof data === 'object' && Object.keys(data).length > 0) return [data];\n            return [];\n        }\n\n        function formatCpf(value) {\n            const digits = value.replace(/\\D/g, '').slice(0, 11);\n            return digits\n                .replace(/(\\d{3})(\\d)/, '$1.$2')\n                .replace(/(\\d{3})(\\d)/, '$1.$2')\n                .replace(/(\\d{3})(\\d{1,2})$/, '$1-$2');\n        }\n\n        // ==================== ELEMENTOS DOM ====================\n        const telaStandby = document.getElementById('telaStandby');\n        const telaVotacao = document.getElementById('telaVotacao');\n        const cpfInput = document.getElementById('cpfInput');\n        const btnVerificar = document.getElementById('btnVerificar');\n        const msgErro = document.getElementById('msgErro');\n        const msgLoading = document.getElementById('msgLoading');\n\n        // ==================== EVENTOS TELA STANDBY ====================\n        cpfInput.addEventListener('input', (e) => {\n            e.target.value = formatCpf(e.target.value);\n            msgErro.classList.add('hidden');\n        });\n\n        cpfInput.addEventListener('keypress', (e) => {\n            if (e.key === 'Enter') verificarCpf();\n        });\n\n        btnVerificar.addEventListener('click', verificarCpf);\n\n        // ==================== VERIFICAR CPF ====================\n        async function verificarCpf() {\n            const cpf = cpfInput.value;\n\n            if (cpf.length < 14) {\n                showError('CPF incompleto.');\n                return;\n            }\n\n            showLoading(true);\n            hideError();\n\n            try {\n                // 1. Buscar membro pelo CPF\n                const respBusca = await fetch(`${API_BASE}/buscar_membro?busca=${encodeURIComponent(cpf)}`);\n                \n                if (!respBusca.ok) {\n                    throw new Error('CPF não encontrado no sistema. Verifique se está cadastrado.');\n                }\n\n                const membro = await respBusca.json();\n                \n                if (!membro || !membro.id) {\n                    throw new Error('CPF não encontrado no sistema. Verifique se está cadastrado.');\n                }\n\n                // 2. Verificar se já votou\n                const respVotacao = await fetch(`${API_BASE}/verificar_votacao?membro_id=${membro.id}`);\n                \n                if (respVotacao.ok) {\n                    const votacao = await respVotacao.json();\n                    if (votacao && votacao.votou === true) {\n                        throw new Error('Você já votou! Obrigado pela participação.');\n                    }\n                }\n\n                // 3. Verificar se está liberado\n                const respLiberado = await fetch(`${API_BASE}/verificar_liberacao?membro_id=${membro.id}`);\n                \n                if (!respLiberado.ok) {\n                    throw new Error('Você ainda não foi liberado para votar. Procure a secretaria.');\n                }\n\n                const liberacao = await respLiberado.json();\n                \n                if (!liberacao || !liberacao.liberado) {\n                    throw new Error('Você ainda não foi liberado para votar. Procure a secretaria.');\n                }\n\n                // Tudo OK - iniciar votação\n                sessaoAtiva = {\n                    membro_id: membro.id,\n                    nome_membro: membro.nome,\n                    foto_membro: membro.foto\n                };\n\n                await iniciarVotacao();\n\n            } catch (error) {\n                console.error('Erro:', error);\n                showError(error.message || 'Erro ao verificar CPF.');\n            } finally {\n                showLoading(false);\n            }\n        }\n\n        function showError(message) {\n            msgErro.textContent = message;\n            msgErro.classList.remove('hidden');\n        }\n\n        function hideError() {\n            msgErro.classList.add('hidden');\n        }\n\n        function showLoading(show) {\n            if (show) {\n                msgLoading.classList.remove('hidden');\n                btnVerificar.disabled = true;\n            } else {\n                msgLoading.classList.add('hidden');\n                btnVerificar.disabled = false;\n            }\n        }\n\n        // ==================== INICIAR VOTAÇÃO ====================\n        async function iniciarVotacao() {\n            // Atualizar header com dados do membro\n            document.getElementById('nomeMembro').textContent = sessaoAtiva.nome_membro;\n            \n            if (sessaoAtiva.foto_membro) {\n                const fotoEl = document.getElementById('fotoMembro');\n                fotoEl.style.backgroundImage = `url(${sessaoAtiva.foto_membro})`;\n                fotoEl.innerHTML = '';\n            }\n\n            // Carregar dados\n            await carregarCargos();\n            await carregarCandidatos();\n\n            if (cargos.length === 0) {\n                alert('Não há cargos disponíveis para votação.');\n                return;\n            }\n\n            // Mostrar tela de votação\n            telaStandby.classList.add('hidden');\n            telaVotacao.classList.remove('hidden');\n            telaVotacao.classList.add('flex');\n\n            // Iniciar com primeiro cargo\n            cargoAtualIndex = 0;\n            mostrarCargo(cargoAtualIndex);\n        }\n\n        async function carregarCargos() {\n            try {\n                const response = await fetch(`${API_BASE}/listar_cargos`);\n                const rawData = await response.json();\n                cargos = ensureArray(rawData);\n                cargos = cargos.filter(c => c.ativo).sort((a, b) => a.ordem - b.ordem);\n            } catch (error) {\n                console.error('Erro ao carregar cargos:', error);\n            }\n        }\n\n        async function carregarCandidatos() {\n            try {\n                const response = await fetch(`${API_BASE}/listar_candidatos`);\n                const rawData = await response.json();\n                const candidatos = ensureArray(rawData);\n\n                candidatosPorCargo = {};\n                for (const cargo of cargos) {\n                    candidatosPorCargo[cargo.id] = candidatos.filter(c => c.cargo_nome === cargo.nome && c.ativo);\n                }\n            } catch (error) {\n                console.error('Erro ao carregar candidatos:', error);\n            }\n        }\n\n        // ==================== MOSTRAR CARGO ====================\n        function mostrarCargo(index) {\n            const cargo = cargos[index];\n            const candidatos = candidatosPorCargo[cargo.id] || [];\n\n            // Atualizar header\n            document.getElementById('cargoAtual').textContent = `Cargo: ${cargo.nome}`;\n\n            // Atualizar progresso\n            const totalCargos = cargos.length;\n            const etapaAtual = index + 1;\n            const progresso = Math.round((index / totalCargos) * 100);\n            document.getElementById('etapaTexto').textContent = `Etapa ${etapaAtual} de ${totalCargos}`;\n            document.getElementById('progressoTexto').textContent = `${progresso}% Concluído`;\n            document.getElementById('progressoBarra').style.width = `${progresso}%`;\n\n            // Renderizar candidatos\n            renderizarCandidatos(candidatos);\n\n            // Limpar seleção\n            limparSelecao();\n        }\n\n        function renderizarCandidatos(candidatos) {\n            const container = document.getElementById('candidatosList');\n            container.innerHTML = '';\n\n            if (candidatos.length === 0) {\n                container.innerHTML = '<p class=\"text-center text-text-secondary col-span-full\">Nenhum candidato cadastrado para este cargo.</p>';\n                return;\n            }\n\n            candidatos.forEach(candidato => {\n                const card = document.createElement('button');\n                card.className = 'voting-card group flex flex-col gap-3 p-3 text-left w-full';\n                card.dataset.candidatoId = candidato.id;\n                card.dataset.numero = candidato.numero;\n\n                const fotoUrl = candidato.foto || '';\n                const fotoStyle = fotoUrl ? `background-image: url('${fotoUrl}')` : '';\n\n                card.innerHTML = `\n                    <div class=\"relative w-full aspect-square rounded-lg overflow-hidden bg-bg-light\">\n                        ${fotoUrl \n                            ? `<div class=\"w-full h-full bg-cover bg-center transition-transform group-hover:scale-105\" style=\"${fotoStyle}\"></div>`\n                            : `<div class=\"w-full h-full flex items-center justify-center\"><span class=\"material-symbols-outlined text-text-secondary text-5xl\">person</span></div>`\n                        }\n                        <div class=\"absolute top-2 right-2 bg-text-primary/80 text-white text-xs font-bold px-2 py-1 rounded\">${candidato.numero}</div>\n                    </div>\n                    <div>\n                        <p class=\"text-text-primary text-base font-bold leading-tight line-clamp-2\">${candidato.nome}</p>\n                    </div>\n                `;\n\n                card.addEventListener('click', () => {\n                    selecionarCandidato(candidato.id, candidato.numero, candidato.nome, candidato.foto);\n                });\n\n                container.appendChild(card);\n            });\n        }\n\n        // ==================== SELEÇÃO DE CANDIDATO ====================\n        function selecionarCandidato(id, numero, nome, foto) {\n            candidatoSelecionado = { id, numero, nome, foto };\n            numeroDigitado = String(numero);\n            document.getElementById('numeroInput').value = numeroDigitado;\n\n            // Atualizar visual\n            document.querySelectorAll('.voting-card[data-candidato-id]').forEach(card => {\n                if (card.dataset.candidatoId === id) {\n                    card.classList.add('selected');\n                } else {\n                    card.classList.remove('selected');\n                }\n            });\n\n            // Mostrar preview\n            mostrarPreview(nome, numero, foto);\n        }\n\n        function mostrarPreview(nome, numero, foto) {\n            const previewArea = document.getElementById('previewArea');\n            const fotoHtml = foto \n                ? `<div class=\"w-28 h-28 rounded-full bg-cover bg-center mb-4 ring-4 ring-primary/20\" style=\"background-image: url('${foto}')\"></div>`\n                : `<div class=\"w-28 h-28 rounded-full bg-bg-light mb-4 ring-4 ring-primary/20 flex items-center justify-center\"><span class=\"material-symbols-outlined text-text-secondary text-5xl\">person</span></div>`;\n\n            previewArea.innerHTML = `\n                ${fotoHtml}\n                <h2 class=\"text-2xl font-bold text-text-primary mb-2\">${nome}</h2>\n                <div class=\"bg-primary-light text-primary px-4 py-1 rounded-full text-sm font-bold mb-4\">Nº ${numero}</div>\n                <p class=\"text-sm text-text-secondary\">Pressione <span class=\"font-bold text-success\">CONFIRMAR</span> para votar neste candidato.</p>\n            `;\n        }\n\n        function mostrarPreviewBranco() {\n            const previewArea = document.getElementById('previewArea');\n            previewArea.innerHTML = `\n                <span class=\"material-symbols-outlined text-text-secondary text-6xl mb-4\">block</span>\n                <h2 class=\"text-2xl font-bold text-text-primary mb-2\">VOTO EM BRANCO</h2>\n                <p class=\"text-sm text-text-secondary\">Pressione <span class=\"font-bold text-success\">CONFIRMAR</span> para votar em branco.</p>\n            `;\n        }\n\n        function mostrarPreviewNulo() {\n            const previewArea = document.getElementById('previewArea');\n            previewArea.innerHTML = `\n                <span class=\"material-symbols-outlined text-danger text-6xl mb-4\">cancel</span>\n                <h2 class=\"text-2xl font-bold text-danger mb-2\">VOTO NULO</h2>\n                <p class=\"text-sm text-text-secondary mb-2\">Número inválido: ${numeroDigitado}</p>\n                <p class=\"text-sm text-text-secondary\">Pressione <span class=\"font-bold text-success\">CONFIRMAR</span> para votar nulo ou <span class=\"font-bold text-warning\">CORRIGIR</span>.</p>\n            `;\n        }\n\n        function limparSelecao() {\n            candidatoSelecionado = null;\n            numeroDigitado = '';\n            document.getElementById('numeroInput').value = '';\n            document.querySelectorAll('.voting-card[data-candidato-id]').forEach(card => card.classList.remove('selected'));\n\n            const previewArea = document.getElementById('previewArea');\n            previewArea.innerHTML = `\n                <span class=\"material-symbols-outlined text-text-secondary text-6xl mb-4\">person</span>\n                <p class=\"text-sm text-text-secondary\">Digite o número ou clique no candidato</p>\n            `;\n        }\n\n        // ==================== TECLADO NUMÉRICO ====================\n        document.querySelectorAll('.numero-btn').forEach(btn => {\n            btn.addEventListener('click', () => {\n                const numero = btn.dataset.numero;\n                \n                if (numeroDigitado.length < 2) {\n                    numeroDigitado += numero;\n                    document.getElementById('numeroInput').value = numeroDigitado;\n\n                    // Tentar encontrar candidato\n                    const cargo = cargos[cargoAtualIndex];\n                    const candidatos = candidatosPorCargo[cargo.id] || [];\n                    const candidatoEncontrado = candidatos.find(c => String(c.numero) === numeroDigitado);\n\n                    if (candidatoEncontrado) {\n                        selecionarCandidato(candidatoEncontrado.id, candidatoEncontrado.numero, candidatoEncontrado.nome, candidatoEncontrado.foto);\n                    } else if (numeroDigitado.length >= 2) {\n                        candidatoSelecionado = null;\n                        mostrarPreviewNulo();\n                    }\n                }\n            });\n        });\n\n        document.getElementById('backspaceBtn').addEventListener('click', limparSelecao);\n        document.getElementById('brancoBtn').addEventListener('click', () => {\n            candidatoSelecionado = null;\n            numeroDigitado = '';\n            document.getElementById('numeroInput').value = '';\n            document.querySelectorAll('.voting-card[data-candidato-id]').forEach(card => card.classList.remove('selected'));\n            mostrarPreviewBranco();\n        });\n        document.getElementById('corrigirBtn').addEventListener('click', limparSelecao);\n\n        // ==================== CONFIRMAR VOTO ====================\n        document.getElementById('confirmarBtn').addEventListener('click', async () => {\n            const cargo = cargos[cargoAtualIndex];\n            const previewArea = document.getElementById('previewArea');\n            const isBranco = previewArea.innerHTML.includes('VOTO EM BRANCO');\n            const isNulo = previewArea.innerHTML.includes('VOTO NULO');\n\n            // Verificar se tem seleção\n            if (!candidatoSelecionado && !isBranco && !isNulo) {\n                return;\n            }\n\n            // Criar voto\n            const voto = {\n                cargo_id: cargo.id,\n                candidato_id: candidatoSelecionado ? candidatoSelecionado.id : null,\n                voto_nulo: isNulo,\n                voto_branco: isBranco\n            };\n\n            votosSelecionados[cargo.id] = voto;\n\n            // Próximo cargo ou finalizar\n            cargoAtualIndex++;\n            if (cargoAtualIndex < cargos.length) {\n                mostrarCargo(cargoAtualIndex);\n            } else {\n                await finalizarVotacao();\n            }\n        });\n\n        // ==================== FINALIZAR VOTAÇÃO ====================\n        async function finalizarVotacao() {\n            try {\n                // Criar sessão\n                const respSessao = await fetch(`${API_BASE}/liberar_votacao`, {\n                    method: 'POST',\n                    headers: { 'Content-Type': 'application/json' },\n                    body: JSON.stringify({ membro_id: sessaoAtiva.membro_id })\n                });\n\n                if (!respSessao.ok) throw new Error('Erro ao criar sessão.');\n                \n                const sessao = await respSessao.json();\n                const sessaoId = sessao.id;\n\n                // Registrar votos\n                for (const cargoId in votosSelecionados) {\n                    const voto = votosSelecionados[cargoId];\n                    await fetch(`${API_BASE}/registrar_voto`, {\n                        method: 'POST',\n                        headers: { 'Content-Type': 'application/json' },\n                        body: JSON.stringify({\n                            sessao_id: sessaoId,\n                            cargo_id: voto.cargo_id,\n                            candidato_id: voto.candidato_id,\n                            voto_nulo: voto.voto_nulo,\n                            voto_branco: voto.voto_branco\n                        })\n                    });\n                }\n\n                // Finalizar sessão\n                await fetch(`${API_BASE}/finalizar_votacao`, {\n                    method: 'POST',\n                    headers: { 'Content-Type': 'application/json' },\n                    body: JSON.stringify({ sessao_id: sessaoId })\n                });\n\n                alert('Votação concluída com sucesso! Obrigado por votar.');\n                voltarParaStandby();\n\n            } catch (error) {\n                console.error('Erro ao finalizar:', error);\n                alert('Erro ao registrar votos. Por favor, informe a secretaria.');\n            }\n        }\n\n        function voltarParaStandby() {\n            // Reset estado\n            sessaoAtiva = null;\n            cargos = [];\n            candidatosPorCargo = {};\n            cargoAtualIndex = 0;\n            votosSelecionados = {};\n            candidatoSelecionado = null;\n            numeroDigitado = '';\n            cpfInput.value = '';\n\n            // Mostrar tela standby\n            telaVotacao.classList.add('hidden');\n            telaVotacao.classList.remove('flex');\n            telaStandby.classList.remove('hidden');\n        }\n    </script>\n\n</body>\n</html>","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[-160,-16],"id":"90bb8b0e-9d49-414a-8b59-ad583d7e7496","name":"Respond to Webhook4"},{"parameters":{"path":"urna","responseMode":"responseNode","options":{}},"id":"556fd519-2f05-4596-bec9-f35ed931f137","name":"Site_Urna","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-432,-16],"webhookId":"listar-viagens"}],"connections":{"Site_Cadastro_Membro":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Eleicao_cadastro":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Webhook Criar Cargo":{"main":[[{"node":"Supabase Criar Cargo","type":"main","index":0}]]},"Supabase Criar Cargo":{"main":[[{"node":"Respond Criar Cargo","type":"main","index":0}]]},"Webhook Listar Cargos":{"main":[[{"node":"Supabase Listar Cargos","type":"main","index":0}]]},"Supabase Listar Cargos":{"main":[[{"node":"Respond Listar Cargos","type":"main","index":0}]]},"Webhook Listar Membros":{"main":[[{"node":"Supabase Listar Membros","type":"main","index":0}]]},"Supabase Listar Membros":{"main":[[{"node":"Respond Listar Membros","type":"main","index":0}]]},"Webhook Criar Candidato":{"main":[[{"node":"Supabase Buscar Foto","type":"main","index":0}]]},"Supabase Buscar Foto":{"main":[[{"node":"Supabase Criar Candidato","type":"main","index":0}]]},"Supabase Criar Candidato":{"main":[[{"node":"Respond Criar Candidato","type":"main","index":0}]]},"Webhook Listar Candidatos":{"main":[[{"node":"Supabase Listar Candidatos","type":"main","index":0}]]},"Supabase Listar Candidatos":{"main":[[{"node":"Respond Listar Candidatos","type":"main","index":0}]]},"Webhook Buscar Membro":{"main":[[{"node":"Supabase Buscar por CPF","type":"main","index":0},{"node":"Supabase Buscar por Nome","type":"main","index":0}]]},"Supabase Buscar por CPF":{"main":[[{"node":"Combinar Resultados","type":"main","index":0}]]},"Supabase Buscar por Nome":{"main":[[{"node":"Combinar Resultados","type":"main","index":0}]]},"Combinar Resultados":{"main":[[{"node":"Respond Buscar Membro","type":"main","index":0}]]},"Webhook Liberar Votação":{"main":[[{"node":"Supabase Verificar Voto","type":"main","index":0}]]},"Supabase Verificar Voto":{"main":[[{"node":"IF Já Votou","type":"main","index":0}]]},"IF Já Votou":{"main":[[{"node":"Respond Já Votou","type":"main","index":0}],[{"node":"Supabase Liberar Votação","type":"main","index":0}]]},"Supabase Liberar Votação":{"main":[[{"node":"Respond Liberado","type":"main","index":0}]]},"Webhook Listar Votações":{"main":[[{"node":"Supabase Listar Votações","type":"main","index":0}]]},"Supabase Listar Votações":{"main":[[{"node":"Respond Listar Votações","type":"main","index":0}]]},"Webhook Verificar Sessão":{"main":[[{"node":"Supabase - Buscar Sessão","type":"main","index":0}]]},"Supabase - Buscar Sessão":{"main":[[{"node":"IF - Pode Votar?","type":"main","index":0}]]},"IF - Pode Votar?":{"main":[[{"node":"Supabase - Buscar Membro","type":"main","index":0}],[{"node":"Respond - Não Pode Votar","type":"main","index":0}]]},"Supabase - Buscar Membro":{"main":[[{"node":"Respond - Sessão Ativa","type":"main","index":0}]]},"Webhook Registrar Voto":{"main":[[{"node":"Supabase - Inserir Voto","type":"main","index":0}]]},"Supabase - Inserir Voto":{"main":[[{"node":"Supabase - Contar Votos","type":"main","index":0}]]},"Supabase - Contar Votos":{"main":[[{"node":"Supabase - Contar Cargos","type":"main","index":0}]]},"Supabase - Contar Cargos":{"main":[[{"node":"IF - Votação Completa?","type":"main","index":0}]]},"IF - Votação Completa?":{"main":[[{"node":"Supabase - Marcar como Votou","type":"main","index":0}],[{"node":"Respond - Voto Parcial","type":"main","index":0}]]},"Supabase - Marcar como Votou":{"main":[[{"node":"Respond - Votação Completa","type":"main","index":0}]]},"Site_Adm":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"Site_Cadastro_Membro1":{"main":[[{"node":"Respond to Webhook3","type":"main","index":0}]]},"Site_Urna":{"main":[[{"node":"Respond to Webhook4","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f9e5911f-4531-44cd-b4e5-d54da7b8806a","triggerCount":15,"shared":[{"createdAt":"2025-12-13T17:44:43.755Z","updatedAt":"2025-12-13T17:44:43.755Z","role":"workflow:owner","workflowId":"ZW5FwwHsYyMvpGcv","projectId":"cHLAHCCuTHxRR7pJ"}],"tags":[]}